<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    
<!-- ACTUAL PAGE STARTS HERE -->

<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true"/>
<g:requires name="styles/css_pwd_reset.css" includes="true"/>
<g:requires name="scripts/lib/jquery_includes.js" includes="true"/>

<center>
  <div class="pwd-notification-box">
    <i class="icon-success pwd-icon pwd-icon-success"/>
    <span class="pwd-title">${gs.getMessage("Change Password Success")}</span>

    <g:set_if var="jvar_success" test="${empty(sysparm_success)}" true="${gs.getSession().getProperty('sysparm_success')}" false="${sysparm_success}" />
	
    <j:if test="${empty(jvar_success)}">
      <span class="pwd-subtitle">${gs.getMessage('Password was changed successfully.')}</span>
    </j:if>
	

	<!-- user_experience_success macro -->
	<g:evaluate var="jvar_display_add_on">
		var requestId = gs.getSession().getProperty('sysparm_request_id');
        var processId = new SNC.PwdTrackingManager().getProcessIdByRequestId(requestId);
        var successMacro = "";
        var processGr = new GlideRecord("pwd_process");
        if (processGr.get(processId)) {
          successMacro = processGr.getDisplayValue("user_experience_success");
        }
        successMacro;
    </g:evaluate>

    <j:if test="${!empty(jvar_display_add_on)}">
       <g:macro_invoke macro="${jvar_display_add_on}" />
    </j:if>
	
  </div>
</center> 

</j:jelly>