<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

<!-- ACTUAL PAGE STARTS HERE -->

<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true"/>
<g:requires name="styles/css_pwd_reset.css" includes="true"/>
<g:requires name="scripts/lib/jquery_includes.js" includes="true"/>
<g:macro_invoke macro="$pwd_error_message" error_message="" />
	
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="btn btn-default icon-chevron-left navbar-btn" onclick="goBack();"></button>   
		</div>  
	</div>
</nav>

<g:macro_invoke macro="$pwd_process_flow" stage="1" />

<center>
  <div class="pwd-reset-box">
    <form>

      <span class="pwd-title">${gs.getMessage('Password Reset Assistance')}</span>
      <span class="pwd-subtitle">${gs.getMessage('Select a user, then select a process, and click the "Verify Identity" button.')}</span>


      <div id="user_id_form_group" class="form-group is-required">
        <label for="sys_display.ref_sys_user" class="control-label col-sm-3">
          <span class="required-marker"></span>
          ${gs.getMessage('Select user')}
        </label>
        <span class="col-sm-9">
          <j:set var="jvar_user_id" value=""/> 
          <j:set var="jvar_user_name" value=""/> 

          <g:evaluate var="jvar_user_has_next" jelly="true">
	    var renUser = new GlideRecord("sys_user");
            renUser.addQuery("sys_id", jelly.sysparm_user);
            renUser.query();
            renUser.next();
          </g:evaluate>

          <j:if test="${jvar_user_has_next}">
            <j:set var="jvar_user_id" value="$[renUser.sys_id]"/>
            <j:set var="jvar_user_name" value="$[renUser.name]"/>
          </j:if>

          <g:macro_invoke macro="ui_reference" id="ref_sys_user" name="ref_sys_user" table="sys_user" show_popup="true" value="${jvar_user_id}" displayvalue="${jvar_user_name}" onchange="populateProcessSelect();" />
        </span>
        <span class="col-sm-3"/><span id="error_msg_id" class="help-block col-sm-9"/>
      </div>

      <br/>

      <div id="process_select_form_group" class="form-group is-required">
        <label for="processSelectId" class="control-label col-sm-3">
          <span class="required-marker"></span>
          ${gs.getMessage("Select process")}
        </label>
        <span class="col-sm-9">
          <select id="processSelectId" class="form-control select2" required="true" aria-required="true" name="processSelectId" onchange="clearErrorMessage();">
            <option value="N/A">${gs.getMessage('-- Select a process --')}</option>
          </select>
        </span>
        <span class="col-sm-3"/><span id="error_msg_select" class="help-block col-sm-9"/>
      </div>

      <br/>
      <br/>

      <input type="hidden" name="sysparm_action" id="sysparm_action" value="password_reset_form" />
      <button name="sysverb_pwd_reset" id="sysverb_pwd_reset" class="btn btn-primary btn-pwd-submit" onclick="return verifyIdentity();">${gs.getMessage('Verify Identity')}</button>

    </form>

    <!--  
      Adding a new CSRF token here. This page does not check whether there's a violation or not because this page 
      is the starting point.
    -->

    <g:evaluate var="jvar_csrf_token" >
      new SNC.PwdSecurityManager().generateSecureToken();
    </g:evaluate>

    <form id="pwd_master_form" name="pwd_master_form" method="post">
      <input type="hidden" id="sysparm_error" name="sysparm_error" value=""/>
      <input type="hidden" id="pwd_csrf_token" name="pwd_csrf_token" value="${jvar_csrf_token}"/>
    </form>

  </div>
</center>

</j:jelly>