<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <g:evaluate var="sysparm_request_id">gs.getSession().getProperty('sysparm_request_id');</g:evaluate>
  
<!-- ACTUAL PAGE STARTS HERE -->

<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true"/>
<g:requires name="styles/css_pwd_reset.css" includes="true"/>
<g:requires name="scripts/lib/jquery_includes.js" includes="true"/>

<center>
  <div class="pwd-notification-box" style="text-align:center">
    <i class="icon-error pwd-icon pwd-icon-error"/>
    <span class="pwd-title">${gs.getMessage("Password Enrollment Error")}</span>

    <g:set_if var="jvar_error_exp" test="${empty(sysparm_error)}" true="${gs.getSession().getProperty('sysparm_error')}" false=""/>
    <g:set_if var="jvar_error" test="${empty(sysparm_error)}" true="${gs.getSession().getProperty('sysparm_error')}" false="${sysparm_error}"/>

    <j:if test="${empty(jvar_error)}">
      <span class="pwd-subtitle">${gs.getMessage('{0}, contact service desk for assistance.', 'General error');}</span>
    </j:if>

    <j:if test="${!empty(jvar_error)}">
      <j:choose>
        <j:when test="${jvar_error == 'no_enrollment'}">
          <span class="pwd-subtitle">${gs.getMessage("There are no pending enrollments for you at this time")}</span>
        </j:when>


        <j:otherwise>
          <span class="pwd-subtitle">${jvar_error}</span>
        </j:otherwise>
      </j:choose>
    </j:if>

  </div>
</center>


</j:jelly>