<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="true" xmlns:j="jelly:core" xmlns:g="glide" xmlns:g2="null" xmlns:j2="null">

<!-- ACTUAL PAGE STARTS HERE -->

<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true"/>
<g:requires name="styles/css_pwd_reset.css" includes="true"/>
<g:requires name="scripts/lib/jquery_includes.js" includes="true"/>

<center>
  <div class="pwd-notification-box" style="text-align:center">
    <i class="icon-success pwd-icon pwd-icon-success"/>
    <span id="form_header" class="pwd-title">${gs.getMessage("Enrollment Success")}</span>
    <span class="pwd-subtitle">${gs.getMessage('You are now enrolled')}</span>
  </div>
</center> 

</j:jelly>