<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	
    <!-- 
       Checking if security violation has happened or not. 
    -->
    <g:macro_invoke macro="$pwd_csrf_validation" />

    <!--
      Once security is clear, then create a new token.
    -->
    <g:evaluate var="jvar_csrf_token">
        new SNC.PwdSecurityManager().generateSecureToken();
    </g:evaluate>

    <!--
    common client script for CSRF handling on the client side.
    -->
    <g:include_script src="pwd_csrf_common_ui_script.jsdbx" />

    <g:evaluate var="sysparm_sys_user_id">gs.getSession().getProperty('sysparm_sys_user_id'); </g:evaluate>
    <g:evaluate var="sysparm_request_id">gs.getSession().getProperty('sysparm_request_id'); </g:evaluate>
    <g:evaluate var="sysparm_page_directory_id">gs.getSession().getProperty('sysparm_directory'); </g:evaluate>

    <j:if test="${jvar_is_secure}">

        <g:evaluate jelly="true">
        
                var found = new SNC.PwdTrackingManager().requestExists(jelly.sysparm_request_id);

                // if the request is not found, then redirect the page to the error page.
                
                if(!found) {
                    new SNC.PwdUtil().redirect('/$pwd_error.do');
                }
        </g:evaluate>

<!-- ACTUAL PAGE STARTS HERE -->

<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true"/>
<g:requires name="styles/css_pwd_reset.css" includes="true"/>
<g:requires name="scripts/lib/jquery_includes.js" includes="true"/>
<g:include_script src="pwd_mobile.jsdbx"/>

<g:macro_invoke macro="$pwd_error_message" error_message="" />

<g:macro_invoke macro="$pwd_process_flow" stage="2" />

<center id="$pwd_verify">
  <div class="pwd-reset-box">

    <div id="verification_forms">

      <g:evaluate var="jvar_process_id">
		  new SNC.PwdTrackingManager().getProcessIdByRequestId('${sysparm_request_id}');
      </g:evaluate>
		
	  <g2:evaluate var="jvar_email_reset_url" jelly="true">
		var gr = new GlideRecord("pwd_process");
        gr.get('${jvar_process_id}');
		gr.email_password_reset_url;
	  </g2:evaluate>
				
      <g:evaluate var="jvar_min_verifications" jelly="true">		  
        var processGr = new GlideRecord("pwd_process");
        processGr.get('${jvar_process_id}');
        processGr.getValue('min_verifications');
      </g:evaluate>

	  <g:evaluate var="jvar_verifications_count" expression="0"/>
		    
	  <!-- Get a list of verification IDs with mandatory ones first. Then, if more verifications are needed to meet 
		   the "min_verifications" on the process we randomly select optional verifications which the user is enrolled 
           in to equal min_verifications. 
      -->
      <g:evaluate var="jvar_verification_ids" object="true" jelly="true">
        
		var mandatoryVerifications = new SNC.PwdProcessManager().getProcessVerificationIdsByMandatoryFlag(jelly.jvar_process_id, true);
		var verifications = [];
		for (var i = 0; i != mandatoryVerifications.size(); ++i)
		    verifications.push(mandatoryVerifications.get(i));
		  
		// Add ENROLLED optional verifications to meet the process min_verifications 
		var optionalVerifications = new SNC.PwdProcessManager().getProcessVerificationIdsByMandatoryFlag(jelly.jvar_process_id, false);
		var enrollmentMgr = new SNC.PwdEnrollmentManager();
		var ver;
		  
		for (var i = 0; i != optionalVerifications.size() ${AND} jelly.jvar_min_verifications > verifications.length; ++i) {
		    ver = optionalVerifications.get(i);	
		    if (enrollmentMgr.isUserEnrolledByVerificationId(jelly.sysparm_sys_user_id, ver))
			    verifications.push(ver);
		}
		  
		verifications;
      </g:evaluate>
		
      <j:forEach items="${jvar_verification_ids}" var="sysparm_verification_id">
        <form style="display: none;" id="verification.${sysparm_verification_id}" onsubmit="return false">		
          <g:evaluate var="jvar_verification_ui" object="true" jelly="true">
            new SNC.PwdVerificationManager().getVerificationUIByVerificationId(jelly.sysparm_verification_id);			
          </g:evaluate>
          <g:macro_invoke macro="${jvar_verification_ui}" />
			
		  <span class="col-sm-12">
			<!-- Next button verify a single form and proceeds to the next if successful -->
			<j:if test="${jvar_verification_ids.length != jvar_verifications_count + 1}">
			  <button name="not_important" id="sysverb_pwd_reset" class="btn btn-primary btn-pwd-submit" onclick="verifyResponse(${jvar_verifications_count}); return false;">${gs.getMessage('Next')}</button>
			</j:if>
			  
			<!-- Final next button verifies all the forms together so that the server is the single source of truth -->
			<j:if test="${jvar_verification_ids.length == jvar_verifications_count + 1}">
			  <button name="not_important" id="sysverb_pwd_reset${jvar_verifications_count}" class="btn btn-primary btn-pwd-submit" onclick="verifyResponses(${jvar_verifications_count}); return false;">${gs.getMessage('Next')}</button>
			</j:if>
		  </span>
			
		  <g:evaluate var="jvar_verifications_count" jelly="true" expression="parseInt(jelly.jvar_verifications_count) + 1"/>
        </form>
      </j:forEach>
    </div>

	<form id="pwd_master_form" name="pwd_master_form" method="post">
		<input type="hidden" name="sysparm_error" id="sysparm_error" value="" />
		<input type="hidden" name="sysparm_action" id="sysparm_action" value="password_reset_verify" />
		<input type="hidden" name="sysparm_directory" id="sysparm_directory_id" value="${sysparm_page_directory_id}" />
		<input type="hidden" name="pwd_csrf_token" id="pwd_csrf_token" value="${jvar_csrf_token}" />
		<input type="hidden" name="sysparm_sys_user_id" id="sysparm_sys_user_id" value="${sysparm_sys_user_id}" />
		<input type="hidden" name="sysparm_request_id" id="sysparm_request_id" value="${sysparm_request_id}" />
    </form>
	  
  </div>
</center>

</j:if>
</j:jelly>