<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  
  <g:evaluate var="jvar_process" object="true">
    // Clear all related session parameters, to ensure this is a new request
    gs.getSession().clearProperty('sysparm_request_id');
    gs.getSession().clearProperty('sysparm_sys_user_id');
    gs.getSession().clearProperty('sysparm_enrolled_user_id');  // TODO: this should not be passed in session, the request ID should be enough
    gs.getSession().clearProperty('sysparm_is_verified');       // TODO: this should not be passed in session, the request ID should be enough

    // Retrieve url for process from the page url, use "default" if none was provided: 
    var sysparm_url = RP.getParameterValue('sysparm_url');
    if (sysparm_url == "") {
       sysparm_url = 'default';
    }
    
    var ret_process_id = "";
    
    // Get the process ID through the URL associated with the process:
    var procId = new SNC.PwdProcessManager().getProcessIdByProcessURL(sysparm_url);
    var p = new SNC.PwdProcess(procId);
    
    // redirect the page to the error page if process does not exist, is not public or is inactive
    if (!p.exists()) {
        gs.getSession().putProperty('sysparm_error', 'process_does_not_exist');
        new SNC.PwdUtil().redirect('/$pwd_error.do?jvar_stage=1');
    } else if (!p.isPublic()) {
        gs.getSession().putProperty('sysparm_error', 'process_not_public');
        new SNC.PwdUtil().redirect('/$pwd_error.do?jvar_stage=1');
    } else if (!p.isActive()) {
        gs.getSession().putProperty('sysparm_error', 'process_not_active');
        new SNC.PwdUtil().redirect('/$pwd_error.do?jvar_stage=1');
    }

    p;
  </g:evaluate>
  
  <g:macro_invoke macro="$pwd_error_message" error_message="" />
    
  <g:evaluate var="jvar_process_id" jelly="true">
      jelly.jvar_process.getId();
  </g:evaluate>

  <g:evaluate var="jvar_process_name" jelly="true">
      jelly.jvar_process.getName();
  </g:evaluate>

  <g:evaluate var="jvar_process_display_captcha" jelly="true">
      jelly.jvar_process.getDisplayCaptcha();
  </g:evaluate>

  <g:evaluate var="jvar_google_captcha_enabled" jelly="true">
      gs.getProperty('password_reset.captcha.google.enabled');
  </g:evaluate>

  <g:evaluate var="jvar_display_add_on">
    var ret = '';
    gr = new GlideRecord("pwd_process");
    if (gr.get('${jvar_process_id}')) {
      ret = gr.getDisplayValue('user_experience_entry');
    }
    ret;
  </g:evaluate>

  <g:evaluate var="jvar_process_identification_label" jelly="true">
      var idLabel = gs.getMessage(jelly.jvar_process.getIdentificationLabel());
      if ((typeof(idLabel) == 'undefined') || (idLabel == '')) {
           idLabel = gs.getMessage('Username');
      }
      idLabel;
  </g:evaluate>

<!-- ACTUAL PAGE STARTS HERE -->

<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true"/>
<g:requires name="scripts/lib/jquery_includes.js" includes="true"/>
<g:requires name="styles/css_pwd_reset.css"/>
<g:include_script src="pwd_mobile.jsdbx"/>
<g:include_script src="pwd_csrf_common_ui_script.jsdbx" />

<!-- Read the lanugage info from the session for any client java script -->
<div id="global_lang" selected="${gs.getSession().getLanguage()}" />

<g:include_script src="$google_captcha.jsdbx" />

<g:macro_invoke macro="$pwd_process_flow" stage="1" />

<center id="$pwd_reset">
  <div class="pwd-reset-box">
    <form action="" onsubmit="return verifyIdentity();">
      <input type="hidden" id="sysparm_process_id" name="sysparm_process_id" value="${jvar_process_id}" />

      <div class="form-group is-required" id="user_id_form_group">
        <label for="sysparm_user_id" class="control-label col-sm-3">
          <span class="required-marker"></span>
          ${jvar_process_identification_label}
        </label>
        <span class="col-sm-9">
          <input type="text" placeholder="" maxlength="80" id="sysparm_user_id" name="sysparm_user_id" value="" autocomplete="off" class="form-control ${sysparm_user_id_class}" onkeypress="userIDRetype();" aria-required="true"/>
          <span id="retype_user_id" style="display:none" class="help-block"></span>
        </span>
      </div>

      <j:if test="${jvar_process_display_captcha}">

        <div class="form-group is-required" id="captcha_form_group">
          <label for="sysparm_captcha" class="control-label col-sm-3">
            <span class="required-marker"></span>${gs.getMessage("CAPTCHA")}</label>
          
		  <span class="col-sm-9">
            <j:if test="${!jvar_google_captcha_enabled}">
				<div class="captcha-image-container">
					<img class="captcha-image" id="captcha_image" src="pwd_jcaptcha.do"/>
					<g:dialog_button id="dontcare" type="button" onclick="return refreshCaptcha();" title="${gs.getMessage('Refresh CAPTCHA')}"><i class="icon-refresh"></i></g:dialog_button>
				</div>
				<input type="text" placeholder="${gs.getMessage('Type the characters you see in the image above')}" maxlength="10" name="sysparm_captcha" id="sysparm_captcha" value="" autocomplete="off" class="form-control" onkeypress="userCaptchaRetype();" aria-required="true"/>
            </j:if>

            <j:if test="${jvar_google_captcha_enabled}">
              <div id="google_captcha" site_key="${gs.getProperty('google.captcha.site_key')}">$[SP]</div>
            </j:if>
			  
            <span id="retype_captcha" style="display:none" class="help-block"></span>

          </span>
        </div>
      </j:if>

      <j:if test="${!empty(jvar_display_add_on)}">
        <g:macro_invoke macro="${jvar_display_add_on}" />
      </j:if>

      <input type="hidden" name="sysparm_action" id="sysparm_action" value="password_reset_form" />
	  <span class="col-sm-12">
        <button name="sysverb_pwd_reset" id="sysverb_pwd_reset" class="btn btn-primary btn-pwd-submit" onclick="return verifyIdentity();">
		  ${gs.getMessage('Next')}
		</button>
	  </span>
		
	  <span class="col-sm-12">
        <button name="sysverb_pwd_done" id="sysverb_pwd_done" class="btn btn-primary btn-pwd-submit" 
				style="display:none" onclick="window.top.location.href='/navpage.do'">
		  ${gs.getMessage('Done')}
		</button>
	  </span>

    </form>
  </div>
</center>

  <!--  
      Adding a new CSRF token here. This page does not check whether there's a violation or not because this page 
      is the starting point.
  -->
  <g:evaluate var="jvar_csrf_token" >
      new SNC.PwdSecurityManager().generateSecureToken();
  </g:evaluate>
    
  <form id="pwd_master_form" name="pwd_master_form" method="post">
    <input type="hidden" id="sysparm_error" name="sysparm_error" value=""/>
    <input type="hidden" id="pwd_csrf_token" name="pwd_csrf_token" value="${jvar_csrf_token}"/>
  </form>
</j:jelly>