<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

    <!-- Checking if csrf security violation has happened or not. -->
    <g:macro_invoke macro="$pwd_csrf_validation" />
    
    <g:evaluate var="sysparm_sys_user_id">gs.getSession().getProperty('sysparm_sys_user_id'); </g:evaluate>
    <g:evaluate var="sysparm_request_id">gs.getSession().getProperty('sysparm_request_id'); </g:evaluate>

    <j:if test="${jvar_is_secure}">

        <g:evaluate jelly="true" >
            var isCompleted = new SNC.PwdTrackingManager().requestSuccess(jelly.sysparm_request_id);

            if(!isCompleted){
                new SNC.PwdUtil().redirect('/$pwd_error.do?redirect_from_success');
            }
        </g:evaluate>

        <g:evaluate var="sysparm_process_id" jelly="true">
            new SNC.PwdTrackingManager().getProcessIdByRequestId(jelly.sysparm_request_id);
        </g:evaluate>

        <g:evaluate var="jvar_display_add_on" jelly="true">
            var ret = '';
            gr = new GlideRecord("pwd_process");

            if (gr.get(jelly.sysparm_process_id)) {
                ret = gr.getDisplayValue('user_experience_success');
            }
            ret;
        </g:evaluate>

<!-- ACTUAL PAGE STARTS HERE -->

<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true"/>
<g:requires name="styles/css_pwd_reset.css" includes="true"/>
<g:requires name="scripts/lib/jquery_includes.js" includes="true"/>
<g:include_script src="pwd_mobile.jsdbx"/>

<g:macro_invoke macro="$pwd_process_flow" stage="4" />

<center>
  <div class="pwd-notification-box" style="text-align:center">
    <i class="icon-success pwd-icon pwd-icon-success"/>
    <span class="pwd-title">${gs.getMessage("Account Unlock Success")}</span>
    <span class="pwd-subtitle">${gs.getMessage('Account was unlocked successfully.')}</span>

    <j:if test="${!empty(jvar_display_add_on)}">
      <div class="pwd-additional-info">
        <g:macro_invoke macro="${jvar_display_add_on}" />
      </div>
    </j:if>
  </div>
</center>

    </j:if>
</j:jelly>