<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

	<!-- Checking if csrf security violation has happened or not. -->
    <g:macro_invoke macro="$pwd_csrf_validation" />
	

    <!-- ACTUAL PAGE STARTS HERE -->
	
	<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true"/>
	<g:requires name="styles/css_pwd_reset.css" includes="true"/>
	<g:requires name="scripts/lib/jquery_includes.js" includes="true"/>
	<g:include_script src="pwd_mobile.jsdbx"/>

	<g:macro_invoke macro="$pwd_process_flow" stage="3" />

	<center id="$pwd_confirm">
		<div class="pwd-notification-box pwd-page-box">
		    <i class="icon-success pwd-icon pwd-icon-success"/>
			<span class="pwd-title">${gs.getMessage("An email has been sent to you providing instructions to reset your password")}</span>
			<span class="col-sm-12">
			    <button name="sysverb_pwd_done" id="sysverb_pwd_done" onclick="window.top.location.href='/navpage.do'" 
					    class="btn btn-primary btn-pwd-submit">${gs.getMessage("Done")}</button>
			</span>
		</div>
	</center>
	
</j:jelly>