<?xml version="1.0" encoding="UTF-8"?>
<j:jelly xmlns:j="jelly:core" xmlns:g="glide" xmlns:g2="null" xmlns:j2="null" trim="false">
	
    <!-- Includes the client script for enrollment form submit. -->
    <g:include_script src="pwd_enrollment_submit_event.jsdbx" />
	
    <script type="text/javascript">
		//When the page gets loaded, run the event handler for on-load event.
        addLoadEvent(function() {
            displayErrorMessages();
        });
	</script>
	
    <g2:evaluate var="jvar_verification_ids" object="true">new SNC.PwdVerificationManager().getVerificationIds();</g2:evaluate>
	
	<g2:evaluate var="jvar_use_notify" jelly="true">
        GlidePluginManager.isRegistered('com.snc.notify');
	</g2:evaluate>
	
	<g2:evaluate var="jvar_domain_active" jelly="true">
        GlidePluginManager.isRegistered('com.glide.domain.msp_extensions.installer');
	</g2:evaluate>
	
    <!-- Test if verifications are found or not. -->
    <g2:evaluate var="jvar_verification_not_exist" expression="$[empty(jvar_verification_ids) || (0 == jvar_verification_ids.size())]" />
	
    <j2:if test="$[!jvar_verification_not_exist]">
		
        <!-- ACTUAL PAGE STARTS HERE -->
        <g:requires name="styles/heisenberg/heisenberg_all.css" includes="true" />
        <g:requires name="scripts/heisenberg/heisenberg_all.js" includes="true" />
        <g:requires name="scripts/classes/glideModal.js" includes="true" />
        <g:requires name="styles/css_pwd_reset.css" includes="true" />
        <g:requires name="scripts/lib/jquery_includes.js" includes="true" />
		
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="btn btn-default icon-chevron-left navbar-btn" onclick="goBack();" />
                    <h1 style="display:inline-block;" class="navbar-title">${gs.getMessage('Password Reset Enrollment')}</h1>
                </div>
                <div class="nav navbar-right">
                    <button class="btn btn-primary navbar-btn" id="sysverb_qa_submit" onclick="onSubmit();">${gs.getMessage('Submit')}</button>
                </div>
            </div>
        </nav>
		
		<!-- Map verification IDs to true/false whether it is mandatory for any Process.
			 This value will be passed into the UI macros where it can be used to determine whether 
			 validation should be done or not on an empty form. 
		-->
		<g2:evaluate var="jvar_mandatory_map" jelly="true" object="true">
			var processVerificationGr = new GlideRecord('pwd_map_proc_to_verification');
			var map = {};
			var verId;
			for (var i = 0; i != jelly.jvar_verification_ids.size(); ++i) {
			
				verId = jelly.jvar_verification_ids.get(i);
				processVerificationGr.initialize();
				processVerificationGr.addQuery('process.active', true);
				processVerificationGr.addQuery('verification', verId);
				processVerificationGr.addQuery('mandatory',true);
				processVerificationGr.query();

				if (processVerificationGr.hasNext()) {
					map[verId] = 'true';
				}
			}
			map;
		</g2:evaluate>
		
		<!-- Tabs for each verification type -->
		<ul role="tablist" class="nav nav-tabs sn-tabs-basic">			
			<j2:forEach begin="0" end="$[jvar_verification_ids.size() - 1]" indexVar="jvar_tab_index">
				
				<g2:evaluate var="jvar_verification_id" jelly="true">
					jelly.jvar_verification_ids.get(jelly.jvar_tab_index)
				</g2:evaluate>				
				<g2:evaluate var="jvar_tab_label" jelly="true">
					var pwdVerMgr = new SNC.PwdVerificationManager();
					var verName = pwdVerMgr.getVerificationNameByVerificationId(jelly.jvar_verification_id);
					var domainDisplayName = pwdVerMgr.getDomainDisplayNameByVerificationId(jelly.jvar_verification_id);
					name = verName;
					if (jelly.jvar_domain_active == "true")
					    name = domainDisplayName + ": " + verName;
					name;
				</g2:evaluate>
				<g2:evaluate var="jvar_tab_class" jelly="true">
					jelly.jvar_tab_index == 0? "active" : ""
				</g2:evaluate>
				<g2:evaluate var="jvar_tab_selected" jelly="true">
					jelly.jvar_tab_index == 0
				</g2:evaluate>
				<g2:evaluate var="jvar_mandatory" jelly="true">
					jelly.jvar_mandatory_map[jelly.jvar_verification_id];
				</g2:evaluate>
				
				<li role="presentation" class="$[jvar_tab_class] sn-tooltip-basic" data-toggle="tooltip" data-placement="auto" title="$[jvar_tab_label]">
					<j2:if test="$[jvar_mandatory]">
						<span class="required-marker" id="$[jvar_verification_id]-required-marker" style="display: inline !important;" />
					</j2:if>
					<a id="tablabel$[jvar_tab_index]" aria-controls="tab$[jvar_tab_index]" tabindex="0" role="tab" 
					   class="$[jvar_tab_class]" data-toggle="tab" aria-selected="$[jvar_tab_selected]" href="#tab$[jvar_tab_index]">
						$[jvar_tab_label]
					</a>
				</li>
			</j2:forEach>
		</ul>
        
		<br />		
		
        <div class="pwd-enroll-box">			
			<div class="tab-content">
				<j2:forEach begin="0" end="$[jvar_verification_ids.size() - 1]" indexVar="jvar_macro_index">
					
					<g2:evaluate var="jvar_macro_tab_class" jelly="true">
						"tab-pane pwd-enroll-section" + (jelly.jvar_macro_index == 0? " active" : "")
					</g2:evaluate>
					<g2:evaluate var="jvar_macro_tab_hidden" jelly="true">
						jelly.jvar_macro_index != 0
					</g2:evaluate>
					
					<div id="tab$[jvar_macro_index]" aria-hidden="$[jvar_macro_tab_hidden]" role="tabpanel" 
						 class="$[jvar_macro_tab_class]" aria-labelledby="tablabel$[jvar_macro_index]">
						
						<g2:evaluate var="jvar_verification_id" object="true" jelly="true">
							jelly.jvar_verification_ids.get(jelly.jvar_macro_index);
						</g2:evaluate>
						<g2:evaluate var="jvar_verification" object="true" jelly="true">
							new SNC.PwdVerification(jelly.jvar_verification_id);
						</g2:evaluate>
						<g2:evaluate var="jvar_verification_type" object="true" jelly="true">
							var typeId = new SNC.PwdVerificationManager().getVerificationTypeIdByVerificationId(jelly.jvar_verification_id);
							new SNC.PwdVerificationType(typeId);
						</g2:evaluate>
						<g2:evaluate var="jvar_enrollment_processor" object="true" jelly="true">
							jelly.jvar_verification_type.getEnrollmentProcessor();
						</g2:evaluate>
						<g2:evaluate var="jvar_enrollment_ui" object="true" jelly="true">
							jelly.jvar_verification_type.getEnrollmentUI();
						</g2:evaluate>
						<g2:evaluate var="jvar_mandatory" jelly="true">
							jelly.jvar_mandatory_map[jelly.jvar_verification_id];
						</g2:evaluate>
						<g2:evaluate var="jvar_verification_ui" object="true" jelly="true">
							jelly.jvar_verification_type.getVerificationUI();
						</g2:evaluate>
						<g2:evaluate var="jvar_verification_processor" object="true" jelly="true">
							jelly.jvar_verification_type.getVerificationProcessor();
						</g2:evaluate>
						<g2:evaluate var="jvar_verification_name" object="true" jelly="true">
							jelly.jvar_verification.getName();
						</g2:evaluate>
						<g2:evaluate var="jvar_form_id" jelly="true">
							"form_"+jelly.jvar_enrollment_ui+"_"+jelly.jvar_verification_id;
						</g2:evaluate>
						<g2:evaluate var="jvar_submit_event_id" jelly="true">
							"submit_"+jelly.jvar_enrollment_ui+"_"+jelly.jvar_verification_id;
						</g2:evaluate>
						<g2:evaluate var="jvar_title" jelly="true">
							var pwdVerMgr = new SNC.PwdVerificationManager();
					        var verName = pwdVerMgr.getVerificationNameByVerificationId(jelly.jvar_verification_id);
                            if (jelly.jvar_domain_active == "true") {
					            var domainDisplayName = pwdVerMgr.getDomainDisplayNameByVerificationId(jelly.jvar_verification_id);
                                verName = domainDisplayName + ": " + verName;
                            }
                            
							gs.getMessage('Enroll for {0}', verName);
						</g2:evaluate>

						<div class="pwd-section-title" id="caption_$[jvar_verification_id]">$[jvar_title]</div>

						<form id="$[jvar_form_id]" name="$[jvar_form_id]" onsubmit="return false;">
							<input id="__submit_$[jvar_form_id]" type="submit" style="display:none" />
							<input type="hidden" name="__submit_event_id" value="$[jvar_submit_event_id]" />
							<input type="hidden" name="__form_id" value="$[jvar_form_id]" />
							
							<!-- if form for optional enrollment is not filled, then dont submit it -->
							<input type="hidden" name="can_submit" value="true" /> 
							
							<g2:macro_invoke macro="$[jvar_enrollment_ui]" verification_id="$[jvar_verification_id]" 
											 submit_event_id="$[jvar_submit_event_id]" form_id="$[jvar_form_id]" 
											 mandatory="$[jvar_mandatory]" 
											 tab_index="$[jvar_macro_index]" 
											 use_notify="$[jvar_use_notify]" />
						</form>

						<form id="hidden_form_$[jvar_macro_index]" name="hidden_form_$[jvar_macro_index]" onsubmit="return false;">
							<input type="hidden" name="enrollment_ui" id="enrollment_ui" value="$[jvar_enrollment_ui]" />
							<input type="hidden" name="enrollment_processor" id="enrollment_processor" value="$[jvar_enrollment_processor]" />
							<input type="hidden" name="verification_ui" id="verification_ui" value="$[jvar_verification_ui]" />
							<input type="hidden" name="verification_processor" id="verification_processor" value="$[jvar_verification_processor]" />
							<input type="hidden" name="userId" id="userId" value="$[gs.userID()]" />
							<input type="hidden" name="verificationId" id="verificationId" value="$[jvar_verification_id]" />
							<input type="hidden" name="verificationName" id="verificationName" value="$[jvar_verification_name]" />
							<input type="hidden" name="mandatory" value="$[jvar_mandatory]" /> 
						</form>
					</div>
				</j2:forEach>			
			</div>
            <div class="pwd-bottom-btn-bar">
                <button id="sysverb_qa_submit" class="btn btn-primary btn-pwd-submit" onclick="onSubmit();">${gs.getMessage('Submit')}</button>
            </div>
        </div>
    </j2:if>
</j:jelly>