<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

  <!-- Checking if csrf security violation has happened or not. -->
  <g:macro_invoke macro="$pwd_csrf_validation" />
    
  <g:evaluate var="jvar_sys_user_id" jelly="true">
     var userId = gs.getSession().getProperty('sysparm_sys_user_id'); 
  	 if (!userId)
	    userId = jelly.sysparm_id;
	 userId;
  </g:evaluate>
	
  <g:evaluate var="jvar_request_id" jelly="true">
	var requestId = gs.getSession().getProperty('sysparm_request_id'); 
	if (!requestId)
		requestId = jelly.sysparm_request_id;
	requestId;
  </g:evaluate>
	
 <j:if test="${jvar_is_secure}">
    <g:evaluate jelly="true" >
      var isCompleted = new SNC.PwdTrackingManager().requestSuccess(jelly.jvar_request_id);

      if(!isCompleted){
        new SNC.PwdUtil().redirect('/$pwd_error.do?redirect_from_success');
      }
    </g:evaluate>

    <g:evaluate var="jvar_process_id" jelly="true">
      new SNC.PwdTrackingManager().getProcessIdByRequestId(jelly.jvar_request_id);
    </g:evaluate>

    <g:evaluate var="jvar_display_add_on" jelly="true">
      var ret = '';
      gr = new GlideRecord("pwd_process");

      if (gr.get(jelly.jvar_process_id)) {
        ret = gr.getDisplayValue('user_experience_success');
      }
      ret;
    </g:evaluate>


<!-- ACTUAL PAGE STARTS HERE -->
	
	 

<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true"/>
<g:requires name="styles/css_pwd_reset.css" includes="true"/>
<g:requires name="scripts/lib/jquery_includes.js" includes="true"/>
<g:include_script src="pwd_mobile.jsdbx"/>

<g:macro_invoke macro="$pwd_process_flow" stage="4" />

<center id="$pwd_success">
  <div class="pwd-notification-box pwd-page-box">
    <i class="icon-success pwd-icon pwd-icon-success"/>
    <span class="pwd-title">${gs.getMessage("Password Reset Success")}</span>
    <g:set_if var="jvar_success" test="${empty(sysparm_success)}" 
          true="${gs.getSession().getProperty('sysparm_success')}" false="${sysparm_success}" />

    <j:if test="${empty(jvar_success)}">
      <span class="pwd-subtitle">${gs.getMessage('Password was reset successfully.')}</span>
    </j:if>

    <div class="pwd-additional-info">
      <g:evaluate var="jvar_display_password" jelly="true">
        var ret = false;
        gr = new GlideRecord("pwd_process");
        if (gr.get(jelly.jvar_process_id)) {
          if (gr.getValue('auto_gen_password') == "1") {
            if (gr.getValue('display_password') == "1") {
              ret = true;
            }
          }
        }
        ret;
      </g:evaluate>

      <j:if test="${jvar_display_password}">
        <g:macro_invoke macro="$pwd_display_password" />
      </j:if>

      <j:if test="${!empty(jvar_display_add_on)}">
        <br/>
        <g:macro_invoke macro="${jvar_display_add_on}" />
      </j:if>
    </div>
	
	<!-- Only show Done button for Default Self Service Process -->
	<j:if test="${jvar_process_id == 'c6b0c20667100200a5a0f3b457415ad5'}">
		<span class="col-sm-12">
		    <button name="sysverb_pwd_done" id="sysverb_pwd_done" onclick="window.top.location.href='/navpage.do'" 
				    class="btn btn-primary btn-pwd-submit">${gs.getMessage("Done")}</button>
		</span>
	</j:if>

  </div>
</center>

  </j:if>
</j:jelly>