<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

<!-- ACTUAL PAGE STARTS HERE -->

<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true"/>
<g:requires name="styles/css_pwd_reset.css" includes="true"/>
<g:requires name="scripts/lib/jquery_includes.js" includes="true"/>
<g:include_script src="pwd_mobile.jsdbx"/>

<g:macro_invoke macro="$pwd_process_flow" stage="${jvar_stage}" />

<center>
  <div class="pwd-notification-box pwd-page-box" style="text-align:center">
    <i class="icon-error pwd-icon pwd-icon-error"/>
    <span class="pwd-title">${gs.getMessage("Password Reset Error")}</span>
    <g:set_if var="jvar_error_exp" test="${empty(sysparm_error)}" true="${gs.getSession().getProperty('sysparm_error')}" false=""/>

    <g:set_if var="jvar_error" test="${empty(sysparm_error)}" true="${gs.getSession().getProperty('sysparm_error')}" false="${sysparm_error}"/>
   
    <j:if test="${empty(jvar_error)}">
      ${gs.getMessage('General error.')} ${gs.getMessage('Contact the service desk for assistance.')}
    </j:if>

   <g:evaluate var="jvar_request_id" jelly="true">
      var requestId = "${gs.getSession().getProperty('sysparm_request_id')}";
	  if (!requestId)
		 requestId = jelly.sysparm_request_id;
		 
	  // Clean the session in this error page when the request fails
	  gs.getSession().clearProperty('sysparm_request_id');
      gs.getSession().clearProperty('sysparm_sys_user_id');
      
	  requestId;
    </g:evaluate>

   <j:if test="${!empty(jvar_error)}">
      <j:choose>
        <j:when test="${jvar_error == 'TIMEOUT'}">
          <span class="pwd-subtitle">${gs.getMessage('The passsword reset process timed out. Try again later.')}</span>
        </j:when>

        <j:when test="${jvar_error == 'block'}">
          <span class="pwd-subtitle"></span>
          <div class="pwd-content">
            <b>${gs.getMessage('We could not reset your password for one of the following reasons:')}</b>
			<ul>
				<li>${gs.getMessage('You have exceeded the limit on password reset attempts.')}</li>
				<li>${gs.getMessage('You changed your password recently.')}</li>
				<li>${gs.getMessage('You unlocked your account recently.')}</li>
			</ul>
            ${gs.getMessage('Try again later. For immediate assistance, call the service desk.')}
          </div>
        </j:when>
		  
		<j:when test="${jvar_error == 'invalid user'}">
          <span class="pwd-subtitle"></span>
          <div class="pwd-content">
            <b>${gs.getMessage('This user cannot use the configured Password Reset process.  Possible reasons:')}</b>
			<ul>
				<li>${gs.getMessage('User does not exist or is not enrolled.')}</li>
				<li>${gs.getMessage('User is not part of the configured password reset process.')}</li>
				<li>${gs.getMessage('User is blocked (exceeded the limit on reset attempts or reset password recently).')}</li>
			</ul>
            ${gs.getMessage('Try again later. For immediate assistance, call the service desk.')}
          </div>
        </j:when>
		
		  
		<j:when test="${jvar_error == 'locked'}">
		    <span class="pwd-subtitle">${gs.getMessage('Your account is locked. You cannot reset your password at this time.')}</span>
			<span class="pwd-subtitle">${gs.getMessage('Contact the service desk for assistance.')}</span>
	    </j:when>

        <j:when test="${jvar_error == 'process_does_not_exist'}">
          <span class="pwd-subtitle">${gs.getMessage('This page does not exist.')} ${gs.getMessage('Contact the service desk for assistance.')}</span>
        </j:when>

        <j:when test="${jvar_error == 'process_not_public'}">
          <span class="pwd-subtitle">${gs.getMessage('The process is not publicly available.')} ${gs.getMessage('Contact the service desk for assistance.')}</span>
        </j:when>

        <j:when test="${jvar_error == 'process_not_active'}">
          <span class="pwd-subtitle">${gs.getMessage('The process is not active.')} ${gs.getMessage('Contact the service desk for assistance.')}</span>
        </j:when>
		  
		<j:when test="${jvar_error == 'ldap_user'}">
			<g:evaluate var="jvar_ldap_user_restricted_message" jelly="true">
				var ldapError = GlidePropertiesDB.get("glide.password_reset.ldap_user.restricted.message","You cannot reset your AD password through Service-Now password reset application. Please contact your administrator for instructions on how to change your AD password.");
				gs.getMessage(ldapError);
			</g:evaluate>
			<span class="pwd-subtitle">${jvar_ldap_user_restricted_message}</span>
        </j:when>

        <j:otherwise>
          <span class="pwd-subtitle">${jvar_error}</span>
        </j:otherwise>
      </j:choose>
    </j:if>

    <div class="pwd-additional-info">
      <g:evaluate var="jvar_request_number" jelly="true">
        var ret = "";
        var gr = new GlideRecord("pwd_reset_request");
        if (gr.get(jelly.jvar_request_id)) {
          ret = gr.number;
        }
        ret;
      </g:evaluate>

      <j:if test="${!empty(jvar_request_number)}">
        ${gs.getMessage("Reset request number")}:<span class="pwd-request-reference">${jvar_request_number}</span><br/>
      </j:if>

      <g:evaluate var="jvar_display_add_on" jelly="true">
        var processId = new SNC.PwdTrackingManager().getProcessIdByRequestId(jelly.jvar_request_id);
        var ret="";
        var gr=new GlideRecord("pwd_process");
        if (gr.get(processId)) {
          ret=gr.getDisplayValue("user_experience_failure");
        }
        ret;
      </g:evaluate>

      <j:if test="${!empty(jvar_display_add_on)}">
        <g:macro_invoke macro="${jvar_display_add_on}" />
      </j:if>
    </div>

	<j:if test="${jvar_error == 'locked'}">
		<span class="col-sm-12">
		    <button name="sysverb_pwd_done" id="sysverb_pwd_done" onclick="window.top.location.href='/navpage.do'" 
				    class="btn btn-primary btn-pwd-submit">${gs.getMessage("Done")}</button>
		</span>
	</j:if>
  </div>
</center>

</j:jelly>