<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <g:macro_invoke macro="$pwd_error_message" error_message=""/>
    <g:include_script src="pwd_csrf_common_ui_script.jsdbx"/>

<!-- ACTUAL PAGE STARTS HERE -->

<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true"/>
<g:requires name="styles/css_pwd_reset.css" includes="true"/>
<g:requires name="scripts/lib/jquery_includes.js" includes="true"/>

<nav class="navbar navbar-default" role="navigation">

    <div class="container-fluid">
        <div class="navbar-header">

            <button class="btn btn-default icon-chevron-left navbar-btn" onclick="goBack();"></button>
            
            <h1 style="display:inline-block;" class="navbar-title">${gs.getMessage('Change Password')}</h1>
        </div>

        <div class="nav navbar-right">
            <button class="btn btn-primary navbar-btn" id="sysverb_change_submit" onclick="return changePassword('${gs.getUserID()}');">${gs.getMessage('Change Password')}</button>
        </div>

        <!--div class="nav navbar-right">
            <button class="btn btn-icon icon-menu navbar-btn"></button>
            <button class="btn btn-icon icon-paperclip navbar-btn"></button>
            <button class="btn btn-icon icon-help navbar-btn"></button>
            <button type="submit" class="btn btn-default navbar-btn">Resolve</button>
            <button type="submit" class="btn btn-primary navbar-btn">Submit</button>
        </div-->
    </div>
</nav>

  <div class="pwd-change-box">

    <form id="passwordChangeFormId" style="display:none" >
      <input type="hidden" id="password_reset.wf.refresh_rate" value="${gs.getProperty('password_reset.wf.refresh_rate');}"/>
      <input type="hidden" id="password_reset.wf.timeout" value="${gs.getProperty('password_reset.wf.timeout');}"/>

      <div class="form-group is-required" id="process_select_pass_form_group">
        <label for="processSelectId" class="control-label col-sm-4 text-right">
          <span class="required-marker"></span>
          ${gs.getMessage("Change password for")}
        </label>
        <span class="col-sm-8">
          <select name="processSelect" id="processSelectId" class="form-control" required="true" aria-required="true" onchange="showHidePasswordChangeFormFields(); clearFormFields(); updatePwdRuleHint(); updatePwdStrengthVisibility();"/>
        </span>

        <!-- These are just to store the process info. They will never be displayed -->
        <select name="processRule" id="processRuleId" style="display:none"/>
        <select name="processIdentification" id="processIdentificationId" style="display:none"/>
		<select name="pwdStrengthVisibility" id="pwdStrengthVisibilityId" style="display:none"/>

        <span class="help-block col-sm-4"/><span id="error_msg_select" class="help-block col-sm-8"/>
      </div>

      <span id="process_details">

        <div class="form-group is-required" id="old_pass_form_group">
          <label for="sysparm_old_pass" id="sysparm_old_pass_label" class="control-label col-sm-4 text-right">
            <span class="required-marker"></span>
            ${gs.getMessage("Old password")}
          </label>
          <span class="col-sm-8">
            <input id="sysparm_old_pass" placeholder="" name="sysparm_old_pass" value="" autocomplete="off" class="form-control" required="required" type="password" maxlength="256" aria-required="true"/>
            <span id="error_msg_old_pass" class="help-block"></span>
          </span>
        </div>

        <div class="form-group is-required" id="new_pass_form_group">
          <label for="sysparm_new_password" id="sysparm_new_password_label" class="control-label col-sm-4 text-right">
            <span class="required-marker"></span>
            ${gs.getMessage("Pwd - New password")}
          </label>
          <span class="col-sm-8">
            <input id="sysparm_new_password" placeholder="" name="sysparm_new_password" value="" autocomplete="off" class="form-control" required="required" type="password" maxlength="256" oninput="checkPasswordStrength()" aria-required="true"/>
            <span id="error_msg_new_pass" class="help-block"></span>
          </span>
		  <div id="password_strength_container">
			  <div class="col-sm-4"></div>
			  <div class="col-sm-4" id="pwd_strength_text">
				  ${gs.getMessage('Password Strength')}
			  </div>
			  <div class="col-sm-4">
				  <div class="progress" style="margin-top:3px;margin-bottom:0px;border-color:#bdc0c4;">
					  <div class="progress-bar progress-bar-danger" id="strength-meter" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
					  </div>
				  </div>
			  </div>
		  </div>
		</div>

		<div class="form-group">
			<span class="col-sm-4"/>
          <span id="pwdRuleHintId" class="col-sm-8"/>
        </div>

        <div class="form-group is-required" id="confirm_pass_form_group">
          <label for="sysparm_confirm_pass" id="sysparm_confirm_pass_label" class="control-label col-sm-4 text-right">
            <span class="required-marker"></span>
            ${gs.getMessage("Retype password")}
          </label>
          <span class="col-sm-8">
            <input id="sysparm_confirm_pass" placeholder="" name="sysparm_confirm_pass" value="" autocomplete="off" class="form-control" required="required" type="password" maxlength="256" aria-required="true"/>
            <span id="error_msg_confirm_pass" class="help-block"></span>
          </span>
        </div>

        <input type="hidden" name="sysparm_action" id="sysparm_action" value="password_change_form"/>
        <button name="pwd_change" id="sysverb_pwd_change" class="btn btn-primary btn-pwd-submit" onClick="return changePassword('${gs.getUserID()}');" style="margin-right:15px;">
          ${gs.getMessage('Change Password')}
        </button>

      </span>

    </form>    

    <form id="pwd_master_form" name="pwd_master_form" method="post">
        <input type="hidden" id="sysparm_error" name="sysparm_error" value=""/>
        <input type="hidden" id="sysparm_success" name="sysparm_success" value=""/>
        <input type="hidden" id="sysparm_page_text" name="sysparm_page_text" value=""/>
        <input type="hidden" id="sysparm_process_id" name="sysparm_process_id" value="${sysparm_process_id}"/>
        <input type="hidden" id="sysparm_request_id" name="sysparm_request_id" value="${sysparm_request_id}"/>
        <input type="hidden" id="sysparm_sys_user_id" name="sysparm_sys_user_id" value="${sysparm_sys_user_id}"/>
    </form>
  </div>


</j:jelly>