<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

    <!--  
      Request could come from pwd_verify page or link clicking directly.
      For request from verify page, we get parameters from session, otherwise we get them from url
    -->
	<g:evaluate var="sysparm_sys_user_id" jelly="true">
        var userId = gs.getSession().getProperty('sysparm_sys_user_id'); 
		if (!userId)
		    userId = jelly.sysparm_id;
		userId;
	</g:evaluate>
	
    <g:evaluate var="sysparm_request_id" jelly="true">
		var requestId = gs.getSession().getProperty('sysparm_request_id'); 
		if (!requestId)
		    requestId = jelly.sysparm_request_id;
		requestId;
	</g:evaluate>
	
	<g:evaluate var="jvar_gr_request" object="true" jelly="true">
		var gr = new GlideRecord("pwd_reset_request");
		gr.get(jelly.sysparm_request_id);
		gr;
	</g:evaluate>

	<g:evaluate var="sysparm_process_id" jelly="true">
		jelly.jvar_gr_request.process;
	</g:evaluate>
	
	<g:evaluate var="jvar_gr_process" object="true" jelly="true">
		var gr = new GlideRecord("pwd_process");
		gr.get(jelly.sysparm_process_id);
		gr;
	</g:evaluate>
	
	<g:evaluate var="jvar_is_secure" jelly="true">
		var isSecure = new SNC.PwdSecurityManager().validateSecureTokenFromHttpRequest();
	    <!--  request may come from link -->
		if (!isSecure &amp;&amp; jelly.jvar_gr_process.email_password_reset_url) {
		    var userId = jelly.sysparm_sys_user_id;
		    var token = jelly.sysparm_token;
		    if(!GlideStringUtil.nil(userId) &amp;&amp; !GlideStringUtil.nil(token)) {
			    var userName = GlideUser.getUserByID(userId).getName();
			    if(!GlideStringUtil.nil(userName)  &amp;&amp; userName != "guest"){
				    var isTokenValid = SNC.PasswordResetUtil.validateUniqueUserToken(userId, token, false);
				    if(isTokenValid == false)
					    SNC.PasswordResetUtil.invalidateTokenForUser(userId, token);
		            else
		                isSecure = true;
			    }
		    }
		}
		<!--  If not secure, redirect the page to the error page. -->
		if(!isSecure) {
		    var msg = gs.getMessage("Unauthorized access");
		    new SNC.PwdUtil().redirect('/$pwd_error.do?sysparm_error='+ encodeURIComponent(msg));
		}
		isSecure;
    </g:evaluate>

    <!--
      Once security is clear, then create a new token.
    -->
    <g:evaluate var="jvar_csrf_token">
        new SNC.PwdSecurityManager().generateSecureToken();
    </g:evaluate>

    <!--
       End of Security check. 
    -->

    <!--
    common client script for CSRF handling on the client side.
    -->
    <g:include_script src="pwd_csrf_common_ui_script.jsdbx" />

    <j:if test="${jvar_is_secure}">
    
        <g:evaluate jelly="true">
            var found = new SNC.PwdTrackingManager().requestVerified(jelly.sysparm_request_id);

            // if the request is not found, then redirect the page to the error page.
            if(!found) {
                new SNC.PwdUtil().redirect('/$pwd_error.do');
            }
        </g:evaluate>

        <g:set_if var="jvar_page" test="${empty(sysparm_page_text)}" 
            true="${gs.getSession().getProperty('sysparm_page_text')}" false="${sysparm_page_text}" />

        <g:include_script src="PwdUserUnlockManager.jsdbx" />
        <g:include_script src="$PwdWfManager.jsdbx" />

        <g:evaluate var="sysparm_lock_state" jelly="true">
            jelly.jvar_gr_request.lock_state;
        </g:evaluate>

        <g:evaluate var="sysparm_process_supports_unlock" jelly="true">
            jelly.jvar_gr_process.unlock_account;
        </g:evaluate>

        <g:evaluate var="sysparm_auto_gen_password" jelly="true">
            new SNC.PwdProcessManager().isAutoGeneratPassword(jelly.sysparm_process_id);
        </g:evaluate>

        <g:evaluate var="sysparm_unlock_wf" jelly="true">
          jelly.jvar_gr_process.cred_store.type.unlock_user_wf;
        </g:evaluate>

<!-- ACTUAL PAGE STARTS HERE -->

<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true"/>
<g:requires name="styles/css_pwd_reset.css" includes="true"/>
<g:requires name="scripts/lib/jquery_includes.js" includes="true"/>
<g:include_script src="pwd_mobile.jsdbx"/>

<g:macro_invoke macro="$pwd_error_message" error_message="" />

<g:macro_invoke macro="$pwd_process_flow" stage="3" />

<center id="$pwd_new">
  <div class="pwd-reset-box">

    <input type="hidden" id="password_reset.wf.refresh_rate" value="${gs.getProperty('password_reset.wf.refresh_rate');}" />
    <input type="hidden" id="password_reset.wf.timeout" value="${gs.getProperty('password_reset.wf.timeout');}" />
    <input type="hidden" id="sysparm_auto_gen_password" value="${sysparm_auto_gen_password}" />

    <g:set_if var="sysparm_error" test="${!empty(sysparm_retry)}" false="" true="${gs.getSession().getProperty('sysparm_error');}" />

    <j:if test="${sysparm_auto_gen_password != 'true'}">
      
      <g:evaluate var="jvar_pwd_rule" jelly="true">
        new SNC.PwdCredentialStoreManager().getPasswordRule(jelly.sysparm_process_id);
      </g:evaluate>
		
	  <g:evaluate var="jvar_strength_rule" jelly="true">
        new SNC.PwdCredentialStoreManager().getStrengthRule(jelly.sysparm_process_id);
      </g:evaluate>            
      <script type="text/javascript">
        ${NOESC:jvar_pwd_rule}
		  
		${NOESC:jvar_strength_rule}
      </script>
    </j:if>

    <form>
      <span class="pwd-title">${gs.getMessage('Pwd - Reset Password')}</span>
		
      <j:if test="${!empty(jvar_page)}">
         <j:choose>
            <j:when test="${jvar_page == 'non fatal failure'}">
                 <span class='outputmsg_error'>
                    <img src='images/outputmsg_error.gifx' /> 
                    ${gs.getMessage('The new password could not be accepted because it did not meet the policy requirements. Review the password length, complexity, and history requirements and try again.')}
                </span>
            </j:when>
            <j:otherwise>
                 <span class='outputmsg_error'>
                    <img src="images/outputmsg_error.gifx" />
                    ${jvar_page}
                </span>
            </j:otherwise>
         </j:choose>
      </j:if>

      <span id="user_lock_state">
        <i id="user_lock_image" class="icon-loading"/>
        <span id="user_lock_message"/>
      </span>
		
	  <br/>

      <j:if test="${sysparm_auto_gen_password == 'true'}">
        <j:if test="${empty(jvar_page)}">
          <div>
            ${gs.getMessage("Click the Reset Password button to generate a password")}
          </div>
        </j:if>
      </j:if>
          
      <j:if test="${sysparm_auto_gen_password != 'true'}">
        <g:evaluate var="jvar_pwd_rule_desc" jelly="true">
          var passwordRule = new SNC.PwdCredentialStoreManager().getPasswordRuleDesc(jelly.sysparm_process_id);            
          passwordRule.replace(/${AMP}nbsp;/g, "$[SP]");
        </g:evaluate>

        <j:if test="${!empty(jvar_pwd_rule_desc)}">
          <div class="pwd-rule-desc">
            <g:no_escape>${NS:jvar_pwd_rule_desc}</g:no_escape>
          </div>
        </j:if>

        <div class="form-group is-required" id="password_form_group">
          <label for="sysparm_new_password" class="control-label col-sm-4 text-right">
            <span class="required-marker"></span>
            ${gs.getMessage('New Password')}
          </label>
          <span class="col-sm-8">
            <input type="password" id="sysparm_new_password" name="sysparm_new_password" class="form-control" maxlength="24" placeholder="" value="" required="required" autocomplete="off" onkeypress="keyPassword()" oninput="checkPasswordStrength()" aria-required="true" />
            <script>
              var l = gel('sysparm_new_password');
              if (l)
                l.focus();
            </script>
            <span id="password_comment" class="help-block"></span>
          </span>
			
			<g:evaluate var="jvar_enable_pwd_strength" jelly="true">
				new SNC.PwdCredentialStoreManager().getEnablePasswordStrength(jelly.sysparm_process_id);
			</g:evaluate>

			<j:if test="${jvar_enable_pwd_strength}">
				<div id="password_strength_container">
					<div class="col-sm-4"></div>
					<div class="col-sm-4" id="pwd_strength_text">
						${gs.getMessage('Does not meet requirements')}
					</div>
					<div class="col-sm-4">
						<div class="progress" style="margin-top:3px;margin-bottom:0px;border-color:#bdc0c4;">
							<div class="progress-bar progress-bar-danger" id="strength-meter" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
							</div>
						</div>
					</div>
				</div>
			</j:if>
		</div>

        <div class="form-group is-required" id="retype_form_group">
          <label for="sysparm_retype_password" class="control-label col-sm-4 text-right">
            <span class="required-marker"></span>
            ${gs.getMessage('Retype Password')}
          </label>
          <span class="col-sm-8">
            <input type="password" id="sysparm_retype_password" name="sysparm_retype_password" class="form-control" maxlength="24" placeholder="" value="" required="required" autocomplete="off" onkeypress="keyRetype()" aria-required="true" />
            <span id="retype_comment" class="help-block"></span>
          </span>
        </div>

      </j:if>
	  
	  <span class="col-sm-12">
        <button name="not_important" id="sysverb_reset_password" class="btn btn-primary btn-pwd-submit" onclick="return validatePassword('${sysparm_process_id}', '${sysparm_request_id}', '${sysparm_sys_user_id}');">
          ${gs.getMessage('Pwd - Reset Password')}
        </button>
		
	    <j:if test="${sysparm_process_supports_unlock}">
		  <j:if test="${sysparm_lock_state != '2'}">
		    <j:if test="${!empty(sysparm_unlock_wf)}">
			  <button name="not_important" id="sysverb_unlock_account" class="btn btn-default btn-pwd-submit"
				      onclick="return unlockAccount('${sysparm_process_id}', '${sysparm_request_id}', 
						      '${sysparm_sys_user_id}');"
			  >${gs.getMessage('Unlock Account')}</button>
		    </j:if>
		  </j:if>
	    </j:if>
	  </span>
    </form>

    <form id="pwd_master_form" name="pwd_master_form" method="post">
      <input type="hidden" id="sysparm_error" name="sysparm_error" value="" />
      <input type="hidden" id="sysparm_success" name="sysparm_success" value="" />
      <input type="hidden" id="sysparm_page_text" name="sysparm_page_text" value="" />
      <input type="hidden" id="sysparm_process_id" name="sysparm_process_id" value="${sysparm_process_id}" />
      <input type="hidden" id="sysparm_lock_state" name="sysparm_lock_state" value="${sysparm_lock_state}" />
      <input type="hidden" id="sysparm_request_id" name="sysparm_request_id" value="${sysparm_request_id}" />
      <input type="hidden" id="sysparm_process_supports_unlock" name="sysparm_process_supports_unlock" value="${sysparm_process_supports_unlock}" />
      <input type="hidden" id="sysparm_sys_user_id" name="sysparm_sys_user_id" value="${sysparm_sys_user_id}" />
      <input type="hidden" id="pwd_csrf_token" name="pwd_csrf_token" value="${jvar_csrf_token}" />
    </form>
  </div>
</center>

    </j:if>
</j:jelly>