<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true"/>
<g:requires name="styles/css_pwd_reset.css" includes="true"/>

<center>

<div class="pwd-notification-box">
<span class="pwd-title">${gs.getMessage("Download Installer for Microsoft Windows")}</span>
<span class="pwd-subtitle">
<a target="_blank" href="http://docs.servicenow.com/?context=Password_Reset_Desktop_Integration">${gs.getMessage('Installation Instructions')}</a>
</span>

<table width = "100%">
<tr>
<td>
<a target="_blank" href="https://hi.service-now.com/kb_view_customer.do?sysparm_article=KB0542328">
<i class="icon-download pwd-icon pwd-icon-success"/>
<br/>
exe
</a>
</td>
<td>
<a target="_blank" href="https://hi.service-now.com/kb_view_customer.do?sysparm_article=KB0542328">
<i class="icon-download pwd-icon pwd-icon-success"/>
<br/>
msi
</a>
</td>
</tr>
</table>
</div>
</center>

</j:jelly>