<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<head>
		<script>
		window.open('https://store.servicenow.com/$appstore.do?ref=nav$[AMP]instanceid=$[gs.getProperty("instance_id")]');
	</script>
	</head>
	
	<body>
        <div>${gs.getMessage("If you are not redirected automatically, follow the")}
		    <a href='https://store.servicenow.com/$appstore.do?ref=nav$[AMP]instanceid=$[gs.getProperty("instance_id")]' target="_blank">$[AMP]nbsp;${gs.getMessage("link to the store")}
		    </a>
	    </div>
    </body>
	
</j:jelly>