<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

<style>
.cool_thing table {
   background-color: inherit;
}

.ten_things_list {
   font-size: 1.2em;
}

.ten_things_list li {
   padding-top: 4px;
}

.pagination li a {
   position: relative;
   padding: 6px 12px;
   line-height: 1.428571429;
   text-decoration: none;
   color: #6AB7EF;
   background-color: #fff;
   border: 1px solid #6AB7EF;
   border-right: 0px;
}



.pagination li:first-child a, .pagination li:first-child span {
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
}

.pagination li:last-child a, .pagination li:last-child span {
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
   border-right: 1px solid #6AB7EF;
}

.pagination li a:hover, .pagination li span:hover, .pagination li a:focus, .pagination li span:focus {
   color: #FFF;
   background-color: #6AB7EF;
   border-color: #6AB7EF;
}

.active span a, .active span a:hover {
   z-index: 2;
   color: #fff;
   background-color: #6AB7EF;
   border-color: #6AB7EF;
   cursor: default;
}

</style>

<j2:set var="jvar_page" value="$[sysparm_page]"/>

<j2:if test="$[sysparm_page == null]">
   <j2:set var="jvar_page" value="COOL0000000"/>
</j2:if>

<g2:evaluate jelly="true">
   var gr = new GlideRecord("cool_thing");
   gr.get("number", jelly.jvar_page);
</g2:evaluate>

<div class="cool_thing" style="padding:8px">
   <g2:no_escape>$[NS:gr.text.getDisplayValue()]</g2:no_escape>
</div>

</j:jelly>