<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<j:if test="$[jvar_isMSIE8 || jvar_isMSIE7]">
		<g:requires name="scripts/flashcanvas.jsx" includes="true"/>
	</j:if>
	<j:if test="${GlideMobileExtensions.getDeviceType() != 'doctype'}">
		<g:requires name="scripts/lib/jquery_includes.jsx" includes="true" />
	</j:if>
	<g:requires name="scripts/jquery.signaturepad.min.jsx" includes="true" />
	<g:requires name="scripts/signature_pad.jsx" includes="true" />
	<g:requires name="scripts/json2.jsx" includes="true" />
	<g:requires name="styles/jquery.signaturepad.cssx" includes="true" />
	<g:requires name="styles/heisenberg/heisenberg_all.cssx" includes="true" />
	<g:requires name="scripts/classes/ajax/GlideAjax.jsx" includes="true" />
	
	<g:ui_form>
		<input type="hidden" id="sysparm_retrieve_signature" value="$[gs.getProperty('com.snc.signaturepad.retrieveSignature')]" />
		<input type="hidden" id="sysparm_draw_only" value="$[sysparm_draw_only]" />
		<input type="hidden" id="document_id" name="document_id" value="${sysparm_document_id}"></input>
		<input type="hidden" id="signature_redirect_url" name="signature_redirect_url" value="$[sysparm_redirect_url]"/>
		<input type="hidden" id="table_name" name="table_name" value="${sysparm_table_name}"></input>
		<div class="sigPad">
			<j:if test="${sysparm_draw_only != 'true'}">
				<div class="typeItDesc">
					<label for="name">${gs.getMessage('Print your name')}</label>
					<input type="text" aria-label="Print your name here to acknowledge or sign the document" name="signed_name" id="signed_name" class="signed_name" maxlength="25"/>
				</div>
				<p class="typeItDesc">${gs.getMessage('Review your signature')}</p>
				<p class="drawItDesc">${gs.getMessage('Draw your signature')}</p>
				<ul class="nav nav-tabs sn-tabs-basic sigNav">
					<li class="typeIt"><a href="#type-it" id='typeItLink'>${gs.getMessage('Type it')}</a></li>
					<li class="drawIt"><a href="#draw-it" id='drawItLink'>${gs.getMessage('Draw it')}</a></li>
					<a class="clearButton" href="#clear">${gs.getMessage('Clear')}</a>
				</ul>
			</j:if>
			<j:if test="${sysparm_draw_only == 'true'}">
				<p class="drawItDesc">${gs.getMessage('Draw your signature')}</p>
				<div class="sigNav">
					<a class="clearButton" href="#clear">${gs.getMessage('Clear')}</a>
				</div>
			</j:if>
			<div class="sig sigWrapper">
				<div class="typed"></div>
				<canvas class="pad" width="400" height="150"></canvas>
				<input type="hidden" name="output" class="output"/>
			</div>
			<p/>
			${gs.getMessage('Filling in the following information will constitute your eSignature and will have the same legal impact as signing a printed version of this document.')}
			<div style="float:right">
				<button id='cancelSignature' data-dismiss="GlideModal" onclick="return onCancelSignature();" class="btn btn-default" style="margin-right:10px;">${gs.getMessage('Cancel')}</button>
			<button id='acceptSignature' onclick="return onAcceptSignature();" class="btn btn-primary">${gs.getMessage('Accept')}</button>
				<input type="hidden" id="btn_clicked" name="btn_clicked" value="none"></input>
			</div>
		</div>
		<canvas id="typedCanvas" style="display:none;"></canvas>
	</g:ui_form>
</j:jelly>