<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true" />

	<style type="text/css">
		.effective-acl-div {
			margin-left: 0px;
			margin-right: -5px;
		}

		.overridden-acl-div {
			margin-left: 0px;
			margin-right: -5px;
			color: darkgrey;
			text-decoration: line-through;
		}

		.overridden-acl {
			color: darkgrey;
			text-decoration: line-through;
		}

		.first-column, .second-column {
			border: 0px;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: 0px;
		}
    </style>

	<input type="HIDDEN" name="change_type" id="change_type" value="${sysparm_change_type}"  />
	<input type="HIDDEN" name="acl_sysID" id="acl_sysID" value="${sysparm_sysID}" />
	<input type="HIDDEN" name="acl_identifier" id="acl_identifier" value="${sysparm_identifier}" />
	<input type="HIDDEN" name="acl_operationID" id="acl_operationID" value="${sysparm_operationID}" />
	<input type="HIDDEN" name="acl_resourceID" id="acl_resourceID" value="${sysparm_resourceID}" />
	<input type="HIDDEN" name="original_acl_identifier" id="original_acl_identifier" value="${sysparm_original_identifier}" />
	<input type="HIDDEN" name="original_acl_operationID" id="original_acl_operationID" value="${sysparm_original_operationID}" />
	<input type="HIDDEN" name="original_acl_resourceID" id="original_acl_resourceID" value="${sysparm_original_resourceID}" />

	<div>
		<ul role="tablist" class="nav nav-tabs sn-tabs-basic" id="operations_tab_header">
			<li id="placeholder_tab">Loading...</li>
		</ul>
		<div class="tab-content" id="operation_tab_content"></div>
		<div class="toggle-overridden-acls" style="margin-top: 20px"><a onClick="toggleOverriddenAcls()" id="toggle-acls">Show All</a></div>
	</div>

	<j:if test="${sysparm_showButtons == 'true'}">
		<div id="submit_buttons" style="float:right">
			<g:dialog_buttons_ok_cancel ok="return onContinue();" cancel="return onCancel();" ok_type="button" cancel_type="button" ok_text="${gs.getMessage('Continue')}"/>
		</div>
	</j:if>

</j:jelly>