<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide"
	xmlns:j2="null" xmlns:g2="null">
<j2:if test="$[gs.hasRole('admin')]">
	<g:ui_form>
		<input type="hidden" id="cancelled" name="cancelled" value="false" />

		<g2:evaluate jelly="true">
			var plugin = new GlideRecord("v_plugin");
			plugin.addQuery("sys_id", jelly.sysparm_plugin_id);
			plugin.query();
			plugin;
		</g2:evaluate>

		<j2:if test="$[!plugin.hasNext()]">
			<b>ERROR</b>
			<br />
			'${sysparm_plugin_id}': ${gs.getMessage("Plugin not found")}
		</j2:if>
		
		<j2:if test="$[plugin.next()]">

		<input type="hidden" id="plugin_id" name="plugin_id" value="$[plugin.id]" />
		<input type="hidden" id="plugin_name" name="plugin_name" value="$[plugin.name]" />
		<input type="hidden" id="plugin_sys_id" name="plugin_sys_id" value="$[plugin.sys_id]" />
		<input type="hidden" id="list_view" name="list_view" value="${sysparm_list_view}" />

			<g2:set_if var="jvar_plugin_desc" test="$[plugin.description != '']"
				true="$[plugin.description]" false="${gs.getMessage('No description available')}" />

			<g2:set_if var="jvar_action" test="$[plugin.active == 'active']"
				true="${gs.getMessage('Upgrade')}" false="${gs.getMessage('Activate')}" />

			<table border="0" width="100%">
				<tr>
					<td rowspan="2" nowrap="true" width="110px" style="vertical-align:top;">
						<img src="images/plugin_activate.gifx" alt="${gs.getMessage('Activate/Upgrade')}"
							style="vertical-align:top;" />
					</td>
					<td valign="top" width="100%" height="100%">
						<span style="font-size: 11pt;">
							<b>$[plugin.name]</b>
							<j2:if test="$[plugin.active == 'active']">
								$[SP](${gs.getMessage('currently installed')})
						</j2:if>
							<br />
						</span>
						<span style="margin-top: 6px;">
							$[jvar_plugin_desc]
							<j2:if test="$[sn_lef.GlideEntitlement.isLicenseCheckRequired(plugin.id)]">
								<div style="color:tomato; font-weight:bold;">
								<br />
								${gs.getMessage('This plugin is associated with a for fee subscription service.')}
								</div>
								<div style="color:tomato;">
								${gs.getMessage('See your current subscriptions within the Subscription Management application in your production ServiceNow instance. By clicking the Applications within the Subscription you can view the included plugins.')}
								</div>
							</j2:if>
							
							<j2:if test="$[plugin.requires.toString().length > 0]">
								<g2:evaluate var="jvar_req">
									var req = new GlideRecord("v_plugin");
									req.addQuery("id", "IN", plugin.requires);
									req.query();
									req;
								</g2:evaluate>
								<j2:if test="$[req.hasNext()]">
									<br />
									<b>$[gs.getMessage('Plugin dependency status')]</b>
									<br />
									<j2:while test="$[req.next()]">
										<j2:if test="$[req.active == 'active']">
											<a href="v_plugin.do?sys_id=$[req.sys_id]" target="_blank">
												$[req.name] (${gs.getMessage('currently installed')})
											</a>
										</j2:if>
										<j2:if test="$[req.active != 'active']">
											<a href="v_plugin.do?sys_id=$[req.sys_id]" style="color:tomato"	target="_blank">
												$[req.name] (${gs.getMessage('will be activated')})
											</a>
										</j2:if>
										<br />
									</j2:while>
								</j2:if>
							</j2:if>

							<g2:evaluate var="jvar_conditional_plugins">
								var gr_inactive_plugins = GlidePluginManager.getUninstalledConditionalPlugins(plugin.id);
								gr_inactive_plugins.query();
								gr_inactive_plugins;
							</g2:evaluate>

							<j2:if test="$[gr_inactive_plugins.hasNext()]">
								<br />
								<br />
								<b>$[gs.getMessage('Some files will not be loaded because these plugins are inactive:')]</b>
								<br />
								<j2:while test="$[gr_inactive_plugins.next()]">
									<a onmouseover="popListDiv(event, 'v_plugin', '$[gr_inactive_plugins.sys_id]','')"
												onmouseout="lockPopup(event)" href="v_plugin.do?sys_id=$[gr_inactive_plugins.sys_id]" style="color:tomato"
												target="_blank">$[gr_inactive_plugins.name]</a>
									<br />
								</j2:while>
							</j2:if>

							<j2:if test="$[plugin.help != '']">
								<div style="margin-top: 10px;">
									<a class="web" href="$[plugin.help]" target="_new">Learn more</a>
								</div>
							</j2:if>
							<g2:evaluate var="jvar_show_activate_button">
							   plugin.active == 'active' || gs.getXMLText(plugin.definition, "//no_activate") != "true";
							</g2:evaluate>
							<j2:if test="$[jvar_show_activate_button]">
							   <j2:if test="$[plugin.has_demo_data == true]">
								<div style="margin-top: 10px;">
                                                                   <label>
									<g2:ui_checkbox id="load_demo" name="load_demo"	value="false" />
									${gs.getMessage('Load demo data')}
                                                                   </label>
								</div>
							   </j2:if>
							</j2:if>
						</span>
					</td>
				</tr>
				<tr>
					<td nowrap="true" height="30px" width="100%" style="vertical-align:bottom;">
						<div align="right">
							<g:macro ok="onSubmit()"
								cancel="onCancel()"
								ok_id="ok_button" cancel_id="cancel_button" ok_type="button"
								cancel_type="button" />
							<g:dialog_button id="${jvar_cancel_id}" type="${jvar_cancel_type}" style_class="btn btn-default"
								onclick="${jvar_cancel}">${gs.getMessage('Cancel')}</g:dialog_button>$[SP]
							<j2:if test="$[jvar_show_activate_button]">
								<g:dialog_button id="${jvar_ok_id}" type="${jvar_ok_type}" style_class="btn btn-primary"
								onclick="${jvar_ok}">$[jvar_action]</g:dialog_button>$[SP]
							</j2:if>
						</div>
					</td>
				</tr>
			</table>
		</j2:if>
	</g:ui_form>
</j2:if>
</j:jelly>