<g:ui_form>
<input type="hidden" name="prequest" value="${RP.getWindowProperties().get('prequest')}" />
<table width="100%">

	<tr id="itemrow" >
		<td>
<div class="form-group form-horizontal">
	<div class="col-md-4 text-right">
		<g:form_label>
			${gs.getMessage('catalog_item')}
		</g:form_label>
	</div>
	<div class="col-md-8">
		<g:ui_reference name="item_ref_field" query="sys_class_nameNOT IN$[gs.getProperty('glide.sc.item.cannot_add_to_request')]" table="sc_cat_item"  />
	</div>
</div>			
		</td>

	</tr>

	<tr style="height: 4px"><td></td></tr>
	<tr id="quantityrow">
		<td>
<div class="form-group form-horizontal">
	<div class="col-md-4 text-right">
		<g:form_label>
			${gs.getMessage('catalog_quantity')}
		</g:form_label>
	</div>
	<div class="col-md-8">
		<g:ui_choicelist class="form-control" name="myquantity" table="sc_cart_item" field="quantity" />
	</div>
</div>		
		</td>
	</tr>

	<tr id ="poll_img" style="display:none" border="1">
		<td colspan="2"  align="center" width="300px">
                       
			<img src="./images/ajax-loader.gifx" alt="${gs.getMessage('Please Wait')}" />
                        <p id="poll_text" style="font-weight:bold;">
				${gs.getMessage('Please Wait')}
			</p>
                        	                
                       
		</td>
	</tr>
        <tr><td colspan="2"><br /></td></tr>
        <tr id="dialogbuttons"><td colspan="2" align="right">
                <g:dialog_buttons_ok_cancel ok="return validateNewItem()" />
            </td>
        </tr>
</table>
</g:ui_form>