<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<j:if test="${GlideMobileExtensions.getDeviceType() != 'doctype'}">
		<g:requires name="scripts/lib/jquery_includes.js" inline="true" />
	</j:if>
    <g2:evaluate var="jvar_rows" object="true" jelly="true">
 		var title = gs.getMessage('My Assessments and Surveys');
		var none = 'You have no assessments or surveys to take';
		var sanitized_sysparm_none = SNC.GlideHTMLSanitizer.sanitize(jelly.sysparm_none);
		var sanitized_sysparm_title = SNC.GlideHTMLSanitizer.sanitize(jelly.sysparm_title);
		var sanitized_sysparm_query = jelly.sysparm_query;
		var sanitized_sysparm_show = SNC.GlideHTMLSanitizer.sanitize(jelly.sysparm_show);
        if (sanitized_sysparm_none $[AMP]$[AMP] sanitized_sysparm_none!="undefined")
            none = sanitized_sysparm_none;
       	if (sanitized_sysparm_title $[AMP]$[AMP] sanitized_sysparm_title!="undefined")
            title = sanitized_sysparm_title;
        // Query twice, once for items to take, once for items that they can yet modify
        var i = 0;
        var position = 0;
        var dividers = '';
        var section = new Array("","","");
        var dataArr = new Array();
        var background = "";
        //if (gs.getProperty("glide.ui.doctype") + '' == 'true')
        //    var background = "background: #FCFCFC;";
        for (var loopCounter = 0; loopCounter != 2; ++loopCounter) {
	       var gr = new GlideRecord("asmt_assessment_instance");
	       gr.initialize();
	        gr.addQuery("metric_type.active", true);
	        gr.addQuery("metric_type.publish_state", "published");
	        gr.addQuery("preview", false);
	        gr.addQuery("metric_type.evaluation_method", "!=", "attestation_v2");
	        gr.addQuery("metric_type.evaluation_method", "!=", "risk_assessment");

	        if (loopCounter == 0)
		        gr.addEncodedQuery("stateINready,wip");
	        else {
		        gr.addQuery("state", "complete");
		        gr.addQuery("metric_type.allow_retake", "true");
		        gr.addQuery("due_date", ">=", gs.now());
	        }
	        if (sanitized_sysparm_show != "all")
	            gr.addQuery("user", "javascript:gs.getUserID()");
	        if (sanitized_sysparm_query)
	            gr.addEncodedQuery(sanitized_sysparm_query);
	        gr.orderByDesc('state');
	        gr.orderBy('due_date');
	        gr.orderBy('sys_created_on');
	        gr.query();
	        if (gr.getRowCount() == 0)
	        	if (loopCounter == 0)
	        		continue;

			if (i == 0) {
		        if (gr.getRowCount() == 0)
		            section[0] = '<div style="padding: 0 15px;"><h2>' + gs.getMessage(none) + '</h2></div>';
		        else {
		            section[0] = '<div class='container-fluid'><div class='row'><div class="col-sm-6 col-lg-4 col-xs-12 col-md-4">';
		            section[1] = '<div class='col-sm-6 col-lg-4 col-xs-12 col-md-4'>';
		            section[2] = '<div class='col-sm-6 col-lg-4 col-xs-12 col-md-4'>';
		        }
	        }

	        while (gr.next()) {
	            var record = {};
			    var mt = new GlideRecord("asmt_metric_type");
			    mt.get(gr.metric_type);
			    var user = new GlideRecord("sys_user");
			    user.get(gr.user);

				record.inst_id = gr.sys_id.toString();
	            record.mt_id = mt.sys_id.toString();
	            record.mt_name = mt.name.toString();
	            record.user_name = user.name.toString();
	            record.inst_user = gr.user.toString();
	            record.inst_state = gr.state.getDisplayValueExt().toString();
	            record.inst_due_date = gr.due_date.toString();
	            record.inst_description = mt.description.toString();
	            record.mt_evaluation_method_display = mt.evaluation_method.getDisplayValueExt().toString();
	            record.mt_evaluation_method = mt.evaluation_method.toString();
	            record.inst_preview = gr.preview.toString();
				record.inst_trigger_table = "";
				record.inst_trigger_id = "";

				if(gr.trigger_table){
					var tr = new GlideRecord(gr.trigger_table);
					if(tr.get(gr.trigger_id)){
						record.inst_trigger_table = tr.getClassDisplayValue();
						record.inst_trigger_id = tr.getDisplayValue();
					}
				}

	            var due = new GlideDateTime(gr.due_date);
	            var now = new GlideDateTime();

	            if (due.compareTo(now) == -1)
					record.inst_color = "red";
	            else
					record.inst_color = "green";

	            section[position] += '<div id="' + record.inst_id + '" style="width: 100%; padding: 5px 5px;"/>'
	            dataArr.push(record);

	            i++;

	            if (position==2)
	                position = 0;
	            else
	                position++;
	        }
        }
		dataArr = new JSON().encode(dataArr);
		section[0] += "</div>";
		section[1] += "</div>";
		section[2] += "</div></div></div>";

        dividers = section[0] + section[1] + section[2];

        if (gs.hasRole('assessment_admin')) {
            dividers += '<p></p><table class="related_links_container" style="padding: 0 5px; ' + background + '">';
            dividers += '<tbody>';
            dividers += '<tr>';
            dividers += '<td class="related_links">Related Links</td>';
            dividers += '</tr>';
            dividers += '<tr>';
            if (sanitized_sysparm_show != "all")
                dividers += '<td><a id="showall" tabindex="0" onclick="showAll()" class="navigation_link action_context">${JS,SAFE:gs.getMessage("Show all")}</a></td>';
            else
                dividers += '<td><a id="showall" tabindex="0" onclick="showMine()" class="navigation_link action_context">${JS,SAFE:gs.getMessage("Show assigned to me")}</a></td>';
            dividers += '</tr>';
            dividers += '</tbody>';
		dividers += '</table>';
        }
    </g2:evaluate>
	<input type="hidden" id="rows" name="rows" value="$[dataArr]" />
    <div style="text-align: center; width: 100%"><h4 style="margin: 2px auto">$[title]</h4></div>
    <g2:no_escape>
        $[dividers]
    </g2:no_escape>
	<script>
		document.title = "$[title]";
	</script>
</j:jelly>