<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <div class="scorecard">
	<j:set var="jvar_base" value="${sysparm_base}" />
        <g2:inline template="asmt_banner_table.xml" record="${sysparm_record_sysid}" table="${sysparm_assessable_table}" view="default" display="${sysparm_display}"/>
        <g2:inline template="asmt_scorecard.xml" record="${sysparm_record_sysid}" table="${sysparm_assessable_table}" metric_type="${sysparm_metric_type}" group_id="${sysparm_group}" title="${sysparm_title}" redirect_matrix="${sysparm_redirect_matrix}"  base="${sysparm_base}" uipage="true" />
    </div>
	<script>
		document.title = "${JS,SAFE:sysparm_title}";
	</script>
</j:jelly>