<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <div class="scorecard">
        <g2:inline template="asmt_decision_matrix.xml" matrix="${sysparm_matrix_sysid}" ui_page="${sysparm_ui_page}" record="${sysparm_record}" type="${sysparm_type}" boxsize="375" base_table="${sysparm_base_table}" uipage="true" />
    </div>
	<script>
		document.title = "${gs.getMessage('Assessment Decision Matrix')}";
	</script>
</j:jelly>