<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g:evaluate>
		var testSysId = RP.getWindowProperties().get('test_sys_id');
		var testSuiteSysId = RP.getWindowProperties().get('test_suite_sys_id');
		var runButtonText = "Run Test";
		var headerMessage = "The test you have selected includes client-side steps. Please choose a browser to run this test.";
		if (testSuiteSysId) {
			runButtonText = "Run Test Suite";
			headerMessage = "The test suite you have selected includes client-side tests. Please choose a browser to run these tests.";
		}

		var newBrowserId = gs.generateGUID(this);

		// Check if there are any UI steps in the test
		var need_browser = false;
		if (testSysId)
			need_browser = sn_atf.AutomatedTestingFramework.doesTestHaveUISteps(testSysId);

		// Check if there are any UI steps in the test suite
		if (testSuiteSysId)
			need_browser = sn_atf.AutomatedTestingFramework.doesSuiteHaveUITests(testSuiteSysId);

		var sessionId = new GlideChecksum(gs.getSessionID()).getMD5();
	</g:evaluate>
	<g2:requires name="scripts/heisenberg/heisenberg_all.js" includes="true"/>
	<g2:requires name="styles/heisenberg/heisenberg_all.css" includes="true"/>
	<g:requires name="styles/atfPickABrowser.css" includes="true" />
	<g2:requires name="scripts/PickABrowser/PickABrowserUtil.js" includes="true"/>
	<script>
		if (!$[need_browser]) {
			GlideModal.get().destroy();
			if ("$[testSysId]" != "")
				(new PickABrowserUtil()).runUserTest("$[testSysId]");
			else if ("$[testSuiteSysId]" != "")
				(new PickABrowserUtil()).runTestSuite("$[testSuiteSysId]");
		}
	</script>
	<g2:evaluate jelly="true">
		// Display an entry for each test runner opened by this user and is currently online
		// This is used in the j2 tag below to render the html

		// These test runners are displayed with "current session"
		var existingRunner = new GlideRecord("sys_atf_agent");
		existingRunner.addQuery("user", gs.getUserID());
		existingRunner.addQuery("status", "online");
		existingRunner.addQuery("session_id", sessionId);
		existingRunner.addQuery("type", "manual");
		existingRunner.orderBy("browser_name");
		existingRunner.query();

		// These test runners are displayed without "current session"
		var otherSessionRunner = new GlideRecord("sys_atf_agent");
		otherSessionRunner.addQuery("user", gs.getUserID());
		otherSessionRunner.addQuery("status", "online");
		otherSessionRunner.addQuery("session_id", "!=", sessionId);
		otherSessionRunner.addQuery("type", "manual");
		otherSessionRunner.orderBy("browser_name");
		otherSessionRunner.query();
	</g2:evaluate>
	<j2:set var="jvar_checked" value="true"/>
	<j2:if test="$[need_browser]">
		<div>
			<div class="headerMessage">
				${gs.getMessage(headerMessage)}
				${gs.getMessage("To manage your test runners, click")}$[SP]<a href="/nav_to.do?uri=sys_atf_agent_list.do?sysparm_query=user=${gs.getUserID()}" target="_blank" title="${gs.getMessage('Test Runners')}" aria-label="${gs.getMessage('Test Runners')}">${gs.getMessage("here")}</a>.
			</div>
			<table class="testRunnerTable">
				<j2:if test="$[existingRunner.getRowCount() == 0]">
					<tr>
						<td class="testRunnerCell">
							<div class="input-group-radio">
								<input id="${newBrowserId}" class="radio" type="radio" name="pickABrowser" value="newBrowser" checked="true" aria-label="${gs.getMessage('Start a new test runner')}" sessionId="${sessionId}"></input>
								<label for="${newBrowserId}" class="radio-label testRunnerRadioLabel">
									<div>${gs.getMessage('Start a new test runner')}<br/><span class="testRunnerSubText">$[SP]</span></div>
								</label>
							</div>
						</td>
					</tr>
					<j2:set var="jvar_checked" value="false"/>
				</j2:if>
				<j2:while test="$[existingRunner.next()]">
					<g2:evaluate jelly="true">
						var browserDisplayString = gs.getMessage('atfPickABrowser_{0} ({1} {2}) ({3})', [existingRunner.browser_version, existingRunner.os_name, existingRunner.os_version, gs.getMessage('Current session')]);
					</g2:evaluate>
					<g2:evaluate jelly="true">
						var browserInfoVoiceOver = gs.getMessage('{0} {1} running on {2} {3}, in your current session', [existingRunner.browser_name, existingRunner.browser_version, existingRunner.os_name, existingRunner.os_version]);
					</g2:evaluate>
					<g2:set_if test="$[existingRunner.browser_name == '' || existingRunner.browser_version == '' || existingRunner.os_name == '' || existingRunner.os_version == '']"
							   var="jvar_user_agent_voiceover" true="$[existingRunner.user_agent]" false="$[browserInfoVoiceOver]"/>
					<!-- Render tooltip only when the browser cannot be fully identified -->
					<g2:set_if test="$[existingRunner.browser_name == '' || existingRunner.browser_version == '' || existingRunner.os_name == '' || existingRunner.os_version == '']"
							   var="jvar_user_agent_tooltip" true="$[existingRunner.user_agent]" false=""/>
					<tr class="$[existingRunner.sys_id]">
						<td class="testRunnerCell">
							<div class="input-group-radio" title="$[jvar_user_agent_tooltip]">
								<j2:choose>
									<j2:when test="$[jvar_checked]">
										<input id="$[existingRunner.sys_id]" class="radio" type="radio" name="pickABrowser" value="$[existingRunner.sys_id]" checked="true" aria-label="$[jvar_user_agent_voiceover]" sessionId="$[existingRunner.session_id]"></input>
										<j2:set var="jvar_checked" value="false"/>
									</j2:when>
									<j2:otherwise>
										<input id="$[existingRunner.sys_id]" class="radio" type="radio" name="pickABrowser" value="$[existingRunner.sys_id]" aria-label="$[jvar_user_agent_voiceover]" sessionId="$[existingRunner.session_id]"></input>
									</j2:otherwise>
								</j2:choose>
								<label for="$[existingRunner.sys_id]" class="radio-label testRunnerRadioLabel">
									<div>$[existingRunner.browser_name]<br/><span class="testRunnerSubText">$[browserDisplayString]</span></div>
								</label>
							</div>
						</td>
					</tr>
					<span class="sr-only">$[jvar_user_agent_tooltip]</span>
				</j2:while>
				<j2:while test="$[otherSessionRunner.next()]">
					<g2:evaluate jelly="true">
						var browserDisplayString = gs.getMessage('atfPickABrowser_{0} ({1} {2})', [otherSessionRunner.browser_version, otherSessionRunner.os_name, otherSessionRunner.os_version]);
					</g2:evaluate>
					<g2:evaluate jelly="true">
						var browserInfoVoiceOver = gs.getMessage('{0} {1} running on {2} {3}', [otherSessionRunner.browser_name, otherSessionRunner.browser_version, otherSessionRunner.os_name, otherSessionRunner.os_version]);
					</g2:evaluate>
					<g2:set_if test="$[sessionId == otherSessionRunner.session_id]" var="jvar_this_session" true="($[gs.getMessage('Current session')])" false=""/>
					<g2:set_if test="$[otherSessionRunner.browser_name == '' || otherSessionRunner.browser_version == '' || otherSessionRunner.os_name == '' || otherSessionRunner.os_version == '']"
							   var="jvar_user_agent_voiceover" true="$[otherSessionRunner.user_agent]" false="$[browserInfoVoiceOver]"/>
					<!-- Render tooltip only when the browser cannot be fully determined -->
					<g2:set_if test="$[otherSessionRunner.browser_name == '' || otherSessionRunner.browser_version == '' || otherSessionRunner.os_name == '' || otherSessionRunner.os_version == '']"
							   var="jvar_user_agent_tooltip" true="$[otherSessionRunner.user_agent]" false=""/>
					<tr class="$[otherSessionRunner.sys_id]">
						<td class="testRunnerCell">
							<div class="input-group-radio" title="$[jvar_user_agent_tooltip]">
								<input id="$[otherSessionRunner.sys_id]" class="radio" type="radio" name="pickABrowser" value="$[otherSessionRunner.sys_id]" aria-label="$[jvar_user_agent_voiceover]" sessionId="$[otherSessionRunner.session_id]"></input>
								<label for="$[otherSessionRunner.sys_id]" class="radio-label testRunnerRadioLabel">
									<div>$[otherSessionRunner.browser_name]<br/><span class="testRunnerSubText">$[browserDisplayString]</span></div>
								</label>
							</div>
						</td>
					</tr>
					<span class="sr-only">$[jvar_user_agent_tooltip]</span>
				</j2:while>
			</table>

			<footer align="right" class="modal-footer" style="padding: 0;">
				<button class="btn btn-default" onClick="GlideModal.get().destroy()"> ${gs.getMessage('Cancel')}</button>
				<button class="btn btn-primary" id="run_button" onClick="pickABrowserUtil.runTest('$[testSysId]', '$[testSuiteSysId]', GlideModal.get())">
					${gs.getMessage(runButtonText)}
				</button>
			</footer>
		</div>
	</j2:if>
</j:jelly>