<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <g2:evaluate var="jvar_compatible">
        <!-- Block tablets and UI11 or any browsers that are force-rendered in UI11 -->
        GlideMobileExtensions.getDeviceType() == 'doctype';
    </g2:evaluate>
	<g2:evaluate var="jvar_is_impersonating" expression="(new GlideImpersonate()).isImpersonating()"/>
	<j2:choose>
		<j2:when test="$[jvar_is_impersonating]">
			<div class="notification notification-warning">
				${gs.getMessage("Running tests and test suites is disabled while impersonating another user. Login as the user who needs to run the tests.")}
			</div>
		</j2:when>
		<j2:otherwise>
			<g2:evaluate var="jvar_sys_atf_runner_enabled" expression="sn_atf.AutomatedTestingFramework.isRunnerEnabled()"/>
			<!-- show warning if the runner property is not enabled -->
			<j2:if test="$[!jvar_sys_atf_runner_enabled]">
				<div id="test_runner_disabled_warning" style="width:100%; height: 100%;" class="container">
					<div class="row notification notification-warning">
						<j2:if test="${JS:gs.getUser().hasRole('atf_test_admin') || gs.getUser().hasRole('admin')}">
							${gs.getMessage("Running tests and test suites is disabled. Click")}&#160;<a href="system_properties_ui.do?sysparm_title=Automated%20Testing%20Framework%20Properties&amp;sysparm_category=Test%20and%20Test%20Suite%20Properties,Test%20Debugging%20Properties,Screenshots%20Capture%20Mode,Test%20Runner%20Properties,Test%20Suite%20Report%20Properties,Email%20Properties">${gs.getMessage('here')}</a>&#160;${gs.getMessage("to enable it")}
						</j2:if>
						<j2:if test="${!gs.getUser().hasRole('atf_test_admin') &amp;&amp; !gs.getUser().hasRole('admin')}">
							${gs.getMessage("Running tests and test suites is disabled. Only users with atf_test_admin or admin role can enable it")}
						</j2:if>
					</div>
				</div>
			</j2:if>
			<j2:if test="$[jvar_compatible == 'true' &amp;&amp; jvar_sys_atf_runner_enabled]">
				<g2:evaluate var="jvar_sys_atf_debug_enabled" expression="sn_atf.AutomatedTestingFramework.isDebugEnabled()"/>
				<g2:evaluate var="jvar_sys_atf_screenshots_mode" expression="sn_atf.AutomatedTestingFramework.getScreenshotsMode()"/>
				<g2:evaluate var="jvar_sys_atf_testframe_width" expression="gs.getProperty('sn_atf.atf_test_runner.testframe.min_width', '800px')"/>
				<g2:evaluate var="jvar_sys_atf_testframe_height" expression="gs.getProperty('sn_atf.atf_test_runner.testframe.min_height', '600px')"/>
				<g2:evaluate var="jvar_sys_atf_runner_heartbeat_interval_seconds" expression="sn_atf.AutomatedTestingFramework.getTestRunnerHeartbeatIntervalSeconds()"/>
				<g2:evaluate var="jvar_sys_atf_runner_find_test_interval_seconds" expression="sn_atf.AutomatedTestingFramework.getTestRunnerFindTestIntervalSeconds()"/>
				<g2:evaluate var="jvar_sys_atf_step_delay" expression="gs.getProperty('sn_atf.atf_test_runner.step_delay', '10')"/>
				<g2:evaluate var="jvar_logged_in_user_display_name" expression="gs.getUser().getDisplayName()"/>
				<g2:evaluate var="jvar_ua" expression="gs.getSession().getProperty('user-agent')" />
				<g2:evaluate var="jvar_lock_down_screenshotmodes" expression="sn_atf.ATFBrowserCompatibility.canLockUpComboBoxesWithIFrames()"/>
				<g2:evaluate var="jvar_screenshots_compatible" jelly="true">
					var userAgent = "$[jvar_ua]";
					var isIE9 = (userAgent.indexOf('MSIE 9.0') > 0);
					var compatible = !isIE9;
					compatible;
				</g2:evaluate>
				<g2:evaluate var="jvar_sys_atf_screenshots_quality" jelly="true">
		    		var quality = sn_atf.AutomatedTestingFramework.getScreenshotsQuality();
					if (quality ${AMP}lt; 0 || quality ${AMP}gt; 100) {
						quality = 25;
						gs.log("Invalid screenshots quality as it is outside the range of 0-100. Screenshots quality set to default value: 25");
					}
					else {
						gs.log("Screenshots quality value set to " + quality);
					}
					quality;
				</g2:evaluate>
				<g2:evaluate var="jvar_is_schedule_plugin_active" expression="GlidePluginManager.isActive('com.glide.automated_testing_impl.schedule')"/>
				<g2:evaluate var="jvar_run_scheduled_tests_only" jelly="true">
					var runScheduledTestsOnly = false;
					if (jelly.sysparm_scheduled_tests_only == "true")
						runScheduledTestsOnly = true;

					runScheduledTestsOnly;
				</g2:evaluate>
				<!-- The session id will not change every time test runner is refreshed. It is the md5 of the glide session Id -->
				<g2:evaluate var="jvar_test_runner_session_id" expression="new GlideChecksum(gs.getSessionID()).getMD5()"/>
				<!-- Generate a new guid to use as the sys_id of the test runner record -->
				<g2:evaluate var="jvar_test_runner_id" expression="gs.generateGUID(this)"/>
				<script>
					// sys_properties: sn_atf.debug - debug flag
					var sys_atf_debug_enabled = $[jvar_sys_atf_debug_enabled];

					// sys_properties: sn_atf.screenshots.mode - screenshots enable/disable
					var sys_atf_screenshots_mode = "$[jvar_sys_atf_screenshots_mode]";

					// sys_properties: sn_atf.screenshots.quality
					var sys_atf_screenshots_quality = $[jvar_sys_atf_screenshots_quality];

					// sys_properties: sn_atf.atf_test_runner.step_delay - how long to delay between step executions
					var sys_atf_step_delay = $[jvar_sys_atf_step_delay];

					// sys_atf_agent is populated by the atf_pick_a_browser UI page
					var atf_agent_sys_id = "$[RP.getParameterValue('sys_atf_agent')]";
					if (!atf_agent_sys_id) {
						// if not, set it to the newly generated guid
						atf_agent_sys_id = "$[jvar_test_runner_id]";
					}
					var atf_runner_heartbeat_interval_seconds = $[jvar_sys_atf_runner_heartbeat_interval_seconds];
					var atf_runner_find_test_interval_seconds = $[jvar_sys_atf_runner_find_test_interval_seconds];
					var lock_screenshot_modes_while_running_test = $[jvar_lock_down_screenshotmodes];

					var is_schedule_plugin_active = $[jvar_is_schedule_plugin_active];
					var run_scheduled_tests_only = $[jvar_run_scheduled_tests_only];

					// set the message_reference to test runner session id so that the test runner will register for
					// record watcher using this session_id
					var sys_atf_message_reference = "$[jvar_test_runner_session_id]";
				</script>
				<g2:requires name="scripts/angular_includes_1.4.js" includes="true"/>
				<g2:requires name="scripts/heisenberg/heisenberg_all.js" includes="true"/>
				<g2:requires name="scripts/sn/common/util/js_includes_util.js" includes="true"/>
				<g:requires name="scripts/js_includes_snTestRunner.js" includes="true" />
				<g:requires name="styles/css_includes_snTestRunner.css" includes="true" />
				<j2:if test="$[!jvar_screenshots_compatible]">
					<g:requires name="styles/snTestRunnerWithoutFlex.css" includes="true" />
				</j2:if>
				<g:inline template="amb_common.xml" />
				<g:inline template="amb_recordwatcher_common.xml" />
				<g:inline template="angular_template.xml" name="sn_notification.xml"/>
				<style>
					.atf-testframe-min-width {
						min-width: $[jvar_sys_atf_testframe_width];
					}
					.atf-testframe-min-height {
						min-height: $[jvar_sys_atf_testframe_height];
					}
				</style>
				<!-- Header area -->
				<div ng-app="sn.testRunner" ng-controller="TestRunner as testRunner">
					<nav class="navbar navbar-default section_zero" style="padding-top: 0px; padding-bottom: 0px;">
						<div class="container-fluid" style="padding-right: 0; padding-left: 0">
							<div class="navbar-header" style="padding: 6px 5px;">
								<button title="${gs.getMessage('Back')}" class="btn btn-default icon-chevron-left navbar-btn" onclick="window.history.back();">
									<span class="sr-only">${gs.getMessage('Back')}</span>
								</button>
								<h2 class="form_header navbar-title navbar-title-twoline">
									<div>${gs.getMessage('Client Test Runner')}</div>
								</h2>
							</div>
							<j2:if test="$[jvar_screenshots_compatible]">
								<div class="navbar-right">
									<div class="sn-navhub-content sn-navhub-content_static sn-navhub-content sn-navhub-content_justify-right;" style="margin: auto; width:56px; height:44px; float:right;">
										<div tabindex="0" type="button" id="configureRunnerPreference"  title="${gs.getMessage('Runner Preferences')}"  class="btn btn-icon icon-configuration sn-navhub-btn" aria-label="${gs.getMessage('Runner Preferences')}" ng-class="{'state-active': testRunner.showPreferences}" ng-click="testRunner.togglePreferences()" />
									</div>
								</div>
							</j2:if>
						</div>
					</nav>
					<!-- warn Firefox and IE/Edge users of memory management issues -->
					<g2:evaluate>
						var ua = "$[jvar_ua]";
						var firefoxVersion = 0;
						var isFirefoxOlderVersion = false;
						if (ua.indexOf("Firefox/") != -1) {
						var versionStart = ua.indexOf("Firefox/") + 8;
						firefoxVersion = ua.substring(versionStart, versionStart + 2);
						if (40 &gt; firefoxVersion)
						isFirefoxOlderVersion = true;
						}
						isFirefoxOlderVersion;
					</g2:evaluate>
					<j2:set var="jvar_isFireFoxOlderVersion" value="$[isFirefoxOlderVersion]" />
					<!-- Test runner content -->
					<div id="test_runner_container" class="sn-atf-content-container">
						<div class="sn-atf-content" style="display:inline-block">
							<div class="atf-notification">
								<div id="pinnedToScheduleNotification" class="notification notification-info" style="display: none;" aria-live="polite">
									${gs.getMessage('This test runner is configured to only run scheduled tests and suites. It is not available to execute any tests or suites that are started manually.')}
								</div>
							</div>
							<j2:if test="$[!empty(jvar_ua)]">
								<j2:if test="$[(jvar_isFireFoxOlderVersion == 'true') || (jvar_ua.indexOf('MSIE') > -1) || (jvar_ua.indexOf('Edge') > -1)]">
									<div class="atf-notification">
										<div class="notification notification-warning">
											${gs.getMessage("Limitations of memory management in Internet Explorer, Edge, and older versions of Firefox make it necessary to occasionally close and restart the browser. How often you need to do that depends on the browser application's memory allocation.")}
										</div>
									</div>
								</j2:if>
							</j2:if>
							<div class="atf-notification">
								<div class="notification notification-warning">
									${gs.getMessage('Performing other activities while tests are being executed can result in those activities being performed by the currently executing user and could be rolled back.')}
								</div>
							</div>
							<div tabindex="0" id="batch_progress_main_section">
								<div class="atf-notification" style="margin-bottom: 5px;" role="alert">
									<div class="notification notification-error" style="margin-bottom: 15px; display:none" id="errorMessageDiv">
										<span ng-bind="testRunner.errorMessage"></span>
									</div>
								</div>
								<div class="row" style="margin: 0 0 15px 0;">
									<span style="font-size: 150%; font-weight: bold; margin-right: 5px;" ng-bind="testRunner.testHeaderMessage">
										${gs.getMessage('Waiting for a test to run')}
									</span>
									<i class="icon-loading" ng-show="testRunner.showLoadingIcon"></i>
									<div class="pull-right">
										<table class="atf_test_runner_status_table" ng-cloak="">
											<!-- AMB connection status indicator -->
											<tr aria-live="polite" aria-atomic="true">
												<td class="atf_test_runner_status_label">${gs.getMessage('Your connection status is')}</td>
												<td>[</td>
												<td class="atf_test_runner_status_data" ng-bind="testRunner.amb_connection.status"
													ng-class="{'atf_test_runner_status_connection_error' : !testRunner.amb_connection.connected}"/>
												<td>]</td>
											</tr>
											<!-- Impersonating user indicator -->
											<tr aria-live="polite" aria-atomic="true">
												<td class="atf_test_runner_status_label">${gs.getMessage('Currently executing as')}</td>
												<td>[</td>
												<td class="atf_test_runner_status_data"
													ng-bind="!testRunner.currentUser.user_display_name || testRunner.currentUser.user_display_name == ''? testRunner.currentUser.user_name : testRunner.currentUser.user_display_name"/>
												<td>]</td>
											</tr>
											<!-- UI Batches executed count -->
											<tr aria-live="polite" aria-atomic="true">
												<td class="atf_test_runner_status_label">${gs.getMessage('UI Batches Executed')}</td>
												<td>[</td>
												<td id="atf-batch-exec" class="atf_test_runner_status_data"
													ng-bind="testRunner.testExecutionCount"/>
												<td>]</td>
											</tr>
										</table>
									</div>
								</div>
								<div class="row" style="margin: 0 0 15px 0;">
									<div class="progress">
										<div class="progress-bar" ng-class="{'progress-bar-danger' : testRunner.unimpersonationFailed}"
											 tabindex="0" role="progressbar" aria-valuemin="0" aria-valuemax="100"
											 style="min-width: 0px;" ng-style="{'width': testRunner.batchPercentComplete + '%'}" aria-live="assertive" aria-valuetext="${gs.getMessage('{0}% complete', '{{testRunner.batchPercentComplete}}')}"></div>
									</div>
									<div style="text-align: left; margin-top: 0.5em; margin-bottom: 0.5em; min-height:20px;" aria-live="polite">
										<span style="width: 100%;" ng-bind="testRunner.testStepStatusMessage"></span>
									</div>
								</div>
							</div>
							<!-- Show tabs when the debugger is enabled. -->
							<j2:if test="$[jvar_sys_atf_debug_enabled]">
								<div class="row" style="margin: 0 0 15px 0;">
									<ul role="tablist" class="nav nav-tabs sn-tabs-basic" style="border-bottom-color: #bdc0c4;">
										<li role="presentation" class="active">
											<a id="tabexecutionlabel" aria-controls="tab1" tabindex="0" role="tab" class="active"
											   data-toggle="tab" aria-selected="true" href="#tabexecution">${gs.getMessage('Execution Frame')}
											</a>
										</li>
										<li role="presentation">
											<a id="tabedebuglabel" aria-controls="tab1" tabindex="0" role="tab" class="active"
											   data-toggle="tab" aria-selected="true" href="#tabdebug">${gs.getMessage('Debug Info')}
											</a>
										</li>
									</ul>
								</div>
								<div class="row" style="height: 100%; margin: -15px 0 0 0; word-wrap: break-word;">
									<div class="atf-lanes" style="border-left: solid 1px #bdc0c4; border-bottom: solid 1px #bdc0c4; border-right: solid 1px #bdc0c4;">
										<div class="atf-lane-content">
											<div class="tab-content" style="height: 100%;">
												<div id="tabexecution" aria-hidden="false" role="tabpanel"
													 class="tab-pane active atf-testframe-min-width atf-testframe-min-height"
													 aria-labelledby="tabexecutionlabel" style="height: 100%; width: 100%; border: none;">
													<iframe id="testFrame" src="" width="100%" height="100%" style="display: block;"
															ng-load="testRunner._doWhenFrameLoaded()"></iframe>
												</div>
												<div id="tabdebug" aria-hidden="true" role="tabpanel" class="tab-pane"
													 aria-labelledby="tabdebuglabel" style="border: none;">
													<div style="clear:both;" id="broadcast">
														<span id="amb_channel_name" class="text" style="color: blue"
															  ng-bind="testRunner.AMBChannelName"></span>
													</div>
													<div style="clear:both;">
														<span id="amb_config_channel_name" class="text" style="color: blue"
															  ng-bind="testRunner.AMBStepConfigChannelName"></span>
													</div>
													<div style="clear:both;">
														<span id="amb_atf_agent_channel_name" class="text" style="color: blue"
															ng-bind="testRunner.AMBATFAgentChannelName"></span>
													</div>
													<div style="clear:both;">
														<h4>${gs.getMessage('DEBUG: Test Results')}</h4>
														<textarea id="testResults" style="width:100%;height:500px;"
																  ng-bind="testRunner.lastStepBatchResult"></textarea>
													</div>
													<div style="clear:both;">
														<h4>${gs.getMessage('DEBUG: Test Request Message')}</h4>
														<textarea id="testRequest" style="width:100%;height:500px;"
																  ng-bind="testRunner.AMBMessageDebug"></textarea>
													</div>
													<div style="clear:both;">
														<h4>${gs.getMessage('DEBUG: Step Config')}</h4>
														<textarea id="testRequestConfig" style="width:100%;height:500px;"
																  ng-bind="testRunner.AMBStepConfigMessageDebug"></textarea>
													</div>
													<div style="clear:both;">
														<h4>${gs.getMessage('DEBUG: Client Test Runner Status Messages')}</h4>
														<textarea id="ATFAgentMessage" style="width:100%;height:500px;"
															ng-bind="testRunner.AMBATFAgentMessageDebug"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</j2:if>
							<!-- Only show the executor frame when debugging is disabled -->
							<j2:if test="$[!jvar_sys_atf_debug_enabled]">
								<div class="row" style="height: 100%">
									<div class="atf-lanes">
										<div class="atf-lane-content">
											<div class="panel panel-default atf-testframe-min-width" style="height: 100%">
												<div class="panel-heading">
													<h3 class="panel-title">Execution Frame</h3>
												</div>
												<div id="tabexecution" class="panel-body atf-testframe-min-width atf-testframe-min-height"
													 style=" width: 100%; padding: 0px;">
													<iframe id="testFrame" src="" width="100%" height="100%" aria-label="${gs.getMessage('Execution Frame')}"
															ng-load="testRunner._doWhenFrameLoaded()"></iframe>
												</div>
											</div>
										</div>
									</div>
								</div>
							</j2:if>
						</div>
						<div role="dialog" id="preferencesTab" class="sn-aside sn-aside_right"
							 ng-class="{'atf-aside-closed': !testRunner.showPreferences}" style="margin: -5px -5px 0 0;">
							<div class="aside-dialog atf-preferences-div">
								<div class="aside-content atf-preferences-div">
									<div id="snAsideContent_1" class="atf-preferences-div">
										<div class="atf-preferences-div ng-scope">
											<div class="sn-aside-header">
												<span>${gs.getMessage('Runner Preferences')}</span>
												<div role="button" id="closePreferences" class="sn-aside-btn icon-cross"
												   ng-click="testRunner.hidePreferences()"
												   title="${gs.getMessage('Close')}" tabIndex="0">
													<span class="sr-only">${gs.getMessage('Close')}</span>
												</div>
											</div>
											<div class="sn-atf-aside-body-container ng-isolate-scope">
												<div class="sn-aside-body atf-aside-body">
													<div class="sn-aside-group-title">
														<span>${gs.getMessage('Screenshot preferences')}</span>
													</div>
													<ul class="sn-widget-list_v2 sn-widget-list_dense sn-widget-list_borderless"
														ng-show="true">
														<li class="state-disable-bg">
															<div class="sn-widget-list-content">
																<label for="screenshotOptions" class="sn-widget-list-title">
																	${gs.getMessage('Screenshots mode')}
																</label>
															</div>
															<div class="sn-widget-list-content sn-widget-list-content_static">
																<select name="screenshotOptions" class="form-control" id="screenshotOptions"
																		ng-model="testRunner.screenshotsModeManager.currentMode"
																		ng-options="mode.name for mode in testRunner.screenshotsModeManager.modes"
																		ng-change="testRunner.screenshotsModeChanged()"></select>
															</div>
														</li>
													</ul>
												</div>
											</div>
											<j2:if test="$[jvar_is_schedule_plugin_active]">
												<div class="sn-atf-aside-body-container ng-isolate-scope">
													<div class="sn-aside-body atf-aside-body">
														<div class="sn-aside-group-title">
															<span>${gs.getMessage('Scheduled test preferences')}</span>
														</div>
														<ul class="sn-widget-list_v2 sn-widget-list_dense sn-widget-list_borderless" ng-show="true">
															<li class="state-disable-bg">
																<div class="sn-widget-list-content">
																	<label for="runScheduledTestsOnlyMode" class="sn-widget-list-title">
																		${gs.getMessage('Run scheduled tests only')}
																	</label>
																</div>
																<div class="sn-widget-list-content sn-widget-list-content_static">
																	<div class="input-switch pull-right">
																		<input id="runScheduledTestsOnlyMode" type="checkbox" name="runScheduledTestsOnlyMode"
																		ng-model="testRunner.runScheduledTestsOnly"
																		ng-change="testRunner.toggleRunScheduledTestsOnly()"/>
																		<label aria-hidden="true" class="switch" for="runScheduledTestsOnlyMode"/>
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</j2:if>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</j2:if>
			<j2:if test="$[jvar_compatible == 'false']">
				<g2:evaluate>
					gs.addInfoMessage(gs.getMessage("You are using an unsupported browser version to access the test runner. You have been redirected to the Test list."));
				</g2:evaluate>
				<script>
					window.location.replace("/sys_atf_test_list.do");
				</script>
			</j2:if>
		</j2:otherwise>
	</j2:choose>
</j:jelly>