<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
<g:requires name="scripts/js_includes_catalog.js" includes="true"/>
<g:requires name="styles/${new CatalogCssSelector().getVariableCss()}" includes="true"/>
<g:requires name="styles/${new CatalogCssSelector().getCatalogCss()}" includes="false"/>
<g:inline template="sc_sanitize.xml"/>
<g:evaluate var="jvar_redirect_url" jelly="true">
    var jvar_redirect_url = SNC.PageFinder.getHomePage(jelly.sysparm_catalog, jelly.sysparm_catalog_view);
    jvar_redirect_url;
</g:evaluate>
<script>
top.location.href = "${jvar_redirect_url}.do";
</script>
</j:jelly>