<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <g:requires name="scripts/js_includes_catalog.js" includes="true"/>
  <g:requires name="styles/${new CatalogCssSelector().getVariableCss()}" includes="true"/>
  <g:requires name="styles/${new CatalogCssSelector().getCatalogCss()}" includes="false"/>
  <j:set var="jvar_is_catalog" value="${true}"/>
  <g:inline template="sc_sanitize.xml"/>
  <j2:set var="jvar_gridName" value="homepage_grid"/>
  <g2:evaluate jelly="true">
    var hu = new GlideappHome(jelly);
    var current_page = hu.getCurrentPage();
  </g2:evaluate>
  <style>
    TABLE {
      white-space: normal;
    }
  </style>
  <g:messages>
     Close
     Edit
     Collapse
  </g:messages>						
  <g:inline template="grid_header.xml"/>
  <g2:evaluate var="jvar_editable_grid" jelly="true">
    jelly.jvar_editable_grid $[AMP]$[AMP] gs.hasRole('catalog_admin') $[AMP]$[AMP] !GlideMobileExtensions.runningTablet();
  </g2:evaluate>
  <g2:evaluate var="jvar_editable_content">
    gs.hasRole('catalog_admin') $[AMP]$[AMP] !GlideMobileExtensions.runningTablet();
  </g2:evaluate>
  <g:inline template="catalogs_title_editor.xml" />
  <g2:call function="$[current_page.getLayout()]" name="$[jvar_gridName]"/>
  <g2:generate_grid id="$[current_page.getID()]" editable="$[jvar_editable_content]"/>
  <g:inline template="grid_script.xml"/>
  <g2:call function="grid_footer.xml" editable="$[jvar_editable_grid]" name="$[jvar_gridName]" view="$[sysparm_view]"/>
  <script>
    function addHomeContent() {
        var page_id = glideGrid.getProperty('sys_id');
        var title = "${gs.getMessage('Sections')}";
        var filter = "$[gs.getProperty('glide.sc.catalogs.home.filter')]";
        sectionDialog({ renderer: SECTIONS, title: title, filter: filter, page_id: page_id, pinned: true });
    }
  </script>
</j:jelly>