<g:include_script src="ChannelClient.jsdbx"/>

<table border="0" cellspacing="0" cellpadding="1" style="width: 100%; height: 100%">
<tr>
    <td style="height: 32px; width: 33%;"></td>
    <td align="center">Channel: #${sysparm_channel}</td>
    <td style="text-align: right; width: 33%;">
        <input id="auto_scroll" type="checkbox" checked="true" 
               onchange="gel('stream').setAttribute('autoscroll', this.checked);"/>
        <label for="auto_scroll">Auto scroll</label>
    </td>
</tr>
<tr style="height: 100%">
    <td colspan="3">
        <iframe id="stream" name="stream" autoscroll='true' channel="${sysparm_channel}"
                src="channel_stream.do" style="width: 100%; height: 100%; border: 1px solid #dddddd;"
                onload="setupStream(this)"/>
     </td>
</tr>
</table>