<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
<g:evaluate var="jvar_json"
    expression="RP.getWindowProperties().get('json_savings')" />
<input id="savingsData" type="hidden" value="${jvar_json}" />
<input id="clickedChartID" type="hidden" value="" />
<span id="ie7gallery" style="display: hidden">
</span>
<table id ='gallery'>
</table>
</j:jelly>