<?xml version="1.0" encoding="utf-8"?> 
<j:jelly trim="true" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null"> 

<div style="margin-left: 10px; margin-right: 10px; padding-left:10px; padding-right: 10px">
<br/>
<p>${gs.getMessage('Would you like to update this meeting or the meeting definition and all future related meetings?')}</p>  
<br/> 
<table border="0" width="100%">
    <tr>
    <td align="right">    
    	<g:dialog_buttons_ok_cancel ok="return onOK();" cancel="return onCancel();" ok_type="button" cancel_type="button" ok_text="${gs.getMessage('Update definition')}" cancel_text="${gs.getMessage('Update meeting')}"/>
    </td>
    </tr>
</table>
</div>


</j:jelly>