<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g:evaluate var="jvar_checklistId">
		var taskID = RP.getWindowProperties().get('record');
		var checklist = new GlideRecord("checklist");
		checklist.addQuery("document", taskID);
		checklist.query();
		checklist.next();
		checklist.getValue("sys_id");
	</g:evaluate>
	<g:ui_form>
		<div style="border-top: 1px solid #e5e5e5;">
			<br/>
			<table width="100%" cellpadding="10" cellspacing="10">
				 <tr id="description_row" valign="top">
					<td>
						Template Name<br/><input type="text" name="template_name" id="template_name" size="53"/>
						<input type="hidden" id="checklist_id" name="checklist_id" value="${jvar_checklistId}"/>
					 </td>
				 </tr>
				 <tr id="template_dialog_buttons">
					<td align="right">
						<button class="btn-default btn" style="margin-right:5px" onclick="cancelDialog();" name="templateCancel" id="templateCancel">${gs.getMessage('Cancel')}</button>
						<button class="btn-primary btn" onclick="return saveChecklistAsTemplate();" name="templateOk" id="templateOK">${gs.getMessage('OK')}</button>
					 </td>
				</tr>
			</table>
		</div>
	</g:ui_form>
</j:jelly>