<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<script type="text/javascript">
		// Old code is kept for backward compatibility
		// if the UI Action is modified on upgrade customer instance
		window.parent.GlideOverlay.close('ci_popup');

		window.parent.GlideModal.prototype.get('ci_popup').destroy();
	</script>
</j:jelly>