<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g2:evaluate var="jvar_template"
   expression="RP.getWindowProperties().get('template')" jelly="true"/>
	<g2:evaluate var="jvar_message" jelly="true">
   gs.getMessage("CI Class field has been modified. The form will be saved, proposed changes will be cleared, and affected CIs will be deleted.");
	</g2:evaluate>
	<p>$[HTML:jvar_message]</p>
	<div style="float: right;"> 
		
    <g:dialog_buttons_ok_cancel ok="return onOK();" cancel="return onCancel();" ok_type="button" cancel_type="button"  ok_style_class="btn btn-destructive" />
		
	</div>
</j:jelly>