<j:set var="jvar_title" value="${gs.getMessage('Cleanup import set tables')}" />
<g:inline template="page_header.xml" />
<g:inline template="cleanup_import_sets_messages.xml" />
<input type="hidden" id="cur_app_id" readonly="true" value="${gs.getCurrentApplicationId()}" />
<input type="hidden" id="cur_app_name" readonly="true" value="${gs.getCurrentApplicationName()}" />

<g:ui_form>
    <g:inline template="cleanup_import_sets.xml" />
</g:ui_form>