<?xml version="1.0" encoding="utf-8"?> 
<j:jelly trim="true" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null"> 

<g:ui_form>
   <table width="440">
      <tr>
		<td nowrap="nowrap" align="right">
                    <img src="images/error.jpgx" width='45' height='45'/>
                </td>
		<td>
		     ${RP.getWindowProperties().get('sysparm_error')}
		</td>
      </tr>
   </table>
</g:ui_form>

</j:jelly>