<?xml version="1.0" encoding="utf-8"?> 
<j:jelly trim="true" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null"> 

<div style="margin-left: 10px; margin-right: 10px; padding-left:10px; padding-right: 10px">
<br/>
<div style="color:tomato; font-weight:bold; text-align:center; font-size: larger;">
	Warning! <br/>
</div>
<p>The source and destination instances are on different versions.</p>
<p>The destination will be automatically upgraded to match the source version.</p>  
<p>Do you want to proceed? </p>
<br/> 
<table border="0" width="440">
    <tr>
    <td align="right">    
    	<g:dialog_buttons_ok_cancel ok="return gCloneInstance.upgradeOK();" cancel="return gCloneInstance.upgradeCancel();" ok_type="button" cancel_type="button"/>
    </td>
    </tr>
</table>
</div>


</j:jelly>