<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

	<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true" />
	<g:requires name="scripts/lib/jquery_includes.js" />
	<g:requires name="scripts/heisenberg/heisenberg_all.js" />
	
	<g:sn_codesearch_CodeSearchExample />
</j:jelly>