<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<p>Collecting column statistics can potentially generate significant load on the system.
	Are you sure you would like to proceed?</p>

	<footer class="modal-footer">
		<button class="btn btn-default" onclick="cancel()">Cancel</button>
		<button class="btn btn-primary" onclick="ok()">OK</button>
	</footer>

</j:jelly>