<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
<g:ui_form>
   <j:set var="jvar_user_query" value="QUERY:active=true^locked_out=false" />
   <g:evaluate var="jvar_group_id" jelly="true" expression="RP.getWindowProperties().get('sysparm_group')" />
   <g:evaluate var="jvar_state" jelly="true" expression="RP.getWindowProperties().get('sysparm_state')" />
      <g:evaluate var="jvar_group_name" jelly="true"
            expression="var grp = new GlideRecord('live_group_profile'); grp.get(jelly.jvar_group_id); grp.name" />
    <div class="live_feed_group_delete">
        <div>${gs.getMessage('Are you sure you want to delete the feed')} ${HTML:jvar_group_name}?</div>
        <div id="yes_no_buttons">
           <button onclick="deleteLiveFeedGroup(); return false">${gs.getMessage('Yes')}</button>
           <button onclick="GlideDialogWindow.prototype.locate(this).destroy(); return false" >${gs.getMessage('No')}</button>
        </div>
    </div>
   <input type="hidden" id="group_sys_id" name="group_sys_id" value="${jvar_group_id}" />
</g:ui_form>
</j:jelly>