<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <g:inline template="sc_sanitize.xml"/>
    <g:com.glideapp.servicecatalog_cart target="order_status" prices="true" />
	
	<j:if test="${new GlideappScriptHelper().isUI16Enabled()}">
		<script>
			catalogHistory.setHistory('$[HTML: gs.getMessage('Order Status: ')]' + '${jvar_sc_request.getRequestNumber()}', catalogHistory.getPageUrl());
		</script>
	</j:if>
	<form method="POST" action="service_catalog.do" name="back_form" id="back_form">
     		<input type="HIDDEN" name="sysparm_view" value="${sysparm_view}" />
     		<input type="HIDDEN" name="sysparm_action" value="sysverb_back" />
   	</form>
</j:jelly>