<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
   <g:requires name="scripts/js_includes_catalog.js" includes="true"/>
   <g:requires name="styles/${new CatalogCssSelector().getVariableCss()}" includes="true"/>
   <g:requires name="styles/${new CatalogCssSelector().getCatalogCss()}" includes="false"/>
   <g:inline template="sc_sanitize.xml"/>
   <!-- check authorization -->
   <g2:evaluate var="jvar_cat_item_authorized" jelly="true">
        var answer = true;
        var item = GlideappCatalogItem.get(jelly.sysparm_id);
        if (item == null)
           answer = false;
        else {
           var preview = jelly.sysparm_preview;
           if (preview $[AMP]$[AMP] gs.hasRole('catalog_admin'))
              answer = true;
           else {
			  if (!gs.nil(jelly.sysparm_cart_edit)) {
				var cartItem = new GlideRecord('sc_cart_item');
				cartItem.get(jelly.sysparm_cart_edit);
				answer = cartItem.canRead() $[AMP]$[AMP] cartItem.cat_item == jelly.sysparm_id;
			  }
			  else
				answer = gs.hasRole('catalog_admin') || item.canView();
		   }
        }
        answer;
   </g2:evaluate>
   <j2:if test="$[!sysparm_catalog || sysparm_catalog == '' || sysparm_catalog == null]">
        <g2:evaluate var="sysparm_catalog" jelly="true">
            var item = GlideappCatalogItem.get(jelly.sysparm_id);
            var cat = item.getFirstAccessibleCategoryForSearch();
            var sysparm_catalog = GlideappCategory.get(cat).getCatalog();
            sysparm_catalog;
        </g2:evaluate>
   </j2:if>
   <j2:if test="$[jvar_cat_item_authorized]">
        <input type="hidden" id="log_variable_actions" name="log_variable_actions"  value="${gs.getProperty('glide.sc.log.variable_actions')}" />
        <g:catalog_item />
	   
	    <j:if test="${new GlideappScriptHelper().isUI16Enabled()}">
			<script>
				catalogHistory.setHistory('$[HTML,JS:sc_cat_item.name.getDisplayValue()]', catalogHistory.getPageUrl());
			</script>
	    </j:if>
   </j2:if>
   <j2:if test="$[!jvar_cat_item_authorized]">
        <g2:evaluate var="jvar_not_auth_msg" expression="var jvar_not_auth_msg=gs.getMessage('Not Authorized');jvar_not_auth_msg;" />
        $[jvar_not_auth_msg]
   </j2:if>
</j:jelly>