<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
 <g:inline template="sc_catalog_view.xml" />
 <g:requires name="styles/${new CatalogCssSelector().getVariableCss()}" includes="true"/>
 <g:requires name="scripts/js_includes_catalog.js" includes="true"/>
 <g:requires name="styles/sc_cat_only_v2.css" includes="false"/>
 <g:inline template="sc_sanitize.xml"/>
 <form method="POST" action="service_catalog.do" name="service_catalog.do" id="sc_cart.do">
	 <g:evaluate var="target" jelly="true">
		var target = "cart_view";
		if (jelly.sysparm_cart_name == 'saved_items')
			target = "cart_view_wish_list";
		target;
	</g:evaluate>
	 
	 <g:com.glideapp.servicecatalog_cart target="${target}" 
										 prices="true" 
										 cartName="${sysparm_cart_name}"/>
 </form>
	
 <!-- Support for Back Button --> 
  <form method="POST" action="service_catalog.do" name="back_form" id="back_form">
     <input type="HIDDEN" name="sysparm_view" value="${sysparm_view}" />
     <input type="HIDDEN" name="sysparm_action" value="sysverb_back" />
   </form>

</j:jelly>