<g:include_script src="ConnectionTest.jsdbx"/>

<table border="0">
 <tr><td><img src="images/system.gifx" alt="Connection Test"/></td><td style="font-size: 14pt;"><b>Connection Test</b></td></tr>
</table>

<hr/>

Connection test is used to determine the type of connect between the end computer and your Service-now.com instance.

<br/>

To start the connection test, press this<a onclick='runConnectionTest();'>
<span style="margin-left: 3px;">button:</span>
  </a>
<br />
<button onclick="runConnectionTest();">Start Connection Test</button>
<br />


<table border="0">
  <tr>
    <td>Average time:</td>
    <td><div id='avg_time' style='height: 16px;'></div></td>
  </tr>
  <tr>
    <td>Estimated connection:</td>
    <td><div id='line_speed' style='display: inline; height: 16px;'></div><div id='avg_speed' style='margin-left: 2px; display: inline; height: 16px;'></div></td>
  </tr>
</table>