<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<style type="text/css">
		.icon-spacing .icon {
			margin-right: 5px;
		}
		.demo-icon {
			min-height: 20px;
		}
	</style>
    <div class="icon-spacing">
        <div class="col-md-12 col-sm-12">
			<h1>${gs.getMessage('Icons')}</h1>
			<h4>${gs.getMessage('Glossary of icons for use in Connect
			Actions')}</h4>
		</div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-activity-circle" />
                    icon-activity-circle
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-activity-stream" />
                    icon-activity-stream
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-activity" />
                    icon-activity
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-add-circle-empty" />
                    icon-add-circle-empty
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-add-circle" />icon-add-circle
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-add" />icon-add
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-alert-triangle" />
                    icon-alert-triangle
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-alert" />icon-alert
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-all-apps" />icon-all-apps
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-application-generic" />
                    icon-application-generic
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-archive" />icon-archive
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-arrow-down-rounded" />
                    icon-arrow-down-rounded
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-arrow-down-triangle" />
                    icon-arrow-down-triangle
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-arrow-down" />icon-arrow-down
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-arrow-left-rounded" />
                    icon-arrow-left-rounded
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-arrow-left" />icon-arrow-left
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-arrow-right-rounded" />
                    icon-arrow-right-rounded
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-arrow-right" />icon-arrow-right
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-arrow-up-rounded" />
                    icon-arrow-up-rounded
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-arrow-up" />icon-arrow-up
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-article-document" />
                    icon-article-document
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-barcode" />icon-barcode
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-blog" />icon-blog
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-book-open" />icon-book-open
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-book" />icon-book
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-boolean" />icon-boolean
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-brand-mobile" />icon-brand-mobile
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-brand-now" />icon-brand-now
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-brand-service" />
                    icon-brand-service
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-brand-servicenow" />
                    icon-brand-servicenow
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-calendar" />icon-calendar
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-cards" />icon-cards
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-cart-full" />icon-cart-full
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-cart" />icon-cart
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-catalog" />icon-catalog
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-chart-do" />icon-chart-do
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-chart-pi" />icon-chart-pi
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-check-circle" />icon-check-circle
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-check" />icon-check
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-checkbox-checked" />
                    icon-checkbox-checked
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-checkbox-empty" />
                    icon-checkbox-empty
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-chevron-down" />icon-chevron-down
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-chevron-left" />icon-chevron-left
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-chevron-right" />
                    icon-chevron-right
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-chevron-up" />icon-chevron-up
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-circle-solid" />icon-circle-solid
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-clear-cache" />icon-clear-cache
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-clear" />icon-clear
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-cog-changes" />icon-cog-changes
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-cog-selected" />icon-cog-selected
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-cog" />icon-cog
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-collaboration" />
                    icon-collaboration
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-comment-add" />icon-comment-add
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-comment-hollow" />
                    icon-comment-hollow
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-comment" />icon-comment
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-company-feed" />icon-company-feed
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-configuration" />
                    icon-configuration
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-connect-adduser-sm" />
                    icon-connect-adduser-sm
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-connect-adduser" />
                    icon-connect-adduser
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-connect-close-sm" />
                    icon-connect-close-sm
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-connect-close" />
                    icon-connect-close
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-connect-minimize-sm" />
                    icon-connect-minimize-sm
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-connect-minimize" />
                    icon-connect-minimize
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-connect-newwin" />
                    icon-connect-newwin
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-connect-newwindow-sm" />
                    icon-connect-newwindow-sm
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-connect-viewdocument-sm" />
                    icon-connect-viewdocument-sm
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-connect-viewdocument" />
                    icon-connect-viewdocument
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-console" />icon-console
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-copy" />icon-copy
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-cross-circle" />icon-cross-circle
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-cross" />icon-cross
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-cursor-move" />icon-cursor-move
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-cursor-select" />
                    icon-cursor-select
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-dashboard" />icon-dashboard
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-database" />icon-database
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-date-time" />icon-date-time
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-debug" />icon-debug
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-default-knowledge-base" />
                    icon-default-knowledge-base
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-delete-selected" />
                    icon-delete-selected
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-delete" />icon-delete
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-discovery-connection" />
                    icon-discovery-connection
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-discovery-identification" />
                    icon-discovery-identification
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-discovery-pattern" />
                    icon-discovery-pattern
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-discovery-square" />
                    icon-discovery-square
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-discovery-step" />
                    icon-discovery-step
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-document-all-generic" />
                    icon-document-all-generic
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-document-attachment" />
                    icon-document-attachment
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-document-doc" />icon-document-doc
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-document-multiple" />
                    icon-document-multiple
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-document-pdf" />icon-document-pdf
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-document-ppt" />icon-document-ppt
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-document-txt" />icon-document-txt
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-document-xls" />icon-document-xls
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-document-zip" />icon-document-zip
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-document" />icon-document
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-double-chevron-left" />
                    icon-double-chevron-left
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-double-chevron-right" />
                    icon-double-chevron-right
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-download" />icon-download
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-drag-dots" />icon-drag-dots
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-drag" />icon-drag
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-drawer-selected" />
                    icon-drawer-selected
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-drawer" />icon-drawer
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-edit" />icon-edit
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-ellipsis-vertical" />
                    icon-ellipsis-vertical
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-ellipsis" />icon-ellipsis
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-empty-circle" />icon-empty-circle
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-envelope-open" />
                    icon-envelope-open
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-envelope-subscribe" />
                    icon-envelope-subscribe
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-envelope-unsubscribe" />
                    icon-envelope-unsubscribe
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-error-circle" />icon-error-circle
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-error" />icon-error
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-filter" />icon-filter
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-first" />icon-first
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-floor-plan" />icon-floor-plan
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-folder" />icon-folder
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-form" />icon-form
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-fullscreen" />icon-fullscreen
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-glasses" />icon-glasses
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-global" />icon-global
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-hardware" />icon-hardware
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-help" />icon-help
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-history" />icon-history
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-home" />icon-home
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-hr" />icon-hr
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-image" />icon-image
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-info" />icon-info
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-it" />icon-it
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-key" />icon-key
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-label-dot" />icon-label-dot
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-label" />icon-label
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-last" />icon-last
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-layout" />icon-layout
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-lightbulb" />icon-lightbulb
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-like" />icon-like
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-link" />icon-link
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-list" />icon-list
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-livefeed" />icon-livefeed
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-location" />icon-location
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-locked" />icon-locked
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-mail" />icon-mail
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-maximize" />icon-maximize
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-menu-arrows" />icon-menu-arrows
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-menu" />icon-menu
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-minimize" />icon-minimize
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-mobile" />icon-mobile
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-move" />icon-move
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-my-feed" />icon-my-feed
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-navigator" />icon-navigator
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-new-ticket" />icon-new-ticket
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-not-started-circle" />
                    icon-not-started-circle
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-notification-bell" />
                    icon-notification-bell
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-number" />icon-number
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-open-document-new-tab" />
                    icon-open-document-new-tab
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-or" />icon-or
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-panel-display-bottom" />
                    icon-panel-display-bottom
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-panel-display-popout" />
                    icon-panel-display-popout
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-panel-display-right" />
                    icon-panel-display-right
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-paperclip" />icon-paperclip
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-pause" />icon-pause
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-percent" />icon-percent
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-phone" />icon-phone
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-phonecall-incoming" />
                    icon-phonecall-incoming
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-phonecall-keypad" />
                    icon-phonecall-keypad
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-phonecall-outgoing" />
                    icon-phonecall-outgoing
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-play" />icon-play
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-poll" />icon-poll
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-pop-out" />icon-pop-out
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-power" />icon-power
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-preview" />icon-preview
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-print" />icon-print
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-queue" />icon-queue
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-radio-numeric-scale" />
                    icon-radio-numeric-scale
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-radio-scale" />icon-radio-scale
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-refresh" />icon-refresh
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-refreshing" />icon-refreshing
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-remove" />icon-remove
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-required" />icon-required
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-save" />icon-save
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-script" />icon-script
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-search" />icon-search
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-select" />icon-select
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-share" />icon-share
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-software" />icon-software
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-sort-ascending" />
                    icon-sort-ascending
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-sort-descending" />
                    icon-sort-descending
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-spell-check" />icon-spell-check
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-split-vertical" />
                    icon-split-vertical
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-star-empty" />icon-star-empty
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-star" />icon-star
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-step-in" />icon-step-in
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-step-out" />icon-step-out
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-step-over" />icon-step-over
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-stop-watch" />icon-stop-watch
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-stop" />icon-stop
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-stream-all-input" />
                    icon-stream-all-input
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-stream-one-input" />
                    icon-stream-one-input
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-string" />icon-string
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-subtract" />icon-subtract
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-success-circle" />
                    icon-success-circle
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-success" />icon-success
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-tab" />icon-tab
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-tack" />icon-tack
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-target" />icon-target
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-template" />icon-template
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-threshold" />icon-threshold
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-trash" />icon-trash
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-tree-right" />icon-tree-right
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-tree" />icon-tree
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-undo" />icon-undo
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-unlocked" />icon-unlocked
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-upload" />icon-upload
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-user-add" />icon-user-add
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-user-group" />icon-user-group
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-user-profile" />icon-user-profile
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-user-selected" />
                    icon-user-selected
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-user" />icon-user
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-vcr-down" />icon-vcr-down
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-vcr-left" />icon-vcr-left
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-vcr-right" />icon-vcr-right
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-vcr-up" />icon-vcr-up
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-video" />icon-video
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-view" />icon-view
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-vtb-flexible-sm" />
                    icon-vtb-flexible-sm
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-vtb-flexible" />icon-vtb-flexible
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-vtb-flexible-outline" />
                    icon-vtb-flexible-outline
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-vtb-freeform-sm" />
                    icon-vtb-freeform-sm
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-vtb-freeform" />icon-vtb-freeform
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-vtb-guided-sm" />
                    icon-vtb-guided-sm
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-vtb-guided" />icon-vtb-guided
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-warning-circle" />
                    icon-warning-circle
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-work-note" />icon-work-note
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-workflow-active" />
                    icon-workflow-active
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-workflow-approval-action" />
                    icon-workflow-approval-action
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-workflow-approval-rejected" />
                    icon-workflow-approval-rejected
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-workflow-approved" />
                    icon-workflow-approved
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-workflow-complete" />
                    icon-workflow-complete
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-workflow-late" />
                    icon-workflow-late
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-workflow-on-hold" />
                    icon-workflow-on-hold
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-workflow-pending" />
                    icon-workflow-pending
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-workflow-rejected" />
                    icon-workflow-rejected
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-workflow-requested" />
                    icon-workflow-requested
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-workflow-skip" />
                    icon-workflow-skip
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-workflow" />icon-workflow
                </div>
            </div>
        </div>
		<div class="col-md-3 col-sm-4">
            <div class="demo-icon">
                <div class="title">
                    <span class="icon icon-loading" />icon-loading
                </div>
            </div>
        </div>
    </div>
	
</j:jelly>