<g:ui_form>
<input type="hidden" id="cancelled" name="cancelled" value="false"/>
<input type="hidden" id="consumable" name="consumable" value="${sysparm_sys_id}"/>
<input type="hidden" id="total_qty" name="total_qty" value="${sysparm_total_qty}"/>

<table width="100%" style="border-spacing:10px; height:100px;">
	<tr>
		<td rowspan="5" nowrap="true" width="110px" style="vertical-align:top;">
 			<img src="images/plugin_activate.gifx" alt="${gs.getMessage('Activate/Upgrade')}" style="vertical-align:top;" />
		</td>
	</tr>
	<tr>
		<td style="width:150px; text-align:right;"><label>${gs.getMessage('From stockroom:')}$[SP]</label></td>
		<td><label style="margin:9px;">${sysparm_stockroom}</label></td>
	</tr>
	<tr >
		<td style="text-align:right;"><label>${gs.getMessage('Quantity:')}$[SP]</label></td>
		<td><input class="form-control" id="qty" name="qty" value="1" label="" type="text" style="margin:9px; width:inherit;"/></td>
	</tr>
    <tr>
        <td style="text-align:right;"><label for="${jvar_asset_query}" onclick="" dir="">${gs.getMessage('Asset:')}$[SP]</label></td>
		<td><g:ui_reference name="alm_hardware" table="alm_hardware"/></td> 
    </tr>
    <tr>
        <td style="text-align:right;"><label for="${jvar_user_query}" onclick="" dir="">${gs.getMessage('User:')}$[SP]</label></td>
		<td><g:ui_reference name="sys_user" table="sys_user"/></td> 
    </tr>

    <tr id="dialogbuttons">
        <td colspan="3" align="right" style="padding-right:10px;">
            <g:dialog_buttons_ok_cancel ok="return actionOK();" cancel="cancel();"/>
        </td>
    </tr>
</table>
</g:ui_form>