<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

<g:ui_form>
    <input type="hidden" name="selection_result" id="selection_result" value=""/>
    <input type="hidden" name="my_sys_id" id="my_sys_id" value="${RP.getWindowProperties().get('sys_id')}"/>
    <div style="text-align:center;">           
      <div> ${gs.getMessage('Cancel this contract?')} </div><br/>
      <br/>
      
      <div align="right">
        <g:dialog_buttons_ok_cancel ok_text="Yes" ok_title="Cancel current contract" ok="return actionOK();" cancel_text="No" cancel_title="Go back to contract" cancel="return cancel();"/>
      </div>
    </div>
</g:ui_form>
</j:jelly>