<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
   <style>
      
.wizard_grid_item_container {
	float: left; 
	margin: 6px; 
	margin-top:12px;
	padding: 0px;
	width: 24.25em; 
}

.wizard_grid_item_container h2{
	font-size:16px;
	margin-top:0px;
	padding: 0px;
}


      
.wizard_grid_item_container a {	
	margin: 0px; 
	padding: 10px;
	display: block;
	border:1px dotted #FFF;	
}

.wizard_grid_item_container a:hover {	
	background-color: #FFF;
	margin: 0px; 
	padding: 10px;
	display: block;
	border:1px dotted #CCC;	
	text-decoration: none;
}

.wizard_grid_item_container h2{
	font-size:16px;
	margin:0px;
	padding: 0px;
}

a:hover .wizard_grid_item_container h2{
	text-decoration: underline;
}

span.h2_caption{
	color:#666;
	text-decoration: none;
}

   </style>
   
<form>
   
	<span class="form_title">
			 <b>${gs.getMessage("Choose the Content Block from the Options Below")}</b>$[SP]</span>
			 <span id="img_status_text"></span>
			 <span id="img_status"></span>$[SP]
			 <span id="file_progress_field" style="font-size:smaller; color: #666; font-weight:normal;">(${gs.getMessage("CMS Blocks")}$[SP]<span id="file_progress"/>)
	</span>
	
	<p style="border-top: 1px Solid #e2e2e2; margin:0px; padding:0px; margin-top:10px; margin-bottom:10px;" />
	   
</form>

<div class="wizard_grid_item_container">
	<a href="content_block_header.do?sys_id=-1">
		<h2><img src="images/nav_forward.gifx"/>
		 ${gs.getMessage("Header")}</h2>
		 <img src="cms_block_header.pngx"/>
      	 <br/>
		 <span class="h2_caption">
		 ${gs.getMessage("Header blocks are page elements that provide both a place for branding, as well as areas to include important site-wide functionality (search, text size, navigation menus, and the logout).")}
		 </span><br/>
	</a>
</div>

<div class="wizard_grid_item_container">
	<a href="content_block_menu_choice.do?">
		<h2><img src="images/nav_forward.gifx"/>
		 ${gs.getMessage("Navigation Menu")}</h2>
		 <img src="cms_menu_example_dropdown.pngx"/>
      	 <br/>
		 <span class="h2_caption">
		 ${gs.getMessage("Menu blocks provides a menu of navigational links to different content pages.  There are a number of menus to choose from this will take you to a page of the different types.")}
		 </span><br/>
	</a>
</div>

<div class="wizard_grid_item_container">
	<a href="content_block_lists.do?sys_id=-1">
		<h2><img src="images/nav_forward.gifx"/>
	   ${gs.getMessage("Content List")}</h2>
	   <img src="cms_block_list.pngx"/> 
      	 <br/>
		 <span class="h2_caption">
		 ${gs.getMessage("Link to forms within the system. For example, to create a list of the CMS Pages (content_page) to generate a navigational sitemap, select the content_page as the table and query by site.")}
		 </span><br/>
	</a>
</div> 

<div class="wizard_grid_item_container">
	<a href="content_block_programmatic.do?sys_id=-1">
		<h2><img src="images/nav_forward.gifx"/>
		${gs.getMessage("Dynamic Content")}</h2>
		<img src="cms_block_dynamic.pngx"/>
      	 <br/>
		 <span class="h2_caption">
		 ${gs.getMessage("Dynamic Content leverages scripting to automatically change information based on any criteria, such as data in an instance, time of day, roles, or authentication.")}
		 </span><br/>
		
	</a>
</div>

<div class="wizard_grid_item_container">
	<a href="content_block_detail.do?sys_id=-1">
		<h2><img src="images/nav_forward.gifx"/>
      	 ${gs.getMessage("Record Detail View")}</h2>
      	 <img src="cms_block_detail.pngx"/>
      	 <br/>
		 <span class="h2_caption">
		 ${gs.getMessage("The drop down menu displays a menu much like those found at the top of typical desktop application. They are frequently found in the headers of pages.")}
		 </span> 
	</a>
</div>

<div class="wizard_grid_item_container">
	<a href="content_block_lists.do?sys_id=-1">
		<h2><img src="images/nav_forward.gifx"/>
		${gs.getMessage("Static HTML")}</h2>
		<img src="cms_block_static.pngx"/>
      	 <br/>
		 <span class="h2_caption">
		 ${gs.getMessage("Static HTML displays the same in all contexts and is the same on every page view, such as a page's welcome text or a section of formatted content.")}
		 </span><br/>
	</a>
</div>

<div class="wizard_grid_item_container">
	<a href="content_block_lists.do?sys_id=-1">
		<h2><img src="images/nav_forward.gifx"/>
		${gs.getMessage("Embedded SWF Flash")}</h2>
		<img src="cms_block_flash.pngx"/>
      	 <br/>
		 <span class="h2_caption">
		 ${gs.getMessage("For the designers that choose to use flash elements within their site, use this block as a quick and simple way to add an embedded flash (.SWF) file to the page.")}
		 </span><br/>
	</a>
</div>

<div class="wizard_grid_item_container">
	<a href="content_block_lists.do?sys_id=-1">
		<h2><img src="images/nav_forward.gifx"/>
		${gs.getMessage("Flash Video")}</h2>
		<img src="cms_block_flash_video.pngx"/>
      	 <br/>
		 <span class="h2_caption">
		 ${gs.getMessage("Using a static HTML block, you can attach a flash video (.FLV) file to your page.  Videos are commonly added to knowledge articles and used as tutorials.")}
		 </span><br/>
	</a>
</div>

<div style="clear:both;"/>

</j:jelly>