		<style>
			/* dialog styles */
			.dialog_content {
				width: 100%;
				height: 100px;
				vertical-align: middle;
				min-width: 300px;
				padding: 0 10px 10px 10px;
			}

			.dialog_buttons {
				display: inline;
				text-align: right;
				vertical-align:bottom;
				white-space: nowrap;
			}
		</style>
		<g:ui_form onsubmit="return invokePromptCallBack('ok');">
			<g2:evaluate>
				var title = "${RP.getWindowProperties().get('title')}";
				title =  new GlideStringUtil().unEscapeHTML(title);
			</g2:evaluate>
			<table border="0" width="100%">
			<tr>
				<td nowrap="true" style="vertical-align:top;">
					<img id="image_dialog" src="images/dialog_confirm.gifx" width="110" height="130"/>
				</td>
				<td>
					<table border="0" width="100%">
					<tr>
						<td class="dialog_content">$[title]</td>
					</tr>
					<tr>
						<td class="dialog_buttons">
							<g:dialog_button 
								id="ok_button" 
								type="button" 
								onclick="invokePromptCallBack('kill');">${gs.getMessage('Force cancel')}</g:dialog_button>
							<g:dialog_button 
								id="cancel_button" 
								type="button" 
								onclick="invokePromptCallBack('wait');">${gs.getMessage('Continue waiting')}</g:dialog_button>
						</td>
					</tr>
					</table>
				</td>
			</tr>
			</table>
		</g:ui_form>
