<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
   <style>
      
.wizard_grid_item_container {
	float: left; 
	margin: 6px; 
	margin-top:12px;
	padding: 0px;
	width: 24.25em; 
}

.wizard_grid_item_container h2{
	font-size:16px;
	margin-top:0px;
	padding: 0px;
}


      
.wizard_grid_item_container a {	
	margin: 0px; 
	padding: 10px;
	display: block;
	border:1px dotted #FFF;	
}

.wizard_grid_item_container a:hover {	
	background-color: #FFF;
	margin: 0px; 
	padding: 10px;
	display: block;
	border:1px dotted #CCC;	
	text-decoration: none;
}

.wizard_grid_item_container h2{
	font-size:16px;
	margin:0px;
	padding: 0px;
}

a:hover .wizard_grid_item_container h2{
	text-decoration: underline;
}

span.h2_caption{
	color:#666;
	text-decoration: none;
}

   </style>
<form>
   
	<span class="form_title">
			 <b>${gs.getMessage("Choose a Menu System from the Options Below")}</b>$[SP]</span>
			 <span id="img_status_text"></span>
			 <span id="img_status"></span>$[SP]
			 <span id="file_progress_field" style="font-size:smaller; color: #666; font-weight:normal;">(${gs.getMessage("CMS Menu Types")}$[SP]<span id="file_progress"/>)
	</span>
	
	<p style="border-top: 1px Solid #e2e2e2; margin:0px; padding:0px; margin-top:10px; margin-bottom:10px;" />
	   
</form>

<div class="wizard_grid_item_container">
	<a href="content_block_menu.do?sys_id=-1&amp;sysparm_query=type=super_menu">
		<h2><img src="images/nav_forward.gifx"/>
      	 ${gs.getMessage("Super Menu for Headers")}</h2>
      	 <img src="cms_menu_example_super_menu.pngx"/>
      	 <br/>
		 <span class="h2_caption">
		 ${gs.getMessage("The super menu is a hybrid between the drop down menu and the tab system which allows the user to create a menu out or any number existing menus.")}
		 </span> 
	</a>
</div>

<div class="wizard_grid_item_container">
	<a href="content_block_menu.do?sys_id=-1&amp;sysparm_query=type=dropdown">
		<h2><img src="images/nav_forward.gifx"/>
      	 ${gs.getMessage("Drop Down Menu for Headers")}</h2>
      	 <img src="cms_menu_example_dropdown.pngx"/>
      	 <br/>
		 <span class="h2_caption">
		 ${gs.getMessage("The drop down menu displays a menu much like those found at the top of typical desktop application. They are frequently found in the headers of pages.")}
		 </span> 
	</a>
</div>

<div class="wizard_grid_item_container">
	<a href="content_block_menu.do?sys_id=-1&amp;sysparm_query=type=tab_header_menu">
		<h2><img src="images/nav_forward.gifx"/>
	   ${gs.getMessage("Tab Menu for Headers")}</h2>
	   <img src="cms_menu_example_header_tab.pngx"/>
      	 <br/>
		 <span class="h2_caption">
		 ${gs.getMessage("This tab menu is specifically designed for the bottom menu of header blocks. It is a common alternate for dropdown menus, which uses inline links that render directly underneath the tabs.")}
		 </span><br/>
	</a>
</div>

<div class="wizard_grid_item_container">
	<a href="content_block_menu.do?sys_id=-1&amp;sysparm_query=type=horizontal_blocks">
		<h2><img src="images/nav_forward.gifx"/>
		 ${gs.getMessage("Horizontal Blocks")}</h2>
		 <img src="cms_menu_example_horz_blocks.pngx"/>
      	 <br/>
		 <span class="h2_caption">
		 ${gs.getMessage("The horizontal blocks menu displays a series of blocks horizontally until the horizontal space is exhausted and then they will stack. They are most often seen in the main content area of pages.")}
		 </span><br/>
	</a>
</div>

<div class="wizard_grid_item_container">
	<a href="content_block_menu.do?sys_id=-1&amp;sysparm_query=type=tab_content_block">
		<h2><img src="images/nav_forward.gifx"/>
	   ${gs.getMessage("Tab Content Menu")}</h2>
	   <img src="cms_menu_example_tabbed.pngx"/>
      	 <br/>
		 <span class="h2_caption">
		 ${gs.getMessage("This tab menu for use in the content area of the page.  Clicking a tab replaces the main portion of the block container with the tab's corresponding sub menu.")}
		 </span><br/>
	</a>
</div>

<div class="wizard_grid_item_container">
	<a href="content_block_menu.do?sys_id=-1&amp;sysparm_query=type=vertical_blocks">
		<h2><img src="images/nav_forward.gifx"/>
		${gs.getMessage("Vertical Blocks")}</h2>
		<img src="cms_menu_example_vert_blocks.pngx"/>
      	 <br/>
		 <span class="h2_caption">
		 ${gs.getMessage("The vertical blocks menu block displays a menu as a series of blocks stack one on top of the other.")}
		 </span><br/>
		
	</a>
</div>

<div class="wizard_grid_item_container">
	<a href="content_block_menu.do?sys_id=-1&amp;sysparm_query=type=section_navigation">
		<h2><img src="images/nav_forward.gifx"/>
		${gs.getMessage("Vertical List")}</h2>
		<img src="cms_menu_example_vertical_list.pngx"/>
      	 <br/>
		 <span class="h2_caption">
		 ${gs.getMessage("The vertical list menu block displays a menu consisting of a vertical stack of choices. They are most often seen along the left or right sides of pages.")}
		 </span><br/>
	</a>
</div>

<div style="clear:both;"/>

</j:jelly>