<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="true" xmlns:j="jelly:core" xmlns:g="glide" xmlns:g2="null">
	<g2:evaluate>
		// Find or create default display name for new update set.
		var usName = SNC.Apps.generateUpdateSetName();
	</g2:evaluate>
<g:ui_form>	
	<div id="create_update_set_dialog_container">
		<div style="white-space: normal; padding: 4px; color:#667">
			${gs.getMessage('Create a new empty update set to track changes to your applications')}</div>
		<table border="0" class="wide" style="padding: 4px">
			<tr>
				<td class="label label_spacing" nowrap="true">
					<span class="label_description" title="" mandatory="false" oclass="">$[SP]</span>
					<label for="update_set_name">${gs.getMessage('Name')}:</label>
				</td>
				<td valign="top" width="100%">
					<input id="update_set_name" type="text" value="$[usName]"/>
				</td>
			</tr>
			<tr>
				<td class="label label_spacing" nowrap="true">
					<span class="label_description" title="" mandatory="false" oclass="">$[SP]</span>
					<label for="make_current">${gs.getMessage('Make current')}:</label>
				</td>
				<td valign="top" style="text-align: left" width="100%">
					<input id="make_current" type="checkbox" checked="checked"/>
				</td>
			</tr>
			<tr>
				<td id="dialog_buttons" name="buttons" nowrap="true" style="vertical-align:bottom;" colspan="2">
					<div align="right">
						<button id="ok_button">
							${gs.getMessage('Create')}
						</button>
						<button id="cancel_button">
							${gs.getMessage('Cancel')}
						</button>
					</div>
				</td>
			</tr>
		</table>
	</div>
</g:ui_form>
</j:jelly>