<link href="53685b6411ff2200964f016bcc1bdd33.cssdbx" rel="stylesheet" type="text/css"></link>
<style type="text/css">
	body {
		font-family: SourceSansPro;
		padding-top: 30px;
}
   
	.media-icon {
		font-size: 32px;
	}
	
	.security-resources .media-body {
		height: 140px;
	}
	
	.score {
		display: block;
	}
	
	.score-name {
		font-size: 18px;
		text-align: center;
	}
	
	.score-name.high {
		color: #71e279;
	}
	
	.score-name.moderate {
		color: #fc8a3d;
	}
	
	.score-name.low {
		color: #f95050;
	}
	
	.score-container {
		padding: 20px;
		background-color: #fafafa;
		display: flex;
		border-radius: 3px;
		margin-top: 20px;
	}
	
	.score-container h2 {
		margin-top: 0;
	}
	
	.score-container .graphic {
		border-right: 2px solid #f1f2f3;
		padding-right: 18px;
	}
	
	.score-container .explanation {
		padding-left: 18px;
	}
	
	.graphic {
		padding-right: 10px;
	}
	
	.c100 {
		margin-left: auto;
		margin-right: auto;
	}
	
	span#compscore span.score, span#compscore span.compliance,
	span#compscore span.score:hover, span#compscore span.compliance:hover {
		color: #000000;
	}

	.panel-body hr {
		margin-top: 8px;
		margin-bottom: 8px;
		border-width: 2px;
	}
	
	.panel-body hr:last-child {
		margin-bottom: 3px;
	}
	
	.panel-body h3:first-child {
		margin-top: 0;
	}

	/*
	This is Edge specific fix since 'ie_checker.xml' does not check for edge
	refer: https://jeffclayton.wordpress.com/2015/04/07/css-hacks-for-windows-10-and-spartan-browser-preview/
	*/
	@supports (-ms-accelerator:true) {
		.intro .icon-max-width {
			max-width: 40px;
		}
	}
</style>

<div class="container-fluid ng-cloak" ng-app="sn.securityDashboard" ng-controller="securityDashboard" ng-show="score">
	<div class="row">
		<div class="score-container">
			<div class="graphic">
				<div class="c100" ng-class="['p' + score, {'green': score >= 90, 'orange': 90 > score &amp;&amp; score > 50, 'red': 50 > score}]">
					<span id="compscore">
						<span class="score">{{ score }}%</span>
						<span class="compliance">Compliant</span>
					</span>
					<div class="slice">
						<div class="bar"></div>
						<div class="fill"></div>
					</div>
				</div>
				<div class="score-name high" ng-if="score >= 90">High</div>
				<div class="score-name moderate" ng-if="90 > score &amp;&amp; score > 50">Moderate</div>
				<div class="score-name low" ng-if="50 >= score">Low</div>
			</div>
			<div class="explanation">
				<h2 class="h3">What Does My Compliance Score Mean?</h2>
				<p ng-if="score >= 90">
					<span style="color: #485563;">Compliance percentage of 90% or above indicates that the instance is complaint with most of the security controls provided by ServiceNow. Please ensure mandatory and recommended controls are enabled as recommended in the &#xa0;<a href="https://hi.service-now.com/kb_view.do?sysparm_article=KB0550654" target="_blank">&#xa0;ServiceNow Instance Hardening document</a></span>
				</p>
				<p ng-if="90 > score &amp;&amp; score >= 50">
					<span style="color: #485563;">Compliance percentage between 50% and 90% indicates moderate level of security controls within an instance. Please ensure mandatory and recommended controls are enabled as recommended in the &#xa0; <a href="https://hi.service-now.com/kb_view.do?sysparm_article=KB0550654" target="_blank">ServiceNow Instance Hardening document</a></span>
				</p>
				<p ng-if="50 > score">
					<span style="color: #485563;">Compliance percentage of 50% or below indicates that the instance lacks basic security controls and needs attention as soon as possible. At the very least, Please ensure mandatory and recommended controls are enabled as recommended in the &#xa0; <a href="https://hi.service-now.com/kb_view.do?sysparm_article=KB0550654" target="_blank">ServiceNow Instance Hardening document</a></span>
				</p>

				<p>Additionally, review any of the critical$[SP]<strong>Security Alerts</strong>$[SP]listed.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<h2>Security Alerts</h2>

		<span class="pull-right">
			<button class="icon-refresh btn btn-icon" ng-click="refreshNow()">
				<span class="sr-only">Refresh</span>
			</button>
		</span>
		
		<p>Your event-based information is summarized here and automatically refreshes every minute</p>
		
		<hr/>
		<div class="col-lg-3 col-md-4 col-sm-12" ng-repeat="alertBox in alertBoxes">
			<div class="panel panel-default">
				<alert-panel 
							 today-title="alertBox.todayTitle"
							 yesterday-title="alertBox.yesterdayTitle"
							 this-week-title="alertBox.thisWeekTitle"
							 table="alertBox.table"
							 query="alertBox.query" 
							 user="alertBox.user"
							 role="alertBox.role"
							 class="panel-body"
							 refresh-interval="refreshInterval" />
			</div>
		</div>
	</div>
	<div class="row security-resources">
		<h2>Security Resources</h2>
		<hr/>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="media">
							<div class="pull-left">
								<span class="media-object media-icon icon-book"></span>
							</div>
							<div class="media-body">
								<h3 class="h4 media-heading">Hardening Document</h3>
								<p>
									The ServiceNow Instance Hardening document helps you understand and configure Application Security controls on the instance.
								</p>
								<p>
									<a href="https://hi.service-now.com/kb_view.do?sysparm_article=KB0550654" target="_blank">View the Instance Hardening document</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-4 col-sm-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="media">
							<div class="pull-left">
								<span class="media-object media-icon icon-book"></span>
							</div>
							<div class="media-body">
								<h3 class="h4 media-heading">Security Wiki/Docs</h3>
								<p>
									 The Platform Security resource helps you better understand the Platform Security components and its associated feature sets.
								</p>
								<p>
									<a href="https://docs.servicenow.com/bundle/geneva-servicenow-platform/page/administer/security/topic/p_Security.html" target="_blank">View Security Wiki/Docs</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-4 col-sm-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="media">
							<div class="pull-left">
								<span class="media-object media-icon icon-book"></span>
							</div>
							<div class="media-body">
								<h3 class="h4 media-heading">Security Blog</h3>
								<p>
									Come join the conversations and learn from experts and peers at the ServiceNow Security Operations Community.
								</p>
								<p>
									<a href="https://community.servicenow.com/community/security-operations" target="_blank">View Security Operations blog&#xa0;</a> 
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-4 col-sm-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="media">
							<div class="pull-left">
								<span class="media-object media-icon icon-book"></span>
							</div>
							<div class="media-body">
								<h3 class="h4 media-heading">Jakarta Release: Security fixes</h3>
								<p>
									There have been a number of notable security fixes with Jakarta version of ServiceNow Platform.
								</p>
								<p>
									<a href="https://hi.service-now.com/kb_view.do?sysparm_article=KB0621173" rel="nofollow" style="color: #278efc;" target="_blank">&#xa0;View the list of issues on HI</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var g_ck = '$[gs.getSessionToken()]';
</script>
<g:requires name="scripts/angular_includes_1.4.js" includes="true"/>