<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <g2:evaluate var="jvar_popup_html" jelly="true">
        var p = new GlidePopup(jelly.gc, jelly.sysparm_table);
        p.putParameter("sys_id", jelly.sysparm_sys_id);
		
		if (!jelly.sysparm_view)
			p.putParameter("sysparm_view", "SYS_POPUP");
		else
			p.putParameter("sysparm_view", jelly.sysparm_view);

        var rp = p.getRenderProperties();
        rp.setSmallCaption(true);

        p.getPopup();
    </g2:evaluate>
    <div id="popup_data">
        <g2:no_escape>$[jvar_popup_html]</g2:no_escape>
    </div>
    <script>
        $("popup_data").innerHTML.evalScripts();
    </script>
</j:jelly>