<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g:evaluate jelly="true">
		var title = jelly.sysparm_title;
		var link = jelly.sysparm_url+"";
		link = link.replace(/javascript:/g,"").replace(/[&lt;&gt;]/g,"");
	</g:evaluate>
	<h1>${title}</h1>
	<p><a href="${link}" target="_blank">${gs.getMessage("Click here to view this result. This result will open in a new window.")}</a></p>
</j:jelly>