<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <div style="text-align:left;">
    <br/>
    <j:set var="jvar_has_cascade_del" value="${sysparm_has_cascade_del}"/>
    <j:set var="jvar_delObjList" value="${sysparm_del_obj_list}"/>
    <j:set var="jvar_selObjName" value="${sysparm_sel_obj_name}"/>
    <j:choose>
		<j:when test="${jvar_has_cascade_del == 'false'}">
			<j:choose>
				<j:when test="${sysparm_is_domain_used == 'true'}">
					<div style="color:tomato; font-weight:bold; text-align:center; font-size: larger;">
						${gs.getMessage('Warning!')}
					</div>
				    <div>${gs.getMessage('One or more data/process records fall under this domain. Do you still want to delete?')}</div>
				</j:when>
				<j:otherwise>
					<div>${gs.getMessage('Delete the selected record(s)?')}</div><br/>
				</j:otherwise>
			</j:choose>
		</j:when>
		<j:otherwise>
			<j:choose>
				<j:when test="${sysparm_table_name == 'sys_attachment'}">
					<div> ${gs.getMessage('Delete the selected record(s)?')} </div> <br/>
				</j:when>
				<j:otherwise>
					<div style="color:tomato; font-weight:bold; text-align:center; font-size: larger;">
						${gs.getMessage('Warning!')}
					</div>
					<j:choose>
						<j:when test="${!empty(jvar_selObjName)}">
							<div style="margin: 5px 5px 0px;">
								${gs.getMessage('Deleting the selected records will result in the automatic deletion of related records:')}
							</div>
							<div style="background:#e0e0e0;margin: 5px 5px 0px;">
							<p style="margin: 5px;">${gs.getMessage('For example, the record')} '<b><i> ${jvar_selObjName} </i></b>' ${gs.getMessage('has the following dependencies:')} </p>
							<!-- display related objects table -->
							<g:macro_invoke macro="show_cascade_del_objs_table" obj_list="${jvar_delObjList}" />
							</div>
						</j:when>
						<j:otherwise>
							<div style="margin: 5px 5px 0px;">
								${gs.getMessage('Deleting the selected record will result in the automatic deletion of the following related records:')}
							</div>
							<!-- display related objects table -->
							<g:macro_invoke macro="show_cascade_del_objs_table" obj_list="${jvar_delObjList}" />
						</j:otherwise>
					</j:choose>
					<div style="margin: 5px 5px 0px;">
						${gs.getMessage('Note that the related records may trigger their own cascade deletions.')}<br/>
						${gs.getMessage('Proceed?')}
					</div>
				</j:otherwise>
			</j:choose>
	   </j:otherwise>
    </j:choose>
    <div align="right" class="modal-footer flex">
        <g:dialog_buttons_ok_cancel ok="return ok()" cancel="return cancel()" ok_type="button" ok_style_class="btn btn-destructive" ok_text="${gs.getMessage('Delete')}" cancel_type="button"/>
    </div>

    </div>
</j:jelly>