<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

    <div style="text-align:left;">
    <br/>
    <div style="color:tomato; font-weight:bold; text-align:center; font-size: larger;">
                ${gs.getMessage('Warning!')}
    </div>
    <div style="margin: 5px 5px 0px;">
                <br/>
                ${gs.getMessage('Delete all inactive versions of this record?')}
    </div>

    <br/>

    <div align="right">
        <g:dialog_buttons_ok_cancel ok="return ok()" cancel="return cancel()" ok_type="button" cancel_type="button"/>
    </div>

    </div>
    <script>
       if(window.addEventListener) {
           window.addEventListener("keyup", function(e){  if(e.keyCode == 13) ok(); if(e.keyCode == 27) cancel(); }, false);
       }
    </script>
</j:jelly>
