<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<j:set var="jvar_query" value="${sysparm_record_list}" />
	<script>
		var templateConfirmQuery = '${jvar_query}';
	</script>
    <div style="text-align:left;">
    <br/>
   <div> ${gs.getMessage('Delete this record?')} </div><br/>
    <br/>
    <div align="right" class="modal-footer">
        <g:dialog_buttons_ok_cancel ok="return ok()" ok_style_class="btn btn-destructive" ok_text="${gs.getMessage('Delete')}" cancel="return cancel()" ok_type="button" cancel_type="button"/>
    </div>
    </div>

    <script>
       document.getElementById("ok_button").focus();
    </script>
</j:jelly>