<g2:evaluate var="jvar_nodes_table_id" jelly="true">
	var id = ('nodes_table_' + Date.now() + Math.random()).replace('.', '');
	id;
</g2:evaluate>

<g2:evaluate var="jvar_diag" object="true">
   var diag = new Diagnostics();
   diag;
</g2:evaluate>

<g2:evaluate var="jvar_nodes" jelly="true">
   function addValueToJSON(j, label, value, condition) {
      var val = new Packages.org.json.JSONObject();
      val.put("label", label);
      val.put("value", value);
      var flag = false;
      if (condition) {
         try {
            s = '"' + value.replace(/\n/g, "").replace(/\"/g, "") + '"' + condition;
            if (eval(s))
               flag = true;
         } catch (ex) {
         }
      }
      val.put("flag", flag);
      j.put(val);
   }
   
   // This function handles the multiple entries for "system.memory.max", 
   // for which we want the one without the attribute "type"
   function getElementWithoutAttribute(elements, attr) {
      if (attr.indexOf("@") != 0)
      	 attr = "@" + attr;
      for (var index in elements) {
         var el = elements[index];
         if (!el.hasOwnProperty(attr)) {
            return el;
         }
      }
      return null;
   }

   var json = new Packages.org.json.JSONArray();

   while (jelly.jvar_diag.nextNode()) {
      var diagNode = jelly.jvar_diag.getNode();

      var jsonNode = new Packages.org.json.JSONObject();
      jsonNode.put("name", diagNode.nameLink);
      var vals = new Packages.org.json.JSONArray();
      jsonNode.put("values", vals);
  
      addValueToJSON(vals, "Status", diagNode.status, jelly.jvar_diag.conditions['node.status']);

      var ss = diagNode.stats.sessionsummary;
      if (ss)
         addValueToJSON(vals, "Logged in users", diagNode.stats.sessionsummary["@logged_in"]);
      else
         addValueToJSON(vals, "Logged in users", "Not available");
      
      if (diagNode.lastDateDiff) {
        var lastReportedFriendly = new String(GlideDateUtil.getDateTimeString(diagNode.lastDateDiff, false));
        addValueToJSON(vals, "Last reported", lastReportedFriendly);
        addValueToJSON(vals, "Last reported (seconds ago)", diagNode.lastDateDiff, jelly.jvar_diag.conditions['node.reportedAgo']);
      }

      addValueToJSON(vals, "JVM UP time", diagNode.stats['jvm.time_friendly']);
      if (diagNode.stats['jvm.cpu.time_friendly'])
          addValueToJSON(vals, "JVM CPU time", diagNode.stats['jvm.cpu.time_friendly']);
      addValueToJSON(vals, "Scheduler running", diagNode.stats['scheduler.is.running'], jelly.jvar_diag.conditions['node.scheduler.is.running']);
      addValueToJSON(vals, "Scheduler queue length", diagNode.stats['scheduler.queue.length'], jelly.jvar_diag.conditions['node.scheduler.queue.length']);

      var maxMemory = diagNode.stats['system.memory.max'];
      if ( diagNode.stats['system.memory.max'] instanceof Array) {
        // system.memory.max actually appears twice in the XML, once with type=info
        // we are taking the OTHER one, and falling back on the type=info one just in case we can't find what we want
        maxMemory = getElementWithoutAttribute(diagNode.stats['system.memory.max'], "type");
        if (!maxMemory) {
           // Fall back to the type='info' node
           maxMemory = diagNode.stats['system.memory.max'][0]['#text'];
        }
      }
      
      addValueToJSON(vals, "Memory (MB)", diagNode.stats['system.memory.in.use'] + " of " + maxMemory);

      if (diagNode.stats['system.memory_permgen.in.use'])
          addValueToJSON(vals, "PermGen (MB)", diagNode.stats['system.memory_permgen.in.use'] + " of " + diagNode.stats['system.memory_permgen.max']);

      if (diagNode.stats['jvm.classes.loaded'])
          addValueToJSON(vals, "JVM Classes", diagNode.stats['jvm.classes.loaded'] + " loaded, " +
              diagNode.stats['jvm.classes.unloaded'] + " unloaded" +
              (diagNode.stats['jvm.classes.verbose'] == 'true'? "(verbosity on)" : ""));

      addValueToJSON(vals, "Transactions", diagNode.stats['servlet.transactions']);
      addValueToJSON(vals, "Errors", diagNode.stats['servlet.errors.handled']);

      var jvmgc = diagNode.stats['jvm.gc'];
      if (jvmgc != null) {
        var gcNodes = (typeof(jvmgc.gc) != 'undefined'? jvmgc.gc : null);
        if (gcNodes != null) {
          for(var i = 0; i != gcNodes.length; i++) {
              var gcNode = gcNodes[i];
              addValueToJSON(vals, "GC." + gcNode['name'] + ".Count", gcNode['run_count'] + ' (' + parseInt(gcNode['run_count_per_fivemin']) + ' per 5 minutes)');
              addValueToJSON(vals, "GC." + gcNode['name'] + ".TotalTime", gcNode['run_time'] + ' (' + gcNode['run_time_readable'] + ')');
              addValueToJSON(vals, "GC." + gcNode['name'] + ".AvgTime", gcNode['avg_run_time']);
          }
        }
      }

      var link = diagNode.stats['servlet.stats_link'];
      if (link)
          addValueToJSON(vals, "Node Stats", link);

      json.put(jsonNode);
   }

   json.toString(3);
</g2:evaluate>

<div id="$[jvar_nodes_table_id]" />

<script>
   var g_nodes = $[NOESC:jvar_nodes];
   var g_nodesAcross = "2";
</script>