<g2:evaluate var="jvar_diag_table_id" jelly="true">
	var id = ('diag_table_' + Date.now() + Math.random()).replace('.', '');
	id;
</g2:evaluate>

<g2:evaluate var="jvar_diag" object="true">
   var diag = new Diagnostics();
   diag;
</g2:evaluate>

<g2:evaluate var="jvar_diagnostics" jelly="true">
   function addValueToJSON(j, label, value, condition) {
      var val = new Packages.org.json.JSONObject();
      val.put("label", label);
      val.put("value", value);
      var flag = false;
      if (condition) {
         try {
            s = '"' + value.replace(/\n/g, "").replace(/\"/g, "") + '"' + condition;
            if (eval(s))
               flag = true;
         } catch (ex) {
         }
      }
      val.put("flag", flag);
      j.put(val);
   }
   
   var json = new Packages.org.json.JSONArray();
   addValueToJSON(json, "Emails (recv) last 60 minutes", jelly.jvar_diag.emailReceivedCount, jelly.jvar_diag.conditions['emailsRecv']);
   addValueToJSON(json, "Emails (sent) last 60 minutes", jelly.jvar_diag.emailSentCount, jelly.jvar_diag.conditions['emailsSent']);
   addValueToJSON(json, "Events pending", jelly.jvar_diag.eventCount, jelly.jvar_diag.conditions['events']);   
   addValueToJSON(json, "Log entries last 60 minutes", jelly.jvar_diag.logCount, jelly.jvar_diag.conditions['logEntries']);
   addValueToJSON(json, "POP3 Status", jelly.jvar_diag.pop3Status, jelly.jvar_diag.conditions['pop3Status']);
   addValueToJSON(json, "SMTP Status", jelly.jvar_diag.smtpStatus, jelly.jvar_diag.conditions['smtpStatus']);

   json.toString(3);
</g2:evaluate>

<div id="$[jvar_diag_table_id]"></div>

<script>
   var g_diagnostics = $[NOESC:jvar_diagnostics];
</script>
