<g2:evaluate var="the_dbd" object="true" expression="var the_dbd = new DatabaseDiagnostics(); the_dbd;"/>

<table class="wide" cellspacing="2" cellpadding="2">
 <tr>
  <td class="label_left">Type</td><td>$[the_dbd.getType()]</td>
 </tr>
 <tr>
  <td class="label_left">Version</td><td>$[the_dbd.getVersion()]</td>
 </tr>
 <tr>
  <td class="label_left">Driver</td><td>$[the_dbd.getDriver()]</td>
 </tr>
 <tr>
  <td class="label_left">JDBC</td><td>$[the_dbd.getJDBC()]</td>
 </tr>
</table>

$[the_dbd.destroy()]
