<g2:evaluate var="the_dbd" object="true" expression="var theArchive = new ArchiveDiagnostics(); theArchive;"/>

<table class="wide" cellspacing="2" cellpadding="2">
 <tr>
  <td class="label_left" width="25%">Active Rules</td><td>$[theArchive.getRuleCount()]</td>
 </tr>
 <tr>
  <td class="label_left">Last Run Date</td><td>$[theArchive.getLastRun()]</td>
 </tr>
 <tr>
  <td class="label_left">Total Records Archived</td><td>$[theArchive.getTotalRecords()]</td>
 </tr>

  <table class="wide" cellspacing="2" cellpadding="2">
    <thead>
      <tr class="header">
         <td>Table</td>
         <td>Total</td>
         <td>Last Run</td>
      </tr>
    </thead>
    
    <g2:for_each_record file="$[theArchive.getActiveRecords()]" var="jvar_list">
       <tr>
          <td>
             <g2:evaluate jelly="true">
                var table =jelly.jvar_list.table;
                var xx = new GlideRecord(table);
                xx.getClassDisplayValue();
             </g2:evaluate>
             $[eval_result]
          </td>
          <td><g2:evaluate jelly="true">jelly.jvar_list.total.getDisplayValue();</g2:evaluate>$[eval_result]</td>
          <td><g2:evaluate jelly="true">jelly.jvar_list.last_run_date.getDisplayValue();</g2:evaluate>$[eval_result]</td>
       </tr>
    </g2:for_each_record>

  </table>
</table>