<g2:evaluate var="the_dbd" object="true" expression="var the_dbd = new DatabaseDiagnostics(); the_dbd;"/>
<div style="height:400px; overflow:auto;">
   <table class="wide" cellspacing="2" cellpadding="2">
      <j2:set var="jvar_now_count" value="0" />
      <g2:evaluate var="jvar_total_count" object="true" expression="the_dbd.getConnectionsCount();"/>
      <g2:evaluate var="db_connections" object="true" expression="db_connections = the_dbd.getConnections(); db_connections;"/>

      <j2:while test="$[jvar_now_count &lt; jvar_total_count]">
         <g2:evaluate var="condetails" object="true" jelly="true" expression="condetails = the_dbd.getConnectionDetails(jelly.db_connections, jelly.jvar_now_count); condetails;"/>

          <tr>
             <td class="label_left">$[jvar_now_count]</td>
             <td class="label_left" nowrap="true">$[condetails.status]</td>
             <td width="75%">$[condetails.sql]</td>
          </tr>

          <j2:set var="jvar_now_count" value="$[jvar_now_count + 1]" />
      </j2:while>
   </table>
</div>

$[the_dbd.destroy()]
