<g2:evaluate>
   var jvm = {};
   jvm.error = "";
   try {
      getGCInfo();
   } catch (ex) {
      jvm.error = "Unable to get GC info - JVM 1.5 is required (" + ex + ")";
   }

   function getGCInfo() {
      jvm.server = Packages.java.lang.management.ManagementFactory.getPlatformMBeanServer();
      jvm.startTime = GlideServlet.getServlet().getStartTime().getTime();
      jvm.nowTime = new Packages.java.util.Date().getTime();
      jvm.upTime = (jvm.nowTime - jvm.startTime);
      jvm.upTimeMin = (jvm.upTime/1000)/60;
      jvm.fiveMinutes = jvm.upTimeMin / 5;
      jvm.transactions = GlideServlet.getServlet().getTotalTransactions();

      jvm.serverName = GlideProperties.get("glide.installation.name");
      jvm.upTime = formatTime(jvm.upTime);
      jvm.cpuTime = formatTime(getAttributeV("java.lang:type=OperatingSystem", "ProcessCpuTime")/(1000*1000));
      jvm.processors = GlideSystemUtil.getAvailableProcessors();
      jvm.transPer5min = formatNum(jvm.transactions/jvm.fiveMinutes);
      jvm.javaOpts = GlideSystemUtil.getJavaOpts();
      jvm.attrs = new GlideChoiceList();
      var names = jvm.server.queryNames(null, null);
      var it = names.iterator();

      while (it.hasNext()) {
           var mbeanKey = it.next();
           mbeanKey = mbeanKey.toString();
           if (mbeanKey.indexOf("GarbageCollector") == -1)
              continue;

           getGCAttributes(mbeanKey);
      }
   }

   function getGCAttributes(name) {
      var count = getAttributeV(name, "CollectionCount");
      var time = getAttributeV(name, "CollectionTime");
      var attr = jvm.attrs.add(name, name);
      attr.setParameter("count", count + '');
      attr.setParameter("total", formatTime(time));
      attr.setParameter("countPer5min", formatNum(count/jvm.fiveMinutes));
      attr.setParameter("avgTime", formatTime(time/count));
   }

   function getAttributeV(name, sub) {
      var o = new Packages.javax.management.ObjectName(name);
      return jvm.server.getAttribute(o, sub);
   }

   function formatTime(time) {
      var secs = time / 1000;
      var str = secs.toFixed(3) + "(s)";
   
      if (secs > 60)
         str += "/" + (secs/60).toFixed(3) + "(m)";

      if (secs > 60*60)
         str += "/" + (secs/(60*60)).toFixed(3) + "(h)";

      return str;
   }

   function formatNum(num) {
      return num.toFixed(3);
   }
</g2:evaluate>

<j2:if test="$[jvm.error == '']">
   <table class="wide" cellspacing="2" cellpadding="2">
      <tr>
        <td class="label_left">Java Options</td>
        <td>$[jvm.javaOpts]</td>
      </tr>

      <j2:forEach items="$[jvm.attrs]" var="jvar_attr">
         <tr>
            <td class="label_left"><b>Name</b></td>
            <td><b>$[jvar_attr.getValue()]</b></td>
         </tr>
         <tr>
            <td class="label_left">Count</td>
            <td>$[jvar_attr.getParameter("count")]</td>
         </tr>
         <tr>
            <td class="label_left">Total</td>
            <td>$[jvar_attr.getParameter("total")]</td>
         </tr>
         <tr>
            <td class="label_left">Count per 5 min</td>
            <td>$[jvar_attr.getParameter("countPer5min")]</td>
         </tr>
         <tr>
            <td class="label_left">Average Time</td>
            <td>$[jvar_attr.getParameter("avgTime")]</td>
         </tr>
      </j2:forEach>
   </table>
</j2:if>

<j2:if test="$[jvm.error != '']">
   <table class="wide" cellspacing="1" border="1" cellpadding="2">
      <tr>
         <td class="label_left">Error</td>
         <td>$[jvm.error]</td>
      </tr>
   </table>
</j2:if>

<g2:evaluate>
   jvm = null;
</g2:evaluate>