<g:ui_form>
	<g:evaluate var="jvar_gr" object="true" jelly="true">
  	  var service_definition_id = "${RP.getWindowProperties().get('service_definition')}";
	  var msg = "When you enable versioning for this API, all related resource records use a version-specific URL. To continue supporting resources without a version number in the URL, make version v1 the default version.";
	</g:evaluate>
	<input type="HIDDEN" name="service_definition_id" id="service_definition_id" value="${service_definition_id}"/>
	<div id="enable_version_dialog_container" style="padding: 2%">
		 <div class="row">
             <p id="dialogue_msg">${gs.getMessage(msg)}</p>
		 </div>
		<div class="row">
        	<div class="col-sm-12">
             	<span class="input-group-checkbox">
				  	<input id="ni.default" name="ni.default" value="false" class="checkbox" type="checkbox" checked="checked"/>
				  	<label for="ni.default" class="checkbox-label">${gs.getMessage('Make version v1 default')}</label>
						<input id="default" value="true" type="hidden" name="default"/>
				  </span>
         	</div>
		</div>
         <div class="modal-footer row flex">
             <button data-dismiss="modal" class="btn btn-default" id="cancel_button">Cancel</button>
             <button data-dismiss="modal" class="btn btn-primary" id="ok_button" onclick="enableVersioning()">OK</button>
         </div>
     </div>
</g:ui_form>