<g:ui_form>
<table width="100%">
  <tr>
    <td colspan="99">
         ${gs.getMessage("Clearing the Text Search caches may decrease performance.")}
    </td>
  </tr>

  <tr>
    <td colspan="2" align="right">
      <g:dialog_buttons_ok_cancel ok="return true" />
    </td>
  </tr>

</table>

</g:ui_form>