<g:ui_form>
<g:messages>
  Document frequency generation successfully scheduled.
  Please specify an email address
  An email will be sent to {0} upon completion.
</g:messages>
<g2:evaluate var="jvar_table">
  var table = "${RP.getWindowProperties().get('table_name')}";
  table;
</g2:evaluate>
<table width="100%">
  <input type="HIDDEN" name="table" id="table" value="$[jvar_table]"/>
  <tr>
    <td colspan="99">
     ${gs.getMessage("Regenerating document frequency data")}
    
    </td>
  </tr>
  <tr class="header">
    <td colspan="99">${gs.getMessage('Upon completion')}</td>
  </tr>
  <tr>
    <td width="100%">
      <input type="radio" checked="true" name="notify" id="notify" value="email" onclick="gel('email').style.visibility=''" title="${gs.getMessage('Email me')}">
        ${gs.getMessage('Email me')}
      </input>
      <br/>
      <input type="radio" name="notify" id="notify" value="none" onclick="gel('email').style.visibility='hidden'" title="${gs.getMessage('Do not notify me')}">
        ${gs.getMessage('Do not notify me')}
      </input>			
    </td>
    <td valign="top">
      <input name="email" id="email" title="${gs.getMessage('Enter email address')}" value="${JS:gs.getUser().getEmail()}" size="30" />	
    </td>
  </tr>

  <j2:if test="$[!empty(jvar_table)]">
     <tr class="header">
       <td colspan="2">${gs.getMessage('Text Index Specifics')}</td>
     </tr>
     <tr>
       <td class="label">${gs.getMessage('Table Name')}</td>
       <td>$[jvar_table]</td>
     </tr>
  </j2:if>
  
  <tr>
    <td colspan="2" align="right">
      <g:dialog_buttons_ok_cancel ok="return validateAndSubmit('$[jvar_table]');" />
    </td>
  </tr>

</table>

</g:ui_form>