<g:ui_form>
<g:messages>
  Text index generation successfully scheduled.
  Please specify an email address
  An email will be sent to {0} upon completion.
</g:messages>
<table width="100%">
  <tr>
    <td colspan="99">
       ${gs.getMessage("Conversion to Calgary text search indexes includes progressively regenerating all indexes.  Reindexing may take a while to complete, and you may notice performance degradation or incomplete search results while the indexes are being regenerated.")}
    </td>
  </tr>
  <tr class="header">
    <td colspan="99">${gs.getMessage('Upon completion')}</td>
  </tr>
  <tr>
    <td width="100%">
      <input type="radio" checked="true" name="notify" id="notify" value="email" onclick="gel('email').style.visibility=''" title="${gs.getMessage('Email me')}">
        ${gs.getMessage('Email me')}
      </input>
      <br/>
      <input type="radio" name="notify" id="notify" value="none" onclick="gel('email').style.visibility='hidden'" title="${gs.getMessage('Do not notify me')}">
        ${gs.getMessage('Do not notify me')}
      </input>			
    </td>
    <td valign="top">
      <input name="email" id="email" title="${gs.getMessage('Enter email address')}" value="${JS:gs.getUser().getEmail()}" size="30" />	
    </td>
  </tr>

  <tr>
    <td colspan="2" align="right">
      <g:dialog_buttons_ok_cancel ok="return validateAndSubmit();" />
    </td>
  </tr>

</table>

</g:ui_form>