<g:ui_form>
<input type="hidden" id="cancelled" name="cancelled" value="false"/>
<input type="hidden" id="server_id" name="server_id" value="${sysparm_server_id}"/>
<table border="0">
  <tr>
    <td nowrap="true">
    <table>
      <tr>
        <td>
          <image src="images/warning.gifx" alt="${gs.getMessage('Refresh users from LDAP server')}"/>
        </td>
        <td>${gs.getMessage('Refresh users from LDAP server')}</td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<div align="right">
<g:dialog_button onclick="return onSubmit();" name="ok_button" id="map_button">${gs.getMessage('OK')}</g:dialog_button>
<g:dialog_button onclick="cancel();" name="cancel_button" id="cancel_button">${gs.getMessage('Cancel')}</g:dialog_button>
</div>
</g:ui_form>

