<style>
	HTML[data-doctype=true] TD.label.label_spacing {
		padding: 5px 12px 6px 6px;
	}
</style>

<input type="HIDDEN" id="table_name" value="${RP.getWindowProperties().get('table_name')}"/>
<input type="HIDDEN" id="field_name" value="${RP.getWindowProperties().get('field_name')}"/>
<span id="dict_info" name="dict_info">
	<table>
		<tr>
			<td class="label label_spacing">Table</td>
			<td><div id='dictionary_viewer.table'></div></td>
		</tr>
		<tr>
			<td class="label label_spacing">Field</td>
			<td><div id='dictionary_viewer.element'></div></td>
		</tr>
		<tr>
			<td class="label label_spacing">Type</td>
			<td><div id='dictionary_viewer.type'></div></td>
		</tr>
		<tr id='dictionary_viewer.reference.tr'><td class="label label_spacing">Reference</td>
			<td><div id='dictionary_viewer.reference'></div></td>
		</tr>
		<tr id='dictionary_viewer.reference_qual.tr'>
			<td class="label label_spacing">Reference Qual</td>
			<td><div id='dictionary_viewer.reference_qual'></div></td>
		</tr>
		<tr>
			<td class="label label_spacing">Max Length</td>
			<td><div id='dictionary_viewer.max_length'></div></td>
		</tr>
		<tr id='dictionary_viewer.dependent.tr'>
			<td class="label label_spacing">Dependent</td>
			<td><div id='dictionary_viewer.dependent'></div></td>
		</tr>
		<tr id='dictionary_viewer.attributes.tr'>
			<td class="label label_spacing">Attributes</td>
			<td><div id='dictionary_viewer.attributes'></div></td>
		</tr>
	</table>
</span>

