<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
<table class="wide" cellspacing="0">
  <tbody>
    <tr class="header" width="100%">
      <td class="column_head" align="left" style="width:2px;"/>
      <td class="column_head" align="left" style="width:30px;">
      <input id="sysverb_back" type="HIDDEN" />
      <form name="back_form" method='get' action="sys_update_xml_list.do" >
      <img id="sysverb_back" width="16" height="16" value="sysverb_back" alt="Back" name="not_important" onclick="document.back_form.submit();" src="images/green_back.gifx" style="margin: 3x 0px 3px 4px;" title="Back"/>
      </form>
      </td>
      <td class="column_head" align="right">
      <form id="edit_button" name="edit" method='post' action="${sysparm_record_table}.do?sys_id=${sysparm_record}">
        <button class="header" type="button" id="edit" alt="Edit" title="Edit" style="margin: 2px; margin-right:10px;" onclick="document.edit.submit();">Edit</button>
      </form>
      </td>
    </tr>
  </tbody>
</table>
<div id="diff" />
</j:jelly>