<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <span style="font-size: 16pt; font-face: Verdana, Arial; ">
    <b><img src="images/system.gifx" alt="${gs.getMessage('hth_1')}"/> ${gs.getMessage('hth_1')}</b>
  </span>
  <hr/>
<p />${gs.getMessage('hth_2')}
<br />
${gs.getMessage('hth_3')}
  <br />
  <g:evaluate var="jvar_discoveryHref" object="false">
    //If basic access authentication is enabled, append the user name as a URL param
    if(JSUtil.notNil(gs.getProperty("glide.hthd.http.username")))
      "hta/discovery.hta?USER="+gs.user();
    else
      "hta/discovery.hta";
  </g:evaluate>
  <button onclick="location.href='${jvar_discoveryHref}'">${gs.getMessage('hth_4')}</button>
  <br />
  <hr />
  <div class="text_caption">${gs.getMessage('hth_5')}</div>
  <ol>
    <li>${gs.getMessage('hth_6')}</li>
    <li>${gs.getMessage('hth_7')}</li>
    <li>${gs.getMessage('hth_8')}</li>
  </ol>
  <hr />
  <div class="text_caption">${gs.getMessage('hth_9')}</div>
  <p />
  ${gs.getMessage('hth_10')}
</j:jelly>
