<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g2:inline template="output_messages.xml" />
	<form name="system_properties" style="DISPLAY: inline" action="system_properties_update.do" method="POST">
		<input name="sys_action" type="HIDDEN" value="hello"/>
		<input name="referer" id="referer" type="HIDDEN" value=""/>
		<table class="wide">			
			<g2:system_properties_categorized category="Domain"/>
			<j2:if test="$[gs.getProperty('glide.sys.domain.use_record_domain_for_processes', 'false') == 'false']">
				<j2:if test="$[gs.getProperty('glide.sys.domain.use_record_domain_for_data', 'false') == 'false']">
					<g2:system_properties_categorized category="Domain Legacy"/>
				</j2:if>
			</j2:if>
			<tr>
				<td colspan="2">
					<button class="listactions" type="submit" name="action" >${gs.getMessage("Save")}</button>
				</td>
			</tr>
		</table>
	</form>
</j:jelly>