<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g:requires name="DownloadLogFromNodes.jsdbx"/>
	<g:macro_invoke macro="select_date_and_upon_completion" />

	<span id="download_button_span" style="float: right; text-align: right; display: inline;">
		<button type="submit" class="btn btn-default" id="downloadButton" style="width: 85px;" title="Download" value="Download" width="85" onclick="return scheduleCreation();">Download</button>
	</span>

</j:jelly>