<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
        <table border="0" id="${jvar_name}" cellspacing="0" cellpadding="0" class="layout_outer" width="100%" height="100%"> 
		<tr>
			<td  height="100%" width="100%" style="vertical-align:middle" align="center">
                             <table style="margin:auto" cellspacing="0" cellpadding="0">
                                 <tr>
                                     <td>
                                     ${gs.getMessage('Loading...')}
                                     <img src="images/ajax-loader.gifx?v=2" alt="${gs.getMessage('Loading...')}" />
                                     </td>
                                 </tr>
                             </table>
                        </td>
		</tr>
	</table>
</j:jelly>