<j:if test="${RP.isPreview()}">
 <center>No preview available</center>
</j:if>

<j:if test="${!RP.isPreview()}">
  <g:include_script src="scripts/excanvas.js"/>
  <g:include_script src="CoolClock.jsdbx"/>

  <!-- works on IE, but draws different -->
  <table><tr>
    <td align="center"><div><canvas id="x1" class="CoolClock:swissRail:30::-8 leftRightPad"></canvas></div>San Diego</td>
    <td align="center"><div><canvas id="x2" class="CoolClock::30:noSeconds:-5 leftRightPad"></canvas></div>New York</td>
    <td align="center"><div><canvas id="x3" class="CoolClock::30:noSeconds:+0 leftRightPad"></canvas></div>London</td>
    <td align="center"><div><canvas id="x4" class="CoolClock:swissRailPM:30:noSeconds:+2 leftRightPad"></canvas></div>Kiev</td>
  </tr></table>
</j:if>
