<j:jelly trim="true" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <link href="styles/gwt.cssx" type="text/css" rel="stylesheet"/>

    <g:requires name="gwt_tree2.js"/>
    <g:requires name="scripts/classes/CITree2Node.jsx"/>
    <g:requires name="SCTreeNode.js"/>
    <g:requires name="scripts/classes/TableTreeNode.js"/>
    
    <div id="big_tree"></div>
    <script>
        var t = new GwtTree2("big_tree", "big_tree");
        t.xmlItemNodeName = "item";
        t.showRootNode = true;
        
	    var rootNode = new GwtTree2Node(t, "", "The Big Picture");
		rootNode.processedChildren = true;
		rootNode.show();
			
		var ciNode = new CITree2Node(rootNode, "", "Business Services");
	    ciNode.processor = "com.snc.cmdb.ECMDBAjaxProcessor";
		ciNode.setText("Business Services");
		rootNode.appendChild(ciNode);
		addBusinessServiceNodes(ciNode);

		function addBusinessServiceNodes(ciNode) {
			var gr = new GlideRecord('cmdb_ci_service');
			gr.orderBy('name');
			gr.query();
			while (gr.next()) {
				var bsNode = new CITree2Node(ciNode, gr.sys_id + '');
				bsNode.sys_id = gr.sys_id + '';
				bsNode.setText(gr.name);
				bsNode.setTable('cmdb_ci_service');
				bsNode.setParentName('parent');
				bsNode.setChildName('child');
				ciNode.appendChild(bsNode);
			}
			ciNode.collapse();
		}
     </script>

	<j2:if test="$[pm.isRegistered('com.glideapp.knowledge') ${AND} gs.hasRole('knowledge')]">
		<script language="javascript" src="KBTreeNode.jsx"/>
		<script>
			var kbNode = new KBTreeNode(rootNode, "", "Knowledge Base");
			kbNode.processor = "com.glideapp.knowledge.KBTreeData";
			rootNode.appendChild(kbNode);
		</script>
	</j2:if>
	
	<script>
		var scNode = new SCTreeNode(rootNode, "", "Catalogs");
		scNode.processor = "com.glideapp.servicecatalog.SCTreeData";
		rootNode.appendChild(scNode);

		var tableNode = new TableTreeNode(rootNode, "", "Tables");
		tableNode.processor = "FunctionTreeData";
		rootNode.appendChild(tableNode);

		rootNode.expand();		
	</script>
</j:jelly>