<g:yellow_annotation>Asks for two numbers, and processes the addition of them</g:yellow_annotation>
<br/>
<g:ui_form>
<p/>
<g:evaluate>
if (typeof num1 == 'undefined') {
  num1 = 0; 
  num2 = 0;
}
</g:evaluate>
<label for="num1">Enter number 1:</label>
<input id="num1" type="text" name="num1" value="${num1}" class="decimal"/>
<br/>
<label for="num2">Enter number 2:</label>
<input id="num2" type="text" name="num2" value="${num2}" class="decimal"/>
<br/>
<g:ui_button action="calc">Calculate</g:ui_button>
<j:if test="${typeof(sys_action) != 'undefined'}">
<pre>
Your input:
  num1: ${num1}
  num1: ${num2}
<hr/>
  sum:   ${sum}
</pre>
</j:if>
</g:ui_form>