<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
<g:ui_table>
<g:ui_header><label for="expression">Enter AJAX Function to be executed</label></g:ui_header>
      <TR>
        <TD>
          <input id="expression" name="jvar_host" type="text" style="width: 100%;" value="gs.log('super duper'); answer = 'Yikes!' "/>
        </TD>
      </TR>
      <TR>
        <td align="right">
          <input id="submit_button" value="Do it" style="width: 100px;" width="100" 
			  onclick="submit()" type="submit"  /><div/>
        </td>
      </TR>
</g:ui_table>
  <div id="messages"></div>
</j:jelly>