<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <g2:requires name="styles/heisenberg/heisenberg_all.css" includes="true" />
    <input type="hidden" id="export_set_id" name="export_set_id" value="${sysparm_export_set_id}" />
    <input type="hidden" id="export_set_test_mode" name="export_set_test_mode" value="${sysparm_export_set_test_mode}" />
    <input type="hidden" id="export_set_name" name="export_set_name" value="${sysparm_export_set_name}" />
    <input type="hidden" id="export_set_action" name="export_set_action" value="${sysparm_export_set_action}" />
</j:jelly>