<script language="JavaScript" src="scripts/gwt_tree2.jsx?v=${gs.getProperty('glide.builddate')}"></script>
<script language="JavaScript" src="scripts/classes/ElementTree.jsx?v=${gs.getProperty('glide.builddate')}"></script>
<g:evaluate var="jvar_table_label" jelly="true">
   var label = (jelly.sysparm_table || '') + '';
   var td = GlideTableDescriptor.get(label);
   if (td)
      label = td.getLabel();
   label;
</g:evaluate>

<g:emitParms />
<input type="hidden" id="sysparm_label" value="${jvar_table_label}" />

<div id="tableTreeDiv" style="width:300px;height:300px;overflow:auto;margin:5px;border:1px solid black;" />