<j2:set var="sysparm_id" value="198d4d380a0a0b27007da2fbd5ccf5c2" />
<j2:set var="sysparm_facade_table" value="sys_user" />
<j2:set var="sysparm_facade_sys_id" value="5137153cc611227c000bbd1bd8cd2005" />
<j2:set var="sysparm_catalog_mode" value="form_facade" />

<g:inline template="com.glideapp.servicecatalog_cat_item_template.xml"/>