<g:ui_form form_class="ui_form_macro">
    <g:requires name="styles/diagrammer.css" />
    <g:requires name="scripts/GwtGraphicsIncludes.js" includes="true" />
    <g:requires name="scripts/GwtDiagramIncludes.js" includes="true" />

    <g:include_script src="classes/GwtDiagramLayout.jsx"/>
    <g:include_script src="classes/GwtSugiyamaLayout.jsx"/>
    <g:include_script src="classes/GenericHierarchy.jsx"/>

    <j2:set var="jvar_table_style" value=""/>
    <j2:set var="jvar_row_style" value=""/>
    <j2:if test="$[GlideMobileExtensions.runningTablet()]">
       <j2:set var="jvar_table_style" value="position: fixed; height: 100%;"/>
       <j2:set var="jvar_row_style" value="height: 100%;"/>
    </j2:if>

    <table border="0" cellspacing="0" cellpadding="2" class="toolbar" style="$[jvar_table_style]">
        <tr>
            <td nowrap="true">
               <g:diagram_scale diagram="g_hierarchy" />
            </td>
            <td width="100%"></td>
        </tr>
        <tr style="$[jvar_row_style]">
            <td style="height: 100%; width: 100%;" colspan="3">
                <div id="diagram_area" style="height: 100%; width: 100%; background: white; overflow:auto; position: relative"/>
            </td>
        </tr>
    </table>
<script>
var generic_hierarchy_attributes = '$[sysparm_attributes]';
</script>
</g:ui_form>