    <g:requires name="styles/diagrammer.css"/>
    <g:requires name="styles/erd.css"/>
    <g:requires name="scripts/GwtGraphicsIncludes.js" includes="true"/>
    <g:requires name="scripts/GwtDiagramIncludes.js" includes="true"/>
    <g:include_script src="classes/GwtDiagramLayout.jsx"/>
    <g:include_script src="classes/GwtSugiyamaLayout.jsx"/>
    <g:include_script src="classes/GenericHierarchy.jsx"/>
    <g:requires name="scripts/ERDIncludes.js" includes="true"/>


    <j2:set var="jvar_table_style" value=""/>
    <j2:if test="$[GlideMobileExtensions.runningTablet()]">
       <j2:set var="jvar_table_style" value="position: fixed; height: 100%;"/>
    </j2:if>

    <table id="main_area" cellspacing="0" class="toolbar" style="border: 0px; $[jvar_table_style]">
        <tr id="controls_row">
            <td>
                <table  class="toolbar" style="width: 100%; border: 0px;">
                    <tr>
                        <td style="white-space: nowrap; text-align: left; width: 343px;">
                            		    <j:set var="jvar_onchange" value="changeItem(value, '${gs.getUser().getLanguage()}')"/>
		                            <g:ui_reference id="item_picker" name="item_picker"
		                                            query="element=null^language=${gs.getUser().getLanguage()}" 
		                        		    table="sys_documentation" 
		                                            value=""
		                                            displayValue=""
		                                            columns="name"
		                                            columns_search="true"
		                                            order_by="name" 
		                                            show_popup="false"
		                                            completer="AJAXTableCompleter"/>

                        </td>
                        <td id="breadcrumb_area" style="text-align: left;"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="filter_row">
            <td id="filter_area">
                 <table class="toolbar" style="background: white; width: 100%;">
                     <tr>
                         <td>
                             <div style="height: 10px; width: 10px; background: tomato"></div>
                         </td>
                         <td><input type="checkbox" id="show_referenced"/></td>
                         <td nowrap="nowrap" style="white-space: nowrap">${gs.getMessage("Show referenced tables")}</td>
                         <td>
                             <div style="height: 10px; width: 10px; background: orange"></div>
                         </td>
                         <td><input type="checkbox" id="show_referenced_by"/></td>
                         <td nowrap="nowrap" style="white-space: nowrap">${gs.getMessage("Show referencing tables")}</td>
                         <td>
                             <div style="height: 10px; width: 10px; background: green"></div>
                         </td>
                         <td><input type="checkbox" id="show_extended"/></td>
                         <td nowrap="nowrap" style="white-space: nowrap">${gs.getMessage("Show extended tables")}</td>
                         <td>
                             <div style="height: 10px; width: 10px; background: blue"></div>
                         </td>
                         <td><input type="checkbox" id="show_extended_by"/></td>
                         <td nowrap="nowrap" style="white-space: nowrap">${gs.getMessage("Show extending tables")}</td>

                         <td id="expanded_key_color" style="display: none;">
                             <div style="height: 10px; width: 10px; background: purple;"></div>
                         </td>
                         <td id="expanded_key_text" nowrap="nowrap" style="white-space: nowrap; display: none;">${gs.getMessage("Part of expanded hierarchy")}</td>
                         <td style="width: 100%;"></td>
                     </tr>
                 </table>
            </td>
        </tr>
        <tr id="diagram_area_row" style="height: 100%;">
            <td>
                <div id="diagram_area_parent">
                    <div id="diagram_area"/>
                </div>
            </td>
        </tr>
    </table>
<script>

var generic_hierarchy_erd_attributes = '$[JS:sysparm_attributes]';
var user_language = '${gs.getUser().getLanguage()}';

</script>

<style>
	HTML {
height: 100%;
}
</style>
