<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<div class="modal-body">
		<p>${gs.getMessage('Add unused report to this list so you can manage them. This may take several minutes.')}<br/></p>
		<p>${gs.getMessage('By default, system reports that have never run do not appear in Report Statistics.')}</p>
	</div>
	<footer class="modal-footer flex">
		<button class="btn btn-default" onclick="cancel()">Cancel</button>
		<button class="btn btn-primary" onclick="ok()">${gs.getMessage('Add reports')}</button>
	</footer>
</j:jelly>
