<g:ui_form onsubmit="return invokePromptCallBack('ok');">
<table width="100%">
	<tr>
                <g:evaluate>
                   var title = "${RP.getWindowProperties().get('title')}";
                   title = gs.getMessage(title);
                </g:evaluate>
		<td nowrap="true"><label for="glide_prompt_answer">${title}</label></td>
		<td nowrap="true">
			<input id="glide_prompt_answer" name="glide_prompt_answer" value="${RP.getWindowProperties().get('text')}"/>
		</td>
	</tr>
        <tr>
            <td colspan="2" align="right">
                <g:dialog_buttons_ok_cancel 
                   ok="invokePromptCallBack('ok');" 
                   ok_type="button" 
                   cancel="invokePromptCallBack('cancel')" 
                   cancel_type="button" />
            </td>
        </tr>
	
</table>
</g:ui_form>
