<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <table>
        <tr>
           <td><div id="window_div" style="height: 75px; width: 600px; overflow: none"/></td>
        </tr>
        <tr>
           <td>var w = new GlideWindow('id_abcd', false);</td></tr> 
        <tr>
           <td>w.setPosition('relative');</td></tr> 
        <tr>
           <td>w.setTitle('title');</td></tr> 
        <tr>
           <td>w.setSize(200, 30);</td></tr>
        <tr>
           <td>w.setBody('body');</td></tr> 
        <tr>
           <td>w.setFontSize(9);</td></tr>
        <tr>
           <td>w.setFontWeight("normal");</td></tr>
        <tr>
           <td>w.setHeaderColor("LightGoldenRodYellow");</td></tr> 
        <tr>
           <td>w.insert('window_div');<br/>
           </td>
        </tr>

        <tr>
           <td><div id="window_div2" style="height: 75px; width: 600px; overflow: none"/></td>
        </tr>
        <tr>
           <td>
           var w = new GlideWindow('id_5678', true); //fixed glide window
           <br/>
           </td>
        </tr>
        
        <tr>
           <td><div id="window_div3" style="height: 75px; width: 600px; overflow: none"/></td>
        </tr>
        <tr>
           <td>
           var icon = cel('img');</td>
           </tr>
           <tr>
           <td>
           icon.src = 'images/gwt/document.gifx';</td>
           </tr>
           <tr>
           <td>
           icon.alt = 'Document';</td>
           </tr>
           <tr>
           <td>
           w.addDecoration(icon, false); //second arg true for left-side icon 
           <br/>
           </td>
            
        </tr>
        
        <tr>
           <td><div id="window_div4" style="height: 75px; width: 600px; overflow: none"/></td>
        </tr>
        <tr>
           <td>
           w.addFunctionDecoration('images/add_circle.gifx', 'Add', function() {alert("icon clicked")}, true);<br/> </td>
           </tr>


        <tr valign="top">
           <td><br/><a class="linked" href="javascript:showLoadingDialog()">click to show loading dialog for 1.5 seconds</a></td>
        </tr>
        
        <tr>
           <td>
           var loadingDialog = new GlideDialogWindow("dialog_loading", true);</td>
        </tr>
        <tr>
           <td>
            loadingDialog.setDialog('loading');</td>
        </tr>
        <tr>
           <td>
            loadingDialog.render();</td>
        </tr>
        <tr>
           <td>
            setTimeout(function() {loadingDialog.destroy()}, 1500);<br/></td>
        </tr> 
        
        <tr>
           <td><br/><a class="linked" href="javascript:showGlidePaneForm()">click to show a form</a></td>
         </tr>
         <tr>
           <td>var dialog = new GlidePaneForm('new_item', 'sc_cat_item');//optionally pass in containing element and callback function</td>
         </tr>
         <tr>
           <td>
            dialog.setTitle("New Item");</td>
         </tr>
         <tr>
           <td>
            dialog.setSysID(-1); //pass in sys_id to edit existingrecord</td>
          </tr>
          <tr>
          <td>
          dialog.addParm('sysparm_view', 'default');
          </td>
          </tr>
          <tr>
          <td> 
          dialog.addParm('sysparm_titleless', 'true');
          </td>
          </tr>
          <td>
          dialog.addParm('sysparm_form_only', 'true');
          </td>
          <tr>
          <td>
          dialog.render();
          </td>
          </tr>
    </table>
    
</j:jelly>