			<style>
					/* dialog styles */
				.dialog_content {
					width: 100%;
					vertical-align: top;
					min-width: 300px;
					padding: 0 0 20px 20px;
				}

				.dialog_buttons {
					display: inline;
					text-align: right;
					vertical-align:bottom;
					white-space: nowrap;
				}

				.dialog_buttons_row {
					text-align: right;
				}

				.dialog_left_icon {
					font-size: 300%;
					vertical-align: top;
				}

				.dialog_left_icon_warn {
					color: #81878E;
				}

				.dialog_left_icon_confirm {
					color: #6CE474;
				}
			</style>
			<g:ui_form onsubmit="return invokePromptCallBack('ok');">
				<g2:evaluate>
					var title = "${RP.getWindowProperties().get('title')}";
					title =  new GlideStringUtil().unEscapeHTML(title);
					var warning = "${RP.getWindowProperties().get('warning')}";
					warning =  new GlideStringUtil().unEscapeHTML(warning);
				</g2:evaluate>
				<table border="0" width="100%">
					<tr>
						<td nowrap="true" style="vertical-align:top;">
							<j2:switch on="$[warning]">
								<j2:case value="true">
									<i id="image_dialog" class="dialog_left_icon dialog_left_icon_warn icon-alert-triangle"/>
								</j2:case>
								<j2:default>
									<i id="image_dialog" class="dialog_left_icon dialog_left_icon_confirm icon-check-circle"/>
								</j2:default>
							</j2:switch>
						</td>
						<td>
							<table border="0" width="100%">
								<tr>
									<td class="dialog_content">$[title]</td>
								</tr>
								<tr class="dialog_buttons_row">
									<td class="dialog_buttons">
										<g:dialog_buttons_ok_cancel ok="invokePromptCallBack('ok');" ok_type="button"
											cancel="invokePromptCallBack('cancel')" cancel_type="button"/>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</g:ui_form>
			