	<style>
		/* dialog styles */
		.dialog_content {
			width: 100%;
			height: 100px;
			vertical-align: middle;
			min-width: 300px;
			padding: 0 10px 10px 10px;
		}

		.dialog_buttons {
			display: inline;
			text-align: right;
			vertical-align:bottom;
			white-space: nowrap;
		}
	</style>
	<g2:evaluate>
		var title = "${RP.getWindowProperties().get('title')}";
		title =  new GlideStringUtil().unEscapeHTML(title);
		var warning = "${RP.getWindowProperties().get('warning')}";
		warning =  new GlideStringUtil().unEscapeHTML(warning);
	</g2:evaluate>
	<table border="0" width="100%">
		<tr>
			<td nowrap="true" style="vertical-align:top;">
				<j2:switch on="$[warning]">
					<j2:case value="true">
						<img id="image_dialog" src="images/dialog_warn.pngx" width="110" height="130"/>
					</j2:case>
					<j2:default>
						<img id="image_dialog" src="images/dialog_confirm.gifx" width="110" height="130"/>
					</j2:default>
				</j2:switch>
			</td>
			<td>
				<table border="0" width="100%">
					<tr>
						<td class="dialog_content">$[title]</td>
					</tr>
					<tr>
						<td class="dialog_content"><img id="image_spinner" src="images/ajax-loader.gifx" width="220" height="19"/></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
