<g:ui_form onsubmit="return invokeConfirmCallBack('ok');">
<table width="100%">
        <tr><td/><td/></tr>
        <g:evaluate>
                var title = "${RP.getWindowProperties().get('title')}";
                title =  new GlideStringUtil().unEscapeHTML(title);
                var dialogType = "${RP.getWindowProperties().get('dialogType')}";
				var confirmText = dialogType === 'delete' ? 'Delete' : 'Ok';
				var okClass = dialogType === 'delete' ? 'btn btn-danger' : 'btn btn-primary';
                var warning = "${RP.getWindowProperties().get('warning')}";
                warning =  new GlideStringUtil().unEscapeHTML(warning);
        </g:evaluate>
	
        <j:if test = "${warning == 'true'}">
           <tr> <td>
           <div style="margin-top: 6px; color: tomato; font-size:larger;text-align:center;">
                <b>Warning</b>
           </div>
           </td>
           </tr>
        </j:if>

	<tr>
     	<td nowrap="true"><g:no_escape>${title}</g:no_escape></td>	
	</tr>
        <tr><td/><td/></tr>
        <tr>
            <td colspan="2" align="right">
                <g:dialog_buttons_ok_cancel 
                   ok="invokePromptCallBack('ok');" 
                   ok_type="button" 
				   ok_text="${gs.getMessage(confirmText)}"
				   ok_style_class="${okClass}"
                   cancel="invokePromptCallBack('cancel')" 
                   cancel_type="button" />
            </td>
        </tr>	
</table>
</g:ui_form>