<g:ui_form onsubmit="return invokeConfirmCallBack('save');">
	<div>
		<g:evaluate jelly="true">
			 var title = (jelly.RP.getWindowProperties().get('title') || '') + '';
			 title =  new GlideStringUtil().unEscapeHTML(title);
		</g:evaluate>
		<g:no_escape>${title}</g:no_escape>
	</div>
	<div class="modal-footer">
		<g:dialog_buttons_save_cancel_discard
			 discard="invokeConfirmCallBack('discard');" 
			 discard_type="button"
			 cancel="invokeConfirmCallBack('cancel')" 
			 cancel_type="button" 
			 save="invokeConfirmCallBack('save');" 
			 save_type="button"/>
	</div>
</g:ui_form>
