<style>	
	.dialog_text_row {
		padding: 0 0 14px 14px;
		font-size: 120%;
	}

</style>

<g:ui_form onsubmit="return invokeConfirmCallBack('ok');">
<table width="100%">
	<tr>
		<td/>
		<td/>
	</tr>
	<tr>
		<g:evaluate>
			var title = "${RP.getWindowProperties().get('title')}";
			title =  new GlideStringUtil().unEscapeHTML(title);
		</g:evaluate>
		<td class="dialog_text_row"><g:no_escape>${title}</g:no_escape></td>
	</tr>
	<tr>
		<td colspan="2" align="center" >
			<button style="width:100%;" class="btn btn-primary" id="ok_button" onclick="invokePromptCallBack('ok');" type="button">OK</button>
		</td>
	</tr>
</table>
</g:ui_form>
