<g:ui_form onsubmit="return invokeConfirmCallBack('ok');">
<table width="100%">
        <tr><td/><td/></tr>
	<tr>
                <g:evaluate jelly="true">
                   var title = (jelly.RP.getWindowProperties().get('title') || '') + '';
                   title =  new GlideStringUtil().unEscapeHTML(title);
                </g:evaluate>
		<td nowrap="true"><g:no_escape>${title}</g:no_escape></td>	
	</tr>
        <tr><td/><td/></tr>
        <tr>
            <td colspan="2" align="right">
                <g:dialog_button_ok 
                   ok="invokePromptCallBack('ok');" 
                   ok_type="button" />
            </td>
        </tr>	
</table>
</g:ui_form>
