<g:ui_form>
  <table class="wide" cellpadding="0" cellspacing="0">
      <g2:evaluate var="jvar_max" expression="gs.getProperty('glide.db.pooler.connections.max')" />
      <g2:evaluate var="jvar_initial" expression="gs.getProperty('glide.db.pooler.connections')" />
      <g2:evaluate var="jvar_scheds" expression="gs.getProperty('glide.sys.schedulers')" />
      <g:ui_header>Provide values for database connections and schedule workers</g:ui_header>
	<tr>
          <td>  
            <g:ui_input_field label="Initial Database Connections" name="initial" value="$[jvar_initial]"/>
          </td>
	</tr>
	<tr>
          <td>
            <g:ui_input_field label="Max Database Connections" name="max" value="$[jvar_max]"/>
          </td>
  	</tr>
	<tr>
          <td>
            <g:ui_input_field label="Number of Schedule Workers" name="scheds" value="$[jvar_scheds]"/>
          </td>
	</tr>
	<tr>
          <td>
            <input id="apply_button" value="Apply" style="width: 100px;" width="100" type="submit"/>
          </td>
	</tr>
	<tr>
	    <td>
	    <b>Note: To change the number of allowed concurrent UI transactions, please use Default semaphore record in Semaphore table.</b>
	    <br/></td>
	</tr>
  </table>
</g:ui_form>