<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<div style="padding:4px;">
		${gs.getMessage('hp_upgrade_dialog_1')}
		<p>${gs.getMessage('hp_upgrade_dialog_2')}</p>
	</div>
</j:jelly>