<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <span style="font-size: 16pt; font-face: Verdana, Arial; font-weight:bold;">
    <img src="images/system.gifx" style="margin-right: 2px;" alt="Help the Help Desk Login Script"/> Help the Help Desk Login Script
  </span>
  <hr/>
  <p/>
    In addition to the Help the Help Desk functionality which provides a user initiated scan of their Windows based desktop asset, the actual script that performs the discovery is provided here for running on demand or automatically at login.  

  <br/>

    To download the Help the Help Desk Login Script, right click the link below and save it as "helpthehelpdesk.js".
    
  <br/>

  <a style="font-weight:bold;" href="helpthehelpdesk.jsdbx" target="_blank">Help the Help Desk Login Script</a> 

  <br/>
  <hr/>

    To configure the Login Script on your domain controller, consult the <a style="margin:0 2px; font-weight:bold;" href="http://docs.servicenow.com/?context=Help_the_Help_Desk_Login_Script_Installation" target="_blank">wiki documentation</a>.

</j:jelly>