<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <script>
     var newImageInfo = "${sysparm_name}";
  </script>
</j:jelly>