<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <script src="htmlarea/plugins/SpellChecker/spell-check-ui.js?v=${gs.getProperty('glide.builddate')}" />
    <form style="display: none;" action="spell-check-logic.do"
          method="post" target="i_framecontent"
          accept-charset="UTF-8">
       <input type="hidden" name="content" id="f_content"/>
       <input type="hidden" name="dictionary" id="f_dictionary"/>
       <input type="hidden" name="init" id="f_init" value="1"/>
    </form>

    <table style="height: 100%; width: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0">
     <tbody>
      <tr style="height:100%">
        <td valign="top" style="width: 13em; height:100%">
          <div>
             <div class="label">${gs.getMessage("Original word")}</div>
             <div id="v_currentWord" style="text-align:
                center; margin-bottom: 0px; height:2em">${gs.getMessage("Please wait...")}</div>
             <div style="text-align: center; margin-bottom: 10px;">
                <button id="b_revert">${gs.getMessage("Revert")}</button>
             </div>
             <div class="label">
                <label for="v_replacement">${gs.getMessage("Replace with")}</label>
             </div>
             <div style="margin-bottom: 10px;">
                <div style="text-align: center">
                  <input type="text" id="v_replacement" style="width: 94%;" />
                </div>
                <div style="text-align: center; margin-top: 2px;">
                   <button id="b_replace">${gs.getMessage("Replace")}</button>
                   <button id="b_replall">${gs.getMessage("Replace all")}</button>
                   <br />
                   <button id="b_ignore">${gs.getMessage("Ignore")}</button>
                   <button id="b_ignall">${gs.getMessage("Ignore all")}</button>
                </div>
             </div>
          </div>
          <div style="position: relative; float: bottom;">
             <div class="label">
               <label for="v_suggestions">${gs.getMessage("Suggestions")}</label>
             </div>
             <div style="text-align: center;">
               <select size="11" style="width: 100%;" id="v_suggestions"></select>
             </div>
          </div>
        </td>

        <td valign="top">
          <div id="iframe_container" style="height: 100%; width: 100%;">
             <!-- <iframe id="i_framecontent" name="i_framecontent" src="blank.do"/> -->
          </div>
        </td>
      </tr>

      <tr>
         <td colspan="2" id="statusbar" style="padding:2px; height:2em"></td>
      </tr>

      <tr>
        <td colspan="2" style="padding: 2px">
          <div style="float: left; padding: 2px">
             <button id="b_recheck">${gs.getMessage("Re-check")}</button>
          </div>
          <div style="float: right; padding: 2px;">
             <g:dialog_buttons_ok_cancel ok="saveClicked()" cancel="SpellChecker.cancelClicked()" />
          </div>
        </td>
      </tr>
     </tbody>
    </table>
</j:jelly>