<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <div style="text-align:left;">
        <br/>
                  
        <div> ${gs.getMessage('impersonatingUserEnded')} </div> 
        <br/>
        <br/>
        
        <div align="right">
            <g:dialog_button 
               id="ok_button" 
               type="button" 
               onclick="return ok()" 
               style="width: 5em;">${gs.getMessage('Reload')}</g:dialog_button>
            <g:dialog_button 
               id="cancel_button" 
               type="button" 
               onclick="return cancel()">${gs.getMessage('Cancel')}</g:dialog_button>
         </div>
    </div>
    <script>
       if(window.addEventListener) {
           window.addEventListener("keyup", function(e){  if(e.keyCode == 13) ok(); if(e.keyCode == 27) cancel(); }, false);
       }
    </script>
</j:jelly>
