<g:ui_form>
    <table cellpadding="0" cellspacing="0" width="100%">
        <g:ui_progress_worker worker_id="${sysparm_pworker_sysid}" rows="grow"/>
        <tr>
          <td>
            <table id="completed_links" style="display: none" width="100%">
              <tr>
                <td>
                  <div class="caption">Next steps...</div>
                </td>
              </tr>
              <g:evaluate var="jvar_item2" expression="
                 var pmsg = '${JS:pgr.message}';
                 var pname = '${JS:pgr.name}';
                 if (pname.indexOf('Transforming: ISET') != -1 || pname.indexOf('Transforming ISET') != -1)
                     var import_set_number = pname.split(' ')[1];
                 if(pmsg.indexOf('Processed') == 0)
                     var import_processed = true;
               "/>
           <j:if test='${sysparm_table != undefined &amp;&amp; import_set_number == undefined}'>
             <tr>
               <td>
                 <a class="breadcrumb" href="sys_import_set_list.do?sysparm_query=data_source.import_set_table_name=${sysparm_table}^ORDERBYDESCsys_created_on">Import sets</a>$[SP] Go to the import sets
               </td>
             </tr>
            </j:if>
           <j:if test='${import_set_number != undefined}'>
             <tr>
               <td>
                 <a class="breadcrumb" href="sys_import_set.do?sysparm_query=number=${import_set_number}">${import_set_number}</a>$[SP] Go to the import set
               </td>
             </tr>
            </j:if>
           <j:if test='${sysparm_table != undefined || import_processed == true}'>
              <tr id="import_set_link">
                <td>
            <a class="breadcrumb" href="${sysparm_table}_list.do?sysparm_query=ORDERBYDESCsys_import_set">Loaded data</a>$[SP] Go to the newly imported table: ${sysparm_table}
                </td>
              </tr>
            </j:if>
            <tr id="transform_link">
              <td>
                <a class="breadcrumb" href="sys_transform_map.do?sys_id=-1&amp;sysparm_query=source_table=${sysparm_table}">Create transform map</a>$[SP] A transform map links the imported data and fields
              </td>
            </tr>
            <tr id="ds_link" style="display:none">
              <td>
                <a class="breadcrumb" style="display: none" href="sys_data_source.do?sys_id=${sysparm_ds_sysid}">Data Source</a>
              </td>
            </tr>
            <tr id="target_link">
              <td>
                <a class="breadcrumb" href="${sysparm_target}_list.do?sysparm_query=ORDERBYDESCsys_created_on">Transformed data</a>$[SP] Go to the table that contains the newly transformed data
              </td>
            </tr>
            <tr id="import_run_link">
              <td>
                <a class="breadcrumb" href="sys_import_set_run_list.do?sysparm_query=set.number=${import_set_number}">Transform history</a>$[SP] Show the transform history, related errors and log
              </td>
            </tr>
            <tr id="run_import_link" style="display:none">
              <td>
                <g:evaluate var="jvar_item" jelly="true" expression="
                    var mgr = new GlideRecord('sys_transform_map');
                    mgr.addQuery('source_table', jelly.sysparm_table);
                    mgr.addQuery('active', 'true');
                    mgr.orderBy('order');
                    mgr.query();
                  "/>
                <j:if test='${mgr.next();}'>
                  <a class="breadcrumb" href="run_import.do?sysparm_map=${mgr.sys_id}">Run Transform</a>$[SP] Transform a loaded import set using an existing transform map
                </j:if>
              </td>
            </tr>
            <tr id="import_log_link">
              <td>
                <a class="breadcrumb" href="import_log_list.do?sysparm_query=sys_created_onONToday%40javascript:gs.daysAgoStart(0)%40javascript:gs.daysAgoEnd(0)">Import log</a>$[SP] View the import log
              </td>
            </tr>
            </table>
          </td>
        </tr>
    </table>
      <script>
        function setElementDisplay(elname, value) {
          var lel = gel(elname);
          if (lel) {
            lel.style.display = value;
          }
        }
      </script>
    <input type="hidden" name="pworker_sysid" id="pworker_sysid" value="${sysparm_pworker_sysid}"/>
    <input type="hidden" name="run_history_sysid" id="run_history_sysid" value="${sysparm_run_history}"/>
      <j:if test='${pgr.state == "complete"}'>
        <script>
          setElementDisplay("completed_links", "");
          setElementDisplay("ds_link", "");
          setElementDisplay('run_import_link', "");
        </script>

        <j:if test="${sysparm_ds_sysid == undefined}">
          <script>
            setElementDisplay("ds_link", "none");
          </script>
        </j:if>

        <j:if test="${sysparm_table == undefined || sysparm_create_transform_map == undefined}">
          <script>
            setElementDisplay("transform_link", "none");
          </script>
        </j:if>
        <j:if test="${sysparm_table == undefined}">
          <script>
            setElementDisplay("import_set_link", "none");
          </script>
        </j:if>

        <j:if test="${sysparm_target == undefined}">
          <script>
            setElementDisplay("target_link", "none");
          </script>
        </j:if>

        <j:if test="${pgr.state_code == 'error'}">
          <script>
            setElementDisplay("target_link", "none");

            setElementDisplay('import_set_link', "none");

            setElementDisplay('transform_link', "none");

            setElementDisplay('run_import_link', "none");
          </script>
        </j:if>

        <j:if test="${sysparm_run_history == undefined}">
          <script>
            setElementDisplay("import_run_link", "none");
          </script>
        </j:if>
      </j:if>
</g:ui_form>