<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
   <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
         <div class="navbar-header">
            <button class="btn btn-default icon-chevron-left navbar-btn" onclick="goBack();"></button>
            <h style="display:inline-block;" class="navbar-title">${gs.getMessage("Import Embedded Help Contents")}</h>
         </div>
      </div>
   </nav>
   <h1>${gs.getMessage("Import Embedded Help Contents")}</h1>
   <div>
      <p>Here you can upload an Embedded Help build zip file.  All content will be imported into the Embedded Help Content table.  Only Guided Setup content (modifier="setup") should be unloaded from the system and included into the code base.</p>
      <form name="embedded_help_updates" id="embedded_help_updates" enctype="multipart/form-data" method="post" action="sys_embed_import.do">
         <p></p>
         <div >
            <input id="attachFile" name="attachFile" type="file"  />							
         </div>
         <p></p>
         <div>
            <button type="submit" id="import_button" class="btn btn-primary" >${gs.getMessage("Upload")} </button>
         </div>
      </form>
   </div>
</j:jelly>