<form accept-charset="UTF-8">
   <div class="header toolbar_$[jvar_mobile_device_type]">
      <div>
         <g2:call function="toolbar.xml" type="form" back_button="true" title="${gs.getMessage('All Activity')}"
            device="$[jvar_mobile_device_type]" version="$[jvar_mobile_device_version]" simple="$[jvar_simple_mobile]" />
      </div>
   </div>
   <j2:set var="jvar_activity_toggle" value="false" />
   <j2:set var="jvar_form_sys_id" value="${sysparm_sysid}" />
   <j2:set var="jvar_table" value="${sysparm_table}" />
   <g:inline template="incident_activity_detail.xml"/>
</form>