<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
<g:include_script src="slushbucket.jsx" defer="true"/>
<g2:inline template="output_messages.xml"/>
<div id="columns" style="display:none"></div>
<g:macro_invoke macro="index_creator_information" />
</j:jelly>
			