<?xml version="1.0" encoding="utf-8"?> 
<j:jelly trim="true" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null"> 

<g:ui_form>
   <table class="wide">
      <tr>
		<td nowrap="nowrap" align="right">
                    <img src="images/confirm.gifx" width='45' height='45'/>
                </td>
		<td nowrap="true">
		    Are you sure you want to rollback?
		</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <p style="font-weight: bold;color: rgb(204, 0, 0);padding-bottom:10px;">
            This is an irreversible process and all the data in target instance will be replaced with the backup data!
          </p>
        </td>
      </tr>
      <tr>
         <td nowrap="true" align="right" colspan="2">
               <g:dialog_button id="ok_button" type="button" onclick="rollback()">${gs.getMessage('OK')}</g:dialog_button>
               <g:dialog_button id="cancel_button" type="button" onclick="onCancel()">${gs.getMessage('Cancel')}
</g:dialog_button> 
         </td>
      </tr>
   </table>
</g:ui_form>

</j:jelly>