<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<div id="output_messages">
		<div class="system_message outputmsg_error">
			<table cellspacing="0" cellpadding="0" border="0" class="background_transparent">
				<tr>
					<td class="message_image">
						<img src="images/outputmsg_error.gifx" alt="${gs.getMessage('Error Message')}" />
					</td>
				    <td width="100%">
                  The password reset link you have clicked has either expired or is invalid. Click $[SP]<a  href="./navpage.do?sysparm_nostack=true"><b>Here</b></a>$[SP] to either login or request for password reset.
					</td>
				</tr>
			</table>
		</div>
	</div>
</j:jelly>