<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <link href="kb_styles.cssx" type="text/css" rel="stylesheet" />
  <SCRIPT LANGUAGE="JavaScript" SRC="kb.jsx?v=${gs.getProperty('glide.builddate')}" />

  <table class="wide" cellspacing="0" border="0" style="margin-bottom: 8px;">
    <tr>
      <td class="title" nowrap="true">
		<g:inline template="kb_header.xml" />
      </td>
    </tr>
  </table>

  <table class="wide" cellspacing="0" border="0" style="margin-bottom: 4px;">
    <tr class="header">
      <td class="column_head" colspan="2">
        <table border="0" cellspacing="0" cellpadding="0">
		<tr class="header" border="0" cellspacing="0">
			<form method="GET" action="${sysparm_base_form}.do" name="${sysparm_base_form}.do">
			  <input type="HIDDEN" name="sys_action" value="none" />
			  <input type="HIDDEN" name="sysparm_modify_check" value="true" />
			<td>
				<input type="HIDDEN" id="sysverb_back" />
				<img name="not_important" 
					 value="sysverb_back" 
					 id="sysverb_back" 
					 onClick="return gsftSubmit(document.getElementById('sysverb_back'));" 
					 src="images/green_back.gifx"
					 title="${gs.getMessage('Back')}" 
					 alt="${gs.getMessage('Back')}" 
					 style="cursor:hand; margin-left: 4px;"/>
			</td>
			</form>
			<td>
				<div class="caption" style="margin-top: 2px; white-space: normal;">
					$[ gs.getMessage('kb.banner.title') ]
				</div>
			</td>
		</tr>
		</table>
      </td>
    </tr>
  </table>

  <table class="wide" border="0">
	<tr><td class="tdwrap">
		<div id="commentsdiv_done" style="display: none;">
			<span>$[ gs.getMessage('kb.comment.submitted') ]</span>
		</div>
		<div id="commentsdiv" style="display: block;">
			<table class="wide">
				<tr><td class="tdwrap">
					<span><label for="comments">$[ gs.getMessage('kb.comment.text') ]</label></span>
				</td></tr>
				<tr><td><textarea name="comments" id="comments" style="width: 100%; height: 120px;"></textarea></td></tr>
				<tr><td>
					<button onClick="return kbFeedback('comments');">$[ gs.getMessage('kb.comment.submit_button') ]</button>
				</td></tr>
			</table>
		</div>
	</td></tr>


  </table>

</j:jelly>