<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g2:evaluate var="jvar_template"
   expression="RP.getWindowProperties().get('template')" jelly="true"/>
	<g2:evaluate var="jvar_defaults" jelly="true"> 
		defaults = '';
	    var cols = new Array();
		cols = jelly.jvar_template.replace(/\^EQ$/, "").split('^');
		for (var i = 0; i ${AMP}lt; cols.length; i++) {
			var td = GlideTableDescriptor.get('kb_knowledge');
			var ed = td.getElementDescriptor(cols[i].split('=')[0]);
			var name = ed.getLabel();
		    var value = cols[i].split('=')[1];
			defaults += ((defaults == '') ? '' : ',') + name + ':' + value;
	    }
		defaults;
	</g2:evaluate>
	
	<g2:evaluate var="jvar_message" jelly="true">
   gs.getMessage("Do you want to populate fields with the default values for the selected knowledge base as follows? {0}", jelly.jvar_defaults);
	</g2:evaluate>
	<p>$[HTML:jvar_message]</p>
	<div style="float: right;">
	<g:dialog_buttons_ok_cancel ok_id="ok_button" cancel_type="button" />
	</div>
</j:jelly>