<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
<g:requires name="scripts/lib/jquery_includes.js"/>
<g:include_script src="jquery_columnview.jsdbx"/>

<g:evaluate var="jvar_json" copyToPhase2="true">
	var kb_knowledge_base = RP.getWindowProperties().get('kb_knowledge_base');
	var disable_editing = RP.getWindowProperties().get('disable_editing');
	var jsonStr = new SNC.KnowledgeHelper().getJSONCategories(kb_knowledge_base);
	var escape_text = gs.getProperty('glide.ui.escape_text');
	if (escape_text == 'false'){
		jsonStr = SNC.GlideHTMLSanitizer.sanitize(jsonStr);
	}	
	jsonStr;
</g:evaluate>

	<p id="err_message" class="notification notification-error" style="display:none"></p>
<div style="padding: 6px">
	<div id="kbCategoriesJSON" style="display:none">$[jvar_json]</div>
	<input type="hidden" id="categoryId" value="" />
	<div id="dialog_buttons" align="left">
		<g:dialog_buttons_ok_cancel ok="setCategory()" ok_style_class="btn btn-primary category-ok-btn" ok_type="button" cancel_type="button" />
	</div>
</div>

<!-- placeholders to read the icon char code from by name. -->
<span class="icon-edit" style="visibility:hidden; position:absolute;"/>
<span class="icon-chevron-right" style="visibility:hidden; position:absolute;"/>
<span class="icon-chevron-left" style="visibility:hidden; position:absolute;"/>

</j:jelly>
