<?xml version="1.0" encoding="utf-8" ?>
<!--
 Knowledge management v2 - list viewer 
-->
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g:requires name="styles/legacy/kb_find.css" includes="true" />
	<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true" />
	<g:inline template="ie_checker.xml" />
	<j2:if test="$[jvar_isMSIE8 || jvar_isMSIE7]">
		<script src="/scripts/heisenberg/thirdparty/respond.min.js"></script>
		<script src="/scripts/heisenberg/thirdparty/html5shiv.js"></script>
	</j2:if>
	
	<SCRIPT LANGUAGE="JavaScript" SRC="kb.jsx?v=${gs.getProperty('glide.builddate')}"/>
	<j2:if test="$[sysparm_current_row == '' || sysparm_current_row == null]">
		<j2:set var="sysparm_current_row" value="1" />
	</j2:if>
	<div id="kb_find_container">

	<g:inline template="kb_find_query.xml" />

	<g2:evaluate var="jvar_is_ess_portal">
		var currentSite = RP.getParameterValue('sysparm_current_site');
		var isEss = false;

		if(currentSite == "5767a89fc0a8016b012f6aecb0c816a4")
			isEss = true;

		isEss;
	</g2:evaluate>

	<j2:if test="$[!jvar_is_ess_portal]">
		<div id="search_header">
			<g:inline template="kb_header_search.xml"/>
		</div>
	</j2:if>
	<j2:if test="$[jvar_is_ess_portal]">
		<j2:if test="$[jvar_num_results != 0]">
				<table class="wide" cellspacing="0" border="0" style="margin-bottom: 8px;">
					<tr>
						<td align="right" nowrap="true" width="100%">
							<j2:if test="$[jvar_isMSIE8 || jvar_isMSIE7]">
								<j2:set var="jvar_detail_name" value='Top' />
									<g2:kb_page_vcr/>
							</j2:if>
							<j2:if test="$[!jvar_isMSIE8 ${AMP}${AMP} !jvar_isMSIE7]">
								<g2:kb_v3_vcr />
							</j2:if>
						</td>
					</tr>
				</table>
		</j2:if>
	</j2:if>

	<j2:set var="jvar_has_messages" value="$[jvar_info_msgs.length > 0 || jvar_warn_msgs.length > 0 || jvar_error_msgs.length > 0]" />

	<!-- Session Messages Start -->
	<j2:if test="$[jvar_has_messages]">
		<div id="output_messages" class="outputmsg_container">
			<div class="outputmsg_div">
				<div id="kb-search-notifications">
					<j2:if test="$[jvar_isMSIE8 || jvar_isMSIE7]">
						<img class="outputmsg_close" onclick="GlideUI.get().clearOutputMessages(this)" src="images/x.gifx" complete="complete"/>
					</j2:if>
					<j2:if test="$[!jvar_isMSIE8 ${AMP}${AMP} !jvar_isMSIE7]">
						<button data-dismiss="alert" class="btn-icon close icon-cross kb-btn" aria-label="${gs.getMessge('Close button. Click to close notifications')}">
							<span class="sr-only">Close</span>
						</button>
					</j2:if>
					<!-- INFO -->
					<j2:forEach var="jvar_message" items="$[jvar_info_msgs]">
						<j2:if test="$[jvar_isMSIE8 || jvar_isMSIE7]">
							<div class="outputmsg_div">
								<div class="outputmsg outputmsg_info">
									<img class="outputmsg_image" src="images/outputmsg_info_24.gifx" title="Informational Message"/>
									<div class="outputmsg_text">$[jvar_message]</div>
								</div>
							</div>
						</j2:if>
						<j2:if test="$[!jvar_isMSIE8 ${AMP}${AMP} !jvar_isMSIE7]">
							<div class="notification notification-info" tabindex="0" aria-label="${jvar_message}">
								$[jvar_message]
							</div>
						</j2:if>
					</j2:forEach>
					<!-- WARN -->
					<j2:forEach var="jvar_message" items="$[jvar_warn_msgs]">
						<j2:if test="$[jvar_isMSIE8 || jvar_isMSIE7]">
							<!-- There are no warning type messages in the old UI so use error instead -->
							<div class="outputmsg_div">
								<div class="outputmsg outputmsg_error">
									<img class="outputmsg_image" src="images/outputmsg_error_24.gifx" title="Warning Message"/>
									<div class="outputmsg_text">$[jvar_message]</div>
								</div>
							</div>
						</j2:if>
						<j2:if test="$[!jvar_isMSIE8 ${AMP}${AMP} !jvar_isMSIE7]">
							<div class="notification notification-warning" tabindex="0" aria-label="${jvar_message}">
								$[jvar_message]
							</div>
						</j2:if>
					</j2:forEach>
					<!-- ERROR -->
					<j2:forEach var="jvar_message" items="$[jvar_error_msgs]">
						<j2:if test="$[jvar_isMSIE8 || jvar_isMSIE7]">
							<div class="outputmsg_div">
								<div class="outputmsg outputmsg_error">
									<img class="outputmsg_image" src="images/outputmsg_error_24.gifx" title="Error Message"/>
									<div class="outputmsg_text">$[jvar_message]</div>
								</div>
							</div>
						</j2:if>
						<j2:if test="$[!jvar_isMSIE8 ${AMP}${AMP} !jvar_isMSIE7]">
							<div class="notification notification-error" tabindex="0" aria-label="${jvar_message}">
								$[jvar_message]
							</div>
						</j2:if>
					</j2:forEach>
				</div>
			</div>
		</div>
	</j2:if>
	<!-- Session Messages End -->
	<div id="kb_search_suggestions">
		<g2:call function="did_you_mean.xml" search="$[sysparm_search]" table=""/>
	</div>
	<g2:inline template="kb_search_results_v3.xml"/>

	<j2:if test="$[jvar_num_results != 0]">
		<!-- Bottom VCR control /-->
		<table class="wide" cellspacing="0" border="0" style="margin-bottom: 8px;">
			<tr>
				<td align="right" nowrap="true" width="100%">
					<j2:set var="jvar_detail_name" value='Bottom' />
					<j2:if test="$[jvar_isMSIE8 || jvar_isMSIE7]">
						<g2:kb_page_vcr/>
					</j2:if>
					<j2:if test="$[!jvar_isMSIE8 ${AMP}${AMP} !jvar_isMSIE7]">
						<g2:kb_v3_vcr />
					</j2:if>
				</td>
			</tr>
		</table>
	</j2:if>

	<j2:if test="$[!jvar_isMSIE8 ${AMP}${AMP} !jvar_isMSIE7]">
		<script type="text/javascript">
			$j(function() {
				var suggestionsIcon = $j('#kb_search_suggestions img');
				if(suggestionsIcon) {
					suggestionsIcon.css({
					      "padding": "0px",
					      "margin-bottom": "4px"
					    });
				}
			});
		</script>
	</j2:if>
	<script type="text/javascript">
		$j(function() {
			var isMobile = {
				Android: function() {
					return /Android/i.test(navigator.userAgent);
				},

				IPad: function() {
					return /iPad/i.test(navigator.userAgent);
				},
				Windows: function() {
					return /IEMobile/i.test(navigator.userAgent);
				},
				any: function() {
					return (isMobile.Android() || isMobile.iOS() || isMobile.Windows());
				}
			};

			if(isMobile.Android()){

			  $j('#kb_find_container').addClass('android');
			  $j('#kb-header-container').addClass('android');

			}else if(isMobile.IPad()){
			  $j('#kb-header-container').addClass('ipad');
			  $j('#kb_find_container').addClass('ipad');
			}
		});
	</script>

	</div>
</j:jelly>