<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <link href="kb_styles.cssx" type="text/css" rel="stylesheet" />
  <SCRIPT LANGUAGE="JavaScript" SRC="kb_drag.jsx?v=${gs.getProperty('glide.builddate')}" />
  <SCRIPT LANGUAGE="JavaScript" SRC="kb.jsx?v=${gs.getProperty('glide.builddate')}" />

	<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true" />
	<g:inline template="ie_checker.xml" />
	<j2:if test="$[jvar_isMSIE8 || jvar_isMSIE7]">
		<script src="/scripts/heisenberg/thirdparty/respond.min.js"></script>
		<script src="/scripts/heisenberg/thirdparty/html5shiv.js"></script>
	</j2:if>

  <j:set var="jvar_kb_columns" value="${gs.getProperty('glide.knowman.columns')}" />
  <j:if test="${jvar_kb_columns &lt; 1}">
	  <j:set var="jvar_kb_columns" value="1" />
  </j:if>

  <j2:set var="jvar_grid_name" value="kb_home"/>

  <j2:if test="$[jvar_view_topic != null]">
	<j2:set var="jvar_grid_name" value="kb_home.$[jvar_view_topic]"/>
        <g2:evaluate var="jvar_view_trans_topic" jelly="true">
           gs.getMessage(jelly.jvar_view_topic);
        </g2:evaluate>
  </j2:if>
  <div style="margin-bottom: 8px;">
    <table class="wide" cellspacing="0" border="0">
      <tr>
        <td class="title" nowrap="true">
			<g:kb_header_search />
        </td>
      </tr>
    </table>
  </div>
  
  <g2:com.glideapp.knowledge_columns var="jvar_columnset" section="$[jvar_view_topic]" columns="${jvar_kb_columns}"/>

   <g2:evaluate>
       if (gs.getProperty("glide.knowman.list.filter", "false") == "true") {
          var kb = new FilteredGlideRecord("kb_knowledge");
          kb.applyRowSecurity();
       } else
          var kb = new GlideRecord("kb_knowledge");
  </g2:evaluate>

  <table border="0" cellspacing="6" class="kb_main" draggrid="$[jvar_grid_name]">
	<tr>
		<j:set var="jvar_now_column" value="0" />
		<g:evaluate var="jvar_kb_column_width" expression="${100/jvar_kb_columns}"/>
		<j:while test="${jvar_now_column &lt; jvar_kb_columns}">
			<td width="${jvar_kb_column_width}%" id="dcolumn_${jvar_now_column}" dragging="true" valign="top">
			<j2:forEach var="jvar_kb_section" items="$[jvar_columnset${jvar_now_column}]">
				<div dragpart="$[jvar_kb_section]">

					<table border="0" cellpadding="1" cellspacing="0" class="kb_section" >
					<tr><td colspan="2" class="kb_section_top">
						<table border="0" class="kb_section_header">
							<tr>
								<td nowrap="true">
									<j2:if test='$[jvar_view_topic != null]'>
										<j2:set var="jvar_sub_cat" value="$[jvar_kb_section]"/>
										<j2:if test='$[jvar_kb_section == "xDEFAULTx"]'>
											<j2:set var="jvar_sub_cat" value="$[ gs.getMessage('kb.section.no_category') ]"/>
										</j2:if>
										
										$[jvar_view_trans_topic] &gt; $[jvar_sub_cat]
									</j2:if>
									<j2:if test="$[jvar_view_topic == null]">
                                                                           <g2:evaluate var="jvar_label" jelly="true" expression="gs.getMessage(jelly.jvar_kb_section)"/>                   
										<a href="kb_home.do?jvar_view_topic=$[URL:jvar_kb_section]&amp;sysparm_refer=$[sysparm_this_url]">$[jvar_label]</a>
									</j2:if>
								</td>
								<td id="$[jvar_kb_section]_extras" nowrap="true"></td>
								<j2:set var="jvar_drag_class" value="kb_drag_section"/>
								<j2:if test="${gs.isLoggedIn() != true}">
									<j2:set var="jvar_drag_class" value=""/>
								</j2:if>
								<td class="$[jvar_drag_class]" id="$[jvar_kb_section]_header" />
							</tr>
						</table>
					</td></tr>
					<tr><td>
						<g:inline template="kb_section.xml" />
					</td></tr>
					</table>
				</div>
			</j2:forEach>
			<div id="lastdiv"></div>
			</td>

			<j:set var="jvar_now_column" value="${jvar_now_column + 1}" />
		</j:while>
	</tr>
  </table>
	
  <!--Knowledge in IFrame fix-->
  <script language="javascript" src="KnowledgeIframeFix.jsdbx"></script>
  <j:set var="jvar_now_column" value="${jvar_now_column + 1}" />

  <j2:if test="${gs.isLoggedIn() == true}">
	  <script language="javascript">
		addLoadEvent(function() {
			initDrag();
		});
	  </script>
  </j2:if>
  <j:if test="${gs.getProperty('glide.knowman.portal_search_focus','true')}">
    <script type="text/javascript">
      addLoadEvent(function() {
        setTimeout(function() {
          var e = $("sysparm_search");
          if (e)
            e.focus();
        }, 100);
      });
    </script>
  </j:if>
</j:jelly>