<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <link href="kb_styles.cssx" type="text/css" rel="stylesheet" />
  <SCRIPT LANGUAGE="JavaScript" SRC="kb.jsx?v=${gs.getProperty('glide.builddate')}" />
	<script type="text/javascript">
		function openAttachment(url, name) {
			window.open(url, name, "toolbar=no,menubar=no,personalbar=no,width=800,height=600," +
						"scrollbars=yes,resizable=yes");
			
		}
	</script>
  <g:inline template="dir_checker.xml"/> 
	<g:inline template="ie_checker.xml" />
	<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true" />
	<g:requires name="styles/legacy/kb_list.css" includes="true" />

	<j2:if test="$[jvar_isMSIE8 || jvar_isMSIE7]">
		<script src="/scripts/heisenberg/thirdparty/respond.min.js"></script>
		<script src="/scripts/heisenberg/thirdparty/html5shiv.js"></script>
	</j2:if>

  <g:evaluate var="jvar_personalizer" expression="gs.hasRole('personalize')" />
  <g:evaluate var="jvar_admin" expression="gs.hasRole('admin')" />
  <j2:set var="jvar_sort_order" value="$[gs.getProperty('glide.knowman.section_sort', 'published')]"/>
  <j2:set var="jvar_sort_direction" value="$[gs.getProperty('glide.knowman.section_sort_direction', 'descending')]"/>
  <g2:evaluate var="jvar_show_unpublished" expression="gs.getProperty('glide.knowman.show_unpublished', 'false')"/>
      <j:choose>
		<j:when test="${jvar_text_direction == 'rtl'}">
	          <j:set var="jvar_align_right" value="left"/>
		  <j:set var="jvar_align_left" value="right"/>
		  <j:set var="jvar_back_arrow" value="images/green_back_rtl.gifx"/>
		  <j:set var="jvar_back_arrow_style" value="margin-left: 0px; margin-right: 4px;"/>
		</j:when>
		<j:otherwise>
		  <j:set var="jvar_align_right" value="right"/>
		  <j:set var="jvar_align_left" value="left"/>
		  <j:set var="jvar_back_arrow" value="images/green_back.gifx"/>
		  <j:set var="jvar_back_arrow_style" value="margin-left: 4px; margin-right: 0px;"/>
		</j:otherwise>
       </j:choose>

	<j2:if test="$[sysparm_current_row == '' || sysparm_current_row == null]">
		<j2:set var="sysparm_current_row" value="1" />
	</j2:if>

	<!-- Check if we have a rowcount already specified and a change of page size is not in progress -->
	<j2:if test="$[sys_nav_count == '' || sys_nav_count == null]">
		<j2:set var="sys_nav_count" value="$[gs.getUser().getPreference('rowcount')]" />
	</j2:if>

	<!-- If we still dont know the page size, set it to a default of 20 -->
	<j2:if test="$[sys_nav_count == '' || sys_nav_count == null]">
		<j2:set var="sys_nav_count" value="20" />
	</j2:if>

	<j2:set var="jvar_rowcount" value="$[sys_nav_count]" />

	<!-- If change of page size, set the user preference to ensure other pages honor the new setting -->
	<j2:if test="$[sys_nav_count != gs.getUser().getPreference('rowcount')]">
		<g2:evaluate jelly="true">
			gs.getUser().setPreference("rowcount", parseInt(jelly.sys_nav_count));
		</g2:evaluate>
	</j2:if>

	<!-- Check if role based query -->
	<j2:if test="$[sysparm_rollbased != '' &amp;&amp; sysparm_rollbased != null]">
		<g2:evaluate jelly="true" expression="var isRoleBasedQuery=(jelly.sysparm_rollbased + '') == 'true';"/>
	</j2:if>
	<j2:if test="$[sysparm_rollbased == '' || sysparm_rollbased == null]">
		<g2:evaluate>
			var isRoleBasedQuery = false;
			// Admin can see all roles
			if (!gs.hasRole("admin")) {
				var kbRoles = new GlideAggregate("kb_knowledgeroles");
				kbRoles.addQuery("value","!=","public");
				kbRoles.addAggregate('COUNT');
				kbRoles.query()
				if (kbRoles.next()) 
					isRoleBasedQuery = kbRoles.getAggregate('COUNT') > 0;
			}
		</g2:evaluate>
	</j2:if>

	<script>
		var roleBased = '$[isRoleBasedQuery]';
	</script>

	<g2:evaluate jelly="true">
		if (gs.getProperty("glide.knowman.list.filter", "false") == "true") {
			var kb = new FilteredGlideRecord("kb_knowledge");
			kb.applyRowSecurity();
		} else
			var kb = new GlideRecord("kb_knowledge");
		//var now = gs.dateGenerate(gs.yesterday(), 'end');
		var now = gs.endOfYesterday();
		kb.addQuery('valid_to', '>', now);
		var search = jelly.jvar_view_topic;
		if (search $[AMP]$[AMP] search.length!= 0 ) 
			kb.addQuery('topic', search);

		search = jelly.jvar_view_category;
		if (search $[AMP]$[AMP] search.length != 0 ) {
		if (search == 'xDEFAULTx')
			search = '';
			kb.addQuery('category', search);
		}

		search = jelly.sysparm_language; 
		if (search $[AMP]$[AMP] search.length != 0 ) {
			kb.addQuery('language', search);    
			kb.setWorkflow(false);
		}

		search = jelly.jvar_view_department; 
		if (search $[AMP]$[AMP] search.length != 0 ) 
			kb.addQuery('JOINkb_knowledge.sys_id=kb_department.article!department=' + search);

		kb.addQuery('active', 'true');
		var qc1 = kb.addQuery('workflow_state', 'published');
		if (jelly.jvar_show_unpublished == 'true' $[AMP]$[AMP] gs.hasRole(gs.getProperty('glide.knowman.section.view_roles.review', 'itil,knowledge,knowledge_admin'))) 
			qc1.addOrCondition('workflow_state', 'review');

		if (jelly.jvar_show_unpublished == 'true' $[AMP]$[AMP] gs.hasRole(gs.getProperty('glide.knowman.section.view_roles.draft','knowledge_admin'))) 
			qc1.addOrCondition('workflow_state', 'draft');

		if (jelly.jvar_sort_direction == 'ascending') 
			kb.orderBy(jelly.jvar_sort_order);
		else
			kb.orderByDesc(jelly.jvar_sort_order);

		if (!isRoleBasedQuery) {
			kb.chooseWindow($[JS:sysparm_current_row - 1], $[JS:sysparm_current_row + sys_nav_count - 1]); 
			kb.query();
		}
	</g2:evaluate>

	<j2:if test="$[isRoleBasedQuery]">
		<g2:com.glideapp.knowledge_section record="$[kb]" startRecord="$[sysparm_current_row - 1]" endRecord="$[sysparm_current_row + sys_nav_count - 1]" />
		<j2:if test="${gs.getProperty('glide.knowman.list.filter', 'false') == 'true'}">
			<g2:evaluate>
				kb.chooseWindow($[JS:sysparm_current_row - 1], $[JS:sysparm_current_row + sys_nav_count - 1]);
			</g2:evaluate>
		</j2:if>
	</j2:if>
	<g2:evaluate>
		var sl = new GlideSysList('kb_knowledge');
		sl.setViewName('kb_list');
		var kbcolumns = sl.getAccessList('');
	</g2:evaluate>

	<j2:set var="jvar_total_rows" value="$[kb.getRowCount()]" />
	<g2:evaluate var="jvar_max_rows" jelly="true">
                // knowledge - set max rows
                var tr = parseInt(jelly.jvar_total_rows);
                var cr = parseInt(jelly.sysparm_current_row);
                var nc = parseInt(jelly.sys_nav_count);

		if (tr >= cr + nc)
			cr + nc - 1;
		else
			tr;
	</g2:evaluate>

	<g2:evaluate var="jvar_cols" jelly="true">
		if (jelly.jvar_show_unpublished == "true")
		    kbcolumns.size() + 1;
		else
		    kbcolumns.size();
	</g2:evaluate>

	<table class="wide" cellspacing="0" border="0" style="margin-bottom: 8px;">
		<tr>
			<td class="title" nowrap="true">
				<g:kb_header_search />
			</td>
		</tr>
	</table>
	
	<table id="kb_list" class="table wide" cellspacing="0" border="0" style="margin-bottom: 8px;">
		<j2:set var="jvar_got_one" value="false" />
		<thead>
			<tr>
			    <j2:forEach items="$[kbcolumns]" var="jvar_kb_element">
					<g2:evaluate var="jvar_this_column" jelly="true" expression="GlideCompositeElement(jelly.jvar_kb_element, 'kb_knowledge').getFullLabel()" />
					<th>$[HTML:jvar_this_column]</th>
				</j2:forEach>
				<j2:if test="$[jvar_show_unpublished]">
					<th></th>
				</j2:if>
			</tr>
		</thead>
	<j2:set var="jvar_printed" value="false" />
	<j2:while test="$[kb.next()]">	
    	<j2:set var="jvar_print_section" value="false"/>
        <j2:if test="$[GlideappKBIncludes.canAccess(kb, true)]">
       		<j2:set var="jvar_print_section" value="true"/>
        </j2:if>
        <j2:if test="$[jvar_print_section == false]">
			<g2:evaluate var="jvar_omitted_num" expression="$[JS:jvar_omitted_num + 1]" />
        </j2:if>
        <j2:if test="$[jvar_print_section == true]">
        	<j2:set var="jvar_line_num" value="$[jvar_line_num + 1]" />
			<j2:set var="jvar_line_color" value="odd" />
			<j2:if test="$[jvar_line_num % 2 == 0]">
				<j2:set var="jvar_line_color" value="even" />
			</j2:if>
			<j2:set var="jvar_kb_image" value="images/nav_bult.gifx" />
			<j:set var="jvar_use_doc_viewer" value="${gs.getProperty('glide.knowman.use_document_viewer', false) == 'true' ? pm.isActive('com.snc.documentviewer') : false}"/>
			<j2:set var="jvar_kb_link" value="kb_view.do?sys_kb_id=$[kb.sys_id]&amp;sysparm_nameofstack=$[sysparm_nameofstack]&amp;sysparm_kb_search_table=${sysparm_kb_search_table}"/>
			<j2:if test="$[kb.direct == true]">
				<g2:com.glideapp.knowledge_attachment var="jvar_attachid" ref="$[kb.sys_id]"/>
				<j2:set var="jvar_kb_link" value="sys_attachment.do?sys_id=$[jvar_attachid]"/>
				<j2:set var="jvar_kb_image" value="images/icons/attachment.gifx" />
				<j:if test="$[jvar_use_doc_viewer == 'true']">
					<j:set var="jvar_kb_link" value="sys_attachment.do?sys_id=${jvar_attachid}${AMP}view=true"/>
				</j:if>
			</j2:if> 
			<j2:if test="$[kb.direct == false]">
				<j:set var="jvar_use_doc_viewer" value="fase"/>
			</j2:if>
			<j2:if test="$[kb.image != '']">
				<j2:set var="jvar_kb_image" value="$[kb.image]" />
			</j2:if>
			
			<g2:set_if var="jvar_line_class" test="$[jvar_isMSIE8 || jvar_isMSIE7]" true="$[jvar_line_color]" false="" />
			
			<tr class="$[jvar_line_class]">
			<g2:evaluate var="jvar_this_column" expression="kbcolumns.setLocation(-1);" />
			<j2:forEach items="$[kbcolumns]" var="jvar_kb_element">
				<g2:evaluate var="jvar_value" jelly="true" expression="
					if (GlideXMLUtil.isValidHTML(kb[jelly.jvar_kb_element]))
						kb[jelly.jvar_kb_element].getDisplayValue();  
					else 
						kb[jelly.jvar_kb_element].getHTMLValue();
				"/>	
				<j2:set var="jvar_linkable" value="false"/>
				<j2:if test="$[jvar_kb_element == 'short_description']">
					<j2:set var="jvar_linkable" value="true"/>
				</j2:if>
				<j2:if test="$[jvar_linkable == true]">
					<td>
						<j2:if test="$[jvar_use_doc_viewer != 'true']">
						<a href="$[jvar_kb_link]">
							<j2:if test="$[jvar_isMSIE8 || jvar_isMSIE7]">
								<img src="$[jvar_kb_image]" alt="$[jvar_value]"/>$[jvar_value]
							</j2:if>
							<j2:if test="$[!jvar_isMSIE8 ${AND} !jvar_isMSIE7]">
								<j2:switch on="$[jvar_kb_image]">
									<j2:case value="images/nav_bult.gifx">
										<span class="icon icon-article-document"></span>$[jvar_value]
									</j2:case>
									<j2:case value="images/icons/attachment.gifx">
										<span class="icon icon-paperclip"></span>$[jvar_value]
									</j2:case>
									<j2:default>
										<img src="$[jvar_kb_image]"/>$[jvar_value]
									</j2:default>
								</j2:switch>
							</j2:if>
						</a>
						</j2:if>
						<j2:if test="$[jvar_use_doc_viewer == 'true']">
							<a href="#" onclick="openAttachment('$[jvar_kb_link]','$[jvar_value]'); return false;">
							<j2:if test="$[jvar_isMSIE8 || jvar_isMSIE7]">
								<img src="$[jvar_kb_image]" alt="$[jvar_value]"/>$[jvar_value]
							</j2:if>
							<j2:if test="$[!jvar_isMSIE8 ${AND} !jvar_isMSIE7]">
								<j2:switch on="$[jvar_kb_image]">
									<j2:case value="images/nav_bult.gifx">
										<span class="icon icon-article-document"></span>$[jvar_value]
									</j2:case>
									<j2:case value="images/icons/attachment.gifx">
										<span class="icon icon-paperclip"></span>$[jvar_value]
									</j2:case>
									<j2:default>
										<img src="$[jvar_kb_image]"/>$[jvar_value]
									</j2:default>
								</j2:switch>
							</j2:if>
						</a>
						</j2:if>
					</td>
				</j2:if>
				<j2:if test="$[jvar_linkable != true]">
					<td>$[jvar_value]</td>
				</j2:if>
			</j2:forEach>
			<j2:if test="$[jvar_show_unpublished]">
				<j2:switch on="$[kb.workflow_state]">
					<j2:case value="draft">
						<j2:set var="jvar_workflow_image" value="images/icons/edit.gifx" /> 
						<j2:set var="jvar_icon_class" value="icon-edit" /> 
						<j2:set var="jvar_workflow_title" value="${gs.getMessage('Draft')}"/>
					</j2:case>
					<j2:case value="review">
						<j2:set var="jvar_workflow_image" value="images/icons/knowledge_view.gifx" /> 
						<j2:set var="jvar_icon_class" value="icon-spell-check" /> 
						<j2:set var="jvar_workflow_title" value="${gs.getMessage('Review')}"/>
					</j2:case>
					<j2:default>
						<j2:set var="jvar_workflow_image" value="images/icons/assigned_tome.gifx" /> 
						<j2:set var="jvar_icon_class" value="icon-check-circle" /> 
						<j2:set var="jvar_workflow_title" value="${gs.getMessage('Published')} $[kb.published]"/>
					</j2:default>
				</j2:switch>		
					<td>
						<j2:if test="$[jvar_isMSIE8 || jvar_isMSIE7]">
							<span>
								<img src="$[jvar_workflow_image]" alt="$[jvar_workflow_title]" title="$[jvar_workflow_title]"/>
							</span>
						</j2:if>
						<j2:if test="$[!jvar_isMSIE8 ${AND} !jvar_isMSIE7]">
							<span class="icon $[jvar_icon_class]" alt="$[jvar_workflow_title]" title="$[jvar_workflow_title]"></span>
						</j2:if>
					</td>
			</j2:if>
			</tr>
        	<j2:set var="jvar_printed" value="true"/>
        </j2:if>
	</j2:while>
	</table>
	<!-- Bottom VCR control /-->
	<table class="wide" cellspacing="0" border="0" style="margin-bottom: 8px;">
		<tr>
			<td nowrap="true" width="99%">
				<j2:if test="${gs.getProperty('glide.knowman.list.filter', 'false') == 'false'}">
					<j2:if test="$[jvar_omitted_num == 1]">
						$[jvar_omitted_num] ${gs.getMessage("article omitted due to security constraints")}
					</j2:if>
					<j2:if test="$[jvar_omitted_num > 1]">
						$[jvar_omitted_num] ${gs.getMessage("articles omitted due to security constraints")}
					</j2:if>
				</j2:if>
				<j2:if test="${gs.getProperty('glide.knowman.list.filter', 'false') == 'true'}">
					<j2:if test="$[jvar_printed == false]">
						${gs.getMessage("No articles found")}
						<script>
							var navDetailTop = gel("navigatordetailTop")
							if (navDetailTop)
								navDetailTop.style.display = "none";
							var navDetailBottom = gel("navigatordetailBottom")
							if (navDetailBottom)
								navDetailBottom.style.display = "none";
						</script>
					</j2:if>
				</j2:if>
			</td>
			<td align="${jvar_align_right}" nowrap="true">
				<j2:set var="jvar_detail_name" value='Bottom' />
				<j2:if test="$[jvar_isMSIE8 || jvar_isMSIE7]">
					<g2:kb_page_vcr/>		
				</j2:if>
				<j2:if test="$[!jvar_isMSIE8 ${AMP}${AMP} !jvar_isMSIE7]">
					<g2:kb_v3_vcr />
				</j2:if>	
			</td>
		</tr>
	</table>  
</j:jelly>