<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <SCRIPT LANGUAGE="JavaScript" SRC="kb.jsx?v=${gs.getProperty('glide.builddate')}" />
  <link href="kb_styles.cssx" type="text/css" rel="stylesheet" />

  <g2:evaluate var="jvar_item" jelly="true" expression="
		var kb = new GlideRecord('kb_knowledge');
		kb.initialize();		
		kb.get(jelly.sys_kb_id);
		if (kb.short_description.nil())
			kb.short_description = gs.getMessage('(Short description empty)');
		gs.eventQueue('user.view', kb, kb.getDisplayValue(), gs.getUserID());
		gs.eventQueue('kb.view', kb, kb.getDisplayValue(), gs.getUserID());
		kb.incrementViewCount();
" />

  <table class="wide" cellspacing="0" border="0" style="margin-bottom: 8px;margin-top: 8px;">

	<tr><td>
	  <table class="wide" cellspacing="0">
		<tr class="header"><td>
			<table border="0" class="wide" cellspacing="0" cellpadding="0">
			<tr class="header" border="0" cellspacing="0">

				<td width="100%">
					<div class="caption" style="margin-top: 2px;">
					    <j2:if test='$[GlideXMLUtil.isValidHTML(kb.short_description)]'>
					        $[kb.short_description] 
                                            </j2:if> 
                                            <j2:if test='$[!GlideXMLUtil.isValidHTML(kb.short_description)]'> 
						$[kb.short_description.getHTMLValue()]
                                            </j2:if>
					</div>
				</td>

			</tr>
			</table>
		</td></tr>

		<tr><td style="color:#999999;font-size: 80%;padding-top:6px;padding-bottom:8px;padding-left:4px;">
			<g:inline template="kb_article_header.xml" />
		</td></tr>
                <j2:if test="$[kb.article_type == 'text']">
		   <tr>
		      <td class="kb_text" valign="top" style="padding-left:4px;">
		      	<g2:no_escape>$[kb.text.getDisplayValue()]</g2:no_escape>
		      </td>
		   </tr>
                </j2:if>
                <j2:if test="$[kb.article_type == 'wiki']">
		   <tr>
		      <td class="kb_text" valign="top" style="padding-left:4px;">
		      	<g2:no_escape>$[kb.wiki.getDisplayValue()]</g2:no_escape>
		      </td>
		   </tr>
                </j2:if>
		<tr>
		   <td class="kb_text" valign="top" style="padding-left:4px;">
		         <g:inline template="kb_view_custom.xml"/>
		   </td>
                </tr>
            </table>
	</td></tr> 
  </table>
</j:jelly>