<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g2:evaluate  expression="var kb = new GlideRecord('kb_knowledge');"/>
	<g:inline template="kb_section.xml" />
</j:jelly>