<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <g2:evaluate var="jvar_item" expression="
    var kb = new GlideRecord('kb_knowledge');
    var search = '$[sysparm_search]';
    if (search.length != 0)
      kb.addQuery('123TEXTQUERY321', search);

    var search = '$[sysparm_topic]';
    if (search.length != 0 &amp;&amp; search != 'null' )
      kb.addQuery('topic', search);
    
    kb.query();
    " />
  <table class="wide" cellspacing="0">
    <j2:while test="$[kb.next()]">
      <tr class="odd">
        <td>
          <img src="images/nav_bult.gifx" alt="$[kb.short_description.getHTMLValue()]" align="left"/> 
          <a target="gsft_main" href="kb_view.do?sys_kb_id=$[kb.sys_id]">$[kb.short_description.getHTMLValue()]</a>
        </td>
        <td>
          <a target="gsft_main" href="kb_view_entry.do?sys_id=$[kb.sys_id]">$[kb.number]</a>
        </td>
      </tr>
    </j2:while>
  </table>
</j:jelly>