<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

    <style>
        #suggestText.text {
            width: 100%;
            height: 150px;
            resize: none;
        }
        .button-box {
            text-align: right;
        }
        .rtl .button-box {
            text-align: left;
        }
        .button {
            margin: 5px;
        }
        .button-box #errorMsg {
            float: left;
            color: red;
            margin: 0 5px;
        }
        .rtl .button-box #errorMsg {
            float: right;
        }
    </style>

    <j2:set var="jvar_hide_response_time" value="true" />
	
    <div class="text-box">
        <textarea id="suggestText" class="text" placeholder="${gs.getMessage('Add a comment')}"></textarea>
    </div>

    <div class="button-box">
        <button id="suggestChangeCancel" class="button">${gs.getMessage("Cancel")}</button>
        <button id="suggestChange" class="button">${gs.getMessage("Submit")}</button>
        <span id="errorMsg"></span>
    </div>
    <script type="text/javascript">
      addLoadEvent(function() {
        setTimeout(function() {
          var e = $("suggestText");
          if (e)
            e.focus();
        }, 100);
      });
    </script>
</j:jelly>