<g:ui_form>
    <table cellpadding="0" cellspacing="0" width="500px">
        <g:ui_progress_worker worker_id="${sysparm_pworker_sysid}" show_cancel="false"/>
        <tr>
          <td>
            <table id="completed_links" style="display: none" width="100%">
              <tr>
                <td>
                  <hr/>
                  <div class="caption">Next steps...</div>
                </td>
              </tr>
              <tr id="server_list_link">
                <td>
                  <a class="breadcrumb" href="ldap_server_config_list.do">Server list</a>$[SP] Return to ldap server list
                </td>
              </tr>
              <tr id="view_log_link">
                <td>
                  <a class="breadcrumb" href="syslog_list.do?sysparm_query=sys_created_onONToday@javascript:gs.daysAgoStart(0)@javascript:gs.daysAgoEnd(0)^source=LDAP^ORDERBYDESCsys_created_on">View log</a>$[SP] View log
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>
      <j:if test='${pgr.state == "complete"}'>
        <script>
          var el = gel("completed_links");
          el.style.display = "";
          refreshNav();
        </script>
      </j:if>
</g:ui_form>