<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

    <head>
        <g:requires name="styles/ldap.css" includes="true" />
    </head>

    <body focusout="focusTrap">
        <div id="ldap-modal-container">
            <table style="width:100%" class="table">
                <thead>
                    <tr>
                        <th tabindex="0"><b>Event</b>
                        </th>
                        <th tabindex="0"><b>Time</b>
                        </th>
                        <th tabindex="0"><b>Details</b>
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td nowrap="true" tabindex="0">
                        ${gs.getMessage("Current status")}$[SP]
                    </td>
                    <td  tabindex="0" nowrap="true" id="statusTime"></td>
                    <td  tabindex="0" id="statusValue"></td>
                </tr>
                <tr>
                    <td tabindex="0">
                        ${gs.getMessage("Last message")}$[SP]
                    </td>
                    <td nowrap="true" id="messageTime" tabindex="0"></td>
                    <td id="messageValue" tabindex="0"></td>
                </tr>
                <tr>
                    <td tabindex="0">
                        ${gs.getMessage("Last change")}$[SP]
                    </td>
                    <td nowrap="true" id="changeTime" tabindex="0"></td>
                    <td id="changeValue" tabindex="0"></td>
                </tr>
                <tr>
                    <td tabindex="0">
                        ${gs.getMessage("Last error")}$[SP]
                    </td>
                    <td nowrap="true" id="errorTime" tabindex="0"></td>
                    <td id="errorValue" tabindex="0"></td>
                </tr>
            </table>
            <hr />
            <a href="http://docs.servicenow.com/?context=LDAP_Error_Codes" target="_blank">Click here for a list of LDAP error codes</a>
            <hr />
            <button id='ldap-last-element' class="btn btn-default" name="test" onclick="loadData();">Refresh
            </button>
        </div>
    </body>
</j:jelly>
