<g:ui_form>
<input type="hidden" id="plugin_id" name="plugin_id" value="${sysparm_plugin_id}"/>
<input type="hidden" id="plugin_name" name="plugin_name" value="$[sysparm_plugin_name]" />
<input type="hidden" id="list_view" name="list_view" value="${sysparm_list_view}" />

<j:if test="${sysparm_plugin_desc.length() == 0}">
  <j:set var="sysparm_plugin_desc" value="No description available"/>
</j:if>

<table border="0" width="100%">
      <tr>
        <td rowspan="2" nowrap="true" width="110px" style="vertical-align:top;">
          <img src="images/demo_data_activate.gifx" style="vertical-align:top;" alt=""/>
        </td>
       <td valign="top" width="100%" height="100%">
         <span style="font-size: 11pt;"><b>${sysparm_plugin_name}</b></span>
         <div style="margin-top: 6px;">
           ${sysparm_plugin_desc}
           <j:if test="${sysparm_plugin_help.length() != 0}">
             <div style="margin-top: 10px;">
               <a class="web" href="${sysparm_plugin_help}" target="_new">Learn more</a>
             </div>
           </j:if>
       </div>
       </td>
      </tr>
      <tr>
        <td nowrap="true" height="30px" width="100%" style="vertical-align:bottom;">
         <div align="right">
            <g:macro ok="onSubmit();" cancel="onCancel();" ok_id="ok_button" cancel_id="cancel_button" ok_type="button" cancel_type="button" />

           <g:dialog_button id="${jvar_ok_id}" type="${jvar_ok_type}" onclick="${jvar_ok}" style="width: 5em;">${gs.getMessage('Ok')}</g:dialog_button>
							
	   <g:dialog_button id="${jvar_cancel_id}" type="${jvar_cancel_type}" onclick="${jvar_cancel}">${gs.getMessage('Cancel')}</g:dialog_button>
         </div>
       </td>
      </tr>
</table>       

</g:ui_form>