<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <g:evaluate var="jvar_parent_table" jelly="true">
    var parent_table = '';
    if (typeof jelly.sysparm_parent_table !== 'undefined')
      parent_table = jelly.sysparm_parent_table;

    parent_table;
    </g:evaluate>

    <g:ui_form onsubmit="return checkSubmit();">
      <input type="hidden" name="sysparm_referring_url" value="${sysparm_referring_url}" />
      <input type="hidden" id="table_name" name="table_name" />
  
      <table border="0" class="wide">
        <tr>
          <td>
            <g:ui_header>${gs.getMessage('Manage Table')}</g:ui_header>
          </td>
        </tr>
        <tr>
          <td>
            <span style="color:#666666;">${gs.getMessage('Manage Table Form Description')}</span>
          </td>
        </tr>
        <tr>
          <td>
            <g:ui_choice_input_field id="table_name_choice" name="table_name_choice" for="table_name_choice" label="${gs.getMessage('Table')}" mandatory="true" onchange="updateTableNameForRedirect()">
              <option value="none">${gs.getMessage('-- None --')}</option>
              <g:call function="table_options_custom.xml" parent_table="${jvar_parent_table}"/>
            </g:ui_choice_input_field>
          </td>
        </tr>
        <tr>
          <td>
            <g:dialog_button id="personalize_form_button" type="submit">Next</g:dialog_button>
          </td>
        </tr>
      </table>
    </g:ui_form>
</j:jelly>