<g:ui_form>
<input type="hidden" id="cancelled" name="cancelled" value="false"/>
<input type="hidden" id="ci" name="ci" value="${sysparm_sys_id}"/>

<table style="height:100px;" width="100%">
        <tr>
                <td style="width:100px; text-align:right;"><label for="${jvar_ci_query}" onclick="" dir="">${gs.getMessage('CI to Merge:')}</label>$[SP]</td>
		<td><g:ui_reference name="QUERY:unverified=false^ORunverifiedISEMPTY" table="${sysparm_class_name}"/></td> 
        </tr>
        <tr id="dialogbuttons">
            <td colspan="2" align="right">
                <g:dialog_buttons_ok_cancel ok="return actionOK();" cancel="cancel();"/>
            </td>
        </tr>
</table>
</g:ui_form>