<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <g:evaluate var="jvar_osx" expression="gs.getProperty('mid.buildstamp') === null ? 'true' : 'false'" />
    <g:evaluate var="jvar_packages" object="true">
        var buildstamp = gs.getProperty('mid.buildstamp');
        var packages = {
            linux32: new MIDPackage('mid', buildstamp, 'linux', 'x86-32'),
            linux64: new MIDPackage('mid', buildstamp, 'linux', 'x86-64'),
            windows32: new MIDPackage('mid', buildstamp, 'windows', 'x86-32'),
            windows64: new MIDPackage('mid', buildstamp, 'windows', 'x86-64'),
            osx32: new MIDPackage('mid', buildstamp, 'osx', 'x86-32'),
            osx64: new MIDPackage('mid', buildstamp, 'osx', 'x86-64')
        };

        var midPackages = new Packages.java.util.HashMap();
        for (packName in packages) {
            var pack = packages[packName];
            var map = new Packages.java.util.HashMap();
            map.put('name', pack.getName());
            map.put('buildstamp', pack.getBuildStamp());
            map.put('operatingSystem', pack.getOperatingSystemName());
            map.put('architecture', pack.getArchitectureName());
            map.put('uri', new MIDPackageUriFactory(pack).getUris(1)[0]);
            midPackages.put(new Packages.java.lang.String(packName), map);
        }

        midPackages;
    </g:evaluate>
<head>
    <title>Download MID Server</title>
    <style>
        .mid-ui-list-header {
            background-color: #E6E8EA;
        }

        .mid-ui-testing-text {
        	color: #81878E;
        }

        .mid-ui-img {
            min-width: 80px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 15px;" role="navigation">
        <div class="container-fluid pull-left">
            <div class="navbar-header">
                <h1 class="navbar-title">Download MID Server</h1>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 mid-ui-img">
                <img src="ico_discovery_installedmidserver.png"/>
            </div>
            <div class="col-sm-10">
                <g:no_escape>${gs.getMessage("MID Server Download UI Header")}</g:no_escape>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="list-group">
                            <h5 class="list-group-item mid-ui-list-header"> Linux </h5>
                            <a class="list-group-item" href="${jvar_packages.get('linux32').get('uri')}">32 bit <i class="pull-right icon-download"></i></a>
                            <a class="list-group-item" href="${jvar_packages.get('linux64').get('uri')}">64 bit <i class="pull-right icon-download"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="list-group">
                            <h5 class="list-group-item mid-ui-list-header"> Windows </h5>
                            <a class="list-group-item" href="${jvar_packages.get('windows32').get('uri')}">32 bit <i class="pull-right icon-download"></i></a>
                            <a class="list-group-item" href="${jvar_packages.get('windows64').get('uri')}">64 bit <i class="pull-right icon-download"></i></a>
                        </div>
                    </div>
                     <j:if test="${jvar_osx}">
                        <div class="col-sm-4">
                            <div class="list-group">
                                <h5 class="list-group-item mid-ui-list-header"> OSX </h5>
                                <a class="list-group-item" href="${jvar_packages.get('osx32').get('uri')}">32 bit <i class="pull-right icon-download"></i></a>
                                <a class="list-group-item" href="${jvar_packages.get('osx64').get('uri')}">64 bit <i class="pull-right icon-download"></i></a>
                            </div>
                        </div>
                    </j:if>
                </div>
                <p class="mid-ui-testing-text">${gs.getMessage("MID Server Download UI Footer")}</p>
            </div>
        </div>
    </div>
</body>

</j:jelly>