<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button id="back_button" class="btn btn-default icon-chevron-left navbar-btn" onclick="history.go(-1)" type="button"></button>
				<h1 class="navbar-title" style="display:inline-block;">${gs.getMessage("MID Server range auto-assignment")}</h1>
			</div>
		</div>
	</nav>

	<div class="notification notification-error" id="mid_range_assign_error_div" style="display: none; padding-left: 15px;">
		<span id="mid_range_assign_error_span"/>
		<button onClick="return closeNotification();" class="btn btn-icon close icon-cross">
	       <span class="sr-only">${gs.getMessage('Close')}</span>
	   </button>
	</div>

	<table style="width: 572px !important; margin-left: 10px; margin-top:10px">
		<tr data-annotation-type="Text" class="annotation-row" style="display: table-row;">
				<td colspan="99" data-annotation-type="Text" class="annotation">
					<div class="annotation-wrapper" style="padding:10px; direction:ltr;">
						<b>${gs.getMessage("Please select the MID Servers you want to auto-assign ranges for. Only MID Servers that are 'Up' and 'validated' can be selected.")}</b>
						<input style="visibility:hidden; width:0px;" id="make_spacing_ok" />
					</div>
				</td>
		</tr>
        <tr>
            <td>
                <!-- Include the 'ui_slushbucket' UI macro -->
                <g:ui_slushbucket />
            </td>
        </tr>
        <tr>
            <td align="right" style="padding-right: 45px;">
                <!-- Include the 'dialog_buttons_ok_cancel' UI macro -->
                <g:dialog_buttons_ok_cancel ok="return handleOK()" cancel="return handleCancel()" ok_type="button" cancel_type="button" />
            </td>
        </tr>
    </table>
</j:jelly>