<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
   <g:evaluate var="jvar_result">
      var result = gs.getSession().getProperty('result');
      result;
   </g:evaluate>
   <DIV style="margin:20px">
      <P><B>MID Server background script result:</B></P>
      <PRE>
         ${jvar_result}
      </PRE>
   </DIV>
</j:jelly>