<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

<script language="javascript" eval="true">
	testParameters();
</script>

<g:ui_form>
	<input type="hidden" name="sysparm_redirect" id="syparm_redirect" value="${RP.getWindowProperties().get('referer_url')}"/>
	<input type="hidden" name="context_sys_id"   id="context_sys_id"  value="${RP.getWindowProperties().get('context_sys_id')}"/>
	<table width="100%">
		<tr id ="test_progress">
			<td align="center">
				<img src="./images/ajax-loader.gifx" alt="${gs.getMessage('Testing Extension parameters')}" />
				<br/>
				<span id="poll_text" style="font-weight:bold;">
					${gs.getMessage('Sending Extension parameters to MID server')}
				</span>
			</td>
		</tr>
		<tr id="test_complete" style="display:none">
			<td align="center" valign="middle">
				<table>
					<tr>
						<td valign="middle">
							<img src="./images/check32.gifx" alt="${gs.getMessage('Extension parameters verified')}" height="32px"/>
						</td>
						<td valign="middle">
							<span id="complete_text" style="font-weight:bold;">
								${gs.getMessage('Extension parameters verified')}
							</span>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr id="test_failed" style="display:none">
			<td align="center" valign="middle">
				<table>
					<tr>
						<td valign="middle">
							<img src="./images/error.gifx" alt="${gs.getMessage('Extension parameters failed')}" height="32px"/>
						</td>
						<td valign="middle">
							<span id="err_text" style="font-weight:bold;">
								${gs.getMessage('Error')}
							</span>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<br/>
			</td>
		</tr>
		<tr id="button_cancel">
			<td align="center">
				<button id="cancelButton" onclick="done();" class="web">${gs.getMessage('Cancel')}</button>
			</td>
		</tr>
		<tr id="button_ok" style="display:none">
			<td align="center">
				<button id="okButton" onclick="done();" class="web">${gs.getMessage('OK')}</button>
			</td>
		</tr>
	</table>
</g:ui_form>
</j:jelly>