<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
   <g:evaluate var="jvar_ecc_queue_id">
      var ecc = gs.getSession().getProperty('ecc_queue_id');
      ecc;
   </g:evaluate>
   <CENTER style="margin-top:25px;">
      <g:mid_tools_progress_worker ecc_queue_id="${jvar_ecc_queue_id}" />
   </CENTER>
</j:jelly>