<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <g:ui_form>
		<table width="100%">
			<tr id="description_row" valign="top">
        		<td colspan="2">
           <!-- Short description value used as a label -->
        			<p>${gs.getMessage('Migrate the Survey into an Assessment object. This will copy the survey, questions and results into Assessment objects and results.  Existing Survey records will not be modified.')}</p>
        		</td>
     		</tr>
     		<tr>
     			<td colspan="2">
				</td>
			</tr>
			<tr id="dialog_buttons">
				<td colspan="2" align="right">
        			<input type="hidden" id="survey_id" name="survey_id" value="${sysparm_survey}" />
        			<g:dialog_buttons_ok_cancel ok="return true" />
        		</td>
     		</tr>
  		</table>
    </g:ui_form>
</j:jelly>