<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
<g:ui_form>
	<table border="0" width="100%">
		<tr>
			<td valign="top" width="100%" height="100%">
				${gs.getMessage("Create a new Bucket Group and a new Breakdown Source using that Group, both with the following name.")}
			</td>
		</tr>
		<tr>
			<td>
				<g:ui_input_field name="new_name" label="${gs.getMessage('Name')}" value="New Group" mandatory="true" />
			</td>
		</tr>
		<tr>
			<td>
				<g:dialog_buttons_ok_cancel cancel="return onCancel();" cancel_type="button" />
			</td>
		</tr>
	</table>
</g:ui_form>
</j:jelly>