<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<g2:requires name="scripts/angular_includes_1.4.js" includes="true"/>
	<g2:requires name="scripts/heisenberg/heisenberg_all.js" includes="true"/>
	<g2:requires name="scripts/sn/common/util/js_includes_util.js" includes="true"/>
	<g2:requires name="scripts/sn/common/messaging/js_includes_messaging.js" includes="true"/>
	<g2:requires name="scripts/sn/common/controls/js_includes_controls.js" includes="true"/>
	<g2:requires name="scripts/sn/common/glide/js_includes_glide.js" includes="true"/>
	<g2:requires name="scripts/sn/common/i18n/js_includes_i18n.js" includes="true"/>
	<g2:requires name="scripts/sn/common/notification/js_includes_notification.js" includes="true"/>
	<g2:requires name="scripts/sn/common/ui/js_includes_ui.js" includes="true"/>
	<g2:requires name="scripts/js_includes_filter_widget.js" includes="true"/>
	<g2:requires name="scripts/js_includes_ng_form_elements.js" includes="true" />
	<g2:requires name="/styles/filter.css" />
	<g2:requires name="/styles/thirdparty/datetimepicker.css" />

	<div id="snfilterwidgettest" class="col-md-12">
		<div ng-controller='NgElementsTest'>
			<sn-form-element field="field" ng-repeat="field in fields track by $index"/>
		</div>
	</div>

</j:jelly>