<j:jelly trim="true" xmlns:j="jelly:core" xmlns:g="glide" xmlns:g2="null" xmlns:j2="null">
     <g:evaluate var="jvar_is_express">
        GlideUtil.isExpressInstance();
    </g:evaluate>
    <g:inline template="notification_preferences.xml"/>
</j:jelly>	