<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
   <div class="home_title">
      Notification Message
   </div>
   <table>
      <tr>
         <td>Message text:</td>
         <td><input id="message_text" size="50" value="Normal message"/></td>
      </tr>
      <tr>
         <td>Fade in (ms):</td>
         <td><input id="fade_in" size="5" value="1500"/></td>
      </tr>
      <tr>
         <td>Fade out (ms):</td>
         <td><input id="fade_out" size="5" value="1500"/></td>
      </tr>
      <tr>
         <td>Close delay (ms):</td>
         <td><input id="close_delay" size="5" value="4000"/></td>
      </tr>
      <tr>
         <td>Sticky?</td>
         <td><input id="sticky" type="checkbox"/></td>
      </tr>
      <tr>
         <td>Type:</td>
         <td><input id="image_type" value="info" size="20"/></td>
      </tr>

   </table>

   <input type="button" value="Try it" onclick="tryIt();" />
</j:jelly>