<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	
	<style type="text/css">
		.ga-table {
			width:40%;
			max-width:898px;
			margin-left:25%;
		}
	</style>

	<j:set var="jvar_oauth_requestor" value="${sysparm_oauth_requestor}" />
	<j:set var="jvar_oauth_requestor_context" value="${sysparm_oauth_requestor_context }" />
	<j:set var="jvar_oauth_provider_profile" value="${sysparm_oauth_provider_profile}" />
	<j:set var="jvar_oauth_provider_id" value="${sysparm_oauth_provider_id}" />
	
	<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true" />
    <g:ui_form>
    
    	<div class="notification notification-failure" id="divNotification" style="display:none;">
			<button data-dismiss="alert" class="btn-icon close icon-cross">
				<span class="sr-only">Close</span>
		    </button>
		</div>
	   	<table class="ga-table">
	   		<tr valign="center">
	   	  		<td align="center">
					<div class="form-group">
  		      			<label for="username" class="control-label col-sm-3">Username</label>
   		      			<span class="col-sm-9 form-field">
       	 	    			<input id="username" class="col-sm-9 form-control" type="text" name="username" />
   		      			</span>
		    		</div>
					<br/>
		    		<div class="form-group">
  		      			<label for="password" class="control-label col-sm-3">Password</label>
   		      			<span class="col-sm-9 form-field">
       	 	    			<input id="password" class="col-sm-9 form-control" type="password" name="password" />
   		      			</span>
		    		</div>		
				</td>
	   		</tr>
	   		<tr> 
	   			<td> 
	   				<br/> 
	   			</td>
	   		</tr>
	   		<tr>
	   			<td align="center">
	   				<footer class="modal-footer">
						<button class="btn btn-default" id="btnCancel" onclick="closeSelf(); return false;">${gs.getMessage('Cancel')}</button>
						<button class="btn btn-primary" id="btnGetToken" onclick="initiateOAuthFlow(); return false;">${gs.getMessage('Get OAuth Token')}</button>
					</footer>
				</td>
	   		</tr>
	   	</table>

		<input type="hidden" name="requestor" id="requestor" value="${jvar_oauth_requestor}"/> 
		<input type="hidden" name="requestor_context" id="requestor_context" value="${jvar_oauth_requestor_context}"/>
		<input type="hidden" name="oauth_provider_profile" id="oauth_provider_profile" value="${jvar_oauth_provider_profile}"/>
		<input type="hidden" name="oauth_provider_id" id="oauth_provider_id" value="${jvar_oauth_provider_id}"/>
		
    </g:ui_form> 
</j:jelly>