<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	
	<style type="text/css">
		.ga-table {
			width:40%;
			max-width:898px;
			margin-left:25%;
		}
	</style>

	<j:set var="jvar_oauth_requestor" value="${sysparm_oauth_requestor}" />
	<j:set var="jvar_oauth_requestor_context" value="${sysparm_oauth_requestor_context }" />
	<j:set var="jvar_oauth_provider_profile" value="${sysparm_oauth_provider_profile}" />
	<j:set var="jvar_oauth_provider_id" value="${sysparm_oauth_provider_id}" />
	
	<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true" />
    <g:ui_form>
    
    	<div class="notification notification-failure" id="divNotification" style="display:none;">
			<button data-dismiss="alert" class="btn-icon close icon-cross">
				<span class="sr-only">Close</span>
		    </button>
		</div>

		<input type="hidden" name="requestor" id="requestor" value="${jvar_oauth_requestor}"/> 
		<input type="hidden" name="requestor_context" id="requestor_context" value="${jvar_oauth_requestor_context}"/>
		<input type="hidden" name="oauth_provider_profile" id="oauth_provider_profile" value="${jvar_oauth_provider_profile}"/>
		<input type="hidden" name="oauth_provider_id" id="oauth_provider_id" value="${jvar_oauth_provider_id}"/>
		
    </g:ui_form> 
	<script>
		addLoadEvent(function(){
		    initiateOAuthFlow();
		});
	</script>
</j:jelly>