<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<j:set var="jvar_objList" value="${sysparm_delobj_list}"/>
    <div style="text-align:left;">
    <br/>
		<div> ${gs.getMessage('Revoke access for this app?')} </div><br/>
    <br/>

    
    <div align="right" class="modal-footer">
        <g:dialog_buttons_ok_cancel ok="return ok()" ok_style_class="btn btn-destructive" ok_text="${gs.getMessage('Revoke')}" cancel="return cancel()" ok_type="button" cancel_type="button"/>
    </div>
    </div>

    <script>
       document.getElementById("ok_button").focus();
    </script>
</j:jelly>
