<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<body onload="refreshOpenerAndCloseSelf()">
    <H1 class="h4">${gs.getMessage('OAuth Flow Complete')}</H1>
    ${gs.getMessage("OAuth is done. Please close this window now.")}
    <br/>
	</body>
</j:jelly>