<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
   <h1>Open Source Announcement</h1>
   <h4>Some software components of this product incorporate source code covered under open source licenses.</h4>

   <h4><a href="sys_attachment.do?sysparm_referring_url=tear_off$[AMP]view=true$[AMP]sys_id=8452382553323200cf4ba424cec58746">Cick here</a>$[SP]for more information about the open source licenses used in this product. With respect to the free/open source software listed in this document, if you have any questions or wish to receive a copy of the source code to which you are entitled under the applicable free/open source license(s) (such as the GNU Lesser/General Public License), please contact us at opensource@servicenow.com.
   </h4>
</j:jelly>