<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <g2:evaluate var="jvar_welcome_page_href" jelly="true">
        SNC.PAUtils.getWelcomePageHref();
    </g2:evaluate>

    <g:requires name="styles/pa/welcome_page.css"/>
			
	<div id="paCanvas">
		<div>
			<h1>${gs.getMessage('pa_welcome_page_text1')}</h1>
			<p>${gs.getMessage('pa_welcome_page_text2')}</p>
		</div>
		<div id="mainGraph">
			<a href="http://docs.servicenow.com/?context=CSHelp:Performance_Analytics_Trial" target="_blank" title="Click to get started"><img src="images/pa/welcome_page_graph.png" /></a>
		</div>
		<div id="info">
			<div id="infoLeft">
				<p>${gs.getMessage('pa_welcome_page_text3')}</p>
			</div>
			<div id="infoRight">
				<img id="smallGraph" src="images/pa/welcome_page_graph_small.png" title="Small graph" />
			</div>
		</div>
	</div>
</j:jelly>