<g:ui_form onsubmit="return invokePromptCallBack('ok');">
<span nowrap="true">Enter the spot to move the tab. Other affected tabs will be moved accordingly</span>	
<table>
        <tr><td/><td/></tr>
        <tr>
            <td nowrap="true"> ${gs.getMessage('Position')}: </td>
            <td>
               <input align="left" name="order" id="order"/>
            </td></tr>
        <tr>
            <td colspan="2" align="right">
                <g:dialog_buttons_ok_cancel 
                   ok="invokePromptCallBack('ok');" 
                   ok_type="button" 
                   cancel="invokePromptCallBack('cancel')" 
                   cancel_type="button" />
            </td>
        </tr>	
</table>
</g:ui_form>