<g:ui_form>
			<table cellpadding="0" cellspacing="0" width="500px">
				<g:ui_progress_worker worker_id="${sysparm_pworker_sysid}"/>
				<tr>
					<td>
						<table id="completed_links" style="display: none" width="100%">
							<tr>
								<td>
									<hr/>
									<div class="caption">Next steps...</div>
								</td>
							</tr>
							<tr id="sys_app_file_type_link">
								<td>
									<a  class="breadcrumb" href="sys_app_file_type_list.do">Back to application file types</a>$[SP] Go back to the application file type list
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<j:if test='${pgr.state == "complete"}'>
				<script>
					var el = gel("completed_links");
					el.style.display = "";
				</script>
			</j:if>
		</g:ui_form>