<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
 <script language="javascript" src="/scripts/GlideV2ChartingIncludes.jsx" />  
 <j:set var="jvar_bulkshare_id" value="${sysparm_bulkshare_id}" />
 <j:set var="jvar_samplesize" value="${sysparm_samplesize}" />
 <g:evaluate var="jvar_previewresults" jelly="true"> 	 
	 function executeBeforeShareScript(script, gr){
		var gc = (typeof GlideController != 'undefined') ? GlideController : Packages.com.glide.script.GlideController;
		var oldCurrent = current;
		var ignore = false;

        gc.putGlobal('current', gr);
        gc.putGlobal('ignore', ignore);
		
        var rc = gc.evaluateString(script);
		ignore = gc.getGlobal('ignore');
        
	    gc.removeGlobal('ignore');
        gc.removeGlobal('current');
		current = oldCurrent;	
		return ignore;	
	}
	  
	function getCounts(tableName, bgr){
		var resultsMessage = "";
	    var recordCount = 0;
	 	var skippedCount = 0;
	    // get total count of records
	    var rec = new GlideAggregate(tableName);	
		rec.addAggregate('COUNT');
	    // add condition
	    if (!bgr.condition.nil()) {
			rec.addEncodedQuery(bgr.condition);
	    }   
	   
	    if(bgr.u_share_updates_since_then == "true" || bgr.u_share_updates_since_then)
	       rec.addQuery('sys_updated_on', '>=', bgr.u_last_share_time);
   
		var limitNumber;
	    if(bgr.isValidField("u_limit_number_of_records_shared") ${AND} bgr.getValue("u_limit_number_of_records_shared") != null){
	    	limitNumber = bgr.getValue("u_limit_number_of_records_shared");
		}
		else if(bgr.isValidField("u_limit_number_of_records_shar") ${AND} bgr.getValue("u_limit_number_of_records_shar") != null){
			limitNumber = bgr.getValue("u_limit_number_of_records_shar");
		}

	    if (bgr.getValue("u_share_only_sys_ids_listed") == true) {
	 	   var sgr = new GlideAggregate("u_psp_bulk_share_sys_id");
	 
	 	sgr.addQuery("u_bulk_share", bgr.sys_id);
	 	sgr.addAggregate('COUNT');
	 	sgr.query();
		 	while(sgr.next()){
	 		var sharedSysIDs = sgr.getAggregate("COUNT");
	 		}	
	 	}
	 
	 	// ignored records through before share script
		if(!bgr.u_before_share_script.nil()) {
			var gr = new GlideRecord(tableName);
			gr.query();
			while(gr.next()){
				if (executeBeforeShareScript(bgr.u_before_share_script, gr) == true) {
					skippedCount++;
				 }
			}
		}
	 
	    var sysID = bgr.getValue("u_share_only_sys_ids_listed");
		rec.query();
		while(rec.next()){
	 	   recordCount = rec.getAggregate("COUNT");
		   recordCount = recordCount - skippedCount;
	 	   resultsMessage = recordCount + " records will be shared from the " + tableName + " table<br/>";
		}
	 
	    if (limitNumber != null  ${AND} parseInt(recordCount) &gt; parseInt(limitNumber)) {	
	 		resultsMessage = limitNumber + " records will be shared from the " + tableName + " table<br/>";
	    }
	 
	    if (sharedSysIDs != null  ${AND} parseInt(recordCount) &gt; parseInt(sharedSysIDs)) {	
	 		resultsMessage = sharedSysIDs + " records will be shared from the " + tableName + " table<br/>";
	    }
	 
	    // sample journal fields, audits and attachments if selected
	    if (bgr.u_include_attachment == "true" || bgr.u_include_attachment == true) {
	    	resultsMessage += getAdditionalCounts("sys_attachment", "table_sys_id", bgr, recordCount);
	    }
	 
		if (bgr.u_share_journal == "true" || bgr.u_share_journal == true) {
			resultsMessage += getAdditionalCounts("sys_journal_field", "element_id", bgr, recordCount);	 
	    }
	 
	    if (bgr.u_include_sys_audit == "true" || bgr.u_include_sys_audit == true) {
	 	   resultsMessage += getAdditionalCounts("sys_audit", "documentkey", bgr, recordCount);
	    }
	  	 
	    return resultsMessage;
	}
	
	function getAdditionalCounts(tableName, referenceFieldName, bgr, recordCount){
		var sampleTotal = 0;
	    var estimatedRecords = 0;
	    var sampleSize = parseInt(jelly.jvar_samplesize);
	    var displayTableName = tableName;

		// get sample of latest created to get better estimate to reflect latest usage
	    var pgr = new GlideRecord(bgr.table_name);
	    // add condition
	    if (!bgr.condition.nil()) {
			pgr.addEncodedQuery(bgr.condition);
	    } 
	 
		pgr.orderByDesc('sys_created_on');
		pgr.setLimit(sampleSize);	 
	    pgr.query();
	    sampleSize = pgr.getRowCount();
	    while (pgr.next()) {
	 		// query other table for its records	 
	 		var agr = new GlideRecord(tableName);
	 		agr.addQuery(referenceFieldName, pgr.sys_id);
	 		agr.query();
	 		sampleTotal += agr.getRowCount();
	 
		 	// for attachments we'll also want to check for sys_attachment_doc
	 		if(tableName == 'sys_attachment'){
	 			while(agr.next()){
	 				var dgr = new GlideRecord('sys_attachment_doc');
	 				dgr.addQuery('sys_attachment', agr.sys_id);
	 				dgr.query();
	 				sampleTotal += dgr.getRowCount();
	 			}
	 
	 			displayTableName = 'attachment (sys_attachment and sys_attachment_doc)';
	 		}
	    }
	 
	    // we estimate total by using the total records / sample size * recount count
	    estimatedRecords = Math.round((sampleTotal / sampleSize) * recordCount);
	 
	    return "An estimated " + estimatedRecords + " " + displayTableName + " records will be shared based on a sample of " + sampleSize + " " + bgr.table_name + " records which had " + sampleTotal + " " + displayTableName + " records<br/>";
	}
	 
	var previewResults = "";
	var previewTitle = "Bulk Share Preview ";
	var tableName = "";
	var trendMonths = [];
	var trendCounts = [];
	var gr = new GlideRecord('psp_bulk_share');
	if (!gr.get(jelly.jvar_bulkshare_id)) {
		previewResults = "Unable to find bulk share with sys_id " + jelly.jvar_bulkshare_id + ". Please reload the page and try again.";
	}
	else {		
	    previewTitle = gr.u_name + " " + previewTitle;
		tableName = gr.table_name;	 
	 
	    // impersonate user if run as selected to get accurate count as them
	    var curUser = "";
		if (!gr.u_run_as.isNil()) {
			curUser = gs.getSession().impersonate(gr.u_run_as);	
		}
	 
	    // first get total count of records
	    previewResults += getCounts(tableName, gr);
 	 
	    // now get monthly trend
		var trend = new GlideAggregate(tableName);		
		// add condition
	    if (!gr.condition.nil()) {
			trend.addEncodedQuery(gr.condition);
	    }
	 
		trend.addEncodedQuery("sys_created_onONLast 12 months@javascript:gs.monthsAgoStart(12)@javascript:gs.endOfThisMonth()");
		trend.addTrend ('sys_created_on','Month');  
		trend.addAggregate('COUNT');  
		trend.setGroup(false);  
		trend.query();  
		while (trend.next()) {  
			trendCounts.push(trend.getAggregate('COUNT'));
			trendMonths.push(trend.getValue('timeref'));  
		}
	 
		// display message to user if outbound not indexed properly
		var showOptimizeMessage = true;
		var sgr = new GlideRecord("sys_db_object");
		sgr.addQuery("name", "psp_out_message");
		sgr.query();
	 
		if (sgr.next()) {
			var igr = new GlideAggregate("v_index_creator");
			igr.addQuery("table", sgr.sys_id);
			igr.addAggregate('COUNT');
			igr.query();
			// if we have our optimized indexes than the count will be > 3
			// jelly doesn't like less than so user >
			while (igr.next()) {
				var indexCount = parseInt(igr.getAggregate("COUNT"));
				if (indexCount > 3) {	 
					showOptimizeMessage = false;	 
				}
			}				 	
		}

	    // set back to original user after finishing
		if (!gr.u_run_as.isNil() ${AND} curUser != "") {
			gs.getSession().impersonate(curUser);	
		}
	}
	 
	//Convert the arrays to a string for processing on the client side  
	trendCounts = trendCounts.join(',');  
	trendMonths = trendMonths.join(',');  	 
	previewResults; 
 </g:evaluate>
 <body>  
	<script>
	$j(document).ready(function () {  
		var showOptimizeMessage = ${showOptimizeMessage};
		if (showOptimizeMessage) {
			$j('#optimizeMessage').show();
		}
	});
	</script>	 
	<div>  
		<center><h3>${previewTitle}</h3>
		</center>
    </div>
	<hr/> 
	<div>
		<center>
			<div style="font-size:15px;"><g:no_escape>${HTML:previewResults}</g:no_escape>
				<span id="optimizeMessage" style="display:none;">
					<b>For optimal performance, please index the table psp_out_message as noted at<br><a target="_blank" href='http://wiki.perspectium.com/doku.php?id=replicator_optimization'>http://wiki.perspectium.com/doku.php?id=replicator_optimization</a></br></b>
				</span>
			</div>
		</center> 
	</div>  
	<hr/> 
	<div id="trendChart" style="width: 100%; height: 400px; margin: 20;"></div> 
	 <div style="margin-left: 10px;"><a href="psp_bulk_share.do?sys_id=${sysparm_bulkshare_id}${AMP}sysparm_preview=true">Back to Bulk Share</a></div> 
 </body> 	
</j:jelly>