<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<script language="javascript" src="/scripts/GlideV2ChartingIncludes.jsx" />  

	<j:set var="jvar_queue_id" value="${sysparm_queue_id}" />
	<j:set var="jvar_days_ago" value="${sysparm_days_ago}" />

	<g:evaluate var="jvar_previewresults" jelly="true"> 
		// Initialization
		var previewResults = "";
		var previewTitle = "Queue History";
		var tableName = "u_psp_queue_history";
		var trendTimes = [];
		var trendCounts = [];
		var gr = new GlideRecord('u_psp_queues');
		var totalCount = -1;
		var daysAgo = 7;
		if (jelly.jvar_days_ago){
			daysAgo = jelly.jvar_days_ago;
		}

		if (!gr.get(jelly.jvar_queue_id)) {
			previewResults = "Unable to find queue with sys_id " + jelly.jvar_queue_id + ". Please reload the page and try again.";
		}
		else {		
			previewTitle = gr.u_name + " " + previewTitle;
			
			// Get the last X days of data, ordered by timestamp
			var trend = new GlideRecord(tableName);
			trend.addEncodedQuery("u_timestamp>=javascript:gs.daysAgoStart(" + daysAgo + ")");
			trend.addQuery('u_queue', gr.sys_id);
			trend.orderBy('u_timestamp');	 
			trend.query(); 
			totalCount = trend.getRowCount();
			while (trend.next()) {  
				// Push the count and the timestamp in local time, slice off the seconds
				trendCounts.push(trend.getValue('u_count'));
				trendTimes.push(trend.u_timestamp.getDisplayValue().slice(0, -3));  
			}	
		}
		
		if (totalCount == 0){
			previewResults = "Unable to find data for queue " + gr.u_name + ". Please verify you are tracking the history for this queue.";
		}
		
		//Convert the arrays to a string for processing on the client side  
		trendCounts = trendCounts.join(',');  
		trendTimes = trendTimes.join(',');  
		previewResults; 
	 </g:evaluate>
	<body>  
		<div>  
			<center><h3>${previewTitle}</h3></center>
		</div>
		<hr/> 
		<div>
			<center>
				<div style="font-size:15px;">
					<g:no_escape>${HTML:previewResults}</g:no_escape>
				</div>
			</center> 
		</div>  
		<hr/> 
		<div id="trendChart" style="width: 100%; height: 400px; margin: 20;"></div>
		
		<nav style="margin-left: 10px;">
			<a href="perspectium_queue_history.do?sysparm_queue_id=${sysparm_queue_id}${AMP}sysparm_days_ago=3">Last 3 Days</a>$[AMP]nbsp;|$[AMP]nbsp;
			<a href="perspectium_queue_history.do?sysparm_queue_id=${sysparm_queue_id}${AMP}sysparm_days_ago=7">Last 7 Days</a>$[AMP]nbsp;|$[AMP]nbsp;
			<a href="perspectium_queue_history.do?sysparm_queue_id=${sysparm_queue_id}${AMP}sysparm_days_ago=14">Last 14 Days</a>$[AMP]nbsp;|$[AMP]nbsp;
			<a href="perspectium_queue_history.do?sysparm_queue_id=${sysparm_queue_id}${AMP}sysparm_days_ago=30">Last 30 Days</a>
		</nav>
		
		<div style="margin-left: 10px;">
			<a href="u_psp_queues.do?sys_id=${sysparm_queue_id}">Back to Queue</a>
		</div> 
	</body> 	
</j:jelly>