<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<head>
		<style>
			p {
				text-indent: 1em;
			}
			
			#title {
				width: 100%;
			}
			
			#descriptionWrapper {
				width: 100%;
			}
			
			#description {
				font-size: 11pt;
				max-width: 550px;
				margin-bottom: 15px;
			}
			
			#mAlertWrapper {
				padding: 10px;
			}
			
			.center-horizontal {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}
			
			.navBtn {
				font-size: 14pt;
			}
		</style>
	</head>
	<body>
		<h1 style="margin-left: 10px; width: 100%;" class="center-horizontal">
			Perspectium - Confirm Action
		</h1>
		<h2 id="action" class="center-horizontal" style="margin-left: 10px;"></h2>
		<div id="descriptionWrapper" class="center-horizontal">
			<div id="description"></div>
		</div>
		<div class="center-horizontal">
			<button class="navBtn" onClick="goBack()">
				GO BACK
			</button>
			<button id="confirmBtn" class="navBtn" onClick="confirm()">
				CONFIRM
			</button>
		</div>
		<div id="mAlertWrapper" class="center-horizontal" style="width: 100%;">
			<div id="mAlert"></div>
		</div>
	</body>
</j:jelly>