<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<head>
		<style>
			#page-title {
				text-align: center;
				margin-left: 40px;
			}

			#table-selector {
				font-size: 14px;
			}

			#submit-btn {
				margin-bottom: 15px;
			}

			#clear-btn {
				background-color: #555555;
				color: white;
				border: 1px solid #555555;
				margin-bottom: 15px;
				margin-left: 5px;
			}

			#oracle-field {
				display: none;
			}

			#invalid-params-display {
				display: none;
				text-align: center;
			}

			.error {
				width: 100%;
				padding: 0;
			}

			.error.active {
				padding: 0.3em;
			}

			body {
				overflow-x: hidden;
			}

			.required-field::after {
				content: "*";
    			color: red;
			}

			.form-check {
				margin: 0;
			}

			.psp-checkbox {
				margin-top: 0 !important;
				margin-right: 5px !important;
			}

			.form-check-label {
				padding-top: 0;
			}
		</style>
		<meta charset="utf-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	</head>
	<body>
		<div>
			<img src="perspectium_logo_full_color_transparent_tiny.png" width="200" height="25"/>
		</div>
		<div class="col-sm-offset-3">
			<h1 id="page-title" class="col-sm-6">Ready to Run</h1>
		</div>
		<hr class="col-sm-offset-1" width="80%"></hr>
		<form class="form-horizontal" id="main-form">
			<h2 class="col-sm-offset-1">Tables</h2>
			<div class="form-group" id="table-selector">
				<label class="col-sm-offset-2 col-sm-2 control-label" id="table-label"></label>
				<div class="col-sm-8">
					<div class="form-check">
						<input class="form-check-input psp-checkbox" type="checkbox" value="incident" id="incident-checkbox" checked="checked"></input>
						<label class="form-check-label checkbox-label control-label">
							incident
						</label>
					</div>
				</div>
				<div class="col-sm-offset-2 col-sm-2"></div>
				<div class="col-sm-8">
					<div class="form-check">
						<span class="error" aria-live="polite" id="table-error"></span>
					</div>
				</div>
			</div>
			<hr class="col-sm-offset-1" width="80%"></hr>
			<h2 class="col-sm-offset-1">ServiceNow</h2>
			<div class="form-group">
				<label for="instance-sn" class="col-sm-offset-2 col-sm-2 control-label required-field">Instance Name</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="instance-sn" placeholder="Instance Name"></input>
					<span class="error" aria-live="polite"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="username-sn" class="col-sm-offset-2 col-sm-2 control-label required-field">Username</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="username-sn" placeholder="Username"></input>
					<span class="error" aria-live="polite"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="password-sn" class="col-sm-offset-2 col-sm-2 control-label required-field">Password</label>
				<div class="col-sm-4">
					<input type="password" class="form-control" id="password-sn" placeholder="Password"></input>
					<span class="error" aria-live="polite"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="encryption-key" class="col-sm-offset-2 col-sm-2 control-label required-field">Encryption Key</label>
				<div class="col-sm-4">
					<input type="password" class="form-control" id="encryption-key" placeholder="Enter encryption key"></input>
					<span class="error" aria-live="polite"></span>
					<p><!--ServiceNow XML parser inserts two br tags for every one so don't use them, use p instead-->
						<small id="encryption-key-help" class="form-text text-muted">
							This defaults to the encryption key set in your Perspectium properties. If changed, the encryption key set in your Perspectium properties will be overwritten.
						</small>
					</p>
				</div>
			</div>
			<div class="hide-servicenow-direct">
				<hr class="col-sm-offset-1" width="80%"></hr>
				<h2 class="col-sm-offset-1">MBS</h2>
				<div class="form-group">
					<label for="server-mbs" class="col-sm-offset-2 col-sm-2 control-label required-field">Server URL</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="server-mbs" placeholder="MBS Server URL" value="https://"></input>
						<span class="error" aria-live="polite"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="username-mbs" class="col-sm-offset-2 col-sm-2 control-label required-field">Username</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="username-mbs" placeholder="Username"></input>
						<span class="error" aria-live="polite"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="password-mbs" class="col-sm-offset-2 col-sm-2 control-label required-field">Password</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="password-mbs" placeholder="Password"></input>
						<span class="error" aria-live="polite"></span>
					</div>
				</div>
			</div>
			<hr class="col-sm-offset-1" width="80%"></hr>
			<h2 class="col-sm-offset-1">Agent</h2>
			<div class="form-group">
				<label for="type-os" class="col-sm-offset-2 col-sm-2 control-label">Operating System</label>
				<div class="col-sm-4">
					<select class="form-control" id="type-os">
						<option>Linux</option>
						<option>Windows</option>
						<!--<option>Mac</option>-->
					</select>
				</div>
			</div>
			<hr class="col-sm-offset-1" width="80%"></hr>
			<h2 class="col-sm-offset-1">Database</h2>
			<div class="form-group">
				<label for="type-db" class="col-sm-offset-2 col-sm-2 control-label">Type</label>
				<div class="col-sm-4">
					<select class="form-control" id="type-db">
						<option value="mysql">MySQL</option>
						<option value="mssql">MSSQL</option>
						<option value="oracle">Oracle</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="server-db" class="col-sm-offset-2 col-sm-2 control-label required-field">Server URL</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="server-db" placeholder="Database Server URL"></input>
					<span class="error" aria-live="polite"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="port-db" class="col-sm-offset-2 col-sm-2 control-label required-field">Port</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="port-db" placeholder="Port Number" value="3306"></input>
					<span class="error" aria-live="polite"></span>
				</div>
			</div>
			<div class="form-group" id="oracle-field">
				<label for="sid-db" class="col-sm-offset-2 col-sm-2 control-label required-field">SID</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="sid-db" placeholder="Oracle SID"></input>
					<span class="error" aria-live="polite"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="username-db" class="col-sm-offset-2 col-sm-2 control-label required-field">Username</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="username-db" placeholder="Username"></input>
					<span class="error" aria-live="polite"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="password-db" class="col-sm-offset-2 col-sm-2 control-label required-field">Password</label>
				<div class="col-sm-4">
					<input type="password" class="form-control" id="password-db" placeholder="Password"></input>
					<span class="error" aria-live="polite"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="name-db" class="col-sm-offset-2 col-sm-2 control-label required-field">Database Name</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="name-db" placeholder="Database Name"></input>
					<span class="error" aria-live="polite"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-4">
					<input type="checkbox" id="bulkshare-checkbox" checked="checked" class="psp-checkbox"></input>
					<label id="bulkshare-checkbox-label control-label">Execute Bulk Share Immediately</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-4">
					<input type="checkbox" id="save-checkbox" checked="checked" class="psp-checkbox"></input>
					<label id="save-checkbox-label control-label">Save Info to Run Again Later</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-5">
					<button type="button" class="btn btn-primary col-sm-4" onclick="submitForm();" id="submit-btn">Submit</button>
					<button type="button" class="btn btn-default col-sm-4" onclick="clearForms();" id="clear-btn">Clear Form</button>
				</div>
			</div>
		</form>
		<div id="invalid-params-display">
			<h2>Error loading form.
				<p> Please load Ready to Run by clicking on the link located in the sidebar under Perspectium Replicator.</p>
			</h2>
		</div>
	</body>
	<script src="https://cdn.rawgit.com/eligrey/Blob.js/0cef2746414269b16834878a8abc52eb9d53e6bd/Blob.js" async="async"/>
    <script src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js" async="async"/>
    <script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js" async="async"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.js" async="async"/>
</j:jelly>