<?xml version="1.0" encoding="UTF-8"?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
<head>
    <style>
		 .centered {     
		margin: auto;
		width: 75%; 
		}
		 .centeredDropdowns {     
		margin: auto;
		width: 87%; 
		}		
		
		
    </style>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link type="text/css" rel="stylesheet" href="/styles/GlideEditor5Includes.cssx?v=07-20-2017_1155"></link>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/GlideEditor5Includes.jsx?v=07-20-2017_1155"></script>
    <script>
        var editor; var min; var toolbar; 
   
        $j(document).ready(function () {   

			setParameters();
			getInstance();
            document.getElementById("createURL").setAttribute("disabled", "disabled");
            document.getElementById("copyURL").setAttribute("disabled", "disabled");  
			document.getElementById("saveMapping").setAttribute("disabled", "disabled"); 
			$j('#recordsTable').on('click', '.clickable-row', function(event) {
			  $j(this).addClass('active').siblings().removeClass('active');
			});
        });
   
        var url;
        var mbs = "";
        var urlChosen;
        var fieldsPopulated;
        var providerChosen;
        var clientChosen;
        var actionChosen;
        var sourceChosen;
        var targetChosen;
        var actionChosen;
		var currentInstance;
        var source;
        var target;
        var description;
		var versionedRecordsArr = []; // every index corresponds to a version
		var currPspId;
       
		
		function getInstance() {
			var gA = new GlideAjax('PerspectiumSIAMMapping');
			gA.addParam('sysparm_name', 'getInstance');
			gA.getXML(setInstance);
		}

		function setInstance(serverResponse) {
			var result = serverResponse.responseXML.getElementsByTagName("instance");
			currentInstance = result[0].getAttribute("name");
		}
		/*function getParameterByName(name, url, flag) {
            if (!url)  {url = decodeURI(window.location.href);
				url = url.replace(/%26/g, "/");
                name = name.replace(/[\[\]]/g, "\\$%26");}
            if(flag == false || flag == "false") {
                var regex = new RegExp("[?%26]" + name + "(=([^%26#]*)|%26|#|$)"),
                results = regex.exec(url);
            }
   
            else if( flag == true || flag == "true"){
                var regex = new RegExp("[?%26]" + name + "(=([^#]*)|#|$)"),
                results = regex.exec(url);
            }
 
            if (!results) 
				return false;
            if (!results[2]) 
				return '';
            return decodeURIComponent(results[2]);
        }*/
		
		function setParameters(){

			var gA = new GlideAjax('PerspectiumSIAMMapping');
			
			var	url = window.location.href
			url = decodeURI(url);
			var url = url.replace(/%26/g, "/");
			var tmp = url.split('?');
			var parameterList = tmp[1];

			var parameterListSplit = parameterList.split('=');

			var i = 1;
			var mappingFields = [];  
			
			while(i != parameterListSplit.length){
				mappingFields.push(parameterListSplit[i].split('/')[0]);		
				i++;
			}
		
			if(mappingFields[6]){
				var mbs1 = mappingFields[0]
				var mbs2 = mappingFields[1];
				urlChosen = mbs1 + "//" + mbs2 ;
				providerChosen = mappingFields[2];
				clientChosen = mappingFields[3];
				sourceChosen = mappingFields[6];
				targetChosen = mappingFields[4];
				actionChosen = mappingFields[5];
		
				setDropdownWithUrl( 'urls', urlChosen);
				setDropdownWithUrl( 'providers', providerChosen );
				setDropdownWithUrl( 'clients', clientChosen );
	/*
				var row = document.createElement("tr");
                var column = document.createElement("td");
                var textnode = document.createTextNode(sourceChosen );
                column.appendChild(textnode);
                row.appendChild(column);
       
                var column1 = document.createElement("td");
                var textnode2 = document.createTextNode(targetChosen);
                column1.appendChild(textnode2);
                row.appendChild(column1);
       
                var column2 = document.createElement("td");
                var textnode3 = document.createTextNode(actionChosen);
                column2.appendChild(textnode3);
                row.appendChild(column2);
              
                document.getElementById("records_table").appendChild(row); */
			
				getProvidersPreSetProvider(urlChosen);
				//getProviders(urlChosen);
				getRecordsPreSetParameters(providerChosen, clientChosen);
				getClientsPreSetClient(providerChosen, urlChosen);
				getEndpointURLsPreSetMBS();

				gA.addParam('sysparm_name', 'getMapping');
				gA.addParam('sysparm_client', clientChosen);
				gA.addParam('sysparm_provider', providerChosen);
				gA.addParam('sysparm_action', actionChosen);
				gA.addParam('sysparm_source', sourceChosen);
				gA.addParam('sysparm_target', targetChosen);
				gA.addParam('sysparm_url', urlChosen);
				
				gA.getXML(setMappingWithURL);
				}
			else{
				window.getEndpointURLs();
			}		
       }
	
		function setDropdownWithUrl(field, option){
			var tmp = document.createElement("option");
			tmp.appendChild(document.createTextNode(option));
            document.getElementById(field).appendChild(tmp);
		}
		

		function setMappingWithURL(serverResponse) {
            var result = serverResponse.responseXML.getElementsByTagName("mapping");
            editor.setValue(result[0].getAttribute("mapping"));    
        }
		
        function getProviders() {
            clearOptions(document.getElementById('providers'));
            urlChosen = document.getElementById("urls").value;
			mbs = document.getElementById("urls").value;

            var glideAjax = new GlideAjax('PerspectiumSIAMMapping');      
            glideAjax.addParam("sysparm_url", urlChosen);
            glideAjax.addParam("sysparm_name", "getProviders");
 
            glideAjax.getXML(buildProviderDropdown);
        }
		
        function buildProviderDropdown(serverResponse) {
            var result = serverResponse.responseXML.getElementsByTagName("result");
            var i = 0;
       
            while(result[0].getAttribute("provider"+i)) {
                if (i == 0) {
					var tmp = document.createElement("option");
					tmp.appendChild(document.createTextNode("Choose a provider"));
					document.getElementById('providers').appendChild(tmp);
					
                }
       
                var opt = document.createElement("option");
                var provider = result[0].getAttribute("provider"+i);
                opt.appendChild(document.createTextNode(provider));
                opt.value = provider;
		
                document.getElementById('providers').appendChild(opt);
                i++;
            }
        }		
		
		
		function getProvidersPreSetProvider(mbs) {

            clearOptions(document.getElementById('providers'));

            var glideAjax = new GlideAjax('PerspectiumSIAMMapping');      
            glideAjax.addParam("sysparm_url", mbs);
            glideAjax.addParam("sysparm_name", "getProviders");
 
            glideAjax.getXML(buildProviderDropdownPreSetProvider);
        }
 
		function buildProviderDropdownPreSetProvider(serverResponse) {
            var result = serverResponse.responseXML.getElementsByTagName("result");
            var i = 0;
       
            while(result[0].getAttribute("provider"+i)) {       
                var opt = document.createElement("option");
                var provider = result[0].getAttribute("provider"+i);
                opt.appendChild(document.createTextNode(provider));			
                opt.value = provider;
 
                document.getElementById('providers').appendChild(opt);
				if (provider === providerChosen) {
					document.getElementById("providers").selectedIndex = i;
				}
                i++;
            }
        }
       
        function getEndpointURLs() {
            var glideAjax = new GlideAjax('PerspectiumSIAMMapping');      
            glideAjax.addParam("sysparm_name", "getEndpointURLs");
		
            glideAjax.getXML(buildEndpointURLDropdown);
        }
 
        function buildEndpointURLDropdown(serverResponse) {
            var result = serverResponse.responseXML.getElementsByTagName("result");
            var i = 0;
 
			while(result[0].getAttribute("url"+i)) {
				 if (i == 0) {
					 var tmp = document.createElement("option");
                     tmp.appendChild(document.createTextNode("Choose MBS"));
                     document.getElementById('urls').appendChild(tmp);
                 }
		
				var opt = document.createElement("option");
                var url = result[0].getAttribute("url"+i);
                opt.appendChild(document.createTextNode(url));
                opt.value = url;
 
                document.getElementById('urls').appendChild(opt);
                i++;
            }
        }
		
		function getEndpointURLsPreSetMBS() {
            var glideAjax = new GlideAjax('PerspectiumSIAMMapping');      
            glideAjax.addParam("sysparm_name", "getEndpointURLs");
		
            glideAjax.getXML(buildEndpointURLDropdownPreSetMBS);
        }
		
        function buildEndpointURLDropdownPreSetMBS(serverResponse) {
            var result = serverResponse.responseXML.getElementsByTagName("result");
            var i = 0;
 
			while(result[0].getAttribute("url"+i)) {
	
				var opt = document.createElement("option");
                var url = result[0].getAttribute("url"+i);
                opt.appendChild(document.createTextNode(url));
                opt.value = url;
                document.getElementById('urls').appendChild(opt);
				
				if (url === urlChosen) {
					document.getElementById("urls").selectedIndex = i;
				}
			
                i++;
            }
        }
				
       
		function getRecordsPreSetParameters(provider, client) {
            var glideAjax = new GlideAjax('PerspectiumSIAMMapping');
 
            if(providerChosen){
                glideAjax.addParam('sysparm_url', urlChosen);
                glideAjax.addParam('sysparm_name', 'getRecords');
                glideAjax.addParam('sysparm_provider', provider);
                glideAjax.addParam('sysparm_client', client);
 
                glideAjax.getXML(buildRecordDropdown);
            } 
		}
		
        function getRecords() {
            providerChosen = document.getElementById("providers").value;
            clientChosen = document.getElementById("clients").value;
            var glideAjax = new GlideAjax('PerspectiumSIAMMapping');
 
            if(providerChosen){
                glideAjax.addParam('sysparm_url', urlChosen);
                glideAjax.addParam('sysparm_name', 'getRecords');
                glideAjax.addParam('sysparm_provider', providerChosen);
                glideAjax.addParam('sysparm_client', clientChosen);
 
                glideAjax.getXML(buildRecordDropdown);
            }      
        }
       
		
        function buildRecordDropdown(serverResponse) {
            var records = serverResponse.responseXML.getElementsByTagName("record");
            var new_tbody = document.createElement("tbody");
           
            document.getElementById("records_table").parentNode.replaceChild(new_tbody, document.getElementById("records_table"));
            new_tbody.setAttribute("id", "records_table");        
           
            for (var i = 0; i  != records.length; i++) {
                var row = document.createElement("tr");
                var column = document.createElement("td");
                var textnode = document.createTextNode(records[i].getAttribute("source"));
                column.appendChild(textnode);
                row.appendChild(column);
       
                var column1 = document.createElement("td");
                var textnode2 = document.createTextNode(records[i].getAttribute("target"));
                column1.appendChild(textnode2);
                row.appendChild(column1);
       
                var column2 = document.createElement("td");
                var textnode3 = document.createTextNode(records[i].getAttribute("action"));
                column2.appendChild(textnode3);
                row.appendChild(column2);
       
                row.setAttribute("onclick", "getMapping(\'"+providerChosen+"\', \'"+clientChosen+"\', \'"+records[i].getAttribute("source")+ "\', \'"+records[i].getAttribute("target")+"\', \'"+records[i].getAttribute("action")+"\')");
				row.setAttribute("class", "clickable-row");
                document.getElementById("records_table").appendChild(row);
            }
        }
       
		
		// need to pass in same parameters that mapping needed.. called after getMapping() is called
/*		function getVersionedRecords(provider, client, source, target, action) {
			var glideAjax = new GlideAjax('PerspectiumSIAMMapping');
 
            if(action){
                glideAjax.addParam('sysparm_name', 'getVersionedRecords');
                glideAjax.addParam('sysparm_url', urlChosen);
                glideAjax.addParam('sysparm_client', clientChosen);
                glideAjax.addParam('sysparm_provider', providerChosen);
                glideAjax.addParam('sysparm_action', action);
                glideAjax.addParam('sysparm_source', source);
                glideAjax.addParam('sysparm_target', target);
 
                glideAjax.getXML(buildVersionedRecordsDropdown);
            } 		
		}
		
		function buildVersionedRecordsDropdown (serverResponse) {
            var versionedRecords = serverResponse.responseXML.getElementsByTagName("versionedRecord");
            var new_tbody = document.createElement("tbody");
           
            document.getElementById("versioned_records_table").parentNode.replaceChild(new_tbody, document.getElementById("versioned_records_table"));
            new_tbody.setAttribute("id", "versioned_records_table");        
           
            for (var i = 0; i  != versionedRecords.length; i++) {
				//var versionedRecordJSON = {};	
				//versionedRecordsArr = versionedRecords[i].getAttribute("psp_id");
				
		
                var row = document.createElement("tr");
                var column = document.createElement("td");
                var textnode = document.createTextNode(versionedRecords[i].getAttribute("created"));
                column.appendChild(textnode);
                row.appendChild(column);
       
                var column1 = document.createElement("td");
                var textnode2 = document.createTextNode(versionedRecords[i].getAttribute("version"));
                column1.appendChild(textnode2);
                row.appendChild(column1);
       
                var column2 = document.createElement("td");
                var textnode3 = document.createTextNode(versionedRecords[i].getAttribute("sourceTable"));
                column2.appendChild(textnode3);
                row.appendChild(column2);
       
             //   row.setAttribute("onclick", "getMapping(\'"+providerChosen+"\', \'"+clientChosen+"\', \'"+records[i].getAttribute("source")+ "\', \'"+records[i].getAttribute("target")+"\', \'"+records[i].getAttribute("action")+"\')");
				row.setAttribute("class", "clickable-row");
                document.getElementById("versioned_records_table").appendChild(row);
            }	
		
		}*/
		
		function getVersionedMapping(version) {
			// we already have the versioned mappings, so we just located the right version and display it
			editor.setValue(versionedRecordsArr[parseInt(version)].replace(/  +/g, '\n'));
		}
	/*
		function displayVersionedMapping(serverResponse) {
			//editor.setValue(serverResponse.responseXML.getElementsByTagName("versionedMapping")[0].getAttribute("mapping"));
			editor.setValue(serverResponse.responseXML.getElementsByTagName("versionedMapping")[0].getAttribute("versionedMapping"));
		}*/
		
		
		function getVersionedMappingByPspId(psp_id) {
			var glideAjax = new GlideAjax('PerspectiumSIAMMapping');
			glideAjax.addParam('sysparm_url', urlChosen);
			glideAjax.addParam('sysparm_name', 'getVersionedMapping');
			glideAjax.addParam('sysparm_pspId', psp_id);
			glideAjax.addParam('sysparm_provider', providerChosen);
			
			glideAjax.getXML(displayVersionedMappingByPspId); 			
		}
		
		function displayVersionedMappingByPspId(serverResponse) {
			//editor.setValue(serverResponse.responseXML.getElementsByTagName("versionedMapping")[0].getAttribute("versionedMapping"));
			editor.setValue(serverResponse.responseXML.getElementsByTagName("versionedMapping")[0].getAttribute("versionedMapping").replace(/   /g, '\n'));
		}
		
        function getClients() {
            clearOptions(document.getElementById('clients'));
           
            providerChosen = document.getElementById("providers").value;
            var glideAjax = new GlideAjax('PerspectiumSIAMMapping');
 
            if(providerChosen){
				glideAjax.addParam('sysparm_url', urlChosen);
				glideAjax.addParam('sysparm_name', 'getClients');
				glideAjax.addParam('sysparm_provider', providerChosen);

				glideAjax.getXML(buildClientDropdown);
            }
        }
		
        function getClientsPreSetClient(provider, mbs) {
            clearOptions(document.getElementById('clients'));

            var glideAjax = new GlideAjax('PerspectiumSIAMMapping');
 
            if(provider){
				glideAjax.addParam('sysparm_url', mbs);
				glideAjax.addParam('sysparm_name', 'getClients');
				glideAjax.addParam('sysparm_provider', provider);

				glideAjax.getXML(buildClientDropdownPreSetClient);
            }
        }		
    
        function buildClientDropdownPreSetClient(serverResponse) {
			var result = serverResponse.responseXML.getElementsByTagName("clients");
            var i = 0;
            if (result[0].getAttribute("access") == "granted") {
                window.setTimeout(function() {
                        $j(".alert").fadeTo(500, 0).slideUp(500, function(){
                        $j(this).remove();
                    });
                }, 10000);
 
                while(result[0].getAttribute("client"+i)) {
                    var opt = document.createElement("option");
                    opt.appendChild(document.createTextNode(result[0].getAttribute("client"+i)));
 
                    document.getElementById('clients').appendChild(opt);
					if (result[0].getAttribute("client"+i) === clientChosen) {
						document.getElementById('clients').selectedIndex = i;
					}
		
                    i++;
                }
            } else {
                    document.getElementById("header").innerHTML = '<div class="alert alert-danger" id="alert_message">Access denied. Please check your credentials.</div>';
					window.setTimeout(function() {
							$j(".alert").fadeTo(500, 0).slideUp(500, function(){
							$j(this).remove();
						});
					}, 100000);
            }
        }		
		
        function buildClientDropdown(serverResponse) {
			var result = serverResponse.responseXML.getElementsByTagName("clients");
            var i = 0;
            if (result[0].getAttribute("access") == "granted") {
                window.setTimeout(function() {
                        $j(".alert").fadeTo(500, 0).slideUp(500, function(){
                        $j(this).remove();
                    });
                }, 10000);
 
                while(result[0].getAttribute("client"+i)) {
                    if (i == 0) {
                        var tmp = document.createElement("option");
                        tmp.appendChild(document.createTextNode("Choose a client"));
                        document.getElementById('clients').appendChild(tmp);
                    }
       
                    var opt = document.createElement("option");
                    opt.appendChild(document.createTextNode(result[0].getAttribute("client"+i)));
 
                    document.getElementById('clients').appendChild(opt);
                    i++;
                }
            } else {
                    document.getElementById("header").innerHTML = '<div class="alert alert-danger" id="alert_message">Access denied. Please check your credentials.</div>';
					window.setTimeout(function() {
							$j(".alert").fadeTo(500, 0).slideUp(500, function(){
							$j(this).remove();
						});
					}, 100000);
            }
        }
 
		// after the user selects a record, we will call the getVersionedRecords function in order to display the different versions for that chosen record
        function getMapping(provider, client, source, target, action) {
            var glideAjax = new GlideAjax('PerspectiumSIAMMapping');
            sourceChosen = source;
            targetChosen = target;
            actionChosen = action;
 
            if(action){
                glideAjax.addParam('sysparm_name', 'getMappingAndVersionedRecords');
                glideAjax.addParam('sysparm_url', urlChosen);
                glideAjax.addParam('sysparm_client', clientChosen);
                glideAjax.addParam('sysparm_provider', providerChosen);
                glideAjax.addParam('sysparm_action', action);
                glideAjax.addParam('sysparm_source', source);
                glideAjax.addParam('sysparm_target', target);
 
                glideAjax.getXML(ajaxResponseGetMapping);
            }
		
			getVersionedRecords(provider, client, source, target, action);
        }
       
        function ajaxResponseGetMapping(serverResponse) {
		
			if (clientChosen == "default") {
                var provider = document.getElementById("providers").value;
                var client = document.getElementById("clients").value;
				var list = mbs.split('//');
                var url =  "perspectium_create_siam_mapping.do?mbs1="+list[0]+"%26mbs2="+list[1]+"%26provider="+provider+"%26client="+client+"%26target="+targetChosen+"%26action="+actionChosen+"%26source="+sourceChosen;
                window.location.href = encodeURI(url);		
			}
			else {
				document.getElementById("createURL").removeAttribute("disabled");
				document.getElementById("copyURL").removeAttribute("disabled");
				document.getElementById("saveMapping").removeAttribute("disabled");
				var result = serverResponse.responseXML.getElementsByTagName("mapping");

				editor.setValue(result[0].getAttribute("mapping"));
		//editor.setValue("test \n me");
		
				currPspId = serverResponse.responseXML.getElementsByTagName("psp_id")[0].getAttribute("psp_id");
			}
		
		// now we build the versioned records table
            var versionedRecords = serverResponse.responseXML.getElementsByTagName("versionedRecord");
            var new_tbody = document.createElement("tbody");
           
            document.getElementById("versioned_records_table").parentNode.replaceChild(new_tbody, document.getElementById("versioned_records_table"));
            new_tbody.setAttribute("id", "versioned_records_table");        
           
            for (var i = 0; i  != versionedRecords.length; i++) {
				
                var row = document.createElement("tr");
                var column = document.createElement("td");
                var textnode = document.createTextNode(versionedRecords[i].getAttribute("created"));
                column.appendChild(textnode);
                row.appendChild(column);
       
                var column1 = document.createElement("td");
                var textnode2 = document.createTextNode(versionedRecords[i].getAttribute("version"));
                column1.appendChild(textnode2);
                row.appendChild(column1);
       
                var column2 = document.createElement("td");
                var textnode3 = document.createTextNode(versionedRecords[i].getAttribute("sourceTable"));
                column2.appendChild(textnode3);
                row.appendChild(column2);
		
				// store the mappings in versionedRecordsArr
				versionedRecordsArr[versionedRecords[i].getAttribute("version")] = versionedRecords[i].getAttribute("versionedMapping");
				
			   // this retrieves the versionedMapping by going to the server each time
                //row.setAttribute("onclick", "getVersionedMappingByPspId(\'"+versionedRecords[i].getAttribute("psp_id")+"\')");
		
				// this reaches into the array
				row.setAttribute("onclick", "getVersionedMapping(\'"+versionedRecords[i].getAttribute("version")+"\')");
		
				row.setAttribute("class", "clickable-row");
                document.getElementById("versioned_records_table").appendChild(row);
            }
 
        }
 
        function updateMapping() {
            var newMapping = editor.getValue();    
            var gA = new GlideAjax('PerspectiumSIAMMapping');
	
			gA.addParam('sysparm_name', 'updateMapping');
            gA.addParam('sysparm_client', clientChosen);
            gA.addParam('sysparm_url', urlChosen);
            gA.addParam('sysparm_provider', providerChosen);
            gA.addParam('sysparm_action', actionChosen);
            gA.addParam('sysparm_source', sourceChosen);
            gA.addParam('sysparm_target', targetChosen);
            gA.addParam('sysparm_mapping', newMapping);
			gA.addParam('sysparm_pspId', currPspId);
		
			// add the most latest version to versionedRecordsArr
			versionedRecordsArr[versionedRecordsArr.length] = newMapping;
       
			gA.getXML(updateMappingResponse);
            window.minimizeEditor();
        }
       
        function updateMappingResponse(serverResponse) {
			window.scrollTo(0,0);
            document.getElementById("header").innerHTML = '<div class="alert alert-success" id="alert_message">Mapping successfully updated.</div>';
            window.setTimeout(function() {
                    $j(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $j(this).remove();
                });
            }, 10000);
        }
       
        function clearOptions(dropdown) {          
            var i;
            for (i = dropdown.options.length-1; i >= 0; i--) {
                dropdown.remove(i);
            }
        }
       
        function createURL(){
			var provider = document.getElementById("providers").value;
            var client = document.getElementById("clients").value;
		
            var list = mbs.split('//');
	
			
             var url =  currentInstance + ".service-now.com/nav_to.do?uri=/perspectium_siam_mapping.do?mbs1="+list[0]+"%26mbs2="+list[1]+"%26provider="+provider+"%26client="+client+"%26target="+targetChosen+"%26action="+actionChosen+"%26source="+sourceChosen;
			copyToClipboard(encodeURI(url));
        }
       
        function goToNewMapping(){
		var list = mbs.split('//');
            var url = "perspectium_create_siam_mapping.do?mbs1="+list[0]+"%26mbs2="+list[1]; 
            window.location.href = encodeURI(url);
        }
       
        function createSimilar(){
			var provider = document.getElementById("providers").value;
            var client = document.getElementById("clients").value;
			var list = mbs.split('//');
            var url =  "perspectium_create_siam_mapping.do?mbs1="+list[0]+"%26mbs2="+list[1]+"%26provider="+provider+"%26client="+client+"%26target="+targetChosen+"%26action="+actionChosen+"%26source="+sourceChosen;
            window.location.href = encodeURI(url);          
        }
       
        function maximizeEditor() {
            editor.setOption("fullScreen", true);
           
            toolbar = document.createElement("span");
            toolbar.setAttribute("style", "position:absolute; top:0px;z-index:2147483647;");
            toolbar.setAttribute("class", "script-editor-toolbar btn-group btn-group-sm toolbar-padding-left");
       
            min = document.createElement("a");
            min.setAttribute("role", "button");
            min.setAttribute("onclick", "minimizeEditor()");
            min.setAttribute("class", "sn-tooltip-basic btn btn-default");
           
            var icon = document.createElement("img");
            icon.setAttribute("aria-hidden", "true");
            icon.setAttribute("src", "images/icons/full_screen.gifx");
            icon.setAttribute("class", "i16x16");
       
            min.appendChild(icon);
           
            var txt = document.createElement("span");
            txt.setAttribute("class", "sr-only");
            txt.appendChild(document.createTextNode("Minimize"));
       
            min.appendChild(txt);
            min.setAttribute("style", "margin-top:0px;padding:0px;");
       
            toolbar.appendChild(min);
       
            var min2 = document.createElement("a");
            min2.setAttribute("role", "button");
            min2.setAttribute("onclick", "updateMapping()");
            min2.setAttribute("class", "sn-tooltip-basic btn btn-default");
            min2.setAttribute("style", "margin-top:0px;padding:0px;");
           
            var icon2 = document.createElement("img");
            icon2.setAttribute("aria-hidden", "true");
            icon2.setAttribute("src", "images/icons/save.gifx");
            icon2.setAttribute("class", "i16x16");
       
            min2.appendChild(icon2);
           
            var txt2 = document.createElement("span");
            txt2.setAttribute("class", "sr-only");
            txt2.appendChild(document.createTextNode("Save"));
       
            min2.appendChild(txt2);    
            toolbar.appendChild(min2);
       
            document.getElementById("toolbar").appendChild(toolbar);
        }
		
        function minimizeEditor() {
            editor.setOption("fullScreen", false);
            document.getElementById("toolbar").removeChild(toolbar);
        }
		
    </script>
</head>
<body>
    <header id="toolbar" style="margin:0px;padding:0px"></header>
    <div id="header">
    </div>
    <h1>SIAM Mapping Page</h1>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="perspectium_siam_mapping.do?sysparm_category=Perspectium">Update mappings</a></li>
    </ul>
    <br></br>
    <div class="centeredDropdowns" align="center">
        <div class="row"> 
           <div class="col-sm-4"> 
                <form class="form-inline">
                    <label class="mr-sm-6" for="urls">MBS:  $[SP] </label>
                    <select onchange="getProviders()" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="urls">
                    </select>
                </form>
           </div>  
             <div class="col-sm-4"> 
                <form class="form-inline">
                    <label class="mr-sm-6" for="providers">Provider: $[SP] </label>
                    <select onchange="getClients()" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="providers">
                    </select>
                </form>
           </div> 
            <div style="padding:10px" class="col-sm-4"> 
                <form class="form-inline">
                <label class="mr-sm-6" for="clients" style="margin-left:84px">Clients:  $[SP] </label>
                <select onchange="getRecords()" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="clients">
                </select>
                </form>
           </div> 
        </div> 
    </div>
    <br></br>
    <div id="mapping_records" class="container">        
        <table class="table table-hover" id="recordsTable">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Target</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="records_table">
            </tbody>
      </table>
    </div>
    <br></br>
    <div class="centered" id="codeeditor">
                <a style="margin-bottom:5px" role="button" onclick="maximizeEditor()" id="sys_ui_page.html.fullScreen" class="sn-tooltip-basic btn btn-default" tabindex="-1" data-original-title="Toggle Full Screen (Ctrl-M)"><img aria-hidden="true" src="images/icons/full_screen.gifx" class="i16x16"></img><span class="sr-only">Toggle Full Screen Mode (Ctrl-Alt-L)</span></a>
    <a style="margin-bottom:5px;margin-left:3px;" id="sys_script_include.script.save" onclick="updateMapping()" role="button" title="" class="sn-tooltip-basic showIconWithEditor btn btn-default " tabindex="-1" data-original-title="Save"><img aria-hidden="true" src="images/icons/save.gifx" class="i16x16"></img><span class="sr-only">Save</span></a>

    <script>
         editor = CodeMirror(document.getElementById("codeeditor"), {
            lineNumbers: true,		
            tabSize: 4,
            mode: "xml",
			extraKeys: {
				"F11": function(cm) {
				  cm.setOption("fullScreen", !cm.getOption("fullScreen"));
				},
				"Esc": function(cm) {
				  if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
				}
			  }
		});
    </script>
		<button style="margin-top:5px" id="saveMapping" type="button" class="btn btn-primary" onclick="updateMapping()">Update</button>
	    <button style="margin-top:5px;margin-left:5px" id="copyURL" type="button" class="btn btn-primary" onclick="createSimilar()">Copy Mapping</button>
        <button style="margin-left:5px;margin-top:5px" id="createURL" type="button" class="btn btn-primary" onclick="createURL()">Copy URL</button>
    </div>

	<br></br>
	<br></br>
	    <div id="versioned_records" class="container">        
        <table class="table table-hover" id="vesionedRecordsTable">
            <thead>
                <tr>
                    <th>Created</th>
                    <th>Version</th>
                    <th>Source Table</th>
                </tr>
            </thead>
            <tbody id="versioned_records_table">
            </tbody>
      </table>
    </div>
</body>
</j:jelly>