<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<body>
		<h2>Replicator Tools</h2>
	
		<p><a href="/perspectium_download_schemas.do">Download Table Schemas</a></p>
		
		<p><a href="/perspectium_download_shares.do">Download Share Configurations</a></p>
	
	</body>
</j:jelly>