<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
 <j:set var="jvar_category" value="${sysparm_category}" />	
	<script async="" src="https://cdn.rawgit.com/eligrey/Blob.js/0cef2746414269b16834878a8abc52eb9d53e6bd/Blob.js"/>
    <script async="" src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js"/>
    <script async="" src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"/>
    <script async="" src="https://cdn.rawgit.com/eligrey/FileSaver.js/597b6cd0207ce408a6d34890b5b2826b13450714/demo/demo.js"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.js"></script>
	<style>
	
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
		
	</style>
<body>
	<h2>Download shares and table maps</h2>
	<p style="width:50%">This tool is used to export bulk shares, dynamic shares, scheduled bulk shares, and table maps. It will output a zip file containing the XML files for the selected options. These files can be uploaded to a different instance to easily transfer your shares and table maps.</p>
	<form>
  <p>
    <label><input id="bulkShares" type="checkbox" /> Bulk Shares</label>
	<label><input id="scheduledShares" type="checkbox" /> Scheduled Bulk Shares</label>
	<label><input id="dynamicShares" type="checkbox" /> Dynamic Shares</label>
	<label><input id="tableMaps" type="checkbox" /> Table Maps</label>
  </p>
</form>
	<button type='button' id='download' onclick="button();"><span id='buttonText'>Download</span></button>
	 <br/> 
 </body> 	
</j:jelly>