<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
 <j:set var="jvar_property_name" value="${sysparm_property_name}" />
 
 <g:evaluate jelly="true">
	var encryptedPw = gs.getProperty(jelly.jvar_property_name, "");
    var Encrypter = (typeof GlideEncrypter != 'undefined') ? new GlideEncrypter() : new Packages.com.glide.util.Encrypter();
	var decryptedPw = Encrypter.decrypt(encryptedPw);  
	// if value starts with ${ such as ${server_generated} we strip that as it'll cause
	// jelly to evaluate it as another variable
	if(decryptedPw.indexOf("$\{") >= 0){
		 decryptedPw = decryptedPw.substring(2, decryptedPw.length() - 1); 
	}
 </g:evaluate>
 
 <div>${decryptedPw}</div>
</j:jelly>


