<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
 <j:set var="jvar_category" value="${sysparm_category}" />	
 <g:evaluate var="jvar_formfields" jelly="true">  
	 var inputFieldSize = 35;	
	 
	 function createFormField(gr) {
	 	if (gr.u_name.nil()) {
	 		return "";
	 	}
	 
	 	var propertyFormField = '<div style="margin-top:25px; margin-left:10px;">';
	 
	 	if (!gr.u_description.nil()) {
	 		propertyFormField += gr.u_description;
	 	}
	 	else {
	 		propertyFormField += gr.u_name;	// no description just use property name
	 	}
	 
	 	// for password field we'll also add a show decrypted value link
	 	if (gr.u_type == "password") {
	 		propertyFormField += ' (<a target="_blank" onclick="popupCenter(\'/perspectium_decrypt_property_password.do?sysparm_property_name=' + gr.u_name + '\',\'Perspectium\',\'300\',\'100\',\'' + gr.u_name +'\');">show decrypted value</a>)';
	 	} else if (gr.u_name == "com.perspectium.replicator.export_xml") {
	 		propertyFormField += ' <a target="_blank" href="/perspectium_export_multiple_tables.do?sys_id=47139e704ff50300d4743ce18110c74f">Export Share Configurations</a>';
	 	} else if (gr.u_name == "com.perspectium.replicator.import_xml") {
	 		propertyFormField += ' <a target="_parent" onClick="window.close()" href="/nav_to.do?uri=%2Fupload.do" >Import Share Configurations</a>';
	 	}
	 
	 	propertyFormField += '</div><div style="margin-left:10px;">';
	 
	 	switch (String(gr.u_type)) {
	 		case 'boolean':
	 			// boolean type we'll create as a checkbox and set selected if value is true
	 			// doesn't matter what value "checked" attribute has as checkbox will be checked if the attribute exists
	 			// but jelly won't compile if we don't give a value so we just give value of true
	 			if (!gr.u_value.nil() ${AND} gr.u_value == "true") {
	 				propertyFormField += '<input checked="true" type="checkbox" name="' + gr.u_name + '"/>';
	 			}
				 else {	 
	 				propertyFormField += '<input type="checkbox" name="' + gr.u_name + '"/>';
	 			}	
	 
	 			break;
	 		case 'choicelist':	 
	 			// create select dropdown
	 			// make sure we have options as otherwise we won't create dropdown
	 			if(gr.u_options.nil())
	 				return "";
	 
	 			propertyFormField += '<select name="' + gr.u_name + '">';
	 			var selectOptions = gr.u_options.split(",");
	 			for (var s in selectOptions) {
	 				// set option selected if matches value in property	
	 				// doesn't matter value "selected" attribute has as option will be selected if attribute exists
	 				// but jelly won't compile if we don't give a value so we just give value of true
	 				if (!gr.u_value.nil() ${AND} gr.u_value == selectOptions[s]) {
	 					propertyFormField += '<option selected="true" value="' + selectOptions[s] + '">' + selectOptions[s] + '</option>'
	 				}
	 				else {
	 					propertyFormField += '<option value="' + selectOptions[s] + '">' + selectOptions[s] + '</option>';	 
	 				}
	 			}
				
	 			propertyFormField += '</select>';
	 			break;
			 case 'password':
	 		case 'url': //add new attribute is_changed
	 			propertyFormField += '<input onclick="clearAll(\'' + gr.u_name + '\')" ischanged="" onchange="inputChange(\'' + gr.u_name + '\')" type="' + gr.u_type + '" id="' + gr.u_name + '" name="' + gr.u_name + '" value="' + gr.u_value + '" size="' + inputFieldSize + '"/>';
			 	break;	
	 		case 'integer':
	 			propertyFormField += '<input type="number" name="' + gr.u_name + '" value="' + gr.u_value + '" size="' + inputFieldSize + '"/>';
			 	break;	
	 		// read only we'll display text by itself
	 		case 'readonly':
	 			propertyFormField += gr.u_value;
	 			break;	 
		 	case 'string':
		 	default:
	 			propertyFormField += '<input type="text" name="' + gr.u_name + '" value="' + gr.u_value + '" size="' + inputFieldSize + '"/>';
	 	}
	 
	 	propertyFormField += '</div><hr/>';	 
	 	return propertyFormField;	 
	 }
	 
	 function queryProperties() {
		 var gr = new GlideRecord('u_psp_properties');
		 gr.addNotNullQuery('u_type');
		 gr.addNotNullQuery('u_description');
	 	gr.addNotNullQuery('u_order');
	 	gr.addQuery('u_category', jelly.jvar_category);	 		 
		 gr.orderBy('u_order');
		 gr.query();
	 	return gr;
	 }
	 
	 var propertiesFormFields = "";
	 var propertiesMessage = '';
	 	 	 	 
	 // calling on save so we'll iterate through and save values first before re-displaying form
	 if (jelly.RP.getParameterValue('saveProperties') == 'true') {
	 	var gr = queryProperties();
	 
		 while (gr.next()) {
	 		// don't need to update readonly fields
	 		if (gr.u_type == "readonly")
	 			continue;
	 
	 		var propertyFormValue = jelly.RP.getParameterValue(gr.u_name);
	 			 	 		
	 		// if password we'll decrypt and encrypt before saving
	 		// to account for it being saved in password2 or password as we only want to save password here
	 		if (gr.u_type == "password") {
	 			var Encrypter = (typeof GlideEncrypter != 'undefined') ? new GlideEncrypter() : new Packages.com.glide.util.Encrypter();
	 			propertyFormValue = Encrypter.decrypt(propertyFormValue);
				 propertyFormValue = Encrypter.encrypt(propertyFormValue);   
	 		}
	 		else if (gr.u_type == "boolean") {
	 			// checked is "on", unchecked is ""
	 			if (propertyFormValue == "on") {
	 				propertyFormValue = "true";
	 			}
	 			else {
	 				propertyFormValue = "false";
	 			}
	 		} else if (gr.u_type == "integer") {
				propertyFormValue = parseInt(propertyFormValue, 10).toString();
			}
	 
	 		gr.u_value = propertyFormValue;
	 		gr.update();
	 	}
	 
	    propertiesMessage += '<pre>Properties saved.</pre>';
	 
	 	var gr2 = new GlideRecord('u_psp_properties');
		gr2.addQuery('u_name','com.perspectium.replicator.inbound.encryption_key');
		gr2.addNullQuery('u_value');
		gr2.query();
	    if (gr2.next()) { 
			if(jelly.jvar_category === "Perspectium Replicator") {
				propertiesMessage += '<pre>Properties saved. <br><font color= "red">Please note that subscribe will not work properly without a decryption key.</font></br></pre>';
			}
		}
	 }
	 
	 var gr = queryProperties();
 	if (gr.getRowCount() == 0) {
 		propertiesMessage += "<pre>No Perspectium properties found. Please click the Finish Install module to install properties.</pre>"
 	}

	 while (gr.next()) {	 		 	
	 	propertiesFormFields += createFormField(gr);		 
	 }	 			 
 </g:evaluate>
<script>
$j(document).ready(function () {  
	$j('#propertiesMessage').html("${JS:propertiesMessage}");
	$j('#propertiesFormFields').html("${JS:propertiesFormFields}");
});
	
function clearAll(field_name) {
	if (field_name != 'com.perspectium.snc_input') { 
		document.getElementById(field_name).value = '';
		inputChange(field_name);
	}
};
	
function inputChange(field_name) {
	document.getElementById(String(field_name)).ischanged = true;	
};
	
function popupCenter(url, title, w, h, field_name) { //field_name instead of key_type, is_changed
    // Fixes dual-screen position                
    var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
    var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

    var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
    var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

    var left = ((width / 2) - (w / 2)) + dualScreenLeft;
    var top = ((height / 2) - (h / 2)) + dualScreenTop;

	if (document.getElementById(String(field_name)).ischanged) {
		var newInput = document.getElementById(String(field_name)).value;
		var newWindow =  window.open('','', 'width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
		newWindow.document.write("<div style='font-family:Arial;font-size:13px;color:#404040'>"+String(newInput)+"</div>");
	}
	else
		var newWindow = window.open(url, title, 'width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

    // Puts focus on the newWindow
    if (window.focus) {
        newWindow.focus();
    }
}
</script>
	
 <body>  

	<div>  
		<div id='header' style='margin-left:10px;'><h3>${jvar_category} Properties</h3>
		</div>
		<div id="propertiesMessage" style='margin-left:10px;'></div>
		<!--g:no_escape>
			${HTML:propertiesMessage}
		</g:no_escape-->
    </div>
	<div>
		<form action="perspectium_properties.do?sysparm_category=${jvar_category}" method="POST">
			<div id="propertiesFormFields"></div>
			<!--g2:no_escape>
				${HTML:propertiesFormFields}
			</g2:no_escape-->
			<div style="margin-left: 10px;">
				<input type="hidden" name="saveProperties" value="true"/>
				<button type="submit" name="Save" onClick="return onSubmit()">Save</button>
			</div>
		</form>	
	</div>  
 </body> 	
</j:jelly>