<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
<style>
table#queueResultsTable {
    border: 1px solid black;
    width: 100%;    
}

#queueResultsTable th, td {
    padding: 5px;
    border: 1px solid black;
}	
</style>
<body>  
	<div>
		<center>
			<div style="font-size:15px;" id="queueResults"></div>
			<div style="font-size:15px;"><g:no_escape>${HTML:queueResults}</g:no_escape>
			</div>
		</center> 
	</div>  
	<hr/>  
</body>	
</j:jelly>