<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="true" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
<g:ui_table>
  <tr id="no_aggregates" style="display:none">
    <td colspan="2">
      ${gs.getMessage('No aggregates available')}
    </td>
  </tr>
  <tr id="sum_tr" name="sum_tr">
    <td colspan="2" nowrap="true">
      <g:ui_spacer pixels="6"/>
      <g:ui_checkbox name="sum" id="sum"/>
      <label for="ni.sum">Total value</label> 
    </td> 
  </tr>
  <tr id="min_tr" name="min_tr">
    <td colspan="2" nowrap="true">
      <g:ui_spacer pixels="6"/>
      <g:ui_checkbox name="min" id="min"/>
      <label for="ni.min">Minimum value</label>  
    </td> 
  </tr>
  <tr id="max_tr" name="max_tr">
    <td colspan="2" nowrap="true">             
      <g:ui_spacer pixels="6"/> 
      <g:ui_checkbox name="max" id="max"/>
      <label for="ni.max">Maximum value</label>   
    </td>
  </tr>
  <tr id="avg_tr" name="avg_tr">
    <td colspan="2" nowrap="true">                   
      <g:ui_spacer pixels="6"/>  
      <g:ui_checkbox name="avg" id="avg"/>
      <label for="ni.avg">Average value</label>  
    </td>
  </tr>
  <tr/>
  <tr>
    <td align="right">
      <g:dialog_buttons_ok_cancel ok="return actionOK()" ok_id="ok_button" />
    </td>
  </tr>    
 
</g:ui_table>
</j:jelly>