<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<j:set var="jvar_category" value="${sysparm_category}" />	
	<script async="" src="https://cdn.rawgit.com/eligrey/Blob.js/0cef2746414269b16834878a8abc52eb9d53e6bd/Blob.js"/>
    <script async="" src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js"/>
    <script async="" src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"/>
    <script async="" src="https://cdn.rawgit.com/eligrey/FileSaver.js/597b6cd0207ce408a6d34890b5b2826b13450714/demo/demo.js"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.js"></script>
	<body onload="setTimeout(function(){getSchemaCount();}, 1000);">
		 <h2>Download Table Schema</h2>
		 <p style="width:50%">This tool is used to export the table schemas that the Replicator Agent will use to build the tables on its database.  It will output a downloadable zip file of all the table schemas as XML files which you can then provide to the Agent.  It will do this for all the tables you have defined in your Bulk Shares and Dynamic Shares, with respect to all the child tables as necessary as well.</p>
		 <p><b>Note:</b> &#160;This is only necessary if your Agent cannot establish a connection to the ServiceNow instance.  It will handle this automatically otherwise.</p>
		 <p id='schemaCounter'></p>
		<button type='button' id='download' onclick="button();"><span id='buttonText'>Download</span></button>
		 <br/> 
	 </body> 	
</j:jelly>