<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <style>
		.centered {     
		margin: auto;
		width: 75%; 
		}
	</style>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link type="text/css" rel="stylesheet" href="/styles/dist/common/sn_common.cssx?v=07-20-2017_1155&amp;theme=1db5f185ff200200096fffffffffff1d"></link>
	<link type="text/css" rel="stylesheet" href="/styles/GlideEditor5Includes.cssx?v=07-20-2017_1155"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts/GlideEditor5Includes.jsx?v=07-20-2017_1155"></script>   
    <link href="b4e8571ddbbc0300e68cd5f0cf96190f.cssdbx" rel="stylesheet" type="text/css"></link>  
    <script>
		var second = false;
		var editor; var min; var toolbar;
		var instance_name; var urlChosen;
       
        $j(document).ready(function () {
			 getInstance();
        });
   
		function getInstance() {
			var gA = new GlideAjax('PerspectiumSIAMMapping');
			gA.addParam('sysparm_name', 'getInstance');
			gA.getXML(setInstance);
		}
		
		function setInstance(serverResponse) {
			var result = serverResponse.responseXML.getElementsByTagName("instance");
			instance_name = result[0].getAttribute("name");
		    if(second == false){
                setParameters();
                second = true;
            }
		}
   
        function getParameterByName(name, url, flag) {
			if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$%26");
            if(flag == false || flag == "false") {
                var regex = new RegExp("[?%26]" + name + "(=([^%26#]*)|%26|#|$)"),
                results = regex.exec(url);
            }
   
            else if( flag == true || flag == "true"){
                var regex = new RegExp("[?%26]" + name + "(=([^#]*)|#|$)"),
                results = regex.exec(url);
            }
 
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2]);
        }
   
        function setParameters(){
            var gA = new GlideAjax('PerspectiumSIAMMapping');
			var client = getParameterByName("client", document.URL, false);
			var	url = window.location.href
			url = decodeURI(url);
			var url = url.replace(/%26/g, "/");
			var tmp = url.split('?');
			var parameterList = tmp[1];
			var parameterListSplit = parameterList.split('=');

			var i = 1;
			var mappingFields = [];  // [att/client, servicecafetest/target, ticketupdate/action... ]

			while(i != parameterListSplit.length){
				mappingFields.push(parameterListSplit[i].split('/')[0]);
				i++;
			}

			var mbs1 = mappingFields[0]
			var mbs2 =mappingFields[1];
			urlChosen = mbs1 + "//" + mbs2 ;				

            document.getElementById('mbs').value = urlChosen;
			if(mappingFields[5]){
            document.getElementById('source').value = mappingFields[6];
            document.getElementById('target').value = mappingFields[4];
            document.getElementById('action').value = mappingFields[5];
            document.getElementById('provider').value = mappingFields[2];
            document.getElementById('client').value = mappingFields[3];
		
		
            gA.addParam('sysparm_name', 'getMapping');
            gA.addParam('sysparm_client', mappingFields[3]);
            gA.addParam('sysparm_provider', mappingFields[2]);
            gA.addParam('sysparm_action', mappingFields[5]);
            gA.addParam('sysparm_source', mappingFields[6]);
            gA.addParam('sysparm_target', mappingFields[4]);
            gA.addParam('sysparm_url', urlChosen);
       
			if(client == "default"){
				getInstance();

				document.getElementById('client').value = instance_name;
				document.getElementById("header").innerHTML = '<div class="alert alert-warning" id="alert_message2">Loading default mapping. Please save in order to create mapping for this instance.</div>';
				window.setTimeout(function() {
						$j(".alert").fadeTo(500, 0).slideUp(500, function(){
						$j(this).remove();
					});
				}, 10000);
			}
				gA.getXML(populateMappingFields);
			}
		}
       
        function populateMappingFields(serverResponse) {

            var result = serverResponse.responseXML.getElementsByTagName("mapping");
            editor.setValue(result[0].getAttribute("mapping"));
               
            var tmpDesc = serverResponse.responseXML.getElementsByTagName("description");
            description = tmpDesc[0].getAttribute("descriptionValue");
			document.getElementById('description').value = description;
        }
 
        function createMapping() {
			var mbs = document.getElementById("mbs").value;
			var client =  document.getElementById('client').value;
			var provider =  document.getElementById('provider').value;
			var action = document.getElementById('action').value;
			var source = document.getElementById('source').value;
			var target  = document.getElementById('target').value;
			var description = document.getElementById('description').value;
			var mapping = editor.getValue();
		
			if( mbs ${AND} client ${AND} provider ${AND} action ${AND} source ${AND} target ${AND} description ${AND} mapping ){
				var gA = new GlideAjax('PerspectiumSIAMMapping');
				gA.addParam('sysparm_name', 'createMapping');
				gA.addParam('sysparm_url', mbs);
				gA.addParam('sysparm_user', "admin");
				gA.addParam('sysparm_password', "adminadmin");
				gA.addParam('sysparm_client', client );
				gA.addParam('sysparm_provider', provider);
				gA.addParam('sysparm_action', action);
				gA.addParam('sysparm_mapping', mapping);  
				gA.addParam('sysparm_source', source) ;
				gA.addParam('sysparm_target', target);
				gA.addParam('sysparm_description', description);  

				gA.getXML(createMappingResponse);
			}
			else {
				document.getElementById("header").innerHTML = '<div class="alert alert-danger" id="alert_message9">Unable to create mapping, all fields are required to create mapping.</div>';
				window.setTimeout(function() {
                    $j(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $j(this).remove();
					});
				}, 10000);
			}
			minimizeEditor();
        }
   
        function createMappingResponse(serverResponse) {
			var result = serverResponse.responseXML.getElementsByTagName("createFlag");
			var flag = result[0].getAttribute("success");
		
			if (flag == "true") {
				document.getElementById("header").innerHTML = '<div class="alert alert-success" id="alert_message">Mapping successfully created.</div>';
				window.setTimeout(function() {
						$j(".alert").fadeTo(500, 0).slideUp(500, function(){
						$j(this).remove();
					});
				}, 10000);
			} else {
				document.getElementById("header").innerHTML = '<div class="alert alert-danger" id="alert_message2">Unable to create new a mapping as one already exists with the same properties.</div>';
				window.setTimeout(function() {
                    $j(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $j(this).remove();
                });
            }, 10000);		
			}
        }
		
		function maximizeEditor() {
			editor.setOption("fullScreen", true);
			
			toolbar = document.createElement("span");
			toolbar.setAttribute("style", "position:absolute; top:0px;z-index:2147483647;");
			toolbar.setAttribute("class", "script-editor-toolbar btn-group btn-group-sm toolbar-padding-left");
		
			min = document.createElement("a");
			min.setAttribute("role", "button");
			min.setAttribute("onclick", "minimizeEditor()");
			min.setAttribute("class", "sn-tooltip-basic btn btn-default");
			
			var icon = document.createElement("img");
			icon.setAttribute("aria-hidden", "true");
			icon.setAttribute("src", "images/icons/full_screen.gifx");
			icon.setAttribute("class", "i16x16");
		
			min.appendChild(icon);
			
			var txt = document.createElement("span");
			txt.setAttribute("class", "sr-only");
			txt.appendChild(document.createTextNode("Minimize"));
		
			min.appendChild(txt);
			min.setAttribute("style", "margin-top:0px;padding:0px;");
		
			toolbar.appendChild(min);
		
			var min2 = document.createElement("a");
			min2.setAttribute("role", "button");
			min2.setAttribute("onclick", "createMapping()");
			min2.setAttribute("class", "sn-tooltip-basic btn btn-default");
			min2.setAttribute("style", "margin-top:0px;padding:0px;");
			
			var icon2 = document.createElement("img");
			icon2.setAttribute("aria-hidden", "true");
			icon2.setAttribute("src", "images/icons/save.gifx");
			icon2.setAttribute("class", "i16x16");
		
			min2.appendChild(icon2);
			
			var txt2 = document.createElement("span");
			txt2.setAttribute("class", "sr-only");
			txt2.appendChild(document.createTextNode("Save"));
		
			min2.appendChild(txt2);		
			toolbar.appendChild(min2);
		
			document.getElementById("toolbar").appendChild(toolbar);
		}
		
		function minimizeEditor() {
			editor.setOption("fullScreen", false);
			document.getElementById("toolbar").removeChild(toolbar);
		}

</script>
<body>
	<div id="header"></div>
	<header id="toolbar" style="margin:0px;padding:0px"></header>
	<h1>Create SIAM Mapping Page</h1>
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="perspectium_siam_mapping.do?sysparm_category=Perspectium">Search mappings</a></li>
			<li role="presentation" class="active"><a href="perspectium_create_siam_mapping.do">Create new mapping</a></li>
		</ul>
	<br></br>
	<form>
		<div class="form-inline" align = "center">
		  <label class="sr-only" for="source">Source</label>
		  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="source" placeholder="Source"></input>

		  <label class="sr-only" for="target">Target</label>
		  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="target" placeholder="Target"></input>

		  <label class="sr-only" for="action">Action</label>
		  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="action" placeholder="Action"></input>

		  <label class="sr-only" for="description">Description</label>
		  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"  id="description" placeholder="Description"></input>

		  <label class="sr-only" for="provider">Provider</label>
		  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="provider" placeholder="Provider"></input>

		  <label class="sr-only" for="client">Client</label>
		  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="client" placeholder="Client"></input>

		  <label class="sr-only" for="mbs">MBS</label>
		  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="mbs" placeholder="MBS"></input>
		</div>

	  <br></br>

		<div  class="centered" id="codeeditor">
				<a style="margin-bottom:5px" role="button" onclick="maximizeEditor()" id="sys_ui_page.html.fullScreen" class="sn-tooltip-basic btn btn-default" tabindex="-1" data-original-title="Toggle Full Screen (Ctrl-M)"><img aria-hidden="true" src="images/icons/full_screen.gifx" class="i16x16"></img><span class="sr-only">Toggle Full Screen Mode (Ctrl-Alt-L)</span></a>
	<a style="margin-bottom:5px;margin-left:3px;" id="sys_script_include.script.save" onclick="createMapping()" role="button" title="" class="sn-tooltip-basic showIconWithEditor btn btn-default " tabindex="-1" data-original-title="Save"><img aria-hidden="true" src="images/icons/save.gifx" class="i16x16"></img><span class="sr-only">Save</span></a>		

    <script>
         editor = CodeMirror(document.getElementById("codeeditor"), {
            lineNumbers: true,
            tabSize: 4,
            mode: "xml",
			extraKeys: {
				"F11": function(cm) {
				  cm.setOption("fullScreen", !cm.getOption("fullScreen"));
				},
				"Esc": function(cm) {
				  if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
				}
			  }
		});
    </script>
	<button style="margin-top:5px;" id="saveMapping" type="button" class="btn btn-primary" onclick="createMapping()">Save</button>		
		</div>
	</form>
	<br></br>
</body>
</j:jelly>