<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <j:set var="jvar_tour_id" value="${sysparm_tour_id}" />

    <!--If tour exists, return the roles else return false-->
    <g:evaluate var="jvar_tour_roles" jelly="true">
        var tour_role; 
		var gr = new GlideRecord('sys_embedded_tour_guide'); 
		gr.addQuery('sys_id','${jvar_tour_id}'); 
		gr.query(); 
		if (gr.next()) { 
			tour_role = gr.roles; 
		} 
		else { 
			tour_role=false; 
		} 
		tour_role;
    </g:evaluate>

    <g:evaluate var="jvar_tour_name" jelly="true">
        var tour_name; 
		var gr = new GlideRecord('sys_embedded_tour_guide'); 
		gr.addQuery('sys_id','${jvar_tour_id}'); 
		gr.query(); 
		if (gr.next()) { 
			tour_name = gr.name; 
		} 
		tour_name;
    </g:evaluate>

    <g:evaluate var="jvar_tour_page" jelly="true">
        var tour_page; 
		var gr = new GlideRecord('sys_embedded_tour_guide'); 
		gr.addQuery('sys_id','${jvar_tour_id}'); 
		gr.query(); 
		if (gr.next()) { 
			tour_page = gr.context; 
		} 
		tour_page;
    </g:evaluate>

    <g:evaluate var="jvar_user_has_access" jelly="true">
        <!--Validate if current user has correct access to view the tour-->
        gs.hasRole("${jvar_tour_roles}");
    </g:evaluate>
	
    <j:choose>
        <!--Show error messages if any else redirect and start the tour-->
        <j:when test="${jvar_tour_roles=='false'}">
            <h4>${gs.getMessage('Tour not found. Verify the tour ID.')}</h4>
        </j:when>

        <j:when test="${jvar_user_has_access == 'false'}">
            <h4>${gs.getMessage('Security constraints prevent access to requested page.')}</h4>
        </j:when>

        <j:when test="${jvar_user_has_access == 'true'}">
            <script>
                function play_tour(id, tour_name, tour_page)  {

                    var tour_id = id;
					var gotoURL;
					var re = /\.do/i;
					if (re.exec(tour_page) == null) {
						gotoURL = tour_page + '.do' + "%3F";
					} else {
						gotoURL = tour_page + "%26";
					}
                    window.sessionStorage.setItem('AUTOSTART', tour_id);
                    window.sessionStorage.setItem('TOURNAME', tour_name);

                    //Appending any additionl parameters passed by the user to the final URL.
                    var url_test = document.createElement('a');
                    url_test.href = window.location.href;
                    var x = url_test.search;
                    var res_parm = encodeURIComponent(x.substr(1));
                    url = "nav_to.do?uri=/" + gotoURL + res_parm;
                    top.window.location = url;
                }

                play_tour('${jvar_tour_id}', '${jvar_tour_name}', '${jvar_tour_page}')
            </script>
        </j:when>

    </j:choose>


</j:jelly>