<g:ui_form>
   <input type="hidden" id="cancelled" name="cancelled" value="false"/>
   <input type="hidden" name="asset" id="asset" value="${sysparm_sysID}"/>
   <input type="hidden" name="quantity" id="quantity" value="${sysparm_quantity}"/>
   <table width="100%">
      <tr>
	  <td rowspan="5" nowrap="true" width="110px" style="vertical-align:top;">
 	     <img src="images/plugin_activate.gifx" alt="${gs.getMessage('Activate/Upgrade')}" style="vertical-align:top;" />
	  </td>
      </tr>
      <tr>
         <td nowrap="true" style="text-align: right;">
            ${gs.getMessage('Quantity to Split')}:$[SP] 
         </td>
         <td>
            <input class="form-control decimal" name="split_quantity" id="split_quantity"/>
         </td>
      </tr>
        <tr id="dialogbuttons">
            <td colspan="2" align="right">
                <g:dialog_buttons_ok_cancel ok="return actionOK();" cancel="return cancel();"/>
            </td>
        </tr>
   </table>
</g:ui_form> 