<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g:requires name="styles/heisenberg/heisenberg_all.css" includes="true" />
	<div id="error_message"></div>
<g:ui_form id="Preview_document">
	<style type="text/css">
		#info_message {
			position: absolute;
			vertical-align:bottom;
			left:20px;
			font-style: italic;
			display: none;
		}
		
		#error_message {
			left:20px;
			display: none;
		    margin-bottom: 10px;
		}
		
		#error_message ul {
			margin-left: 30px;
		}
		
		#iframe_pdf {
			z-index : 1;
			margin-right:auto;
			margin-left:auto;
			overflow: auto;
		}
		
	</style>
	
	<g2:evaluate var="jvar_pdfTemplateSysId" jelly="true">
		var pdfTemplateSysId;
		if(jelly.sysparm_parentRecord) {
			var task = new GlideRecordSecure(jelly.sysparm_tableName);
			task.get(jelly.sysparm_sysId);
			var parent = new GlideRecord(task.parent.sys_class_name);
			parent.get(task.parent);
			if(parent.pdf_template) {
				pdfTemplateSysId = parent.pdf_template.sys_id;
			}
		} else {
			var gr = new GlideRecordSecure(jelly.sysparm_tableName);
			gr.get(jelly.sysparm_sysId);
			if(gr.pdf_template)
				pdfTemplateSysId = gr.pdf_template.sys_id;
		}
		pdfTemplateSysId;
	</g2:evaluate>
		
	
	<g2:evaluate var="jvar_isPdfTemplate" jelly="true">
		var isPdfTemplate = 'false';
		if(jelly.jvar_pdfTemplateSysId &amp;&amp; jelly.sysparm_pdfTemplateTableName) {
			if(new GeneralPdfUtils().isValidPdfTemplateForPreFill(jelly.jvar_pdfTemplateSysId, jelly.sysparm_pdfTemplateTableName))
				isPdfTemplate = 'true'; 
		}
		isPdfTemplate;
	</g2:evaluate>
	
	<g:evaluate var="jvar_edit" jelly="true">
		jelly.sysparm_edit != 'false'
	</g:evaluate>
	
	<g:evaluate var="jvar_sign" jelly="true">
		jelly.sysparm_sign != 'false'
	</g:evaluate>
	
	<g:evaluate var="jvar_generate_document" jelly="true">
		jelly.sysparm_generate_document == 'true'
	</g:evaluate>
	
	<input type="hidden" id="task_sys_id" name="task_sys_id" value="${sysparm_sysId}"/>
	<input type="hidden" id="task_table" name="task_table" value="${sysparm_tableName}"/>
	<input type="hidden" id="task_category" name="task_category" value="${sysparm_category}"/>
	<input type="hidden" id="target_table" name="target_table" value="${sysparm_targetTable}"/>	
	<input type="hidden" id="target_Id" name="target_Id" value="${sysparm_targetId}"/>
	<input type="hidden" id="script_name" name="script_name" value="${sysparm_scriptName}"/>
	<input type="hidden" id="sign" name="sign" value="${sysparm_sign}"/>
	<input type="hidden" id="edit" name="edit" value="${sysparm_edit}"/>
	<input type="hidden" id="generate_document" name="generate_document" value="${sysparm_generate_document}"/>
	<input type="hidden" id="isPdfTemplate" name="isPdfTemplate" value="$[jvar_isPdfTemplate]"/>
	<input type="hidden" id="pdfSysId" name="pdfSysId" value="$[jvar_pdfTemplateSysId]"/>
	<input type="hidden" value="parentRecord" id="${sysparm_parentRecord}"/>
	
	
	<j2:if test="$[jvar_isPdfTemplate == 'false']">
		<div contenteditable="${jvar_edit}" id='content_id' onkeyup="disableOrEnableButton()"></div>
	</j2:if>
	
	<j2:if test="$[jvar_isPdfTemplate == 'true']">
		<div id="iframe_pdf">
			<iframe src='' id='iframe_pdf_preview' type="application/pdf" style="width: 100%; height: 700px; z-index:-5" class="animate hidden-xs">Jelly Fix for IFrame to show footer </iframe>
		</div>	
	</j2:if>

	<div id="hr_dialog_footer" class="modal-footer">
		<span id = 'info_message' ></span>
		<button id="cancel_button" class="btn btn-default" onClick="return submitCancel();">
			${gs.getMessage('Cancel')}
		</button>
		
		<j2:if test="$[jvar_isPdfTemplate == 'false']">
			<j:if test="${jvar_edit}">
				<button id="save_button" class="btn btn-primary" onClick="return submitSave();">
					${gs.getMessage('Save')}
				</button>	
			</j:if>
		</j2:if>
		
		<j:if test="${jvar_sign}">
			<button id="ok_button" class="btn btn-primary" onClick="return submitOk();">
				${gs.getMessage('Sign')}
			</button>
		</j:if>
		
		<j:if test="${jvar_generate_document}">
			<button id="generate_button" class="btn btn-primary" onClick="return generateDocument();">
				${gs.getMessage('Generate')}
			</button>
		</j:if>
	</div>	
</g:ui_form>
</j:jelly>