<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

    <g:evaluate>
        var choice_label    = RP.getWindowProperties().get('choice_label');
        var choice_script   = RP.getWindowProperties().get('choice_script');
        var choice_function = RP.getWindowProperties().get('choice_function');
    </g:evaluate>

   <input type="hidden" id="user_list_selection" value="" />
    <g:ui_table>
        <tr>
            <td nowrap="true">
                <label for="set_name"> $[choice_label]:
                </label>
            </td>
            <td>
                <select id="dialog_choice_list" size="6" name="dialog_choice_list" style="width:300px;">
                    <g:scripted_options selected="" script="${SAFE:choice_script}" function="${SAFE:choice_function}"/>
                </select>
            </td>
        </tr>
        <tr>
           <td colspan="2" align="center" style="color:red;background-color:#dddddd;">          
               <span id='prompt_for_input_error'/>
           </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <g:dialog_buttons_ok_cancel ok="return validateAndSubmit();" />
            </td>
        </tr>
    </g:ui_table>

</j:jelly>