<g:ui_form>
  <!-- All values are passed in via dialog preferences as a single JSON object named 'prompt' -->
  <g:evaluate var="not_important" 
              expression="var prompt = JSUtil.decode(RP.getWindowProperties().get('prompt'))" />
 
   <table width="100%">
     <tr>
       <td>
         ${prompt.text}
       </td>
       <td>
         <!-- new lease end data time (Set to original lease end time as default) -->
	     <input  autocomplete="off" 
	             id="prompt_1" 
	             name="prompt_1"
                     style="width:300px" 
	             value="${prompt.value}" 
	             />
       </td>
     </tr>
     <tr>
        <td colspan="2" align="center" style="color:red;background-color:#dddddd;">          
            <span id='prompt_for_input_error'/>
        </td>
     </tr>
     <tr id="dialog_buttons">
        <td colspan="2" align="right">          
            <g:dialog_buttons_ok_cancel ok="return validateAndSubmit();" />
        </td>
     </tr>
  </table>
</g:ui_form>