<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

  <style type="text/css">
   .pdmain {
     margin: 10px 0 0 0;
     padding: 0;
     list-style: none;
     list-style-type: none;
     float: left;
     display: block;
     border-top: 1px solid #999;
     border-left: 1px solid #999;
   }
   .pdmain li {
     float: left;
   }
   .pdmain a {
     float: left;
     display: block;
     padding: 0 5px;
     background-color: #f3f3f3;
     border-top: 1px solid #fff;
     border-left: 1px solid #fff;
     border-right: 1px solid #ccc;
   }
   .pdmain a.active {
     background-color: #e0e0e0;
     border-top: 1px solid #aaa;
     color: navy;
   }
   .pdmain a:hover {
     cursor: pointer;
     background-color: #DDDDDD;
     border-left: 1px solid #fff;
     border-right: 1px solid #ccc;
   }
   .pdmain h3 {
     padding: 0;
     margin: 6px 0;
     background-color: none;
   }
   .pdcontent {
     clear: left;
     padding: 0 8px;
     border: 1px solid #999;
   }
   .pds {
     display: none;
   }
   .pds h3 {
     margin-bottom: 0;
     clear: left;
   }
   .pdt {
     padding:0;
     margin:0 0 8px 0;
     border-collapse:collapse;
   }
   .pdt td {
     padding: 5px;
     vertical-align: top;
     border: 1px solid #e0e0e0;
   }
   .pdb {
     font: 0;
     line-height: 0;
     width: 80px;
     height: 80px;
     float: left;
   }
   .pda {
     padding: 5px;
     float: left;
     background-color: #f3f3f3;
     margin-bottom: 10px;
   }
   .pdat {
     padding-top: 5px;
     font-weight: bold;
     font-size: 1.1em;
   }
   .pdsapi {
     padding: 6px;
   }
   .pdavs {
     font-size: 0.9em;
     border-bottom: 1px solid #e0e0e0;
     padding-bottom: 5px;
   }
   .pdav {
     font-weight:bold;
     padding-right:10px;
     padding-left:10px;
   }
  </style>

  <script type="text/javascript">
    function pdTabShow(id, header) {
      $$(".pdmain a").each(function(elem) {
        elem.removeClassName('active');
      });
      $(header).addClassName('active');

      var elems = $$(".pds");
      var i = elems.length;
      while (i--)
        $(elems[i]).hide();      

      $(id).show();
      return false;
    }
    
    document.observe("dom:loaded", function() {
      pdTabShow('pds_show_hide', $$('.pdmain a:first')[0]);
    });
  </script>

 <div>
  <div>
   <h2 style="margin-top:0;">Prototype Effects Library for Service Now</h2>
   The following page demonstrates a variety of effects available within all Service-now instances. The following
   effects are adapted from the jQuery library and ported to work seamlessly inside the Prototype JavaScript
   library. The entire jQuery effects library has been migrated and is available using the jQuery API against
   a prototype object instead of a jQuery object. Complete and up-to-date API documentation for each of the following
   methods can be found at: <a style="padding-left:3px;color:blue;" href="http://api.jquery.com/category/effects" target="_new">
   http://api.jquery.com/category/effects</a>.
  </div>
  <div style="float:left;">
   <h3 style="margin-top:10px;margin-bottom:2px;color:tomato;">Notes</h3>
   <ol style="margin-top:0px;">
    <li>Chaining $[SP]<span style="font-weight:bold;">is</span>$[SP]supported.</li>
    <li>Effects can$[SP]<span style="font-weight:bold;">not</span>$[SP]be applied over enumerations.</li>
   </ol>
   </div>
  <div style="clear:left;"></div>
 
 </div>

 <ul class="pdmain">
  <li><a href="#" onclick="return pdTabShow('pds_show_hide', this);"><h3>show/hide</h3></a></li>
  <li><a href="#" onclick="return pdTabShow('pds_toggle', this);"><h3>toggle</h3></a></li>
  <li><a href="#" onclick="return pdTabShow('pds_fadein_out', this);"><h3>fadeIn/fadeOut</h3></a></li>
  <li><a href="#" onclick="return pdTabShow('pds_slideup_down', this);"><h3>slideUp/slideDown</h3></a></li>
  <li><a href="#" onclick="return pdTabShow('pds_slidetoggle', this);"><h3>slideToggle</h3></a></li>
  <li><a href="#" onclick="return pdTabShow('pds_animate', this);"><h3>animate</h3></a></li>
  <li><a href="#" onclick="return pdTabShow('pds_stop', this);"><h3>stop</h3></a></li>
  <li><a href="#" onclick="return pdTabShow('pds_queue', this);"><h3>queue</h3></a></li>
 </ul>
 <div class="pdcontent">

  <!-- ##################################################################################################### -->

  <div class="pds" id="pds_show_hide">
   <div class="pdsapi">
    <div><span style="font-weight:bold;">show -</span><span style="font-style:italic;padding-left:5px;">Display the matched elements.</span></div>
    <div><span style="font-weight:bold;">hide -</span><span style="font-style:italic;padding-left:5px;">Hide the matched elements.</span></div>
   </div>
   <div class="pda">
    <div class="pdat">.show()</div>
    <div class="pdavs"></div>
    <div class="pdat">.show( duration, [ callback ] )</div>
    <div class="pdavs">
     <div><span class="pdav">duration</span>A string or number determining how long the animation will run.</div>
     <div><span class="pdav">callback</span>A function to call once the animation is complete.</div>
    </div>  
    <div class="pdat">.show( [ duration ], [ easing ], [ callback ] )</div>
    <div class="pdavs">
     <div><span class="pdav">duration</span>A string or number determining how long the animation will run.</div>
     <div><span class="pdav">easing</span>A string indicating which easing function to use for the transition.</div>
     <div><span class="pdav">callback</span>A function to call once the animation is complete.</div>
    </div>
   </div>
   <h3>Examples</h3>
   <table class="pdt">
    <tr>
     <td>
       <button onclick="$('demo_yellow_box').show();">Show</button>
       <button onclick="$('demo_yellow_box').hide();">Hide</button>
       <pre>$('demo_yellow_box').show();
$('demo_yellow_box').hide();</pre>
       <div id="demo_yellow_box" class="pdb" style="background:yellow;"></div>
     </td>
     <td>
       <button onclick="$('demo_red_box').show(500);">Show</button>
       <button onclick="$('demo_red_box').hide(500);">Hide</button>
       <pre>$('demo_red_box').show(500);
$('demo_red_box').hide(500);</pre>
       <div id="demo_red_box" class="pdb" style="background:red;"></div>
     </td>
     <td>
       <button onclick="$('demo_gray_box').show(1000, function(){alert('Done showing.'); });">Show</button>
       <button onclick="$('demo_gray_box').hide(1000, function(){alert('Done hiding.'); });">Hide</button>
       <pre>$('demo_gray_box').show(1000, function(){
 alert('Done showing.');
});
$('demo_gray_box').hide(1000, function(){
 alert('Done hiding.');
});</pre>
       <div id="demo_gray_box" class="pdb" style="background:gray;"></div>
     </td>
    </tr>
   </table>
  </div>

  <div class="pds" id="pds_toggle">
   <div class="pdsapi">
    <div><span style="font-weight:bold;">toggle -</span><span style="font-style:italic;padding-left:5px;">Display or hide the matched elements.</span></div>
   </div>
   <div class="pda">
    <div class="pdat">.toggle( duration, [ callback ] )</div>
    <div class="pdavs">
     <div><span class="pdav">duration</span>A string or number determining how long the animation will run.</div>
     <div><span class="pdav">callback</span>A function to call once the animation is complete.</div>
    </div>  
    <div class="pdat">.toggle( [ duration ], [ easing ], [ callback ] )</div>
    <div class="pdavs">
     <div><span class="pdav">duration</span>A string or number determining how long the animation will run.</div>
     <div><span class="pdav">easing</span>A string indicating which easing function to use for the transition.</div>
     <div><span class="pdav">callback</span>A function to call once the animation is complete.</div>
    </div>
    <div class="pdat">.toggle( showOrHide )</div>
    <div class="pdavs">
     <div><span class="pdav">showOrHide</span>A Boolean indicating whether to show or hide the elements.</div>
    </div>
   </div>
   <h3>Examples</h3>
   <table class="pdt">
    <tr>
     <td>
       <button onclick="$('demo_green_box').toggle();">Toggle</button>
       <pre>$('demo_green_box').toggle();</pre>
       <div id="demo_green_box" class="pdb" style="background:green;"></div>
     </td>
     <td>
       <button onclick="$('demo_blue_box').toggle(true);">Toggle True</button>
       <button onclick="$('demo_blue_box').toggle(false);">Toggle False</button>
       <pre>$('demo_blue_box').toggle(true);
$('demo_blue_box').toggle(false);</pre>
       <div id="demo_blue_box" class="pdb" style="background:blue;"></div>
     </td>
     <td>
       <button onclick="$('demo_black_box').toggle(2000, 'swing');">Toggle Swing</button>
       <button onclick="$('demo_black_box').toggle(2000, 'linear');">Toggle Linear</button>
       <pre>$('demo_black_box').toggle(2000, "swing");
$('demo_black_box').toggle(2000, "linear");</pre>
       <div id="demo_black_box" class="pdb" style="background:black;"></div>
     </td>
    </tr>
   </table>
  </div>

  <!-- ############################################################################## -->
  <div class="pds" id="pds_fadein_out">
   <div class="pdsapi">
    <div><span style="font-weight:bold;">fadeOut -</span><span style="font-style:italic;padding-left:5px;">Hide the matched elements by fading them to transparent.</span></div>
    <div><span style="font-weight:bold;">fadeIn -</span><span style="font-style:italic;padding-left:5px;">Display the matched elements by fading them to opaque.</span></div>
   </div>
   <div class="pda">
    <div class="pdat">.fadeIn( duration, [ callback ] )</div>
    <div class="pdavs">
     <div><span class="pdav">duration</span>A string or number determining how long the animation will run.</div>
     <div><span class="pdav">callback</span>A function to call once the animation is complete.</div>
    </div>  
    <div class="pdat">.fadeIn( [ duration ], [ easing ], [ callback ] )</div>
    <div class="pdavs">
     <div><span class="pdav">duration</span>A string or number determining how long the animation will run.</div>
     <div><span class="pdav">easing</span>A string indicating which easing function to use for the transition.</div>
     <div><span class="pdav">callback</span>A function to call once the animation is complete.</div>
    </div>
   </div>
   <h3>Examples</h3>
   <table class="pdt">
    <tr>
     <td>
       <button onclick="$('demo_brown_box').fadeIn();">FadeIn</button>
       <button onclick="$('demo_brown_box').fadeOut();">FadeOut</button>
       <pre>$('demo_brown_box').fadeIn();
$('demo_brown_box').fadeOut();</pre>
       <div id="demo_brown_box" class="pdb" style="background:brown;"></div>
     </td>
     <td>
       <button onclick="$('demo_aqua_box').fadeIn(2000, function(){alert('Done fading in.');});">FadeIn</button>
       <button onclick="$('demo_aqua_box').fadeOut(2000, function(){alert('Done fading out.');});">FadeOut</button>
       <pre>$('demo_aqua_box').fadeIn(2000, function(){
  alert('Done fading in.');
});
$('demo_aqua_box').fadeOut(2000, function(){
  alert('Done fading out.');
});</pre>
       <div id="demo_aqua_box" class="pdb" style="background:aqua;"></div>
     </td>
    </tr>
   </table>
  </div>
  <!-- ############################################################################## -->


  <!-- ############################################################################## -->
  <div class="pds" id="pds_slideup_down">
   <div class="pdsapi">
    <div><span style="font-weight:bold;">slideUp -</span><span style="font-style:italic;padding-left:5px;">Hide the matched elements with a sliding motion.</span></div>
    <div><span style="font-weight:bold;">slideDown -</span><span style="font-style:italic;padding-left:5px;">Display the matched elements with a sliding motion.</span></div>
   </div>
   <div class="pda">
    <div class="pdat">.slideUp( duration, [ callback ] )</div>
    <div class="pdavs">
     <div><span class="pdav">duration</span>A string or number determining how long the animation will run.</div>
     <div><span class="pdav">callback</span>A function to call once the animation is complete.</div>
    </div>  
    <div class="pdat">.slideUp( [ duration ], [ easing ], [ callback ] )</div>
    <div class="pdavs">
     <div><span class="pdav">duration</span>A string or number determining how long the animation will run.</div>
     <div><span class="pdav">easing</span>A string indicating which easing function to use for the transition.</div>
     <div><span class="pdav">callback</span>A function to call once the animation is complete.</div>
    </div>
   </div>
   <h3>Examples</h3>
   <table class="pdt">
    <tr>
     <td>
       <button onclick="$('demo_darkblue_box').slideUp();">SlideUp</button>
       <button onclick="$('demo_darkblue_box').show();">Reset</button>
       <pre>$('demo_darkblue_box').slideUp();</pre>
       <div id="demo_darkblue_box" class="pdb" style="background:darkblue;"></div>
     </td>
     <td>
       <button onclick="$('demo_gold_box').slideDown(2000, function(){alert('Done sliding.');});">SlideDown</button>
       <button onclick="$('demo_gold_box').hide();">Reset</button>
       <pre>$('demo_aqua_box').slideDown(2000, function(){
  alert('Done sliding.');
});</pre>
       <div id="demo_gold_box" class="pdb" style="background:gold;display:none;"></div>
     </td>
    </tr>
   </table>
  </div>
  <!-- ############################################################################## -->

  <!-- ############################################################################## -->
  <div class="pds" id="pds_slidetoggle">
   <div class="pdsapi">
    <div><span style="font-weight:bold;">slideToggle -</span><span style="font-style:italic;padding-left:5px;">Display or hide the matched elements with a sliding motion.</span></div>
   </div>
   <div class="pda">
    <div class="pdat">.slideToggle( duration, [ callback ] )</div>
    <div class="pdavs">
     <div><span class="pdav">duration</span>A string or number determining how long the animation will run.</div>
     <div><span class="pdav">callback</span>A function to call once the animation is complete.</div>
    </div>  
    <div class="pdat">.slideToggle( [ duration ], [ easing ], [ callback ] )</div>
    <div class="pdavs">
     <div><span class="pdav">duration</span>A string or number determining how long the animation will run.</div>
     <div><span class="pdav">easing</span>A string indicating which easing function to use for the transition.</div>
     <div><span class="pdav">callback</span>A function to call once the animation is complete.</div>
    </div>
   </div>
   <h3>Examples</h3>
   <table class="pdt">
    <tr>
     <td>
       <button onclick="$('demo_lg_box').slideToggle();">SlideToggle</button>
       <pre>$('demo_lg_box').slideToggle();</pre>
       <div id="demo_lg_box" class="pdb" style="background:lightgreen;"></div>
     </td>
     <td>
       <button onclick="$('demo_linen_box').slideToggle(2000, 'linear', function(){alert('Done sliding.');});">Slide Linear</button>
       <button onclick="$('demo_linen_box').slideToggle(2000, 'swing', function(){alert('Done sliding.');});">Slide Swing</button>
       <pre>$('demo_linen_box').slideToggle(2000, 'linear', function(){
  alert('Done sliding.');
});
$('demo_linen_box').slideToggle(2000, 'swing', function(){
  alert('Done sliding.');
});</pre>
       <div id="demo_linen_box" class="pdb" style="background:linen;"></div>
     </td>
    </tr>
   </table>
  </div>
  <!-- ############################################################################## -->

  <!-- ############################################################################## -->
  <div class="pds" id="pds_animate">
   <div class="pdsapi">
    <div><span style="font-weight:bold;">animate -</span><span style="font-style:italic;padding-left:5px;">Perform a custom animation of a set of CSS properties.</span></div>
   </div>
   <div class="pda">
    <div class="pdat">.animate( properties, [ duration ], [ easing ], [ complete ] )</div>
    <div class="pdavs">
     <div><span class="pdav">properties</span>A map of CSS properties that the animation will move toward.</div>
     <div><span class="pdav">duration</span>A string or number determining how long the animation will run.</div>
     <div><span class="pdav">easing</span>A string indicating which easing function to use for the transition.</div>
     <div><span class="pdav">complete</span>A function to call once the animation is complete.</div>
    </div>
    <div class="pdat">.animate( properties, options )</div>
    <div class="pdavs">
     <div><span class="pdav">properties</span>A map of CSS properties that the animation will move toward.</div>
     <div><span class="pdav">options</span>A map of additional options to pass to the method. Supported keys:</div>
       <div style="margin:3px 0 3px 7px;"><span class="pdav"><tt>duration</tt></span>A string or number determining how long the animation will run.</div>
       <div style="margin:3px 0 3px 7px;"><span class="pdav"><tt>easing</tt></span>A string indicating which easing function to use for the transition.</div>
       <div style="margin:3px 0 3px 7px;"><span class="pdav"><tt>complete</tt></span>A function to call once the animation is complete.</div>
       <div style="margin:3px 0 3px 7px;"><span class="pdav"><tt>step</tt></span>A function to be called after each step of the animation.</div>
       <div style="margin:3px 0 3px 7px;"><span class="pdav"><tt>queue</tt></span>A Boolean indicating whether to place the animation in the effects queue. If false, the animation will begin immediately.</div>
       <div style="margin:3px 0 3px 7px;"><span class="pdav"><tt>specialEasing</tt></span>A map of one or more of the CSS properties defined by the properties argument and their corresponding easing functions.</div>
    </div>
   </div>
   <h3>Examples</h3>
   <table class="pdt">
    <tr>
     <td>
       <button onclick="$('demo_olive_box').animate({width:'400px', height:'140px', opacity:0.4,fontSize:'3em',borderWidth:'10px'}, 1500);">Go</button>
       <button onclick="$('demo_olive_box').setStyle({width:'',height:'',opacity:'',marginLeft:'',fontSize:'1em',borderWidth:'4px'});">(Reset)</button>
       <pre>$('demo_olive_box').animate({
  width: "400px",
  height: "140px",
  opacity: 0.4,
  fontSize: "3em",
  borderWidth: "10px"
}, 1500);</pre>
       <div id="demo_olive_box" class="pdb" style="float:none;background:olive;font-size:1em;line-height:1em;border:4px solid red;padding:5px;">Service Now Rules</div>
     </td>
     <td>
       <button onclick="$('demo_salmon_box').animate({left: '+=330'}, 3000).animate({top: '+=70'}, 3000).animate({left: '-=330'}, 3000).animate({top: '-=70'}, 3000);">Animate</button>
       <button onclick="$('demo_salmon_box').stop(true);">Stop</button>
       <button onclick="$('demo_salmon_box').setStyle({top:'0px', left:'0px'});">(Reset)</button>
       <pre>$('demo_salmon_box').animate({left: '+=330'}, 3000)
 .animate({top: '+=70'}, 3000)
 .animate({left: '-=330'}, 3000)
 .animate({top: '-=70'}, 3000);</pre>
       <div style="position:relative;height:150px;">
         <div id="demo_salmon_box" class="pdb" style="background:salmon;position:absolute;left:0;float:none;"></div>
       </div>
     </td>
    </tr>
   </table>
  </div>
  <!-- ############################################################################## -->

  <!-- ############################################################################## -->
  <div class="pds" id="pds_stop">
   <div class="pdsapi">
    <div><span style="font-weight:bold;">stop -</span><span style="font-style:italic;padding-left:5px;">Stop the currently-running animation on the matched elements.</span></div>
   </div>
   <div class="pda">
    <div class="pdat">.stop( [ clearQueue ], [ jumpToEnd ] )</div>
    <div class="pdavs">
     <div><span class="pdav">clearQueue</span>A Boolean indicating whether to remove queued animation as well. Defaults to false.</div>
     <div><span class="pdav">jumpToEnd</span>A Boolean indicating whether to complete the current animation immediately. Defaults to false.</div>
    </div>  
   </div>
   <h3>Examples</h3>
   <table class="pdt">
    <tr>
     <td>
       <button onclick="$('demo_maroon_box').animate({left: '+=140px'}, 3000);$('demo_maroon_box').animate({top: '+=70px'}, 3000);$('demo_maroon_box').animate({left: '-=140px'}, 3000);$('demo_maroon_box').animate({top: '-=70px'}, 3000);">Animate</button>
       <button onclick="$('demo_maroon_box').stop();">Stop</button>
       <button onclick="$('demo_maroon_box').setStyle({left:'0px', top:'0px'});">(Reset)</button>
       <pre>$('demo_maroon_box').stop();</pre>
       <div style="position:relative;height:150px;">
         <div id="demo_maroon_box" class="pdb" style="background:maroon;position:absolute;left:0;float:none;"></div>
       </div>
     </td>
     <td>
       <button onclick="$('demo_peru_box').animate({left: '+=140px'}, 3000);$('demo_peru_box').animate({top: '+=70px'}, 3000);$('demo_peru_box').animate({left: '-=140px'}, 3000);$('demo_peru_box').animate({top: '-=70px'}, 3000);">Animate</button>
       <button onclick="$('demo_peru_box').stop(true);">Stop (ClearQueue)</button>
       <button onclick="$('demo_peru_box').style.left = '0px';">(Reset)</button>
       <pre>$('demo_peru_box').stop();</pre>
       <div style="position:relative;height:150px;">
         <div id="demo_peru_box" class="pdb" style="background:peru;position:absolute;left:0;float:none;"></div>
       </div>
     </td>
    </tr>
   </table>
  </div>
  <!-- ############################################################################## -->

  <!-- ############################################################################## -->
  <div class="pds" id="pds_queue">
   <div class="pdsapi">
    <div><span style="font-weight:bold;">queue -</span><span style="font-style:italic;padding-left:5px;">Show the queue of functions to be executed on the matched elements.</span></div>
   </div>
   <div class="pda">
    <div class="pdat">.queue( [ queueName ] )</div>
    <div class="pdavs">
     <div><span class="pdav">queueName</span>A string containing the name of the queue. Defaults to fx, the standard effects queue.</div>
    </div>  
   </div>
   <h3>Examples</h3>
   <table class="pdt">
    <tr>
     <td>
       <button onclick="var queueInterval = setInterval(function() {$('pd_queuesize').innerHTML = $('demo_wheat_box').queue('fx').length; }, 15);$('demo_wheat_box').animate({left: '+=470'}, 3000);$('demo_wheat_box').animate({top: '+=70'}, 3000);$('demo_wheat_box').animate({left: '-=470'}, 3000);$('demo_wheat_box').animate({top: '-=70'}, {duration: 3000, complete: function(){ setTimeout(function(){clearInterval(queueInterval);}), 10} } );">Animate</button>
       <button onclick="$('demo_wheat_box').stop(true);">Stop</button>
       <button onclick="$('demo_wheat_box').setStyle({left:'0px', top:'0px'});$('pd_queuesize').innerHTML='';">(Reset)</button>
       <pre>var queueInterval = setInterval(function() {
  $('pd_queuesize').innerHTML = $('demo_wheat_box').queue('fx').length;
}, 15);
$('demo_wheat_box').animate({left: '+=470'}, 3000);
$('demo_wheat_box').animate({top: '+=70'}, 3000);
$('demo_wheat_box').animate({left: '-=470'}, 3000);
$('demo_wheat_box').animate({top: '-=70'}, {duration: 3000, complete: function(){
  setTimeout(function() {
    clearInterval(queueInterval);
  }, 10);
}});</pre>
       <div style="padding:4px;font-weight:bold;">The Current Queue Size Is: <span id="pd_queuesize" style="font-size:1.3em;padding:3px;color:tomato;"></span></div>
       <div style="position:relative;height:150px;">
         <div id="demo_wheat_box" class="pdb" style="background:wheat;position:absolute;left:0;float:none;"></div>
       </div>
     </td>
    </tr>
   </table>
  </div>
  <!-- ############################################################################## -->

 </div> <!-- ~End .pdcontent~ -->

</j:jelly>