<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

<g:ui_form>
<input type="hidden" id="cancel_or_submit" name="cancel_or_submit" value=""/>
<input type="hidden" id="item" name="item" value="${sysparm_sys_id}"/>
<input type="hidden" id="name" name="name" value="${sysparm_display_name}"/>
<input type="hidden" id="type" name="type" value="${sysparm_type}"/>
<input type="hidden" id="type" name="catalog" value="${sysparm_catalog}"/>

<table width="100%">
        <tr>
                <td width="150"><label>${gs.getMessage("Model:")}</label></td>
                <td id="display_model_name">${sysparm_display_name}</td>
        </tr>
        <tr>
                <td><label for="${jvar_cat_query}" onclick="" dir="">${gs.getMessage("Category:")}</label></td>
		<td><g:ui_reference name="sc_category" table="sc_category" columns="sc_category;sc_catalog" completer="AJAXTableCompleter" query="active=true"/></td> 
        </tr>
        <tr id="dialogbuttons">
            <td colspan="2" align="right">
                <g:dialog_buttons_ok_cancel ok="return actionOK();" cancel="return cancel();"/>
            </td>
        </tr>
</table>
</g:ui_form>
</j:jelly>