<g:ui_form>
    <table cellpadding="0" cellspacing="0" width="500px">
        <g:ui_progress_worker worker_id="${sysparm_pworker_sysid}"/>
        <input type="hidden" id="worker_id" name="worker_id" value="${sysparm_pworker_sysid}"/>
        <tr id="completed_links1" style="display: none">
            <td>
                <table id="restore_summary" style="display: none" width="100%">
                    <tr>
                      <td id="label.code" nowrap="true" type="string" choice="0">
                         <span id="status." class=" label_description" title="" mandatory="false" oclass="">&#160;</span>
                         <label for="code" onclick="" dir="ltr">Details:</label>
                      </td>
                    </tr>
                    <tr>
                        <td><g:no_escape>${pgr.output_summary.getHTMLValue()} </g:no_escape></td>                       
                    </tr>                  
                </table>
              
                <table id="completed_links" style="display: none" width="100%">
                    <tr id="cred_store_link">
                        <td>
                             <a class="breadcrumb" href="pwd_cred_store.do?sys_id=${sysparm_cred_store_id}">
                               ${gs.getMessage('Return to Credential Store')}
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <script>
         function makeVisible(){
                var cred = '${sysparm_cred_store_id}';
                var gr = new GlideRecord('pwd_cred_store');                        
                if (gr.get(cred)){                                
                  var el = gel("completed_links");
                  el.style.display = "";
                }
                var e2 = gel("restore_summary");
                e2.style.display = "";        
           
        }
    </script>
    <j:if test='${pgr.state == "complete"}'>
        <script>
             makeVisible();   
         </script>
    </j:if> 
    
    <j:if test='${pgr.state == "cancelled"}'>
        <script>
           makeVisible();     
        </script>
    </j:if> 



</g:ui_form>