<br/>
<g2:evaluate>
  var tssearches = new GlideRecord('ts_query');
  tssearches.orderByDesc('sys_updated_on');
  tssearches.setLimit(10);
  tssearches.query('user',gs.getUserID());
  var jvar_i = 1;
</g2:evaluate>

<table border="0" cellspacing="0" cellpadding="0">
<j2:while test="$[tssearches.next()]">
  <g2:evaluate var="jvar_i" expression="jvar_i++;"/>
  <tr><td>
    $[jvar_i].</td><td><a class="breadcrumb" style="margin-top:8px; margin-left:8px;" href="textsearch.do?sysparm_search=$[tssearches.search_term]$[AMP]sysparm_tsgroups=">$[tssearches.search_term]</a>
  </td></tr>
</j2:while>
</table>
<br/>