<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
<br/>
 <a href="context_workflow.do?sysparm_stack=no$[AMP]sysparm_sys_id=${RP.getWindowProperties().get('new_sys_id')}$[AMP]sysparm_show_all=true$[AMP]sysparm_stack=no"><u>Click here to monitor workflow status</u></a>
<br/><br/>
</j:jelly>