<g:ui_form>
    <table cellpadding="0" cellspacing="0" width="500px">
        <g:ui_progress_worker worker_id="${sysparm_pworker_sysid}" show_cancel="false"/>
        <tr>
          <td>
            <table id="completed_links" style="display: none" width="100%">
              <tr>
                <td>
                  <hr/>
                  <div class="caption">Next steps...</div>
                </td>
              </tr>
              <tr id="plugin_list_link">
                <td>
                  <a class="breadcrumb" href="v_plugin_list.do">Plugin list</a>$[SP] Return to plugins list
                </td>
              </tr>
              <tr id="plugin_link">
                <td>
                  <a class="breadcrumb" href="v_plugin.do?sysparm_query=id=${sysparm_plugin_id}">Plugin</a>$[SP] Return to plugin: ${sysparm_plugin_id}
                </td>
              </tr>
              <tr id="plugins_log_link">
                <td>
                  <g:evaluate var="jvar_valid_id" jelly="true">
                    var s = jelly.sysparm_plugin_id
                    s.substring(Math.max(0, s.length - 32));
                  </g:evaluate>
                  <a class="breadcrumb" href="sys_plugin_log_list.do?sysparm_query=plugin=${jvar_valid_id}">Logs</a>$[SP] View the log for plugin activation/upgrade
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>
      <j:if test='${pgr.state == "complete"}'>
        <script>
          var el = gel("completed_links");
          el.style.display = "";
          refreshNav();
        </script>
      </j:if>
</g:ui_form>