<!--
   Create a unique id as a parameter so that the image will get redrawn when refreshed from the homepage
-->
<g:evaluate var="jvar_guid" expression="gs.generateGUID(this);" />
<div align="center">
<img src="jrobin_render_graph.do?sysparm_sys_id=$[RP.getWindowProperties().get('graph_id')]$[AMP]sysparm_name=$[RP.getWindowProperties().get('db_name')]$[AMP]sysparm_v=${jvar_guid}" 
     alt="Performance graph"/>
</div>