<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <g2:evaluate var="jvar_prb">
    var prb = new GlideRecord('problem');
    prb.addActiveQuery();
    prb.addQuery('priority',1);
    prb.setCategory('homepage');
    prb.query();
  </g2:evaluate>

  <j2:set var="jvar_prb_list_link" value="problem_list.do?sysparm_query=active=true"/>
  <g2:scrollable_area height="100px"> 
    <table border="0" cellspacing="2" cellpadding="0" width="100%">
      <j2:while test="$[prb.next()]">
        <j2:set var="jvar_prb_link" value="problem.do?sys_id=$[prb.sys_id]"/>
    <tr>
      <td>
            <a href="$[jvar_prb_link]">
              <span style="padding-right:10px;"><IMG SRC="images/icons/problem.gifx"/></span>
            </a>
            <a href="$[jvar_prb_link]" class="linked" style="padding-right:10px;">$[prb.number]</a>
          </td>
          <td>$[prb.short_description]</td>
        </tr>
      </j2:while>
      <tr>
        <td align="center" colspan="2"><a href="$[jvar_prb_list_link]" class="linked">${gs.getMessage("View all active Problems")}</a></td>
      </tr>
    </table>
  </g2:scrollable_area> 
</j:jelly>