<j:if test="${RP.getWindowProperties().get('action') == 'overview'}">
<table border="0" cellpadding="2">
  <tr><td class="label_right">Build date</td><td>${"" + GlideProperties.get('glide.builddate')}</td></tr>
  <tr><td class="label_right">Active sessions</td><td>${"" + GlideSessions.get().size()}</td></tr>
  <tr><td class="label_right">Transactions</td><td>${"" + GlideServlet.getServlet().getTotalProcessorTransactions()}</td></tr>
  <tr><td class="label_right">Scheduler paused</td>
  <j:set var="jvar_paused" value="${gs.isPaused()}"/>
  <j:if test="${gs.isPaused()}">
	<j:set var="jvar_t" value="red" />
   </j:if>
   <td><font color="${jvar_t}">${jvar_paused}</font></td>
  </tr>
  <tr><td class="label_right">Memory max</td><td>${"" + GlideSystemUtil.maxMemoryMB()}MB</td></tr>
			<tr><td class="label_right">Memory allocated</td><td>${"" + GlideSystemUtil.totalMemoryMB()}MB</td></tr>
			<tr><td class="label_right">Memory used</td><td>${"" + GlideSystemUtil.usedMemoryMB()}MB</td></tr>
			<tr><td class="label_right">Memory free</td><td>${"" + GlideSystemUtil.memoryPercentFree()}%</td></tr>
		</table>
</j:if>

<j:if test="${RP.getWindowProperties().get('action') == 'upgrade_history'}">
  <j2:set var="jvar_ar" value="true"/>
  <j2:set var="sysparm_query" value="name=system.upgraded"/>
  <j2:set var="sysparm_force_row_count" value="1"/>
  <j2:set var="sysparm_order" value="processed"/>
  <j2:set var="sysparm_order_direction" value="desc"/>
  <g:list_default table="sysevent" view="portal" />
  <g:inline template="list2_default.xml" />
</j:if>