<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <g2:evaluate var="jvar_inc">
    var inc = new GlideRecord('incident');
    inc.addActiveQuery();
    inc.addQuery('priority',1);
    inc.setCategory('homepage');
    inc.query();
  </g2:evaluate>

  <g2:scrollable_area height="100px"> 
    <table border="0" cellspacing="2" cellpadding="0" width="100%">
      <j2:while test="$[inc.next()]">
        <j2:set var="jvar_inc_link" value="incident.do?sys_id=$[inc.sys_id]"/>
        <j2:set var="jvar_inc_list_link" value="incident_list.do?sysparm_query=active=true"/>
	<tr>
	  <td>
            <a href="$[jvar_inc_link]">
              <span style="padding-right:10px;"><IMG SRC="images/icons/incidents.gifx"/></span>
            </a>
            <a href="$[jvar_inc_link]" class="linked" style="padding-right:10px;">$[inc.number]</a>
          </td>
          <td>$[inc.short_description]</td>
        </tr>
      </j2:while>
      <tr>
        <td align="center" colspan="2"><a href="$[jvar_inc_list_link]" class="linked">${gs.getMessage("View all active Incidents")}</a></td>
      </tr>
    </table>
  </g2:scrollable_area> 
</j:jelly>