<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <iframe id="feedframe" src="workflow_without_current.do" frameborder="0" style="height:500px; width:100%;" scrolling="no"></iframe>
</j:jelly>