<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <iframe id="feedframe" src="live_feed_launcher.do?sysparm_nostack=yes" frameborder="0" style="height:600px; width:100%;"></iframe>
</j:jelly>