<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <g2:evaluate var="jvar_chg">
    var chg = new GlideRecord('change_request');
    chg.addActiveQuery();
    chg.addQuery('type','emergency');
    chg.setCategory('homepage');
    chg.query();
  </g2:evaluate>

  <g2:scrollable_area height="100px"> 
    <table border="0" cellspacing="2" cellpadding="0" width="100%">
      <j2:while test="$[chg.next()]">
        <j2:set var="jvar_chg_link" value="change_request.do?sys_id=$[chg.sys_id]"/>
        <j2:set var="jvar_chg_list_link" value="change_request_list.do?sysparm_query=active=true"/>
	<tr>
	  <td>
            <a href="$[jvar_chg_link]">
              <span style="padding-right:10px;"><IMG SRC="images/icons/changes.gifx"/></span>
            </a>
            <a href="$[jvar_chg_link]" class="linked" style="padding-right:10px;">$[chg.number]</a>
          </td>
          <td>$[chg.short_description]</td>
        </tr>
      </j2:while>
      <tr>
        <td align="center" colspan="2"><a href="$[jvar_chg_list_link]" class="linked">${gs.getMessage("View all active Change Requests")}</a></td>
      </tr>
    </table>
  </g2:scrollable_area> 
</j:jelly>