<table width="100%" class="form-inline">
<tr>
<td nowrap="true" align="center">
<label for="perf_interval">Time span: </label>
<select name="perf_interval" id="perf_interval" onchange="perfChangeInterval(this)" class="form-control">
  <option value="60">1 hour</option>
  <option value="120">2 hours</option>
  <option value="240">4 hours</option>
  <option value="1440">1 day</option>
  <option value="10080">7 days</option>
  <option value="43200">30 days</option>
</select>
<label style="margin-left: 10px;" for="perf_size">Graph size: </label>
<select name="perf_size" id="perf_size" onchange="perfChangeSize(this)" class="form-control">
  <option value="large">Large</option>
  <option value="small">Small</option>
  <option value="xlarge">Extra Large</option>
</select>
<script language="javascript" eval="true">
g_perfInterval = "${jvar_session.getUser().getPreference('performance_graph_interval')}";
if (g_perfInterval == '')
  g_perfInterval = 60;

g_perfSize = "${jvar_session.getUser().getPreference('performance_graph_size')}";
if (g_perfSize == '')
  g_perfSize = 'large';
</script>
</td>
</tr>
</table>
