<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide"
	xmlns:j2="null" xmlns:g2="null">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("feeds", "1");</script>

   <style type="text/css">
     #feedControl .gf-title {
       color:#0000ff;
     }
   </style>
   <g2>   
     <div id="feedControl">Loading...</div>
     <script type="text/javascript">
        google.load("feeds", "5");       
 
        function initialize() {               
           var feedControl = new google.feeds.FeedControl();
           feedControl.addFeed("https://community.servicenow.com/community/feeds/search?q=workflow&amp;sort=relevanceDesc", "");
           feedControl.setLinkTarget(google.feeds.LINK_TARGET_BLANK);
           feedControl.setNumEntries(5);
           feedControl.draw(document.getElementById("feedControl"));
        }
        if(typeof google == "undefined" || navigator.appName == "Microsoft Internet Explorer"){                
           //Give us some time to load the script
           setTimeout('initialize()',1500);
        }
        else{
           initialize();
        }
     </script>
   </g2>
</j:jelly>