<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g:scrollable_area height="100px">
		<g2:evaluate expression="var kb = new GlideRecord('kb_knowledge');kb.setCategory('homepage');"/>
		<j2:set var="jvar_scroller" value="true"/>
                <j2:set var="jvar_kb_section" value="news" />
		<g:inline template="kb_section.xml"/>
	</g:scrollable_area>
</j:jelly>