<?xml version="1.0" encoding="utf-8"?> 
<j:jelly trim="true" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null"> 

<table width="100%">
  <tr><td/><td/></tr>
  <tr>
   	<td><g:no_escape>${gs.getMessage('Would you like to re-order the agenda for this CAB Meeting?')}</g:no_escape></td>	
  </tr>
  <tr><td><br/></td></tr>
  <tr>
    <td colspan="2" align="right">
      <g:dialog_buttons_ok_cancel ok="return orderItems();" ok_type="button" cancel_type="button" ok_text="${gs.getMessage('Order')}"/>
    </td>
  </tr>	
</table>
</j:jelly>