<table class="wide" cellspacing="20" cellpadding="0">
   <tr>
      <td>
         ${gs.getMessage('Would you like to change all of the occurrences of this repeating item or only this occurrence?')}      
      </td>
   </tr>
   <tr>
      <td align="right" nowrap="true">
         <g:dialog_button id="repeating_item_all" onclick="setAction('all')">${gs.getMessage('All occurrences')}</g:dialog_button>
         <g:ui_spacer />
         <g:dialog_button id="repeating_item_occurrance" onclick="setAction('occurrence')">${gs.getMessage('This occurrence')}</g:dialog_button>
         <g:ui_spacer />
         <g:dialog_button id="repeating_item_cancel" onclick="setAction('cancel')">${gs.getMessage('Cancel')}</g:dialog_button>
      </td>
   </tr>
</table>
































