<g:ui_form>
	<!-- used in exactly one place -->
	<style>
		div.forgot-password {
		width: 20em;
		margin: 1em;
		padding: 1em;
		padding-top: 0;
		border: 1px solid lightgrey;
		border-radius: 4px;
		}

		div.forgot-password div {
		margin-top: 1em;
		}

		div.forgot-password input {
		width: 100%;
		}

		div.forgot-password label {
		font-weight: bold;
		}

		.welcome_content {
		margin-left: 1em;
		margin-right: 1em;
		}

		/* make breadcrumbs happy */
		.welcome_content A.breadcrumb {
		padding: 0 .5em;
		margin-bottom: 0;
		background-color: transparent;
		border-radius: 0;
		}
	</style>

	<div class="forgot-password">
		<h3>${gs.getMessage('Reset My Password')}</h3>
		<div>
			<label class="control-label" for="user">${gs.getMessage('User name')}</label>
			<input id="user" type="text" name="user" value="" class="form-control" size="40" autocomplete="off" />
		</div>
		<div>
			<label class="control-label" for="email">${gs.getMessage('Email address')}</label>
			<input id="email" type="text" name="email" value="" class="form-control" size="40" autocomplete="off" />
		</div>
		<div class="text-right">
			<button class="btn btn-default" type="button" style="margin-right:5px" onclick="window.history.back()">Cancel</button>
			<button class="btn btn-primary" type="button" onclick="fireAJAX(); return false;">Reset Password</button>
		</div>
	</div>
</g:ui_form>