<?xml version="1.0" encoding="utf-8"?> 
<j:jelly trim="true" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null"> 

<g:ui_form>
   <table class="wide">
      <tr>
	<td nowrap="true">
	    <g:textarea id='script_code' cols="80" rows="15">Script here</g:textarea>
	</td>
      </tr>
      <tr>
         <td nowrap="true" align="right">
               <g:dialog_button id="ok_button" type="button" onclick="runScript();GlideOverlay.close('run_script');">${gs.getMessage('OK')}</g:dialog_button>
               <g:dialog_button id="cancel_button" type="button" onclick="GlideOverlay.close('run_script');">${gs.getMessage('Cancel')}
</g:dialog_button>
         </td>
      </tr>
   </table>
</g:ui_form>

</j:jelly>