<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g2:evaluate var="jvar_index_action_label" jelly="true">
		gs.getMessage(RP.getParameterValue("sysparm_index_action") + "_index_suggestion");
	</g2:evaluate>
	<g2:evaluate var="jvar_index_action_label_now" jelly="true">
		gs.getMessage(RP.getParameterValue("sysparm_index_action") + "_now_index_suggestion");
	</g2:evaluate>
	<g2:evaluate var="jvar_index_action_label_later" jelly="true">
		gs.getMessage(RP.getParameterValue("sysparm_index_action") + "_later_index_suggestion");
	</g2:evaluate>
	<g2:evaluate var="jvar_cancel_label" jelly="true">
		gs.getMessage("cancel_index_suggestion_modal");
	</g2:evaluate>
	<div class="form-group col-sm-12" style="padding: 0;">
		<fieldset style="text-align:left;">
			<h4 class="form_header" style="margin-top: 0;">${gs.getMessage("select_time_index_suggestion")}</h4>
			<div class="form-group clearfix">
				<div class="col-md-3" style="padding: 0;">
					<span class="input-group-radio">
						<input id="now" class="radio" type="radio" name="time_option" value="now" onclick="disableDateTime()"/>
						<label for="now" class="radio-label" style="margin-left:0">$[jvar_index_action_label_now]</label>
					</span>
				</div>
			</div>
			<div class="form-group clearfix">
				<div class="col-md-3" style="padding: 0;">
					<span class="input-group-radio">
						<input id="later" class="radio" type="radio" checked="checked" name="time_option" value="later" onclick="enableDateTime()"/>
						<label for="later" class="radio-label" style="margin-left: 0px;">$[jvar_index_action_label_later]</label>
					</span>
				</div>
			</div>
			<div class="form-group clearfix">
				<div id="time_selector" class="col-md-4 form-field input_controls" style="margin-left: 15px;">
					<g:macro_invoke macro="ui_date_time" name="selected_time"/>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="modal-footer" style="padding: 0;">
		<div class="row">
			<div class="col-sm-6" style="float: right;">
				<button type="submit" class="btn btn-default" id="cancelButton" style="min-width: 58px;" title="$[jvar_cancel_label]" value="$[jvar_cancel_label]" width="85" onclick="cancel()">$[jvar_cancel_label]</button>
				<button type="submit" class="btn btn-primary" id="createButton" style="min-width: 58px; margin-left: 8px;" title="$[jvar_index_action_label]" value="$[jvar_index_action_label]" width="85" onclick="schedule('$[sysparm_index_action]')">$[jvar_index_action_label]</button>
			</div>
		</div>
	</div>
</j:jelly>