<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

	<g:ui_form>
		Permset: <g:ui_reference table="sys_development_permission_set" name="spd_permission_set" id="spd_permission_set" />	
		Scope: <g:ui_reference table="sys_app" name="spd_scope" id="spd_scope" />
		User: <g:ui_reference table="sys_user" name="spd_user" id="spd_user" />
		<g:dialog_buttons_ok_cancel ok="return submitDialog()" />
	</g:ui_form>
	
</j:jelly>