<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
    <style>
        #content_row .reference-label {
            padding-right: 15px;
        }
    </style>
    <g:ui_form>
        <g2:set_if var="jvar_selected_cis" test="$[RP.getParameterValue('selected_cis') == '']"
            true="$[RP.getWindowProperties().get('selected_cis')]"
            false="$[RP.getParameterValue('selected_cis')]"/>
        <g2:set_if var="jvar_table_label" test="$[RP.getParameterValue('table_label') == '']"
            true="$[RP.getWindowProperties().get('table_label')]"
            false="$[RP.getParameterValue('table_label')]"/>
        
        <!-- Set up form fields and labels -->
        <table width="100%">
            <tr id="content_row" valign="top">
                <td colspan="2">
                    <!-- Short description value used as a label -->
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="reference-label">${gs.getMessage('Change Request')}</label>
                            <g:ui_reference name="change_sysid" table="change_request" show_popup="true" show_lookup="true" query="active=true" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr id="dialog_buttons">
                <td colspan="2" align="right">
                    <g:dialog_button 
                         id="cancel_button"
                         title="${gs.getMessage('Cancel')}"
                         type="button"
                         style_class="$btn btn-default"
                         onclick="actionCancel()" style="min-width: 5em;">${gs.getMessage('Cancel')}</g:dialog_button>$[SP]
                    <g:dialog_button 
                         id="ok_button" 
                         title="${gs.getMessage('OK')}"
                         type="button" 
                         onclick="actionOK()"
                         style_class="btn btn-primary" 
                         style="min-width: 5em;">${gs.getMessage('OK')}</g:dialog_button>
                </td>
            </tr>
        </table>
        <input type="hidden" value="$[jvar_selected_cis]" name="selected_cis" id="selected_cis" />
        <input type="hidden" value="$[jvar_table_label]" name="table_label" id="table_label" />
    </g:ui_form>
</j:jelly>
