<?xml version="1.0" encoding="utf-8"?> 
<j:jelly trim="true" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null"> 

<table width="100%">
  <tr><td/><td/></tr>
  <tr>
   	<td><g:no_escape>${gs.getMessage('Once the agenda items have been refreshed, would you like to send meeting invites to any new or updated attendees?')}</g:no_escape></td>	
  </tr>
  <tr><td/><td/></tr>
  <tr>
    <td colspan="2" align="right">
      <g:dialog_buttons_ok_cancel ok="return sendEmails();" cancel="return dontSendEmails();" ok_type="button" cancel_type="button" ok_text="${gs.getMessage('Yes')}" cancel_text="${gs.getMessage('No')}"/>
    </td>
  </tr>	
</table>
</j:jelly>