<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
  <g:requires name="scripts/js_includes_catalog.js" includes="true"/>
  <g:requires name="styles/js_includes_catalog_v2.css" includes="true"/>
  <g:requires name="styles/sc_cat_only_v2.css" includes="false"/>
  <j:set var="jvar_two_step" value="true" />	 	
  <g:inline template="sc_sanitize.xml"/>
  <form method="POST" action="service_catalog.do" name="service_catalog.do" id="sc_cart.do">
	<g:com.glideapp.servicecatalog_cart target="cart_view_two_step" prices="true" />
  </form>
  
  <!-- Support for Back Button --> 
  <form method="POST" action="service_catalog.do" name="back_form" id="back_form">
     <input type="HIDDEN" name="sysparm_view" value="${sysparm_view}" />
     <input type="HIDDEN" name="sysparm_action" value="sysverb_back" />
   </form>
  <!-- comma separated list of fields that are supported for onChange client scripts -->	
  <j2:set var="jvar_p2flow_all_visible_fields" value="requested_for" />
  <g:client_script tableName="sc_cart" type="phase1" />
  <g2:client_script tableName="sc_cart" file="$[jvar_cart.getGlideRecord()]" />
</j:jelly>