<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
   <g:requires name="scripts/js_includes_catalog.js" includes="true"/>
   <g:requires name="styles/js_includes_catalog.css" includes="true"/>
   <j2:set var="jvar_staged_item" value="$[sysparm_id]"/>
   <g2:evaluate jelly="true">
      var itemID = jelly.sysparm_id;
      var itemGR = new GlideRecord("sc_ic_item_staging");
      itemGR.get(itemID);
      var serviceID = itemGR.getValue("sc_cat_item");
      jelly.sysparm_id = serviceID;
   </g2:evaluate>
   <j2:set var="sysparm_id" value="$[serviceID]"/>
   <!-- check authorization -->
   <g2:evaluate var="jvar_cat_item_authorized" jelly="true">
        var answer = true;
        var item = GlideappCatalogItem.get(jelly.sysparm_id);
        if (item == null)
           answer = false;
        else {
           var preview = jelly.sysparm_preview;
           if (preview $[AMP]$[AMP] gs.hasRole('catalog_editor'))
              answer = true;
           else
              answer = item.canView();
        }
        true;
   </g2:evaluate>
   <j2:if test="$[jvar_cat_item_authorized]">
        <g:catalog_item />
   </j2:if>
   <j2:if test="$[!jvar_cat_item_authorized]">
        ${gs.getMessage("Not authorized")}
   </j2:if>
   <g2:evaluate jelly="true">
      // time to clean up
      var updateSynchWasSuppressed = gs.suppressUpdateSynch(true);
      var textIndexWasSuppressed = gs.suppressTextIndex(true);

      try {
		  if (jelly.sysparm_id) {
			 var policy = new GlideRecord("catalog_ui_policy");
			 policy.addQuery("catalog_item", jelly.sysparm_id);
			 policy.query();
				 while (policy.next())
					policy.deleteRecord();
		   }

         var service = new GlideRecord("sc_cat_item_producer_service");
         service.get(jelly.sysparm_id);
         service.deleteRecord();
   
         var stagedItem = new GlideRecord("sc_ic_item_staging");
         stagedItem.get(jelly.jvar_staged_item);
         stagedItem.deleteRecord();
   
      } catch(e) {
      } finally {
         gs.suppressUpdateSynch(updateSynchWasSuppressed);
         gs.suppressTextIndex(textIndexWasSuppressed);
      }
   </g2:evaluate>
</j:jelly>