<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
   <g:evaluate var="jvar_new_staged_id" jelly="true">
      var oldStagedGR = new GlideRecord("sc_ic_item_staging");
      var newStagedID = "";
      if (oldStagedGR.get(jelly.sysparm_staged_item)) {
         var updateSynchWasSuppressed = gs.suppressUpdateSynch(true);
         var textIndexWasSuppressed = gs.suppressTextIndex(true);
         try {
            newStagedID = copyDraftService(jelly.sysparm_staged_item, oldStagedGR.name);
            var newStagedGR = new GlideRecord("sc_ic_item_staging");
            newStagedGR.get(newStagedID);
            sc_ic_Factory.wrap(newStagedGR).publish();
         } catch(e) {
         } finally {
            gs.suppressUpdateSynch(updateSynchWasSuppressed);
            gs.suppressTextIndex(textIndexWasSuppressed);
         }
      }
      newStagedID;
   </g:evaluate>

   <j:if test="${newStagedID != ''}">
      <script>
         document.location.href = "service_preview.do?sysparm_id=${jvar_new_staged_id}${AMP}sysparm_preview=true";
      </script>
   </j:if>
</j:jelly>