<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g:requires name="scripts/js_includes_catalog.js" includes="true"/>
    <g:requires name="styles/js_includes_catalog.css" includes="true"/>
    <g:requires name="styles/sc_cat_only.css" includes="false"/>
	<j:set var="jvar_two_step" value="true" />	 	
    <g:inline template="sc_sanitize.xml"/>
	<g:servicecatalog_cart_template />
</j:jelly>