<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

	<g:evaluate>
		var agents = RP.getWindowProperties().get('agents') +'';
	</g:evaluate>

	<style>
		.container-td {
			padding-top: 5px;
		}

		.top-buffer {
			padding-top: 10px;
		}
	</style>

	<input type="hidden" id="agents" value="${agents}" />
	<table width="100%">
		<tr>
			<td align="center" valign="middle" class="container-td">

				<!-- Begin form div -->
				<div id="form" class="container-fluid form-horizontal">
					<div class="row">
						<g:no_escape> ${gs.getMessage('Initial Selection Criteria Intro')} </g:no_escape>
					</div>
					<div class="row form-group">
						<div class="col-sm-4 col-sm-offset-3 control-label"> ${gs.getMessage('Allow ALL applications')} </div>
						<div class="col-sm-5">
							<div class="input-switch pull-left">
								<input id="applications" type="checkbox" name="applications" checked="true"/>
								<label aria-hidden="true" class="switch" for="applications"></label>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-4 col-sm-offset-3 control-label">${gs.getMessage('Allow ALL capabilities')} </div>
						<div class="col-sm-5">
							<div class="input-switch pull-left">
								<input id="capabilities" type="checkbox" name="capabilities" checked="true"/>
								<label aria-hidden="true" class="switch" for="capabilities"></label>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-4 col-sm-offset-3 control-label">${gs.getMessage('Allow ALL IP ranges')} </div>
						<div class="col-sm-5">
							<div class="input-switch pull-left">
								<input id="ip_ranges" type="checkbox" name="ip_ranges" checked="true"/>
								<label aria-hidden="true" class="switch" for="ip_ranges"></label>
							</div>
						</div>
					</div>
					<div class="row top-buffer">
						<g:no_escape> ${gs.getMessage('Initial Selection Criteria Footer')} </g:no_escape>
					</div>
					<div class="row top-buffer">
						<div id="ok-cancel-btns" class="pull-right">
							<g:dialog_buttons_ok_cancel class="form-control"/>
						</div>
					</div>
				</div>
				<!-- End form div -->
			</td>
		</tr>
	</table>
</j:jelly>