<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g2:evaluate var="jvar_item" expression="
						gr = new GlideRecord('survey_master');
						gr.addQuery('sys_id', '$[JS:sysparm_survey]');
						gr.query();
						" />
	<j2:if test="$[gr.next()]">
		<!-- end_note may contain HTML formatting -->
		<g2:no_escape>$[NS:gr.end_note]</g2:no_escape>
	</j2:if>
	<script>
		document.title = "${gs.getMessage('You have completed this survey')}";
	</script>
</j:jelly>