<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g2:evaluate var="jvar_unwrapped_url" jelly="true">
		var url = "${sysparm_survey_url}";
		url = gs.unWrap(url);
		url;
	</g2:evaluate>
${gs.getMessage("Redirecting to your survey")}...
</j:jelly>