<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

  <g:evaluate var="jvar_survey_url" jelly="true">
    var survey = escape('${sysparm_survey}');
    var survey_instance = escape('${sysparm_survey_instance}');
    var survey_url;
    if (survey != '') 
        survey_url = new AssessmentUtils().getAssessmentTypeURL(survey);
    else if (survey_instance != '')
        survey_url = new AssessmentUtils().getAssessmentInstanceURL(survey_instance);
    else 
        survey_url = '';
  </g:evaluate>
  <g:ui_form>
    <table width="100%">
      <tr id="description_row" valign="top">
        <td colspan="2">
           <!-- Short description value used as a label -->
           <p>Publish the Survey with the following URL:</p>
        </td>
      </tr>
      <tr>
        <td colspan="2" width="100%">
          <input type="text" size="100" id="survey_url" name="survey_url" value="${survey_url}" />
        </td>
      </tr>
      <tr id="dialog_buttons">
        <td colspan="2" align="right">
           <g:dialog_buttons_ok_cancel ok="return validateComments()" ok_type="button" cancel_type="button" />        </td>
      </tr>
    </table>
  </g:ui_form>
</j:jelly>