<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<j:set var="jvar_inline" value="false"/>
	<j:if test="${RP.isPortal()}">
	<j:set var="jvar_inline" value="true"/>
	</j:if>
	<g:requires name="scripts/js_includes_catalog.js" includes="true" inline='${jvar_inline}'/>
	<g:requires name="styles/js_includes_catalog_v2.css" includes="true"/>
	<g:requires name="styles/sc_cat_only_v2.css" includes="false"/>
	<g:inline template="sc_sanitize.xml"/>
	<j:if test="${GlideMobileExtensions.getDeviceType() != 'doctype'}">
		<g:requires name="scripts/lib/jquery_includes.js" inline="true" />
	</j:if>
	<form name="survey_detail" style="DISPLAY: inline" action="post_survey.do" method="POST">
		<g:evaluate var="jvar_user" expression="gs.getUserID();" />
		<input name="sysparm_survey_user" type="HIDDEN" value="${jvar_user}" />
		<input name="sysparm_survey_update" type="HIDDEN" value="${sysparm_survey_update}" />
		<input name="sysparm_task_survey" type="HIDDEN" value="${sysparm_task_survey}" />
		<input name="sysparm_task_assessment" type="HIDDEN" value="${sysparm_task_assessment}" />
		<input name="sysparm_return_url" type="HIDDEN" value="${sysparm_return_url}" />
		<g2:evaluate var="jvar_item" jelly="true">
			gr = new GlideRecord('survey_master');
			gr.addQuery('name', jelly.sysparm_survey);
			gr.query();
                        if (!gr.hasNext()) {
                            var tt = new GlideRecord("sys_translated_text");
		            tt.addQuery("value", jelly.sysparm_survey);
		            tt.query();
		            if (tt.next()) {
                                gr = new GlideRecord('survey_master');
			        gr.addQuery("sys_id", tt.documentkey);
                                gr.query();
                            }
                        }
		</g2:evaluate>	
		<g2:evaluate var="jvar_redirect_to_login">
                        if (!gs.getUser().isDefault())
                            "false";
                        else if (!gr.hasNext())
                            "true";
                        else if (!GlidePublicPage.isPublic("survey_take"))
                            "false";
                        else {
                            gr.next();
                            var qs = new GlideRecord("survey_question_new");
                            qs.addActiveQuery();
                            qs.addQuery("master", gr.sys_id);
                            qs.query("read_roles", "public");
                            gr.setLocation(-1);
                            if (qs.getRowCount() > 0)
                                "false";
                            else
                                "true";
                        }
		</g2:evaluate>	

		<table class="wide">
			<j2:if test="$[gr.next()]">
                            <j2:if test="$[!jvar_redirect_to_login]">
				<tr class="header"><td colspan="2">
				 <div class="survey caption">
                                   $[NS:gr.name.getDisplayValue()]
                                 </div>
				</td></tr>
				<j2:if test="$[empty(sysparm_task_survey)]">
					<j2:set var="jvar_task_survey_taken" value="false"/>
				</j2:if>
				<j2:if test="$[!empty(sysparm_task_survey)]">
					<g2:evaluate var="jvar_task_survey_taken" jelly="true">
						var ts = new GlideRecord("task_survey");
						if (!ts.isValid())
							"false";
						else {
							ts.addQuery("sys_id", jelly.sysparm_task_survey);
							ts.addQuery("state", "completed");
							ts.query();
							if (ts.hasNext())
								"true";
							else
								"false";
						}
					</g2:evaluate>
				</j2:if>
				<j2:if test="$[jvar_task_survey_taken]">
					<tr>
						<td colspan="2">
							${gs.getMessage("This survey request has already been completed - thank you")}
						</td>
					</tr>
				</j2:if>
				<j2:if test="$[!jvar_task_survey_taken]">
					<tr>
						<td colspan="2">
                	                        	<g2:no_escape>
							    $[NS:gr.introduction.getDisplayValue()]
                                	        	</g2:no_escape>
						</td>
					</tr>
					<g2:com.glideapp.survey_takesurvey survey="${sysparm_survey}" />
					<input name="sysparm_survey" type="HIDDEN" value="$[gr.sys_id]"/>			
					<tr>
						<td height="20" ></td> <!-- spacer -->
					</tr>			
					<tr>
						<td colspan="2">
							<input name="sys_action" type="HIDDEN" value="sysverb_post_survey"></input>
							<button class="listactions" type="submit" onClick="return onSubmit();" id="post_survey" name="post_survey" > ${gs.getMessage('Submit')} </button>
						</td>
					</tr>
				</j2:if>
                            </j2:if>
                            <j2:if test="$[jvar_redirect_to_login]">
                                <script language="javascript">document.location.href = "survey_redirect.do?sysparm_survey_url=${sysparm_this_url}";</script>
                            </j2:if>
			</j2:if>
		</table>
	</form>
	<script>
		document.title = "${gs.getMessage('Take Survey')}";
	</script>
</j:jelly>