<?xml version="1.0" encoding="utf-8"?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<style>

		.modal-body, .container-fluid {
			padding: 0;
		}

		#atf-test-step-control label.active {
			border-color: #278efc;
			background-color: #bddcfc;
		}

		#atf-step-config-navigator, #atf-category-selector, #atf-step-configs, #atf-description {
			height: 400px;
			overflow-y: auto;
		}

		#atf-step-config-navigator {
			margin: 0;
		}

		#atf-step-configs li, #atf-category-selector li  {
			padding: 8px 10px;
		}

		#atf-step-configs li:hover, #atf-category-selector li:hover  {
			cursor: pointer;
			background-color: #e7e9eb;
		}

		#atf-category-selector {
			background: #F0F0F0;
			padding: 8px 10px;
		}

		#atf-category-selector li.active {
			background-color: #cfd4d8;
		}

		#atf-step-configs h4 {
			border-bottom: 2px solid #000000;
			padding-bottom: 3px;
		}

		#atf-step-configs li.active {
			background-color: #bddcfc;
		}

		#atf-description {
			background: #F0F0F0;
		}

		#atf-step-config-footer {
			text-align: right;
			border-top: 1px solid #e5e5e5;
			padding: 13px 0;
		}

		#atf-test-step-control label.control-label {
			font-weight: bold;
			font-size: 13px;
			margin-right: 10px;
		}

		#atf-test-step-control .select2-container {
			width: 280px;
		}

		@media (max-width: 799px) {
			#atf-test-step-control label.control-label, #atf-previous-step-selector {
				margin-bottom: 0;
			}
		}

		.atf-test-step-control .select2-results li:first-child {
			border-bottom: #e6e8ea 1px groove;
		}

		#atf-test-step-control button {
			min-width: 75px;
			margin: 0 10px;
		}

		#sys_atf_step_creator .tooltip-inner {
			white-space: pre-wrap;
			text-align: left;
		}
	</style>

	<g2:evaluate jelly="true">
		var can_create_step = new GlideRecord('sys_atf_step').canCreate();
		if(!can_create_step) {
			gs.info(gs.getMessage('Insufficient privileges to create test steps'));
		}
	</g2:evaluate>

	<g2:evaluate object="true" expression="
		var gr = new GlideRecordSecure('sys_atf_step_config');
		gr.addQuery('active', '1');
		gr.orderBy('order');
		gr.orderBy('name');
		gr.query();"/>

	<g2:evaluate jelly="true">
		var previousSteps = new GlideRecordSecure('sys_atf_step');
		previousSteps.addQuery('test', jelly.sysparm_test);
		previousSteps.orderBy('order');
		previousSteps.query();
	</g2:evaluate>

	<j2:choose>
		<j2:when test="$[can_create_step == false]">
			<div class="outputmsg outputmsg_warning notification notification-warning">
				<div class="outputmsg_text">
					<g2:no_escape>$[gs.getMessage("Insufficient privileges to create test steps")]</g2:no_escape>
				</div>
			</div>
		</j2:when>
	</j2:choose>

	<g2:evaluate jelly="true">
		var thereArePreviousSteps = previousSteps.hasNext();
	</g2:evaluate>

	<g2:evaluate jelly="true">
		var categoryGr = new GlideRecord('sys_atf_step_config_category');
		categoryGr.orderByDesc('step_env');
		categoryGr.query();
	</g2:evaluate>
	<div class="row" id="atf-step-config-navigator">
		<div class="col-md-3 col-sm-3 col-xs-3 " id="atf-category-selector">
			<ul class="list-unstyled">
				<j2:while test="$[categoryGr.next()]">
					<li data-name="$[categoryGr.name]" tabindex="0">$[gs.getMessage(categoryGr.display_name)]</li>
				</j2:while>
			</ul>
		</div>
		<div class="col-md-5 col-sm-5 col-xs-5 " id="atf-step-configs">
			<h4>${gs.getMessage('All Test Step Configurations')}</h4>
			<ul class="list-unstyled">
				<j2:while test="$[gr.next()]">
					<li data-sys-id="$[gr.sys_id]" data-name="$[gr.name]" data-redirect="$[gr.wizard_redirect]" data-table-name="$[gr.type.name]" data-category="$[gr.category.name]" data-description="$[gr.html_description]" tabindex="0">$[gs.getMessage(gr.name)]</li>
				</j2:while>
			</ul>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4 " id="atf-description">
			<h4 class="hidden">${gs.getMessage('No Step Selected')}</h4>
			<p class="hidden">${gs.getMessage('No Step Selected')}</p>
		</div>
	</div>
	<div id="atf-step-config-footer">
		<div class="form-inline" id="atf-test-step-control">
			<j2:if test="$[thereArePreviousSteps]">
				<div class="form-group" id="atf-previous-step-selector">
					<label class="control-label" for="previousStep">$[gs.getMessage("Insert after")]</label>
					<select id="atf-previous-step" class="form-control select2">
						<g2:evaluate object="true" expression="var stepNumber = 0;" />
						<j2:while test="$[previousSteps.next()]">
							<g2:evaluate object="true" expression="stepNumber++;" />
							<j2:if test="$[stepNumber == 1]">
								<option value="$[previousSteps.order - 1]" selected="true">
									$[gs.getMessage("At the beginning")]
								</option>
							</j2:if>
							<j2:choose>
								<j2:when test="$[!previousSteps.hasNext()]">
									<option value="$[previousSteps.order]" selected="true" data-test="$[previousSteps.step_config]" data-title="$[previousSteps.description.replace(/\n/g, '\\n')]">
										$[gs.getMessage("Step " + stepNumber + " - ") + gs.getMessage(previousSteps.getDisplayValue())]
									</option>
								</j2:when>
								<j2:otherwise>
									<option value="$[previousSteps.order]" data-test="$[previousSteps.step_config]" data-title="$[previousSteps.description.replace(/\n/g, '\\n')]">
										$[gs.getMessage("Step " + stepNumber + " - ") + gs.getMessage(previousSteps.getDisplayValue())]
									</option>
								</j2:otherwise>
							</j2:choose>
						</j2:while>
					</select>
				</div>
			</j2:if>
			<button class="btn btn-primary" style="">$[gs.getMessage('Next')]</button>
		</div>
	</div>
	<script>
		(function initPreviousStepSelector() {
			$j('#atf-previous-step-selector select').select2({
				dropdownCssClass: 'atf-test-step-control',
				formatResult: function (step, option) {
					var title = $j(step.element).data('title');
					if(title){
						option.tooltip({
							title: '- ' + title.replace(/\\n/g, '\n- '),
							placement: 'auto left',
							container: '#sys_atf_step_creator'
						});
						// prevent the tooltips from hiding the options since we are cohabitating with PrototypeJS
						if ($j.fn.hideFix) {
							option.on('hide.bs.tooltip', function(evt) {
								$j(evt.target).hideFix();
							});
						}
					}
					return step.text;
				}
			});
			initNavigator();
			$j('#atf-step-config-footer button.btn-primary').on('click', createSelectedStepConfig)
			$j('#atf-step-configs li').dblclick(createSelectedStepConfig)

			function createSelectedStepConfig() {
				var $selectedStepConfig = $j('#atf-step-configs li.active');
				if ($selectedStepConfig.length > 0) {
					if ($selectedStepConfig.data("redirect") != '') {
						var order = (parseInt($j('#atf-previous-step').val(), 10) || 0) + 1;
						var paramChar = "?";
						if ($selectedStepConfig.data("redirect").indexOf("?") >= 0) {
							paramChar = "$[AMP]";
						}
						window.location.href = $selectedStepConfig.data("redirect") + paramChar + "test_id=${sysparm_test}$[AMP]test_order=" + order;
					} else
						openNewStepForm($selectedStepConfig.data("tableName"), $selectedStepConfig.data("sysId"), $selectedStepConfig.data('name'));
				}
			}

			function initNavigator() {
				var $stepConfigs = $j('#atf-step-configs');
				var $stepConfigsList = $stepConfigs.find('li');
				var $description = $j('#atf-description');
				selectCategory(getCategoryFromStepConfig($stepConfigs, getConfigFromPreviousStep()));
				showTestConfigsWithinSelectedCategory($stepConfigs);
				selectStepConfig($stepConfigsList, $stepConfigsList.not('.hidden').first().data('name'));
				$description.children().removeClass('hidden');
				showDescriptionForStepConfig($description, $stepConfigsList.filter('.active'));
				$j('#atf-category-selector li').on('click', userSelectCategory.bind(null, $stepConfigs, $stepConfigsList, $description));
				$stepConfigsList.on('click', userSelectStepConfig.bind(null, $stepConfigsList, $description));
			}

			function userSelectCategory($stepConfigs, $stepConfigsList, $description, event) {
				var category = $j(event.target).data('name');
				selectCategory(category);
				showTestConfigsWithinSelectedCategory($stepConfigs);
				event.target = null;
				userSelectStepConfig($stepConfigsList, $description, event);
			}

			function userSelectStepConfig($stepConfigsList, $description, event) {
				var stepConfig = $j(event.target).data('name');
				if (!stepConfig) {
					stepConfig = $stepConfigsList.not('.hidden').first().data('name');
				}
				selectStepConfig($stepConfigsList, stepConfig);
				showDescriptionForStepConfig($description, $stepConfigsList.filter('.active'));
			}

			function showTestConfigsWithinSelectedCategory($stepConfigs) {
				showTestConfigsWithinCategory($stepConfigs, getSelectedCategory());
			}

			function getSelectedCategory() {
				return $j('#atf-category-selector li.active');
			}

			function showTestConfigsWithinCategory($stepConfigs, $category) {
				if ($category.length === 0) return;

				// Set header name
				$stepConfigs.find('h4').text($category.text());

				// Reset list state
				$stepConfigs
						.find('li')
						.removeClass('hidden')
						.filter(function getTestStepsThatArentInCategory(index, testStepConfig) {
							var testStepConfigCategoryPath = $j(testStepConfig).data('category');
							if (testStepConfigCategoryPath) {
								testStepConfigCategoryPath = testStepConfigCategoryPath.toLocaleLowerCase();
							} else {
								testStepConfigCategoryPath = "";
							}
							return testStepConfigCategoryPath !== $category.data('name').toLocaleLowerCase();
						})
						.addClass('hidden');
			}

			function get$TestStepConfig(sysId) {
				return $j('#atf-step-configs li[data-sys-id="' + sysId + '"]');
			}

			function getCategoryFromStepConfig($stepConfigs, configSysId) {
				var category = $stepConfigs.find('li[data-sys-id="' + configSysId + '"]').data('category');

				// If config isn't associated with a category
				if (!category) {
					return "";
				}
				return category;
			}

			function selectCategory(category) {
				$j('#atf-category-selector li')
						.removeClass('active')
						.filter(isLowerCaseName.bind(null, category))
						.addClass('active')
				;
			}

			function getConfigFromPreviousStep() {
				var configId = $j($j('#atf-previous-step-selector select').select2('data').element).data('test');
				if (!configId)
					return "";
				return configId;
			}

			function selectStepConfig($stepConfigsList, stepConfig) {
				$stepConfigsList
						.removeClass('active')
						.filter(isLowerCaseName.bind(null, stepConfig))
						.addClass('active')
				;
			}

			function isLowerCaseName(text, index, element) {
				return ($j(element).data('name') + '').toLocaleLowerCase() === (text + '').toLocaleLowerCase();
			}

			function showDescriptionForStepConfig($description, $selectedStepConfigs) {
				$description
						.find('h4')
						.text($selectedStepConfigs.text())
						.parent()
						.find('p')
						.html($selectedStepConfigs.data('description'))
			}

			function openNewStepForm(tableName, stepConfigId, stepName) {
				function onClose() {
					g_list.refresh();
				}

				var order = (parseInt($j('#atf-previous-step').val(), 10) || 0) + 1;
				GlideDialogWindow.get().destroy();
				var dialogWindow = new GlideModalForm("$[gs.getMessage('Add Test Step: ')]" + stepName, tableName);
				dialogWindow.addParm("sysparm_query", "test=${sysparm_test}^order=" + order + "^step_config=" + stepConfigId);
				dialogWindow.setCompletionCallback(onClose);
				dialogWindow.render();
			}

		})();
		//# sourceURL=createNewTestStep.js
	</script>
</j:jelly>