<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g:evaluate>
		var testIds =  RP.getWindowProperties().get('test_ids');
		var testQuery = RP.getWindowProperties().get('test_query');
	</g:evaluate>
    <div id="add_to_test_suite_container" >
		<div class="form-group">
			<div nowrap="true" type="string" choice="0" data-type="label">
				<label class="col-sm-12 col-md-2 control-label">
					<span class="label-text">${gs.getMessage('Test Suite')}:</span>
				</label>
			</div>
			<div class="col-sm-12 col-md-6 form-field input_controls">
				<g2:ui_reference id="test_suite_picker"
                                name="test_suite_picker"
                                table="sys_atf_test_suite"
                                columns="name"
                                columns_search="false"
                                order_by="name"
                                show_popup="false"
                                completer="AJAXTableCompleter"/>
			</div>
		</div>
	<footer align="right" class="modal-footer flex" >
		<button class="btn btn-default" onClick="closeDialog()"> ${gs.getMessage('Cancel')}</button>
		<button class="btn btn-primary" id="add_button" onClick="addToTestSuite('$[testIds]', '$[testQuery]')">
			${gs.getMessage('Add')}
		</button>
	</footer>
    </div>
</j:jelly>