<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

	<g2:evaluate var="jvar_requestor">
		var requestor = "";
		var gr = new GlideRecord("sys_api_stats_requestor");
		gr.addJoinQuery("sys_user");
		gr.setLimit(1);
		gr.query();
		
		if (gr.next())
			requestor = gr.getValue("requestor");
		requestor;
	</g2:evaluate>
	
	<script>
		var glideURL = new GlideURL("/$pa_dashboard.do?dashboard=aaed481d9f902200ef4afa7dc67fcf50$[AMP]breakdown_source=f24ecc1d9f902200ef4afa7dc67fcfd1$[AMP]element=$[jvar_requestor]");	
		window.location = glideURL.getURL();
	</script>
	
</j:jelly>