<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g:evaluate>
		var testId = RP.getWindowProperties().get('test_id');
		var testName = "";
		var readonly = false;
		if (testId != null) {
			var gr = new GlideRecord('sys_atf_test');
			gr.get(testId);
			testName = gr.name;
			readonly = true;
		}
		
		var tableName = RP.getWindowProperties().get('table_name');
		var tableSysId = "";
		var tableLabel = "";
		
		if (tableName != null) {
			var gr = new GlideRecord('sys_db_object');
			gr.addQuery('name', tableName);
			gr.query();
			gr.next();
			tableSysId = gr.sys_id;
			tableLabel = gr.label;
		}
	</g:evaluate>
	
	<g:evaluate jelly="true" object="true">
		var templates = new GlideRecord('sys_atf_test_template');
		templates.query();
	</g:evaluate>
	
	<div class="form-horizontal">
		<div class="form-group">
			<div nowrap="true" type="string" choice="0" data-type="label">
				<label class="col-sm-12 col-md-4 control-label">
					<span class="label-text">${gs.getMessage('Test name')}</span>
				</label>
			</div>
			<div class="col-sm-12 col-md-6 form-field input_controls">
				<j:if test="${readonly}">
					<input id="test_name" value="${testName}" class="form-control" readonly="readonly"/>
				</j:if>
				<j:if test="${!readonly}">
					<input id="test_name" value="New Test" class="form-control"/>
				</j:if>
			</div>
			<div class="col-sm-12 col-md-2 form-field-addons"></div>
		</div>
		<div class="form-group is-required" id="test_template_selector">
			<div nowrap="true" type="string" choice="0" data-type="label">
				<label class="col-sm-12 col-md-4 control-label">
				    <span class="required-marker label_description"></span>
					<span class="label-text">${gs.getMessage('Template')}</span>
				</label>
			</div>
			<div class="col-sm-12 col-md-6 form-field input_controls">
				<select id="test_template_picker" style="width:200px" class="form-control select2" onChange="templateChanged()">
					<option value=''>${gs.getMessage(' -- None -- ')}</option>
					<j:while test="${templates.next()}">
						<option value = "${templates.sys_id}" >${gs.getMessage(templates.name)}</option>
					</j:while>
				</select>
			</div>
			<div class="col-sm-12 col-md-2 form-field-addons"></div>
		</div>
		<div class="form-group" style="display: none" id="tableDiv">
			<div nowrap="true" type="string" choice="0" data-type="label">
				<label class="col-sm-12 col-md-4 control-label">
					<span class="required-marker label_description"></span>
					<span class="label-text">${gs.getMessage('Table')}</span>
				</label>
			</div>
			<div class="col-sm-12 col-md-6 form-field input_controls">
				<g2:ui_reference id="test_table_picker"
						 name="test_table_picker"
						 table="sys_db_object"
						 columns="name"
						 columns_search="false"
						 order_by="name"
						 value="${tableSysId}"
						 displayValue="${gs.getMessage(tableLabel)}"
						 show_popup="false"
						 completer="AJAXTableCompleter"/>
			</div>
			<div class="col-sm-12 col-md-2 form-field-addons"></div>
		</div>

		<footer align="right" class="modal-footer flex" >
			<button class="btn btn-default" onClick="closeDialog()"> ${gs.getMessage('Cancel')}</button>
			<button class="btn btn-primary" id="add_button" onClick="this.disabled=true;addTemplate('$[testId]')">
			${gs.getMessage('Add')}</button>
		</footer>
	</div>	
	
	<script>
	(function enableSelect2() {
		$j('#test_template_selector select').select2();
	})();
	</script>
</j:jelly>