<g:ui_form onsubmit="return invokePromptCallBack('ok');">
<table width="100%">
	<tr>
                <g:evaluate jelly="true">
                   var title = (jelly.RP.getWindowProperties().get('title') || '') + '';
                   title = gs.getMessage(title);
                </g:evaluate>
		<td nowrap="true"><label for="glide_prompt_answer">${title}</label></td>
		<td nowrap="true">
		        <g:ui_reference name="more_tags_lookup" table="label"/>
		</td>
	</tr>
        <tr>
            <td colspan="2" align="right">
            <br/>
                <g:dialog_buttons_ok_cancel 
                   ok="invokePromptCallBack('ok');" 
                   ok_type="button" 
                   cancel="invokePromptCallBack('cancel')" 
                   cancel_type="button" />
            </td>
        </tr>
	
</table>
</g:ui_form>