<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
   <g2:requires name="styles/heisenberg/heisenberg_all.css" includes="true"/>
   <g2:requires name="scripts/heisenberg/custom/tabs.js"/>
   <g2:requires name="styles/tag_form.css" includes="true"/>
   <g2:requires name="scripts/select2_doctype/select2.js"/>
   <g2:requires name="scripts/tag_form_select2.js"/>

   <g:evaluate var="jvar_sys_ids" expression="RP.getWindowProperties().get('sys_ids')"/>
   <g:evaluate var="jvar_table_name" expression="RP.getWindowProperties().get('table_name')"/>
   <g:evaluate var="jvar_label_id" expression="RP.getWindowProperties().get('label_id')"/>

   <g:ui_form>
      <input id="sys_ids" value="${jvar_sys_ids}" type="hidden"/>
      <input id="table_name" value="${jvar_table_name}" type="hidden"/>
      <input id="label_id" value ="${jvar_label_id}" type="hidden"/>
      <table class="max-width">
         <tr class="tag-header">
            <td class="header-title">
               ${gs.getMessage("Tag Details")}
            </td>
            <td class="header-buttons" align="right">
               <button
                  id="close_button"
                  type="button"
                  class="btn btn-default"
                  onclick="GlideDialogWindow.prototype.locate(this).destroy(); return false">
                  ${gs.getMessage('Cancel')}
               </button>
               <button
                  id="save_button"
                  type="button"
                  class="btn btn-primary">
                  ${gs.getMessage('Save')}
               </button>
            </td>
         </tr>
      </table>
      <hr class="header-divider"/>

      <div class="form-body" data-scroll="false">
      <div class="form-section">
         <div class="form-group">
            <label for="name_input" class="control-label">${gs.getMessage("Name")}</label> <br/>
            <input id="name_input" class="form-control" type="text"/>
         </div>
         <div id="name_message" class="outputmsg outputmsg_error hide">
            <div id="name_message_text" class="outputmsg_text"/>
         </div>
      </div>

      <div class="form-section">
         <label for="me_button" class="control-label">${gs.getMessage("Viewable by")}</label> <br/>
         <ul role="tablist" class="nav nav-segmented sn-tabs-basic">
            <li role="presentation" class="active" data-value="me">
               <a id="me_button"
                  aria-controls="me_everyone"
                  tabindex="0" 
                  role="tab" 
                  data-toggle="segmented" 
                  href="#me_everyone" 
                  aria-expanded="false">
                 ${gs.getMessage("Me")}
               </a>
            </li>
            <li role="presentation" data-value="groups and users">
               <a id="groups_users_button"
                  aria-controls="groups_users"
                  tabindex="0" 
                  role="tab" 
                  data-toggle="segmented" 
                  href="#groups_users" 
                  aria-expanded="false">
                  ${gs.getMessage("Groups and Users")}
               </a>
            </li>
            <li role="presentation" data-value="everyone">
               <a id="everyone_button"
                  aria-controls="me_everyone" 
                  tabindex="0" 
                  role="tab" 
                  data-toggle="segmented" 
                  href="#me_everyone" 
                  aria-expanded="false">
               ${gs.getMessage("Everyone")}
               </a>
            </li>
          </ul>
          <div id="viewable_by_message" class="outputmsg outputmsg_error hide">
            <div class="outputmsg_text">
               ${gs.getMessage('Add at least 1 group or user')}
            </div>
          </div>
       </div>

       <div class="tab-content">
          <div id="me_everyone" aria-hidden="false" role="tabpanel" class="segmented-pane active borderless" aria-labelledby="me_button"></div>
    
          <div id="groups_users" aria-hidden="true" role="tabpanel" class="segmented-pane borderless" aria-labelledby="groups_users_button">
             <div class="form-section sharing-section">
                <div>
                   <label id="label_groups"
                      for="add_group_button">
                      ${gs.getMessage('Groups')} 
                      <span id="group_number"> $[SP](0) </span>
                   </label>
                </div>
                <div>
                   <button id="add_group_button"
                      type="button"
                      class="btn btn-default max-width">
                      ${gs.getMessage('Add Group')}
                   </button>
                   <input id="group_input"
                      type="hidden"
                      class="form-control hidden-select2"/>
                </div>
                <div id="groups" class="selection">
                   <table id="selected_groups" class="max-width"> <tr/> </table>
                </div>
                <div align="right">
                   <a id="group_show" class="show-more">
                      ${gs.getMessage("Show {0} more", 0)}
                   </a> 
                </div>
             </div>

             <div class="form-section sharing-section">
                <div>
                   <label id="label_users"
                      for="add_user_button">
                      ${gs.getMessage('Users')}
                      <span id="user_number"> $[SP](0) </span>
                   </label>
                </div>
                <div>
                   <button id="add_user_button"
                      type="button"
                      class="btn btn-default max-width">
                      ${gs.getMessage('Add User')}
                   </button>
                   <input id="user_input"
                      type="hidden"
                      class="form-control hidden-select2"/>
                </div>
               <div id="users" class="selection">
                   <table id="selected_users" class="max-width"> <tr/> </table>
                </div>
                <div align="right">
                   <a id="user_show" class="show-more">
                      ${gs.getMessage("Show {0} more", 0)}
                   </a> 
                </div>
             </div>
          </div>
      </div>
      </div>
   </g:ui_form>
</j:jelly>