<g:ui_table>
<tr>
  <td colspan="2">
    <label for="search">Name starts with:</label>
    <input id="search" 
       type="text" 
       tabindex="1000" 
       style="width:150px;" 
       autocomplete="off" 
       onKeyUp="ac.onKeyUp(event)" />
</td></tr>

<!-- header line -->
<tr class="header">
  <td class="column_head">
    <label for="names">Name</label>
  </td>
  <td class="column_head">
    <span class="slushselect"><label for="groups">Groups</label></span>
  </td>
</tr>

<!-- twin SELECTS -->
<tr>
  <td>
    <select class="slushselect" id="names" size="10" 
       tabindex="1001" 
       onchange="nameRequest(event)"/>
  </td>
  <td>
   <select class="slushselect" id="groups" size="10" 
      ondblclick="groupSelected()" 
      tabindex="1002" 
      onKeyUp="groupEnter(event)" />
  </td>
</tr>

<!-- ok and cancel buttons -->
<tr>
<td></td>
<td align="right">
  <g:dialog_buttons_ok_cancel />
</td>
</tr>
</g:ui_table>