<g:ui_form>
    <table cellpadding="0" cellspacing="0" width="500px">
        <g:ui_progress_worker worker_id="${sysparm_pworker_sysid}"/>
        <tr id="completed_links" style="display: none">
            <td>
                <table id="restore_summary" style="display: none" width="100%">
                    <tr>
                        <td>${pgr.output_summary.getHTMLValue()}</td>
                    </tr>
                </table>
                <table id="completed_links" style="display: none" width="100%">
                    <tr id="email_account_link">
                        <td>
                            <a class="breadcrumb" href="sys_email_account.do?sys_id=${sysparm_account_id}">
                               ${gs.getMessage('Return to Email Account')}
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <j:if test='${pgr.state == "complete"}'>
        <script>
            var el = gel("completed_links");
            el.style.display = "";

            var e2 = gel("restore_summary");
            e2.style.display = "";        
        </script>
    </j:if>
</g:ui_form>