<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	
	<g:evaluate>
		var ipaddr = gs.getUser().getPreference('test_credential.target');
		var midName = gs.getUser().getPreference('test_credential.midserver_name');
		var cred_type = RP.getWindowProperties().get('cred_type') +'';
		var cred_data = RP.getWindowProperties().get('cred_data');
		var timestamp = new Date().getTime();
		
		var port = "";
		switch (cred_type) {
			case "ssh":
			case "ssh_private_key":
				port = "22";
				break;
			case "snmp":
			case "snmpv3":
				port = "161";
				break;
			case "vmware":
				port = "443";
				break;
			case "windows":
				port = "135";
				break;
		}
	</g:evaluate>

	<j:if test="${cred_type == 'jdbc'}">
		<j:set var="jvar_jdbc_db_type_list" value="MySQL,Oracle,MSSQL"/>
		<g:tokenize var="jvar_jdbc_db_types" delim=",">  
			${jvar_jdbc_db_type_list}
		</g:tokenize> 
	</j:if>
	
	<j:if test="${cred_type == 'jms'}">
		<j:set var="jvar_jms_destination_type_list" value="queue,topic"/>
		<g:tokenize var="jvar_jms_destination_types" delim=",">  
			${jvar_jms_destination_type_list}
		</g:tokenize> 
	</j:if>

	<style>
		.container-td {
			padding-top: 5px;
		}

		.top-buffer {
			padding-top: 3px;
		}

		.bottom-buffer {
			padding-bottom: 5px;
		}

		#ok-cancel-btns {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		#test_progress {
			display: none;
		}
		
		#test_successful {
			display: none;
		}
		
		#test_failed {
			display: none;
		}
		
		.credentialSuccess {
			font-size:200%;
			vertical-align:sub;
			color:#71e279;
		}

		.credentialFail {
			font-size:200%;
			vertical-align:sub;
			color:#f95050;
		}

		.centerAlignContent {
			text-align: center;
		}

		#cancelButton {
			min-width: 5em;
		}
		
		#okButton {
			min-width: 5em;
		}

		#retryButton {
			min-width: 5em;
			margin-right: 5px;
		}
	</style>

	<input type="hidden" id="cred_type" value="${cred_type}" />
	<input type="hidden" id="cred_data" value="${cred_data}" />
	<input type="hidden" id="timestamp" value="${timestamp}" />
	<table width="100%">
		<tr>
			<td align="center" valign="middle" class="container-td">

				<!-- Test form div -->
				<div id="test_form" class="container-fluid form-horizontal">
					<div class="row bottom-buffer">
						<div class="col-sm-4 control-label">
						<j:choose>
							<j:when test="${cred_type == 'jms'}">Provider URL:</j:when>
							<j:otherwise>Target:</j:otherwise>
						</j:choose>
						</div>
						<div class="col-sm-8">
							<input type="text" id="target" class="form-control" value="${ipaddr}"/>
						</div>
					</div>
					<j:if test="${cred_type != 'jms'}">
						<div class="row bottom-buffer">
							<div class="col-sm-4 control-label">Port:</div>
							<div class="col-sm-4">
								<input type="text" id="port" class="form-control" value="${port}"/>
							</div>
						</div>
					</j:if>

					<!-- JDBC specific fields -->
					<j:if test="${cred_type == 'jdbc'}">
						<div class="row bottom-buffer">
							<div class="col-sm-4 control-label">DB Type:</div>
							<div class="col-sm-8">
								<select id="jdbc_db_type" class="form-control select2" name="jdbc_db_type">
									<option value=""> -- Select -- </option>
									<j:forEach var="jvar_choice" items="${jvar_jdbc_db_types}">  
										<option value="${jvar_choice}">${jvar_choice}</option>
									</j:forEach>
								</select>     
							</div>
						</div>
						<div class="row bottom-buffer">
							<div class="col-sm-4 control-label">DB Name:</div>
							<div class="col-sm-8">
								<input type="text" id="db_name" class="form-control"/>
							</div>
						</div>
					</j:if>

					<!-- JMS-specific fields -->
					<j:if test="${cred_type == 'jms'}">
						<div class="row bottom-buffer">
							<div class="col-sm-4 control-label">Initial Context Factory:</div>
							<div class="col-sm-8">
								<input type="text" id="initial_context_factory" class="form-control"/>
							</div>
						</div>
					</j:if>

					<div class="row bottom-buffer">
						<div class="col-sm-4 control-label">MID Server:</div>
						<div class="col-sm-8">
							<g:ui_reference name="ecc_agent" table="ecc_agent" displayValue="${midName}"/>
						</div>
					</div>

					<div class="row bottom-buffer">
						<div id="ok-cancel-btns" class="col-sm-offset-4 pull-left">
							<g:dialog_buttons_ok_cancel class="form-control"/>
						</div>
					</div>
				</div>
				<!-- End test form div -->

				<!-- Test progress div -->
				<div id="test_progress" class="container-fluid form-horizontal">
					<div class="centerAlignContent bottom-buffer">
						<span class="icon icon-loading"/>
					</div>
					<div class="centerAlignContent bottom-buffer">
						<span id="poll_text">${gs.getMessage('Running credential test ...')}</span>
					</div>
				</div>
				<!-- End test progress div -->

				<!-- Test successful div -->
				<div id="test_successful" class="container-fluid form-horizontal">
					<div class="centerAlignContent bottom-buffer">
						<span class="icon icon-check-circle credentialSuccess"/>
					</div>
					<div class="centerAlignContent bottom-buffer">
						<span id="complete_text">${gs.getMessage('Credential validated')}</span>
					</div>
					<div class="row bottom-buffer">
						<div>
							<j:if test="${cred_type != 'aws'}">
								<button id="retryButton" onclick="handleRetry();" class="btn btn-default">${gs.getMessage('Retry')}</button>
							</j:if>
							<button id="okButton" onclick="handleCancel();" class="btn btn-primary">${gs.getMessage('Ok')}</button>
						</div>
					</div>
				</div>
				<!-- End test successful div -->

				<!-- Test failed div -->
				<div id="test_failed" class="container-fluid form-horizontal">
					<div class="centerAlignContent bottom-buffer">
						<span class="icon icon-cross-circle credentialFail"/>
					</div>
					<div class="centerAlignContent bottom-buffer">
						<span id="err_text">${gs.getMessage('Error')}</span>
					</div>

					<div class="row bottom-buffer">
						<div>
							<j:if test="${cred_type != 'aws'}">
								<button id="retryButton" onclick="handleRetry();" class="btn btn-default">${gs.getMessage('Retry')}</button>
							</j:if>
							<button id="cancelButton" onclick="handleCancel();" class="btn btn-default">${gs.getMessage('Cancel')}</button>
						</div>
					</div>
				</div>
				<!-- End test failed div -->

			</td>
		</tr>
	</table>
	
	<script>
	var e = $("target");
	if (e)
	   e.focus();
	</script>
</j:jelly>