<g:ui_form>
   <input type="hidden" id="cancelled" name="cancelled" value="false"/>
   <input type="hidden" id="transfer_order_line" name="transfer_order_line" value="${sysparm_sysID}"/>
   <input type="hidden" id="transfer_order" name="transfer_order" value="${sysparm_transfer_order}"/>
   <g:evaluate>
      var transfer_order_line = '${sysparm_sysID}';
      var transfer_order = '${sysparm_transfer_order}';
   </g:evaluate>
   <table width="100%">
      <tr>
	  <td rowspan="5" nowrap="true" width="110px" style="vertical-align:top;">
 	     <img src="images/plugin_activate.gifx" alt="${gs.getMessage('Activate/Upgrade')}" style="vertical-align:top;" />
	  </td>
      </tr>
      <tr>
		  <td>
<div class="form-group is-required form-horizontal">
	<div class="col-md-6 text-right">
		<g:form_label>
			${gs.getMessage('Quantity to Receive')}
		</g:form_label>
	</div>
	<div class="col-md-6">
		<input class="form-control" name="quantity_received" id="quantity_received"/>
	</div>
</div>		  
         </td>
      </tr>
        <tr id="dialogbuttons">
            <td colspan="2" align="right">
                <g:dialog_buttons_ok_cancel ok="return actionOK();" cancel="return cancel();"/>
            </td>
        </tr>
   </table>
</g:ui_form> 