<j:set var="jvar_page_id" value="${RP.getWindowProperties().get('portal_page_id')}"/>
<g:evaluate var="jvar_gr" object="true" jelly="true">
	// find existing portals
	var pm2m = new GlideRecord("sp_portal");
	pm2m.query();
	pm2m;
</g:evaluate>

<j:while test="${pm2m.next()}">
	<div style="padding:4px;" onclick="goThere('${pm2m.url_suffix}', '${jvar_page_id}')">/${pm2m.url_suffix}/?id=${jvar_page_id}</div>
</j:while>
