<g:ui_form>
  <input type="hidden" id="cancelled" name="cancelled" value="false"/>
  <input type="hidden" id="table" name="table" value=""/>
     <table width="100%">
	<tr>
		<td rowspan="5" nowrap="true" width="110px" style="vertical-align:top;">
 			<img src="images/plugin_activate.gifx" alt="${gs.getMessage('Activate/Upgrade')}" style="vertical-align:top;" />
		</td>
	</tr>
	<tr>
		<td colspan="2"><label>${gs.getMessage('Turn on ratings for the following table')}</label></td>
	</tr>
        <tr>
                <td><label for="${jvar_table_query}" onclick="" dir="">Table:</label></td>
		<td><g:ui_reference name="sys_db_object" table="sys_db_object"/></td> 
        </tr>
        <tr id="dialogbuttons">
                <td colspan="2" align="right">
                        <g2:dialog_button onclick="return onSubmit();" name="ok_button" id="ok_button">${gs.getMessage('OK')}</g2:dialog_button>
                        <g2:dialog_button onclick="cancel();" name="cancel_button" id="cancel_button">${gs.getMessage('Cancel')}</g2:dialog_button>
                </td>
        </tr>
    </table>
</g:ui_form>