<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="true" xmlns:j="jelly:core" xmlns:g="glide" xmlns:g2="null">
  <g:requires name="styles/heisenberg/heisenberg_all.css" includes="true" />

  <!-- Parameter:  sysparm_sys_id  - SysID of the store app record -->

  <g:evaluate jelly="true">
    var sysId = jelly.sysparm_sys_id;
	
    var info = new UninstallApplicationInfo(sysId);
    var numTables = info.getNumTables();
    var numRows = info.getNumRowsOfData();
    var numFields = info.getNumFieldsOnOtherTables();
	var numTablesWithoutScopePrefix = info.getNumTablesWithoutScopePrefix();
    // unused: var numOtherTables = info.getNumOtherTablesThatHaveFields();

    var tblMsg = gs.getMessage("Table(s) in this application: {0}", numTables);
    var gotoTblMsg = gs.getMessage("Show tables");

    var recMsg = gs.getMessage("Record(s) in this application: {0}", numRows);
    var otherFieldMsg = null;
    if (numFields > 0)
      otherFieldMsg = gs.getMessage("Fields defined on tables outside of this application: {0}", numFields);

    var dialogTitle = gs.getMessage("You are uninstalling the application: {0}", info.getApplicationName());
    var warningIntro = gs.getMessage("Below are this application's tables that have other applications' fields on them.  Uninstalling this application may compromise these dependent applications.");

    var errorIntro = gs.getMessage("This application's tables can not be deleted because one or more of them are extended by tables in dependent applications.  The extending tables in the dependent applications must be deleted before deleting these.");

    var cbShown = true; // call to processor takes cb.checked...
    var cbChecked = (numTables+numFields>0) &amp;&amp; info.getActive();
    var cbEnabled = (info.getExtensionWarningCount() == 0 &amp;&amp; cbChecked &amp;&amp; numTablesWithoutScopePrefix == 0);
    var cbText;
    if (numTables > 0) {
      cbText = gs.getMessage("Retain tables and data");
    } else if (cbEnabled) {
      cbText = gs.getMessage("Retain fields and data");
    } else {
      cbText = "";
	  cbShown = false;
    }
    //var dbug = 'show='+cbShown+'  chkd='+cbChecked+'  ena='+cbEnabled;
    //gs.breaker(dbug);
    var disableOk = info.getExtensionWarningCount() > 0 &amp;&amp; !info.getActive();

  </g:evaluate>
  <style type="text/css">
    table { margin-top: 10px; margin-bottom: 15px; }
    div.row { margin-bottom: 15px }
  </style>

<div class="modal-dialog modal-sm">
 <div id="uninstall_app_dialog_container">
     <div class="annotation-wrapper">
         $[dialogTitle].$[SP]
     </div>

<!-- if has tables, Msg & List details of row counts -->
<j:if test="${info.getRcSize() > 0}">
 <ul>
  <li>$[tblMsg]$[SP]$[SP]$[SP]<a class="navigation_link" href="sys_db_object_list.do?sysparm_query=sys_scope%3D$[sysId]">($[gotoTblMsg])</a></li>
  <li>$[recMsg]</li>

 <!-- if has fields on other tables, Msg -->
 <j:if test="${otherFieldMsg != null}">  <!-- out-of-scope fields are defined -->
   <li>${otherFieldMsg}</li>
 </j:if>
 </ul>
</j:if>

<j:if test="${info.getFieldWarningCount() > 0}">  <!-- Give specific warnings -->
<div class="annotation-wrapper">${warningIntro}</div>
 <table class="table">
  <thead>
   <tr>
    <th>Table</th>
    <th>Dependent Application</th>
    <th>Added Field</th>
   </tr>
  </thead>
  <tbody>
   <j:while test="${info.wNext()}">
    <tr>
     <td>
      <span title="${info.getWTableName()}">
       <a href="${info.getWTableUrl()}">${info.getWTableLabel()}</a>
      </span>
     </td>
     <td>
      <span title="${info.getWAppScope()}">
       <a href="${info.getWAppUrl()}">${info.getWAppName()}</a>
      </span>
     </td>
     <td>
      <span title="${info.getWObjectName()}">
       <a href="${info.getWObjectUrl()}">${info.getWObjectLabel()}</a>
      </span>
     </td>
    </tr>
   </j:while>
  </tbody>
 </table>
</j:if>

    <j:if test="${info.getExtensionWarningCount() > 0}">  <!-- Give specific warnings -->
     <div class="annotation-wrapper">${errorIntro}
     </div>
     <table class="table">
      <thead>
       <tr>
        <th>Table</th>
        <th>Dependent Application</th>
        <th>Extending Table</th>
       </tr>
      </thead>
      <tbody>
       <j:while test="${info.wNext()}">
        <tr>
         <td>
          <span title="${info.getWTableName()}">
            <a href="${info.getWTableUrl()}">${info.getWTableLabel()}</a>
          </span>
         </td>
         <td>
          <span title="${info.getWAppScope()}">
            <a href="${info.getWAppUrl()}">${info.getWAppName()}</a>
          </span>
         </td>
         <td>
          <span title="${info.getWObjectName()}">
            <a href="${info.getWObjectUrl()}">${info.getWObjectLabel()}</a>
          </span>
         </td>
        </tr>
       </j:while>
      </tbody>
     </table>
    </j:if>

    <!-- The Checkbox, maybe shown, maybe enabled -->
    <div class="row">
      <div class="col-sm-12">
        <span class="input-group-checkbox">
          <j:if test="${cbShown}">
            <j:if test="${cbEnabled}">
              <j:if test="${cbChecked}">
                <input id="cb" class="checkbox" type="checkbox" name="cb"
                 checked="checked"/>
              </j:if><j:if test="${!cbChecked}">
                <input id="cb" class="checkbox" type="checkbox" name="cb"/>
              </j:if>
            </j:if>
            <j:if test="${!cbEnabled}">
              <j:if test="${cbChecked}">
                <input id="cb" class="checkbox" type="checkbox" name="cb"
                       disabled="disabled" checked="checked"/>
              </j:if><j:if test="${!cbChecked}">
                <input id="cb" class="checkbox" name="cb" disabled="disabled" />
              </j:if>
            </j:if>
          </j:if>
          <label for="cb" class="checkbox-label">${cbText} </label>
        </span>
      </div>
    </div>

    <footer class="modal-footer">
      <j:if test="${!disableOk}">
        <button id="cancel_button" onClick="gUninstallAppDialog.exit()"
		  data-dismiss="modal" class="btn btn-default">${gs.getMessage('Cancel')}</button>
        <button id="ok_button" onClick="gUninstallAppDialog.uninstallApp()"
		  data-dismiss="modal" class="btn btn-primary">${gs.getMessage('OK')}</button>
      </j:if>
      <j:if test="${disableOk}">
        <button id="cancel_button" onClick="gUninstallAppDialog.exit()"
		  data-dismiss="modal" class="btn btn-default">${gs.getMessage('Cancel')}</button>
      </j:if>
    </footer>
  </div>
</div>
</j:jelly>