<g:ui_form>
    <table cellpadding="0" cellspacing="0" width="500px">
        <g:ui_progress_worker worker_id="${sysparm_pworker_sysid}"/>
        <tr>
          <td>
            <table id="completed_links" style="display: none" width="100%">
              <tr>
                <td>
                  <hr/>
                  <div class="caption">${gs.getMessage('Next steps...')}</div>
                </td>
              </tr>
              <tr id="update_source_link">
                <td>
            <a  class="breadcrumb" href="sys_update_set_list.do">${gs.getMessage('Update Sets')}</a>$[SP] ${gs.getMessage('Go to installed update sets')}
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>

      <j:if test='${pgr.state == "complete"}'>
        <script>      
          var el = gel("completed_links");
          el.style.display = "";

	  if('$[sysparm_refresh_navigator]' == 'true')
            refreshNav();
	  if('$[sysparm_refresh_applist]' == 'true')
          {
            var top = getTopWindow();
            if (typeof top.g_application_picker != 'undefined')
	        top.g_application_picker.fillApplications();
          }

        </script>
      </j:if>
</g:ui_form>