<g:ui_form>
    <table cellpadding="0" cellspacing="0" width="500px">
        <g:ui_progress_worker worker_id="${sysparm_pworker_sysid}"/>
        <tr>
          <td>
            <table id="completed_links" style="display: none" width="100%">
              <tr>
                <td>
                  <hr/>
                  <div class="caption">${gs.getMessage('Next steps...')}</div>
                </td>
              </tr>
              <tr id="update_source_link">
                <td>
            <a  class="breadcrumb" href="sys_update_set.do?sys_id=${sysparm_update_set_sysid}">${gs.getMessage('Update Set')}</a>$[SP] ${gs.getMessage('Go to installed update set')}
                </td>
              </tr>
            <tr id="update_set_log_link">
              <td>
                <a class="breadcrumb" href="sys_update_set_log_list.do?sysparm_query=update_set=${sysparm_update_set_sysid}&amp;sysparm_order=status">${gs.getMessage('Commit log')}</a>$[SP] ${gs.getMessage('View the log for this update set commit
 ')}</td>
            </tr>
            <tr id="upgrade_history_link">
              <td>
                <g:evaluate jelly="true">
                    var history = new GlideRecord("sys_upgrade_history");
                    history.query("update_set", jelly.sysparm_update_set_sysid);
                    history.orderByDesc("sys_created_on");
                    history.next();
                    var history_sys_id = history.sys_id;
                </g:evaluate>
                <a class="breadcrumb" href='sys_upgrade_history.do?sys_id=${history_sys_id}' >${gs.getMessage('Upgrade History')}</a>$[SP] ${gs.getMessage('View the history log for this update set commit')}
              </td>
            </tr>
            </table>
          </td>
        </tr>
    </table>
      <j:if test='${pgr.state == "complete"}'>
        <script>      
          var el = gel("completed_links");
          el.style.display = "";

	  if('$[sysparm_refresh_navigator]' == 'true')
            refreshNav();
	  if('$[sysparm_refresh_applist]' == 'true')
          {
            var top = getTopWindow();
            if (typeof top.g_application_picker != 'undefined')
	        top.g_application_picker.fillApplications();
          }

        </script>
      </j:if>
</g:ui_form>