<g:ui_form>
    <table cellpadding="0" cellspacing="0" width="500px">
        <g:ui_progress_worker worker_id="${sysparm_pworker_sysid}"/>
        <tr>
          <td>
            <table id="completed_links" style="display: none" width="100%">
              <tr>
                <td>
                  <hr/>
                  <div class="caption">${gs.getMessage('Next steps...')}</div>
                </td>
              </tr>
              <tr id="update_source_link">
                <td>
                  <a class="breadcrumb" href="sys_update_set_source.do?sys_id=${sysparm_update_source_sysid}">${gs.getMessage('Update Source')}</a>$[SP]
                  ${gs.getMessage('Return to Update Source')}
                </td>
              </tr>
              <tr id="retrieved_link">
                <td>
                  <a class="breadcrumb" href="sys_remote_update_set_list.do">${gs.getMessage('Retrieved Update Sets')}</a>$[SP]
                  ${gs.getMessage('Go to Retrieved Update Sets')}
                </td>
              </tr>
            <tr id="update_set_log_link">
              <td>
                <a class="breadcrumb" href="sys_update_set_log_list.do?sysparm_query=update_source=${sysparm_update_source_sysid}">${gs.getMessage('Synchronize log')}</a>$[SP]
                ${gs.getMessage('View the log for this synchronization')}
              </td>
            </tr>
            </table>
          </td>
        </tr>
    </table>
      <j:if test='${pgr.state == "complete"}'>
        <script>
          var el = gel("completed_links");
          el.style.display = "";
        </script>
      </j:if>
</g:ui_form>