<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">

<g:evaluate var="jvar_to_version">
    var toVersion ="";
    var gr= new GlideRecord('sys_upgrade_history');
    gr.orderByDesc('sys_created_on');
    gr.query();   
    if(gr.next())
    toVersion = gr.to_version;
    toVersion;
</g:evaluate>

<g:messages>
    Failed
    loading 
    fix
    index
    true
    false
    none
    started
    no thread
    Complete
    running
    Your upgrade terminated abnormally. Please contact support
    Loading updated system data into the database. This step is not expected to take more than a few seconds.
    The system is applying a fix job to update a large quantity of system data. This step may, depending on the fix, take several minutes, although most fix jobs complete much more quickly than this.
    The system is adding an index to a database table. On large tables, this step can take several minutes, and in extreme cases up to an hour. Most indexes complete much more quickly than this.
    Not running
</g:messages>

<g:evaluate var="jvar_from_version">
    var fromVersion ="";
    var gr= new GlideRecord('sys_upgrade_history');
    gr.orderByDesc('sys_created_on');
    gr.query();   
    if(gr.next())
    fromVersion = gr.from_version;
    fromVersion;
</g:evaluate>

<span class="form_title">
         <b>${gs.getMessage("Upgrade:")}</b>$[SP]</span>
         <span id="img_status_text"></span>
         <span id="img_status"></span>$[SP]
         <span id="file_progress_field" style="font-size:smaller; color: #666; font-weight:normal;">(${gs.getMessage("File progress:")}$[SP]<span id="file_progress"/>)
</span>


<p style="border-top: 1px Solid #e2e2e2; margin:0px; padding:0px; margin-top:10px; margin-bottom:10px;" />

<table id="startedended_field" style="font-size:smaller; color: #666; font-weight:normal; display:inline; visibility:hidden;">
  <tbody>
     <tr>
        <td style="width:60px;">
           ${gs.getMessage("Started:")}
        </td>
        <td>
           <b><span id="start_time"/></b>$[SP]
        </td>
     </tr>

     <tr>
        <td style="width:60px;">     
           <span id = "end_time_block">
             ${gs.getMessage("Ended:")}
           </span>
        </td>
        <td>
           <b><span id ="end_time"/></b>
        </td>   
    </tr>
  </tbody>
</table>

<div id = "progress_table">

<table id="mainTable" cellspacing="0" cellpadding="0" width="100%" style="display:none;">
   <tbody>
         <tr>
            <td colspan = "2" style="border-right:1px solid #c3c3c3; border-left:1px solid #c3c3c3; border-top:1px solid #c3c3c3; background-color: #E6E6E6;">
                 <div id="progress_bar" style="background-color: #F2F2F2; margin: 10px;">
                      <div id="progress" class="progress_bar"></div>
                 </div>
            </td>
         </tr>
               
         <tr>
             <td style="vertical-align: text-top; border-left:1px solid #c3c3c3; border-bottom:1px solid #c3c3c3; background-color: #E6E6E6;">
                  <span style = "width: 150px; margin-left: 10px; white-space: nowrap;"><span id="plugin_progress"/>$[SP]${gs.getMessage("of")}$[SP]<span id="plugin_total"/></span>
             </td>
             <td style="height:40px; vertical-align:text-top; border-right:1px solid #c3c3c3; border-bottom:1px solid #c3c3c3; background-color: #E6E6E6;">
                  ${gs.getMessage("Currently upgrading plugin:")}$[SP]<span id="plugin_name"/>              
                  <span id="step_detail" style="display:none"/>               
             </td>
         </tr>

         <tr style="height:15px; background-color: white;">
         </tr>

         <tr style = "vertical-align:text-top; background-color: #F2F2F2;">
            <td style="width: 150px; padding-top: 10px;">
                 <span style = "width: 150px; margin-left: 10px; white-space: nowrap;">${gs.getMessage("Current Step:")}</span>
            </td>
            <td style="height: 40px;" colspan="3">
                 <span id ="last_message" style="width:100%;"></span>
            </td>
         </tr>

         <tr style="background-color: #F2F2F2;">
             <td style="margin-left: 10px; border-top: 1px dotted black;">
                   <span style="margin-left: 10px">${gs.getMessage("About this step:")}</span>
             </td>
             <td style="padding-top: 10px; padding-bottom: 10px; border-top: 1px dotted black;">
                 <div>
                    <span id ="about_step1" style="display: none"></span>
                    <span id ="about_step2"></span>
                 </div>
            </td>
         </tr>
   </tbody>      
</table>

</div>

<div id="last_version_update" style="height:100px; width:100%; padding:10px; background-color:#E6E6E6; border:1px solid lightGrey; display:none;">
    <div>${gs.getMessage("No upgrade was started since last system startup.")}</div>
    <div id ="from_to_version">
         ${gs.getMessage("Last upgraded version from")}$[SP]                                                                                                                                         <span id= "from_version">
            ${jvar_from_version}
         </span>
         $[SP]${gs.getMessage("to")}$[SP]${jvar_to_version}  
    </div>
         ${gs.getMessage("Please click")}$[SP]<a href="sys_upgrade_history_list.do" style="color:blue;">${gs.getMessage("here")}$[SP]</a>${gs.getMessage("to see report history.")}                     
</div>

<!--success message-->
<div id="complete_update_message" class="system_message outputmsg_success" style="display:none;">
	<table cellspacing="0" cellpadding="0" border="0" class="background_transparent">
		<tr>
		    <td class="message_image"><img src="images/outputmsg_success.gifx" alt="${gs.getMessage('Informational Message')}" width="16" height="16"/></td>		
		    <td width="100%">${gs.getMessage("Upgrade from version")}$[SP]${fromVersion}$[SP]${gs.getMessage("to")}$[SP]${toVersion}$[SP]${gs.getMessage("finished successfully.")}
                    </td>		
		</tr>		
	</table>
</div>

<!--failed message-->
<div id="failed_update_message" class="system_message outputmsg_error" style="display:none;">
	<table cellspacing="0" cellpadding="0" border="0" class="background_transparent">
		<tr>
		    <td class="message_image"><img src="images/outputmsg_error.gifx" alt="${gs.getMessage('Error Message')}" width="16" height="16"/></td>		
		    <td width="100%">${gs.getMessage("Upgrade failed.")}</td>		
		</tr>		
	</table>
</div>


<button id="refresh" type="button" onClick="getUpgradeData()" style="visibility:hidden;">${gs.getMessage("refresh")}</button>

<div id="thread" style="display:none;">
  <b>${gs.getMessage("Thread status:")}</b><span id="thread_running"/>
</div>

</j:jelly>

