<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<j:set var="sysparm_processing" value="sys_upload"/>
	<g:requires name="scripts/lib/jquery_includes.js" />  	
	
	<style>
		table { 
	 	   border-spacing: 5px;
	    	border-collapse: separate;
			padding: 5px;			
		}		
	</style>

	<form id="upload_form" name="upload_form" action="sn_appclient_upload_processor.do" method="post">
			
    <p>${gs.getMessage("Install or update an application (maint only)")}</p>
    <div><img height="5" src="images/s.gifx" alt="" /></div>

	<div> 
    	<div>
			<input id="upload_file" type="radio" name="upload_type" value="file" /><label for="upload_file">From File</label>
		</div>
		<div>
			<input id="upload_url" type="radio" name="upload_type" value="url" /><label for="upload_url">From Nexus</label>
			<input id="repo_authenticated" type="hidden" />
			<table class="url_controls" style="display:none">
				<tr>
		    		<td>Repository</td>
		    		<td>
						<select name="repo_url" id="repo_url">
							<option value="https://artifact.devsnc.com/service/local/repositories/dev-snc-releases">dev-snc-releases</option>
							<option value="https://artifact.devsnc.com/service/local/repositories/dev-snc-snapshots">dev-snc-snapshots</option>
						</select>
					</td>
			    </tr>
				<tr>
		    		<td>Username</td>
		    		<td><input name="repo_username" id="repo_username" size="20" /></td>
			    </tr>
				<tr>
		    		<td>Password</td>
		    		<td><input name="repo_password" id="repo_password" size="20" type="password" /></td>
			    </tr>
				<tr>
		    		<td> </td>
		    		<td><input name="repo_auth" id="repo_auth" type="button" value="Authenticate" /></td>
			    </tr>				
			</table>
		</div>
	</div>
        
    <div id="content" style="margin-top:20px;">	    
			<div class="file_controls" style="display:none">				
					<table>
		    			<tr>
		    				<td><input size="41" id="attachFile" name="attachFile" type="file" /></td>
			    		</tr>
			    		<tr class="submit_controls" style="display:none">
			    			<td><input id="load_demo" name="load_demo" type="checkbox" value="true" /><label for="load_demo">Load demo data</label></td>	
			    		</tr>		    		
						<tr class="submit_controls" style="display:none">
							<td>
								<div style="margin-top:30px;">
									<input value="${gs.getMessage('Install')}" onclick="refillPicker()" style="width: 85px;" width="85" type="submit" />
								</div>
							</td>
						</tr>
			    	</table>
	    	</div>
    
		    <div class="repo_controls" style="display:none">
			    	<table>							
						<tr>
			    			<td>GroupId</td>
			    			<td>
								<select name="group_id" id="group_id">
									<option value="com.snc">com.snc</option>
								</select>
							</td>
		    			</tr>
			    		<tr>
			    			<td>ArtifactId</td>
			    			<td><select name="artifact_id" id="artifact_id"></select></td>
		    			</tr>
		    			<tr class="artifact_controls" style="display:none">
		    				<td>Version</td>
		    				<td><select name="artifact_version" id="artifact_version"></select></td>
			    		</tr>		    		
			    		<tr class="submit_controls" style="display:none">
			    			<td>Load demo data</td>
		    				<td><input id="load_demo" name="load_demo" type="checkbox" value="true" /></td>
		    			</tr>
						<tr class="submit_controls" style="display:none">
							<td>
								<div style="margin-top:30px;">
									<input value="${gs.getMessage('Install')}" onclick="refillPicker()" style="width: 85px;" width="85" type="submit" />
								</div>
							</td>
						</tr>
			    	</table>
		    </div>		    
    </div>
	</form>
</j:jelly>