<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
   
   <g:evaluate>
      var gr = new GlideRecord("sys_dictionary");
      gr.addQuery("name", '${HTML,JS:sysparm_table}');
      gr.addQuery("element", '${sysparm_field}');
      gr.query();
      gr.next();
   </g:evaluate>

   <div id="output_messages">
      <div class="system_message outputmsg_error">
         <table cellspacing="0" cellpadding="0" border="0" class="background_transparent">
            <tr>
               <td class="message_image">
                  <img src="images/outputmsg_error.gifx" alt="${gs.getMessage('Error Message')}" />
               </td>
               <td width="100%">
                  The wiki link you have clicked cannot be resolved. For this link to work you must create a dependent field value.  See our$[SP]<a target="_blank" href="http://docs.servicenow.com/?context=Wiki_plugin"><b>online wiki</b></a>$[SP]for details.
               </td>
            </tr>
            <tr><td>$[SP]</td></tr>
            <tr>
               <td class="message_image">
                  <img src="images/outputmsg_error.gifx" alt="${gs.getMessage('Error Message')}" />
               </td>
            <j:if test="${gs.hasRole('admin')}">
               <td colspan="2" valign="center" >
                  To resolve the broken link, fill in the dependent field$[SP]<a class="breadcrumb" href="sys_dictionary.do?sys_id=${gr.sys_id}"><b>here</b></a>, with the appropriate field name.
               </td>
            </j:if>
            <j:if test="${!gs.hasRole('admin')}">
               <td valign="center">
                  Contact your system administrator to resolve this problem.
               </td>
            </j:if>
         </tr>
         </table>
      </div>
   </div>
</j:jelly>