<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
   <g2:evaluate var="jvar_image_exists">
      var imageGR = new GlideRecord("db_image");
      var exists = imageGR.get('name','${JS:jvar_image_name}');
      exists;
   </g2:evaluate>

   <g2:evaluate jelly="true">
      var imageInstance = new GlideRecord(jelly.jvar_table_name);
      imageInstance.addQuery(jelly.jvar_field_name, 'CONTAINS', jelly.jvar_image_name);
      imageInstance.query();
   </g2:evaluate>

   <div>
      <h2 style="padding-left: 5px; padding-bottom: 8px; border-bottom: 1px solid #D0D0D0;" > Image: ${jvar_image_name}</h2>
   </div>
	
   <j2:if test="$[jvar_image_exists == 'true']">
      <div style="padding-left:12px;" id="imageInfo"> 
         <img style="padding-left: 4px" src="${jvar_image_name}x" alt="${jvar_image_name}" /> 
      </div>
      <br/>
      <ul>
         <a style="color:blue" href="javascript:uploadImage();"><li>Replace Image...</li></a>
      </ul>
   </j2:if>
	
   <j2:if test="$[jvar_image_exists != 'true']">
      <div id='imageInfo'>${jvar_image_name} does not exist.</div>
      <br/>
      <ul>
         <a style="color: blue" href="javascript:uploadImage();"> <li> Upload Image... </li> </a>
      </ul>
   </j2:if>

   <j2:if test="$[jvar_image_refs == true]">
      <h2 style="padding-left: 5px; border-bottom: 1px solid #D0D0D0; padding-top: 3px;">Links</h2>
      <p>The following knowledge base articles link to this image:</p>
      <div>
         <j2:while test="$[imageInstance.next()]">
            <ul>
               <a style="color:blue" href="wiki_page.do?title=$[imageInstance.${jvar_dependent_field}]&amp;sysparm_field=$[jvar_table_name].$[jvar_dependent_field]"> <li>$[imageInstance.${jvar_dependent_field}]</li> </a>
            </ul>
         </j2:while>
      </div>
   </j2:if>

   <script>
      function uploadImage() {
         g_dialog = new GlideDialogWindow('html_insert_image_dialog');
         g_dialog.setTitle('Insert/Modify Image');
         g_dialog.setPreference('auto_new_image', 'true');
         g_dialog.setPreference('auto_new_image_name', '${JS:jvar_image_name}');
         g_dialog.setPreference('force_replace', 'true');
         g_dialog.setPreference('action', imageUploaded);
         g_dialog.render();
      }
		
      function imageUploaded(param) {
         var imageName = '${JS:jvar_image_name}x';
         var infoDiv = gel('imageInfo');
         infoDiv.innerHTML = "";
         var img = cel('img');
         img.src = imageName + "?" + guid();
         img.alt = imageName;
         infoDiv.appendChild(img);
			
         g_dialog.destroy();
      }
   </script>
</j:jelly>