<?xml version="1.0"?>
<j:jelly xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null" trim="false">
  <g:inline template="ie_checker.xml"/>
  <g:requires name="styles/workflow_theme.generated.css"/>
  <g:requires name="scripts/lib/jquery2_includes.js" includes="true"/>
  <g:evaluate var="jvar_show_custom_activity_tabs" expression="GlideProperties.getBoolean('glide.workflow.show_custom_activity_tabs', false) ${AND} gs.hasRole('activity_creator')"/>
  <g:list_default table="wf_workflow_version" view="workflow_welcome"/>
  <j:set var="jvar_handle_list_printing" value="true"/>
    <j2:if test="$[!jvar_isMSIE8]">
      <g:requires name="scripts/heisenberg/heisenberg_all.js" includes="true"/>
    </j2:if>
  <g:evaluate jelly="true">
    ListProperties.setHasTopNav(false);
    ListProperties.setHasTopButtons(false);
    ListProperties.setHasTitle(false);
    ListProperties.setHasTitleContextMenu(false);
    ListProperties.setToggleHeader(false);
    ListProperties.setHasFilter(false);
    ListProperties.setHasBreadcrumbs(false);
    ListProperties.setHasSearch(false);
    ListProperties.setHasTopVCR(false);
    ListProperties.setHasBottomVCR(true);
    ListProperties.setHasHeader(true);
    ListProperties.setHasHeaderContextMenu(true);
    ListProperties.setHasListMechanic(false);
    ListProperties.setHasRowContextMenu(true);
    ListProperties.setShowLinks(false);
    ListProperties.setHasPopup(false);
    ListProperties.setShowEmpty(true);
    ListProperties.setHasBottomNav(true);
    ListProperties.setHasActions(false);
    ListProperties.setHasBottomVCR(true);
    ListProperties.setCanChangeView(false);
    ListProperties.setCanGroup(false);
    ListProperties.setHiddenQuery("active=true")
    ListProperties.setOrderColumn("sys_updated_on");
    ListProperties.setListEditType('disabled');
  </g:evaluate>

  <div class="workflow-welcome-tab">
    <div class="col-md-12">
      <div class="width-control">
        <div class="sn-navhub nav-div">
          <div class="sn-navhub-content nav-div-content ">
            <div class="btn sn-navhub-btn sn-navhub-btn_text wflistbutton state-active" aria-controls="segmented1" data-toggle="segmented" href="#segmented1">${gs.getMessage("Published")}</div>
            <div class="btn sn-navhub-btn sn-navhub-btn_text wflistbutton" data-toggle="segmented" href="#segmented2" aria-controls="segmented2">${gs.getMessage("Checked Out")}</div>
            <div class="btn sn-navhub-btn sn-navhub-btn_text wflistbutton" data-toggle="segmented" href="#segmented3" aria-controls="segmented3">${gs.getMessage("Help")}</div>
            <a class="btn btn-primary new-btn" onClick="top.workflowIDE.newWorkflow()">${gs.getMessage("New Workflow")}</a>
          </div>
        </div>
        <div class="list-div">
          <div id="segmented1" aria-hidden="false" role="tabpanel" class="segmented-pane active" aria-labelledby="segmentedtab1">
            <j2:set var="sysparm_query" value="published=true^EQ" />
            <g:inline template="list2_default.xml" />
          </div>
          <div id="segmented2" aria-hidden="true" role="tabpanel" class="segmented-pane active" aria-labelledby="segmentedtab2" style="display:none;">
            <g2:evaluate var="sysparm_query">"checked_out_by="+gs.getUser().getID()+"^EQ";</g2:evaluate>
            <g:inline template="list2_default.xml" />
          </div>
          <div id="segmented3" aria-hidden="true" role="tabpanel" class="segmented-pane active widget-content" aria-labelledby="segmentedtab3" style="display:none;">
            <div class="bordered-link btn" onclick="window.open('https://www.youtube.com/playlist?list=PLCOmiTb5WX3o_ksSvcNhKlAfh4yZOZlYz');">
              <h1>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="46px" height="46px" viewBox="0 0 46 46" style="enable-background:new 0 0 46 46;" xml:space="preserve">
                  <g>
                    <path d="M43.4,6.8H2.6C1.1,6.8,0,8,0,9.4v27.3c0,1.4,1.1,2.6,2.6,2.6h40.9c1.4,0,2.6-1.1,2.6-2.6V9.4C46,8,44.9,6.8,43.4,6.8    M6.3,37.5H2.6c-0.5,0-0.9-0.4-0.9-0.9v-2.9h4.6V37.5z M6.3,32.1H1.7V28h4.6V32.1z M6.3,26.3H1.7v-5.1h4.6V26.3z M6.3,19.4H1.7   v-5.1h4.6V19.4z M6.3,12.6H1.7V9.4c0-0.5,0.4-0.9,0.9-0.9h3.7V12.6z M38,37.5H8v-29H38V37.5z M44.3,36.6c0,0.5-0.4,0.9-0.9,0.9   h-3.7v-3.7h4.6V36.6z M44.3,32.1h-4.6V28h4.6V32.1z M44.3,26.3h-4.6v-5.1h4.6V26.3z M44.3,19.4h-4.6v-5.1h4.6V19.4z M44.3,12.6   h-4.6V8.5h3.7c0.5,0,0.9,0.4,0.9,0.9V12.6z" />
                    <path d="M32.4,22.6L17,13.6l0,17.9L32.4,22.6z M29,22.6l-10.2,6l0-11.9L29,22.6z" />
                  </g>
                </svg>
              </h1>
              <a target="_new" href="https://www.youtube.com/playlist?list=PLCOmiTb5WX3o_ksSvcNhKlAfh4yZOZlYz">${gs.getMessage('Workflow
Videos')}</a>
            </div>
            <div class="bordered-link btn" onclick="window.open('http://docs.servicenow.com/?context=CSHelp:Workflow_Overview');">
              <h1>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="46px" height="46px" viewBox="0 0 46 46" style="enable-background:new 0 0 46 46;" xml:space="preserve">
                  <g>
                    <path d="M19.4,14.1L19.2,14C11.6,10.6,5,14,4.7,14.1c-0.4,0.2-0.6,0.8-0.4,1.2c0.2,0.4,0.8,0.6,1.2,0.4c0.1,0,6.2-3.1,13,0l0.1,0.1   c0.1,0.1,0.2,0.1,0.4,0.1c0.3,0,0.7-0.2,0.8-0.5C20,14.8,19.8,14.3,19.4,14.1" />
                    <path d="M19.4,21.2l-0.2-0.1C11.6,17.7,5,21,4.7,21.2c-0.4,0.2-0.6,0.8-0.4,1.2c0.2,0.4,0.8,0.6,1.2,0.4c0.1,0,6.2-3.1,13,0   l0.1,0.1c0.1,0.1,0.2,0.1,0.4,0.1c0.3,0,0.7-0.2,0.8-0.5C20,21.9,19.8,21.4,19.4,21.2" />
                    <path d="M45.4,41.9l-0.2-0.1c-11-4.9-20.6-0.7-22,0l-0.1,0c-11.7-5.2-21.8-0.1-22.2,0.1c-0.4,0.2-0.6,0.8-0.4,1.2   c0.2,0.4,0.8,0.6,1.2,0.4c0.1,0,9.7-5,20.7-0.1l0.2,0.1c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.2,0c0.2,0,0.4,0,0.6-0.1   c0.1,0,9.7-5,20.7-0.1l0.2,0.1c0.1,0.1,0.2,0.1,0.4,0.1c0.3,0,0.7-0.2,0.8-0.5C46,42.6,45.8,42.1,45.4,41.9" />
                    <path d="M19.4,28.2l-0.2-0.1C11.6,24.7,5,28.1,4.7,28.3c-0.4,0.2-0.6,0.8-0.4,1.2c0.2,0.4,0.8,0.6,1.2,0.4c0.1,0,6.2-3.1,13,0   l0.1,0.1c0.1,0.1,0.2,0.1,0.4,0.1c0.3,0,0.7-0.2,0.8-0.5C20,29,19.8,28.4,19.4,28.2" />
                    <path d="M27.2,15.8c0.1,0,0.3,0,0.4-0.1c0.1,0,6.1-3.1,13,0c0,0,0.1,0,0.1,0c0.4,0.2,0.9,0,1.1-0.5c0.2-0.4,0-1-0.5-1.2l-0.1,0   c-7.6-3.4-14.2-0.1-14.4,0.1c-0.4,0.2-0.6,0.8-0.4,1.2C26.6,15.7,26.9,15.8,27.2,15.8" />
                    <path d="M27.2,22.9c0.1,0,0.3,0,0.4-0.1c0.1,0,6.1-3.1,12.9,0l0.1,0.1c0.4,0.2,0.9,0,1.1-0.5c0.2-0.4,0-1-0.5-1.2l-0.1,0   c-7.6-3.4-14.2-0.1-14.4,0.1c-0.4,0.2-0.6,0.8-0.4,1.2C26.6,22.7,26.9,22.9,27.2,22.9" />
                    <path d="M45.6,5.8c-0.1-0.1-0.2-0.2-0.3-0.3l-0.2-0.1c-10.8-6.2-20.5-0.9-22,0l-0.1,0C11.3-1.4,0.8,5.5,0.7,5.5   c0,0-0.1,0.1-0.1,0.1C0.3,5.8,0,6.1,0,6.5v32.7c0,0.5,0.4,0.9,0.9,0.9c0,0,0.1,0,0.1,0c0.2,0,0.4,0,0.6-0.1c0.1,0,9.7-5,20.7-0.1   l0.2,0.1c0.1,0.1,0.2,0.1,0.4,0.1c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0.2,0,0.4,0,0.6-0.1   c0.1,0,9.7-5,20.7-0.1l0.2,0.1c0.1,0.1,0.2,0.1,0.4,0.1c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0   c0.4-0.1,0.7-0.4,0.7-0.9V6.5C46,6.2,45.8,5.9,45.6,5.8 M22.1,37.9C12.7,34.1,4.5,36.8,1.8,38V7c0.8-0.5,10-6,20.3-0.1l0,0V37.9z    M44.2,37.9c-9.4-3.8-17.6-1.1-20.3,0.1V7c0.7-0.4,7.5-4.5,15.9-2v5.9c0,0.5,0.4,0.9,0.9,0.9s0.9-0.4,0.9-0.9V5.6   c0.9,0.4,1.7,0.8,2.6,1.3l0,0V37.9z" />
                    <path d="M41.4,28.2l-0.2-0.1c-7.6-3.4-14.2-0.1-14.4,0.1c-0.4,0.2-0.6,0.8-0.4,1.2c0.2,0.4,0.8,0.6,1.2,0.4c0.1,0,6.1-3.1,13,0   l0.1,0c0.1,0.1,0.2,0.1,0.4,0.1c0.3,0,0.7-0.2,0.8-0.5C42,28.9,41.8,28.4,41.4,28.2" />
                  </g>
                </svg>
              </h1>
              <a target="_new" href="http://docs.servicenow.com/?context=CSHelp:Workflow_Overview">${gs.getMessage('Workflow
Documentation')}</a>
            </div>
            <div class="bordered-link btn" onclick="window.open('https://community.servicenow.com/community/service-automation-platform?tagSet=2305');">
              <h1>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="46px" height="46px" viewBox="0 0 46 46" style="enable-background:new 0 0 46 46;" xml:space="preserve">
                  <path d="M42.3,23.3c-0.7-0.3-1.5-0.6-2.2-0.8h0c-0.7-0.3-1.5-0.6-2.2-0.8c-0.1,0-0.3-0.1-0.4-0.3c0-0.2,0-0.4,0.1-0.6  c1.4-2.3,2-4.9,1.8-7.6c-0.2-2.4-1.5-4-3.9-4.3c-0.6-0.1-1.2-0.1-1.7-0.1c-2.9,0-4.8,1.8-4.9,4.7c-0.1,2.7,0.6,5.3,2.1,7.6  c0,0,0,0.1,0,0.1c0,0.2,0,0.3-0.9,0.6c-0.3,0.1-0.7,0.2-1,0.4c-0.3,0.1-0.6,0.2-0.8,0.3c0.1-0.9,0.2-1.9,0.1-2.9  c-0.2-2.4-1.5-4-3.9-4.3c-0.6-0.1-1.2-0.1-1.7-0.1c-2.9,0-4.8,1.8-4.9,4.7c0,0.9,0,1.7,0.2,2.6l-0.1,0c-0.7-0.3-1.5-0.6-2.2-0.8  c-0.1,0-0.3-0.1-0.4-0.3c0-0.1,0-0.4,0.1-0.6c1.4-2.3,2-4.9,1.8-7.6c-0.2-2.4-1.5-4-3.9-4.3c-0.6-0.1-1.2-0.1-1.7-0.1  c-2.9,0-4.8,1.8-4.9,4.7c-0.1,2.7,0.6,5.3,2.1,7.6c0,0,0,0.1,0,0.1c0,0.2,0,0.3-0.9,0.6c-0.3,0.1-0.7,0.2-0.9,0.3l-0.1,0  c-1,0.3-2,0.7-3,1.1c-2.6,1.1-4.2,4.3-3.6,6.9l0.1,0.7h13c-1.6,1.5-2.4,3.9-2,5.8l0.1,0.7h23.5l0-0.8c0.2-2.4-0.5-4.4-2-5.7h12.9  l0-0.8C46.3,26.7,45,24.3,42.3,23.3z M10.4,21.3c0-0.4,0-0.9-0.3-1.2c-1.3-2-1.9-4.2-1.8-6.7c0-2,1.2-3.1,3.2-3.1c0.5,0,1,0,1.4,0.1  c1.5,0.3,2.3,1.2,2.5,2.7c0.1,2.3-0.4,4.6-1.6,6.6c-0.4,0.7-0.5,1.4-0.2,2c0.2,0.7,0.7,1.1,1.4,1.4c0.7,0.3,1.5,0.6,2.3,0.8  c0.4,0.1,0.8,0.3,1.3,0.5l0,0c0.4,1.1,0.8,2.1,1.4,3c0,0,0,0.1,0,0.1c0,0.2,0,0.3-0.9,0.6c-0.3,0.1-0.6,0.2-0.9,0.3l-0.1,0  c-0.5,0.2-1,0.3-1.5,0.5H1.7c0-1.7,1.2-3.6,2.7-4.3c0.9-0.4,2-0.7,2.9-1.1h0c0.3-0.1,0.7-0.2,1-0.4C9.1,23.1,10.3,22.7,10.4,21.3z   M15.6,31.3c0.9-0.4,2-0.7,2.9-1.1c0.4-0.1,0.7-0.2,1.1-0.4c0.7-0.2,1.9-0.7,2-2c0-0.4,0-0.9-0.3-1.2c-1.3-2-1.9-4.2-1.8-6.7  c0-2,1.2-3.1,3.2-3.1c0.5,0,1,0,1.4,0.1c1.5,0.3,2.3,1.1,2.5,2.7c0.1,2.3-0.4,4.6-1.6,6.6c-0.4,0.7-0.5,1.4-0.2,2  c0.2,0.7,0.7,1.1,1.4,1.4c0.7,0.3,1.5,0.6,2.3,0.9h0c0.7,0.3,1.4,0.6,2.2,0.8c1.8,0.7,2.7,2.1,2.7,4.3H12.9  C12.8,33.9,14,32,15.6,31.3z M32.7,21.3c0-0.4,0-0.9-0.3-1.2c-1.3-2-1.9-4.2-1.8-6.7c0-2,1.2-3.1,3.2-3.1c0.5,0,1,0,1.4,0.1  c1.5,0.3,2.3,1.2,2.5,2.7c0.1,2.3-0.4,4.6-1.6,6.6c-0.4,0.7-0.5,1.4-0.2,2c0.2,0.7,0.7,1.1,1.4,1.4c0.7,0.3,1.5,0.6,2.2,0.8  c0.7,0.3,1.5,0.6,2.2,0.8c1.8,0.7,2.7,2.1,2.7,4.3H29.6l-0.7-0.3c-0.7-0.3-1.4-0.6-2.2-0.8c-0.1,0-0.3-0.1-0.4-0.3  c0-0.1,0-0.4,0.1-0.6c0.5-0.8,0.9-1.8,1.2-2.7c0.6-0.2,1.2-0.5,1.9-0.7c0.4-0.1,0.7-0.2,1.1-0.4C31.4,23.1,32.5,22.7,32.7,21.3z" />
                </svg>
              </h1>
              <a target="_new" href="https://community.servicenow.com/community/service-automation-platform?tagSet=2305">${gs.getMessage('Workflow
Community Discussion')}</a>
            </div>
            <div class="bordered-link btn" onclick="window.open('https://hi.service-now.com/kb_view.do?sysparm_article=KB0541991');">
              <h1>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="46px" height="46px" viewBox="0 0 46 46" style="enable-background:new 0 0 46 46;" xml:space="preserve">
                  <style type="text/css">
                    .st0{fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
                    .st1{fill:none;stroke:#000000;stroke-width:0.9793;stroke-miterlimit:10;}
                  </style>
                  <g>
                    <path d="M39.2,9.3V1.6l2.5,0V0L9.9,0C6.5,0,4.3,2.6,4.3,5.7v34c0,3.4,2.7,6.2,6.2,6.2H35c3.6,0,6.7-2.8,6.7-6.2V9.3L39.2,9.3z M10.4,9.4c-1.8,0-4.5-0.5-4.5-3l0-1.6C6.2,2.9,8,1.7,9.8,1.7l27.5-0.1l0,7.8L10.4,9.4z M39.2,42.2c-0.5,0.6-2.2,2-3.3,2H9.5 c-1.1,0-2.1-0.9-2.7-1.7c-0.2-0.3-0.7-1.4-0.7-1.8v-0.3V10.1c1.1,0.6,2.2,0.9,3.4,0.9h30.6l-0.2,29.5 C39.8,40.9,39.6,41.8,39.2,42.2"/>
                    <path d="M30.8,15.7h-16c-1.3,0-2.5,1-2.5,2.5v6.7c0,1.3,1,2.5,2.5,2.5h16c1.3,0,2.5-1,2.5-2.5v-6.7C33.4,16.7,32.2,15.7,30.8,15.7 M31.6,17.6l-0.1,7.9c0,0.1,0,0.1-0.1,0.1H14.1c-0.1,0-0.1,0-0.1-0.1l0.1-8c0-0.1,0-0.1,0.1-0.1h17.3 C31.6,17.4,31.6,17.6,31.6,17.6"/>
                    <path d="M26.2,33.7h-6.4c-0.7,0-1.2,0.3-1.2,0.8c0,0.5,0.6,0.8,1.2,0.8h6.4c0.7,0,1.2-0.3,1.2-0.8C27.4,34,26.8,33.7,26.2,33.7"/>
                    <path d="M24.6,37h-3.1c-0.7,0-1.2,0.3-1.2,0.8c0,0.5,0.6,0.8,1.2,0.8h3.1c0.7,0,1.2-0.4,1.2-0.9C25.7,37.3,25,37,24.6,37"/>
                  </g>
                </svg>
              </h1>
              <a target="_new" href="https://hi.service-now.com/kb_view.do?sysparm_article=KB0541991">${gs.getMessage('Workflow
Knowledge Base')}</a>
            </div>
            <j2:if test="${jvar_show_custom_activity_tabs}">
              <div class="bordered-link btn" onclick="window.open('http://docs.servicenow.com/?context=CSHelp:Orchestration_Video');">
                <h1>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="46px" height="46px" viewBox="0 0 46 46" style="enable-background:new 0 0 46 46;" xml:space="preserve">
                    <g>
                      <path d="M43.4,6.8H2.6C1.1,6.8,0,8,0,9.4v27.3c0,1.4,1.1,2.6,2.6,2.6h40.9c1.4,0,2.6-1.1,2.6-2.6V9.4C46,8,44.9,6.8,43.4,6.8    M6.3,37.5H2.6c-0.5,0-0.9-0.4-0.9-0.9v-2.9h4.6V37.5z M6.3,32.1H1.7V28h4.6V32.1z M6.3,26.3H1.7v-5.1h4.6V26.3z M6.3,19.4H1.7   v-5.1h4.6V19.4z M6.3,12.6H1.7V9.4c0-0.5,0.4-0.9,0.9-0.9h3.7V12.6z M38,37.5H8v-29H38V37.5z M44.3,36.6c0,0.5-0.4,0.9-0.9,0.9   h-3.7v-3.7h4.6V36.6z M44.3,32.1h-4.6V28h4.6V32.1z M44.3,26.3h-4.6v-5.1h4.6V26.3z M44.3,19.4h-4.6v-5.1h4.6V19.4z M44.3,12.6   h-4.6V8.5h3.7c0.5,0,0.9,0.4,0.9,0.9V12.6z" />
                      <path d="M32.4,22.6L17,13.6l0,17.9L32.4,22.6z M29,22.6l-10.2,6l0-11.9L29,22.6z" />
                    </g>
                  </svg>
                </h1>
                <a target="_new" href="http://docs.servicenow.com/?context=CSHelp:Orchestration_Video">${gs.getMessage('Orchestration
Videos')}</a>
              </div>
              <div class="bordered-link btn" onclick="window.open('http://docs.servicenow.com/?context=CSHelp:Orchestration');">
                <h1>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="46px" height="46px" viewBox="0 0 46 46" style="enable-background:new 0 0 46 46;" xml:space="preserve">
                    <g>
                      <path d="M19.4,14.1L19.2,14C11.6,10.6,5,14,4.7,14.1c-0.4,0.2-0.6,0.8-0.4,1.2c0.2,0.4,0.8,0.6,1.2,0.4c0.1,0,6.2-3.1,13,0l0.1,0.1   c0.1,0.1,0.2,0.1,0.4,0.1c0.3,0,0.7-0.2,0.8-0.5C20,14.8,19.8,14.3,19.4,14.1" />
                      <path d="M19.4,21.2l-0.2-0.1C11.6,17.7,5,21,4.7,21.2c-0.4,0.2-0.6,0.8-0.4,1.2c0.2,0.4,0.8,0.6,1.2,0.4c0.1,0,6.2-3.1,13,0   l0.1,0.1c0.1,0.1,0.2,0.1,0.4,0.1c0.3,0,0.7-0.2,0.8-0.5C20,21.9,19.8,21.4,19.4,21.2" />
                      <path d="M45.4,41.9l-0.2-0.1c-11-4.9-20.6-0.7-22,0l-0.1,0c-11.7-5.2-21.8-0.1-22.2,0.1c-0.4,0.2-0.6,0.8-0.4,1.2   c0.2,0.4,0.8,0.6,1.2,0.4c0.1,0,9.7-5,20.7-0.1l0.2,0.1c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.2,0c0.2,0,0.4,0,0.6-0.1   c0.1,0,9.7-5,20.7-0.1l0.2,0.1c0.1,0.1,0.2,0.1,0.4,0.1c0.3,0,0.7-0.2,0.8-0.5C46,42.6,45.8,42.1,45.4,41.9" />
                      <path d="M19.4,28.2l-0.2-0.1C11.6,24.7,5,28.1,4.7,28.3c-0.4,0.2-0.6,0.8-0.4,1.2c0.2,0.4,0.8,0.6,1.2,0.4c0.1,0,6.2-3.1,13,0   l0.1,0.1c0.1,0.1,0.2,0.1,0.4,0.1c0.3,0,0.7-0.2,0.8-0.5C20,29,19.8,28.4,19.4,28.2" />
                      <path d="M27.2,15.8c0.1,0,0.3,0,0.4-0.1c0.1,0,6.1-3.1,13,0c0,0,0.1,0,0.1,0c0.4,0.2,0.9,0,1.1-0.5c0.2-0.4,0-1-0.5-1.2l-0.1,0   c-7.6-3.4-14.2-0.1-14.4,0.1c-0.4,0.2-0.6,0.8-0.4,1.2C26.6,15.7,26.9,15.8,27.2,15.8" />
                      <path d="M27.2,22.9c0.1,0,0.3,0,0.4-0.1c0.1,0,6.1-3.1,12.9,0l0.1,0.1c0.4,0.2,0.9,0,1.1-0.5c0.2-0.4,0-1-0.5-1.2l-0.1,0   c-7.6-3.4-14.2-0.1-14.4,0.1c-0.4,0.2-0.6,0.8-0.4,1.2C26.6,22.7,26.9,22.9,27.2,22.9" />
                      <path d="M45.6,5.8c-0.1-0.1-0.2-0.2-0.3-0.3l-0.2-0.1c-10.8-6.2-20.5-0.9-22,0l-0.1,0C11.3-1.4,0.8,5.5,0.7,5.5   c0,0-0.1,0.1-0.1,0.1C0.3,5.8,0,6.1,0,6.5v32.7c0,0.5,0.4,0.9,0.9,0.9c0,0,0.1,0,0.1,0c0.2,0,0.4,0,0.6-0.1c0.1,0,9.7-5,20.7-0.1   l0.2,0.1c0.1,0.1,0.2,0.1,0.4,0.1c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0.2,0,0.4,0,0.6-0.1   c0.1,0,9.7-5,20.7-0.1l0.2,0.1c0.1,0.1,0.2,0.1,0.4,0.1c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0   c0.4-0.1,0.7-0.4,0.7-0.9V6.5C46,6.2,45.8,5.9,45.6,5.8 M22.1,37.9C12.7,34.1,4.5,36.8,1.8,38V7c0.8-0.5,10-6,20.3-0.1l0,0V37.9z    M44.2,37.9c-9.4-3.8-17.6-1.1-20.3,0.1V7c0.7-0.4,7.5-4.5,15.9-2v5.9c0,0.5,0.4,0.9,0.9,0.9s0.9-0.4,0.9-0.9V5.6   c0.9,0.4,1.7,0.8,2.6,1.3l0,0V37.9z" />
                      <path d="M41.4,28.2l-0.2-0.1c-7.6-3.4-14.2-0.1-14.4,0.1c-0.4,0.2-0.6,0.8-0.4,1.2c0.2,0.4,0.8,0.6,1.2,0.4c0.1,0,6.1-3.1,13,0   l0.1,0c0.1,0.1,0.2,0.1,0.4,0.1c0.3,0,0.7-0.2,0.8-0.5C42,28.9,41.8,28.4,41.4,28.2" />
                    </g>
                  </svg>
                </h1>
                <a target="_new" href="http://docs.servicenow.com/?context=CSHelp:Orchestration">${gs.getMessage('Orchestration
Documentation')}</a>
              </div>
              <div class="bordered-link btn" onclick="window.open('https://community.servicenow.com/community/operations-management?tagSet=2279');">
                <h1>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="46px" height="46px" viewBox="0 0 46 46" style="enable-background:new 0 0 46 46;" xml:space="preserve">
                    <path d="M42.3,23.3c-0.7-0.3-1.5-0.6-2.2-0.8h0c-0.7-0.3-1.5-0.6-2.2-0.8c-0.1,0-0.3-0.1-0.4-0.3c0-0.2,0-0.4,0.1-0.6  c1.4-2.3,2-4.9,1.8-7.6c-0.2-2.4-1.5-4-3.9-4.3c-0.6-0.1-1.2-0.1-1.7-0.1c-2.9,0-4.8,1.8-4.9,4.7c-0.1,2.7,0.6,5.3,2.1,7.6  c0,0,0,0.1,0,0.1c0,0.2,0,0.3-0.9,0.6c-0.3,0.1-0.7,0.2-1,0.4c-0.3,0.1-0.6,0.2-0.8,0.3c0.1-0.9,0.2-1.9,0.1-2.9  c-0.2-2.4-1.5-4-3.9-4.3c-0.6-0.1-1.2-0.1-1.7-0.1c-2.9,0-4.8,1.8-4.9,4.7c0,0.9,0,1.7,0.2,2.6l-0.1,0c-0.7-0.3-1.5-0.6-2.2-0.8  c-0.1,0-0.3-0.1-0.4-0.3c0-0.1,0-0.4,0.1-0.6c1.4-2.3,2-4.9,1.8-7.6c-0.2-2.4-1.5-4-3.9-4.3c-0.6-0.1-1.2-0.1-1.7-0.1  c-2.9,0-4.8,1.8-4.9,4.7c-0.1,2.7,0.6,5.3,2.1,7.6c0,0,0,0.1,0,0.1c0,0.2,0,0.3-0.9,0.6c-0.3,0.1-0.7,0.2-0.9,0.3l-0.1,0  c-1,0.3-2,0.7-3,1.1c-2.6,1.1-4.2,4.3-3.6,6.9l0.1,0.7h13c-1.6,1.5-2.4,3.9-2,5.8l0.1,0.7h23.5l0-0.8c0.2-2.4-0.5-4.4-2-5.7h12.9  l0-0.8C46.3,26.7,45,24.3,42.3,23.3z M10.4,21.3c0-0.4,0-0.9-0.3-1.2c-1.3-2-1.9-4.2-1.8-6.7c0-2,1.2-3.1,3.2-3.1c0.5,0,1,0,1.4,0.1  c1.5,0.3,2.3,1.2,2.5,2.7c0.1,2.3-0.4,4.6-1.6,6.6c-0.4,0.7-0.5,1.4-0.2,2c0.2,0.7,0.7,1.1,1.4,1.4c0.7,0.3,1.5,0.6,2.3,0.8  c0.4,0.1,0.8,0.3,1.3,0.5l0,0c0.4,1.1,0.8,2.1,1.4,3c0,0,0,0.1,0,0.1c0,0.2,0,0.3-0.9,0.6c-0.3,0.1-0.6,0.2-0.9,0.3l-0.1,0  c-0.5,0.2-1,0.3-1.5,0.5H1.7c0-1.7,1.2-3.6,2.7-4.3c0.9-0.4,2-0.7,2.9-1.1h0c0.3-0.1,0.7-0.2,1-0.4C9.1,23.1,10.3,22.7,10.4,21.3z   M15.6,31.3c0.9-0.4,2-0.7,2.9-1.1c0.4-0.1,0.7-0.2,1.1-0.4c0.7-0.2,1.9-0.7,2-2c0-0.4,0-0.9-0.3-1.2c-1.3-2-1.9-4.2-1.8-6.7  c0-2,1.2-3.1,3.2-3.1c0.5,0,1,0,1.4,0.1c1.5,0.3,2.3,1.1,2.5,2.7c0.1,2.3-0.4,4.6-1.6,6.6c-0.4,0.7-0.5,1.4-0.2,2  c0.2,0.7,0.7,1.1,1.4,1.4c0.7,0.3,1.5,0.6,2.3,0.9h0c0.7,0.3,1.4,0.6,2.2,0.8c1.8,0.7,2.7,2.1,2.7,4.3H12.9  C12.8,33.9,14,32,15.6,31.3z M32.7,21.3c0-0.4,0-0.9-0.3-1.2c-1.3-2-1.9-4.2-1.8-6.7c0-2,1.2-3.1,3.2-3.1c0.5,0,1,0,1.4,0.1  c1.5,0.3,2.3,1.2,2.5,2.7c0.1,2.3-0.4,4.6-1.6,6.6c-0.4,0.7-0.5,1.4-0.2,2c0.2,0.7,0.7,1.1,1.4,1.4c0.7,0.3,1.5,0.6,2.2,0.8  c0.7,0.3,1.5,0.6,2.2,0.8c1.8,0.7,2.7,2.1,2.7,4.3H29.6l-0.7-0.3c-0.7-0.3-1.4-0.6-2.2-0.8c-0.1,0-0.3-0.1-0.4-0.3  c0-0.1,0-0.4,0.1-0.6c0.5-0.8,0.9-1.8,1.2-2.7c0.6-0.2,1.2-0.5,1.9-0.7c0.4-0.1,0.7-0.2,1.1-0.4C31.4,23.1,32.5,22.7,32.7,21.3z" />
                  </svg>
                </h1>
                <a target="_new" href="https://community.servicenow.com/community/operations-management?tagSet=2279">${gs.getMessage('Orchestration
Community Discussion')}</a>
              </div>
            </j2:if>
            <div class="bordered-link btn" onclick="window.open('/nav_to.do?url=live_feed_launcher.do?sysparm_group_id=72a67633372321009a80a0ffbe41f1ed$[AND]sysparm_feed_type=group_feed$[AND]sysparm_nostack=true');">
              <h1>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="46px" height="46px" viewBox="0 0 46 46" style="enable-background:new 0 0 46 46;" xml:space="preserve">
                  <g>
                    <path d="M43.4,2.7H2.6C1.1,2.7,0,3.8,0,5.2v27.3C0,33.9,1.1,35,2.6,35l3.8,0v8.3l9.7-8.3h27.3c1.4,0,2.6-1.1,2.6-2.6V5.2   C46,3.8,44.9,2.7,43.4,2.7 M44.3,32.5c0,0.5-0.4,0.9-0.9,0.9H14.7l-6.3,5.8l0-5.7l-5.8,0c-0.5,0-0.9-0.4-0.9-0.9V5.2   c0-0.5,0.4-0.9,0.9-0.9h40.9c0.5,0,0.9,0.4,0.9,0.9V32.5z" />
                    <path d="M9.5,15.3c-1.9,0-3.5,1.5-3.5,3.5s1.5,3.5,3.5,3.5s3.5-1.5,3.5-3.5S11.5,15.3,9.5,15.3 M9.5,20.7c-1.1,0-2-0.9-2-2   s0.9-2,2-2s2,0.9,2,2S10.6,20.7,9.5,20.7" />
                    <path d="M23,15.3c-1.9,0-3.5,1.5-3.5,3.5c0,1.9,1.5,3.5,3.5,3.5c1.9,0,3.5-1.5,3.5-3.5C26.5,16.9,24.9,15.3,23,15.3 M23,20.7   c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2c1.1,0,2,0.9,2,2C25,19.9,24.1,20.7,23,20.7" />
                    <path d="M36.4,15.3c-1.9,0-3.5,1.5-3.5,3.5s1.5,3.5,3.5,3.5c1.9,0,3.5-1.5,3.5-3.5S38.3,15.3,36.4,15.3 M36.4,20.7   c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2S37.5,20.7,36.4,20.7" />
                  </g>
                </svg>
              </h1>
              <a target="_new" href="/nav_to.do?url=live_feed_launcher.do?sysparm_group_id=72a67633372321009a80a0ffbe41f1ed$[AND]sysparm_feed_type=group_feed$[AND]sysparm_nostack=true">${gs.getMessage('Live Feed')}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <j2:set var="jvar_hide_response_time" value="true" />
  <g:inline template="db_context_menu_script.xml" />
</j:jelly>